// Import site utilities.
@import '../../global/utils/init';

.c-stats--container {
	background-color: $yellow01;
	padding-bottom: 35px;
  position: relative;
  display: block;
  overflow: hidden;

	.c-container--header {
		border: 0;
	}

	.c-container--title {
		padding: 25px 10px 0 10px;
		font-family: $font-serif;
		color: $color-white;
		text-transform: capitalize;
		font-size: 18px;
		text-align: center;
	}

	&.c-quick-facts--container,
	&.c-senate-quick-facts--container {
		.c-container--title {
			text-align: center;
			margin-bottom: 40px;
		}
	}

  .c-carousel--btn {
		cursor: pointer;
		border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    width: 45px;
    background: transparent;
  
    &:hover {
      background: transparent;
    }

		&.prev {
			left: 0;
			@extend .icon-replace__left;
		}

		&.next {
			right: 0;
			@extend .icon-replace__right;
		}

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }
  
    &::after{
			color: $orange01;
		}
  }

  .c-carousel--nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 4;
    pointer-events: none;
  
    .c-carousel--btn {
      position: absolute;
      padding: 0;
      pointer-events: auto;
  
      &::after {
        height: 100%;
        width: 100%;
        color: $grey05;
        font-size: 36px;
      }
    }
  }

	.c-carousel {
		list-style: none;
		width: 300%;
		margin-top: 0;
		padding-left: 0;
		position: relative;
		left: 0;
		display: block;
		transition: left 0.3s ease;
		@include clearfix;
	}

	.c-carousel--item {
		width: 33.3%;
		float: left;
	}
}

.c-stats--highlight {
	display: block;
	position: absolute;
	height: 180px;
	width: 180px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background: $yellow02;
  border-radius: 50%;
}

.c-senate-quick-facts--container {
	.c-container--header {
		padding-bottom: 10px;
	}

	.c-stats--highlight {
		width: 150px;
		height: 150px;
		top: 20px;
	}

	.c-carousel {
		margin-top: -20px;
	}
}

.c-quick-facts--container {
	
	.c-stats--highlight {
		top: 40px;
	}
}

.c-stats--item {
	a {
		text-decoration: none;
	}

	.c-stat {
		margin-bottom: 5px;
		text-align: center;
		color: $color-white;
		font-family: $font-serif-bold;
		font-size: 54px;
	}

	.c-stat--descript {
		width: 150px;
		margin: 0 auto 20px;
		text-align: center;
		color: $grey01;
		text-transform: uppercase;
		font-family: $font-sans;
		font-size: 14px;
		line-height: 18px;
	}

	.c-stat--illus {
		display: block;
		height: 65px;
		width: 75px;
		margin: 0 auto;
		text-align: center;
		color: $color-white;
		background: url('../images/sprite-up-to.png');
		background-size: 100% auto;

		&.c-illus__waiting {
			background-position: 0 0;
		}

		&.c-illus__signed {
			background-position: 0 50%;
		}

		&.c-illus__vetoed {
			background-position: 0 100%;
		}
	}
}

@include breakpoint($bp-sm) {
	.c-stats--container {
		margin-top: 60px;
		padding-bottom: 45px;

		.c-container--title {
			margin-bottom: 45px;
			padding: 35px 20px 0;
			font-size: 32px;
			letter-spacing: 0;
			text-align: center;
		}

		.c-stats--highlight {
			display: none;
			opacity: 0;
			top: 30px;
			height: 200px;
			width: 200px;
      transition: all 0.25s ease-in-out;

			&.highlight-first {
				left: -60%;
			}

			&.highlight-second {
				left: 0;
			}

			&.highlight-third {
				left: 60%;
			}
		}

		&:hover {
			.c-stats--highlight {
				opacity: 1;
			}
		}

		.c-carousel {
			width: 90%;
			margin: 0 auto;
		}

		.c-senate-quick-facts__button {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.c-carousel--item {
			position: relative;
			height: 130px;
			width: 33.33%;
			margin: 0;
			padding: 0;

			&:not(:first-child) {
				border-left: 1px solid $color-white;
			}

			&.with-icon {
				display: block;
				height: 216px;
				border-left: 0;
			}
		}

		&.with-hover {
			.c-stats--highlight {
				display: block;
			}
		}
	}

	.c-stats--item {

		.c-stat {
			font-size: 60px;
		}

		.c-stat--illus {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}
