{{ attach_library('nysenate_theme/nysenate-about-access') }}

<div class="c-block c-block--about c-block--full-bleed c-block--about-access">
  <h3 class="nys-subtitle-title">Access to information</h3>
  <div class="c-block">
    <div class="l-col l-col--padded l-col-2">
      {{col_1.content}}
    </div>

    <div class="l-col l-col--padded l-col-2">
      {{col_2.content}}

    </div>
  </div>
</div>
