/* Analysis pages */
.webform-analysis-component {
  width: 33.33%;
  margin: 0 -2px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
@media all and (max-width: 1024px) {
  .webform-analysis-component {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  .webform-analysis-component {
    width: 100%;
  }
}
.webform-analysis-component-grid {
  width: 100%;
  clear: both;
}
.webform-analysis-component-inner {
  padding: 12px;
  overflow: auto;
}
.webform-analysis-component table {
  width: 100%;
}
.webform-analysis-component table td {
  white-space: normal;
}
