<div class="nys-senator sponsor-list">
  <div class="nys-senator--thumb"></div>
  <div class="nys-senator--info">
    <h4 class="nys-senator--name">
      {{ content.full_name }}
    </h4>
    <p class="nys-senator--district"></p>
  </div>
</div>