{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="block-content__content">
    <div class="c-container--header__top-border">
      <h3 class="c-container--title">Featured Legislation</h3>
    </div>
    {% for bill in bills %}
        {% if not loop.first %}
          {% set identifier = 'c-block__collapsed' %}
        {% endif %}
        {% include "@nysenate_theme/featured-legislation/featured-legislation.twig" with {
          bill: bill.bill,
          sponsor: 'Sponsor',
          senator_name: senator_name,
          senator_link: senator_link,
          quote: bill.quote,
          identifier: identifier ?? '',
          senator_image: senator_image,
          party: party
        } only %}
    {% endfor %}

  </div>
</div>
