{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content.field_title %}
    <h2 class="pg-subtitle">{{ content.field_title }}</h2>
  {% endif %}

  {% if content.field_slider_item['#items']|length > 1 %}
    {% embed '@nysenate_theme/nysenate-carousel/carousel.twig' with { content: content } only %}
      {% block carousel_items %}
        {% for i in content.field_slider_item['#items'] %}
          {{ content.field_slider_item[loop.index0] }}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% else %}
    {{ content.field_slider_item }}
  {% endif %}
</div>
