// Import site utilities.
@import '../../global/utils/init';

.newsroom-landing {

  .odd,
  .even {
    width: 100%;
    float: none;

    .c-bill-meta,
    .c-bill-body {
      width: 100%;
    }
  }

  .even {
    float: none;
  }

  .c-news-block {
    img {
      width: 100%;
    }
    .c-newsroom--date {
      margin-bottom: 6px;
      text-transform: uppercase;
    }
  }

  &.c-news-container {

    .c-news-block {

      .c-newsroom-name {

        a {
          color: $grey08;
        }
      }
    }
  }

  @include breakpoint($bp-sm) {

    .odd,
    .even {
      width: 45%;
      float: left;
      clear: both;

      .c-bill-meta,
      .c-bill-body {
        width: 100%;
      }
    }

    .even {
      float: right;
      clear: none;
    }

    &.c-news-container .c-title {
      font-size: 16px;
      border-top: 1px solid $grey05;
    }

    .c-event-block--list {

      .c-event-address {
        float: right;
        margin-right: 0;
        width: 580px;
        clear: right;
      }
    }
  }
}

.c-container--header.c-events--landing {
  border-bottom: none;
}
