// Import site utilities.
@import '../../global/utils/init';

.event-card {
  position: relative;
  background-color: $color-white;
  margin: 10px auto;
  width: 335px;
  height: 440px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  h2 {
    font-size: 1.7rem;
  }
}

.event-card__content {
  padding: 40px 35px;
}

.event-card__month {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  opacity: 0.4;
  line-height: 1;
}

.event-card__date-display {
  font-size: 1.5rem;
}

.event-card__day {
  position: absolute;
  right: -6px;
  bottom: -18px;
  font-size: 8rem;
  opacity: 0.4;
  line-height: 1;
}

.event-card__link {
  display: inline-block;
  margin-top: 1.5rem;
}
