{# /**
    See nys-openleg-result-item.html.twig for a description of a list item.

    @var breadcrumbs: an array of list items.

   */ #}

{# /modules/custom/nys_openleg/templates/nys-openleg-result-head-breadcrumbs.html.twig #}

{% if breadcrumbs is iterable and breadcrumbs|length > 0 %}
  <nav aria-label="breadcrumbs">
    <ol class="nys-openleg-result-breadcrumbs-container">
        {% for val in breadcrumbs %}
            {{ include('nys-openleg-result-item.html.twig', val|merge({'item_type': 'breadcrumb'})) }}
        {% endfor %}
    </ol>
  </nav>
{% endif %}
