@import '../../global/utils/breakpoints';

// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Primary
$color-primary: #e74c3c;
$color-white: #fff;
$color-secondary: #f6510b;
$color-rio-grande: #c4d600;
$color-black: #404040;
$color-black: #404040;
$color-blue: #003954;
$color-req-red: #D0021B;
$color-admin-blue: #0C5C7F;

// Grays
$color-tundora: #464646;
$color-silver: #bbb;
$color-alto: #ddd;
$color-light-gray: #eee;
$color-oslo-gray: #888b8d;
$color-lighter-gray: #f7f7f7;
$color-gray-lt: #eef2f4;

// Supporting colors for messages
$color-green: #77b259;
$color-dark-green: #325e1c;
$color-light-green: #f3faef;
$color-red: #a51b00;
$color-orange: #e62600;
$color-pink: #fcf4f2;
$color-beige: #fdf8ed;
$color-brown: #734c00;
$color-cg-blue: #0078a0;
$color-nys-blue: #008cba;

// Transparent colors
$color-transparent-white: rgba(255, 255, 255, 0.8);

/*-----------------------------
/	CUSTOM NEW YORK SENATE (nysenate_theme) PALETTE STYLES
/------------------------------*/
/*
/	Colors are set within Pallette Selector (field_pallette)
/	class is set on body
/*


/*----------------------------------------------
/
/ PALETTE VARIABLES
/ ** certain elements are either black or white
/ ** based on color palette - defaults to black
/
/----------------------------------------------*/
// greys
// from darkest to lighest
// NOTE: moved grey-05 to grey01 and adjusted #s
//	so that they were in this order
$grey00: #2a2e2e;
$grey01: #323232; // rgb(50, 50, 50)
$grey02: #7d7c7c;
$grey03: #666666;
$grey04: #888888;
$grey05: #aaaaaa;
$grey06: #eeeeee; // used to be - #F4F4F7 : rgb(244, 244, 247)
$greyLight: #f4f4f7;

$greyVoteBtnText: #d0d0d0;

// colors for bill track small
$grey-dot: #e2e8ec;
$grey-line: #e3e3e3;

// additional colors NOT defined in specs but in comps.
$grey07: #ababab;
$grey08: #444444;
$grey09: #d8d8d8;
$grey10: #222222;

// Senate Site
$orange01: #cb8d37; // rgb(203, 141, 55)
$blue01: #2b6990; // rgb(43, 106, 144)
$blue02: #004c71; // rgb(0, 77, 113) - or there about
$blue03: #04a9c5;
$yellow01: #f1af58; //rgb(241, 175, 88);
$yellow02: #e29c44;
$yellow03: #cb8d37;
$orange-text: #A36A1A;
$background-yellow: #f1af58;
$background-text: #444444;
$background-hover: #A36A1A;

// Dashboard
$blue04: #e1e5ec;
$blue07: #1d446b;
$grey11: #f6f8f9;
$grey12: #f7f8f9;
$grey13: #e2e8ec;
$grey14: #c3c3c3;
$grey15: #cccccc;

// NEW Dashboard
$grey_accessible: #757575;
$dash_grey_1: #A6A6A6;
$dash_grey_2: #F2F2F2;
$dash_grey_3: #E0E0E0;
$dash_red: #C63536;

// Info blue
$blue_info: #2055cc;
$grey16: #f5f5f5;
$grey17: #e3e8ec;

$contrast_drk: #000;
$contrast_lgt: $color-white;

// GENERAL BLUE : senate wide
$gen_blue_lgt: #2b6a90;
$gen_blue_med: #175b81;
$gen_blue_drk: #004d71;
$gen_link: $orange-text;
$gen_link_hover: #805314;

// TRADITIONAL BLUE
$trad_blue_lgt: #1b5187;
$trad_blue_med: #1d446b;
$trad_blue_drk: #1c364e;
$trad_blue_link: $trad_blue_lgt;

// CONTEMPORARY BLUE
$cont_blue_lgt: #04a9c5;
$cont_blue_med: #008ca6;
$cont_blue_drk: #1f798f;
$cont_blue_link: $cont_blue_lgt;

// INDIVIDUALISTIC PURPLE
$purple_lgt: #90668f;
$purple_med: #754775;
$purple_drk: #543457;
$purple_link: $purple_lgt;

// TRADITIONAL RED
$trad_red_lgt: #87002f;
$trad_red_med: #6e0026;
$trad_red_drk: #500019;
$trad_red_link: $trad_red_lgt;

// CONTEMPORARY RED
$cont_red_lgt: #c62526;
$cont_red_med: #bb0623;
$cont_red_drk: #a00101;
$cont_red_link: $cont_red_lgt;

// ENTHUSIASTIC ORANGE
$orange_lgt: #f0673d;
$orange_med: #ed4b1c;
$orange_drk: #c84123;
$orange_link: $orange_lgt;

// TRADITIONAL GREEN
$trad_green_lgt: #60a35f;
$trad_green_med: #4d894f;
$trad_green_drk: #416837;
$trad_green_link: $trad_green_lgt;

// CONTEMPORARY GREEN
$cont_green_lgt: #65c5b6;
$cont_green_med: #479e93;
$cont_green_drk: #378479;
$cont_green_link: $cont_green_lgt;

// NO LONGER SERVING
$ns_grey_lgt: #b2b2b2;
$ns_grey_med: #999999;
$ns_grey_drk: #808080;
$ns_accent: #1b5187;

/*----------------------------
/ PALETTE STYLES
/-----------------------------*/
// DEFAULT
.contrast_text {
  color: $contrast_drk;
}
.lgt-text {
  color: $gen_blue_lgt;
}
.lgt-bg {
  background-color: $gen_blue_lgt;
}
.med-text {
  color: $gen_blue_med;
}
.med-bg {
  background-color: $gen_blue_med;
}
.drk-text {
  color: $gen_blue_drk;
}
.drk-bg {
  background-color: $gen_blue_drk;
}
.link-text {
  color: $gen_link;
  &:hover {
    color: $gen_link_hover;
  }
}
// no other accent defined
// so it is the 'no longer serving accent'
.accent-bg {
  background-color: $ns_accent;
}
.accent-text {
  color: $ns_accent;
}

@media #{$tablet} {
  .nav-text {
    color: $grey08;

    &:hover {
      color: $gen_blue_lgt;
    }
    &.active {
      color: $gen_blue_lgt;
    }
  }
}
// TRADITIONAL BLUE
.trad_blue {
  .contrast_text {
    color: $contrast_lgt;
  }
  .lgt-text {
    color: $trad_blue_lgt;
  }
  .lgt-bg {
    background-color: $trad_blue_lgt;
  }
  .med-text {
    color: $trad_blue_med;
  }
  .med-bg {
    background-color: $trad_blue_med;
  }
  .drk-text {
    color: $trad_blue_drk;
  }
  .drk-bg {
    background-color: $trad_blue_drk;
  }
  .link-text {
    color: $trad_blue_lgt;
  }

  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $trad_blue_lgt;
      }
      &.active {
        color: $trad_blue_lgt;
      }
    }
  }
}
// CONTEMPORARY BLUE
.cont_blue {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $cont_blue_lgt;
  }
  .lgt-bg {
    background-color: $cont_blue_lgt;
  }
  .med-text {
    color: $cont_blue_med;
  }
  .med-bg {
    background-color: $cont_blue_med;
  }
  .drk-text {
    color: $cont_blue_drk;
  }
  .drk-bg {
    background-color: $cont_blue_drk;
  }
  .link-text {
    color: $cont_blue_lgt;
  }

  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $cont_blue_lgt;
      }
      &.active {
        color: $cont_blue_lgt;
      }
    }
  }
}
// INDIVIDUALISTIC PURPLE
.purple {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $purple_lgt;
  }
  .lgt-bg {
    background-color: $purple_lgt;
  }
  .med-text {
    color: $purple_med;
  }
  .med-bg {
    background-color: $purple_med;
  }
  .drk-text {
    color: $purple_drk;
  }
  .drk-bg {
    background-color: $purple_drk;
  }
  .link-text {
    color: $purple_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $purple_lgt;
      }
      &.active {
        color: $purple_lgt;
      }
    }
  }
}
// TRADITIONAL RED
.trad_red {
  .contrast_text {
    color: $contrast_lgt;
  }
  .lgt-text {
    color: $trad_red_lgt;
  }
  .lgt-bg {
    background-color: $trad_red_lgt;
  }
  .med-text {
    color: $trad_red_med;
  }
  .med-bg {
    background-color: $trad_red_med;
  }
  .drk-text {
    color: $trad_red_drk;
  }
  .drk-bg {
    background-color: $trad_red_drk;
  }
  .link-text {
    color: $trad_red_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $trad_red_lgt;
      }
      &.active {
        color: $trad_red_lgt;
      }
    }
  }
}
// CONTEMPORARY RED
.cont_red {
  .contrast_text {
    color: $contrast_lgt;
  }
  .lgt-text {
    color: $cont_red_lgt;
  }
  .lgt-bg {
    background-color: $cont_red_lgt;
  }
  .med-text {
    color: $cont_red_med;
  }
  .med-bg {
    background-color: $cont_red_med;
  }
  .drk-text {
    color: $cont_red_drk;
  }
  .drk-bg {
    background-color: $cont_red_drk;
  }
  .link-text {
    color: $cont_red_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $cont_red_lgt;
      }
      &.active {
        color: $cont_red_lgt;
      }
    }
  }
}
// ENTHUSIASTIC ORANGE
.orange {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $orange_lgt;
  }
  .lgt-bg {
    background-color: $orange_lgt;
  }
  .med-text {
    color: $orange_med;
  }
  .med-bg {
    background-color: $orange_med;
  }
  .drk-text {
    color: $orange_drk;
  }
  .drk-bg {
    background-color: $orange_drk;
  }
  .link-text {
    color: $orange_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $orange_lgt;
      }
      &.active {
        color: $orange_lgt;
      }
    }
  }
}
// TRADITIONAL GREEN
.trad_green {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $trad_green_lgt;
  }
  .lgt-bg {
    background-color: $trad_green_lgt;
  }
  .med-text {
    color: $trad_green_med;
  }
  .med-bg {
    background-color: $trad_green_med;
  }
  .drk-text {
    color: $trad_green_drk;
  }
  .drk-bg {
    background-color: $trad_green_drk;
  }
  .link-text {
    color: $trad_green_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $trad_green_lgt;
      }
      &.active {
        color: $trad_green_lgt;
      }
    }
  }
}
// CONTEMPORARY GREEN
.cont_green {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $cont_green_lgt;
  }
  .lgt-bg {
    background-color: $cont_green_lgt;
  }
  .med-text {
    color: $cont_green_med;
  }
  .med-bg {
    background-color: $cont_green_med;
  }
  .drk-text {
    color: $cont_green_drk;
  }
  .drk-bg {
    background-color: $cont_green_drk;
  }
  .link-text {
    color: $cont_green_lgt;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $cont_green_lgt;
      }
      &.active {
        color: $cont_green_lgt;
      }
    }
  }
}
// INACTIVE PALLETTE
.inactive-pallette {
  .contrast_text {
    color: $contrast_drk;
  }
  .lgt-text {
    color: $ns_accent;
  }
  .lgt-bg {
    background-color: $ns_grey_lgt;
  }
  .med-text {
    color: $ns_grey_med;
  }
  .med-bg {
    background-color: $ns_grey_med;
  }
  .drk-text {
    color: $ns_grey_drk;
  }
  .drk-bg {
    background-color: $ns_grey_drk;
  }
  .link-text {
    color: $ns_accent;
  }

  .nav-text {
    color: $color-white;
  }
  @media #{$tablet} {
    .nav-text {
      color: $grey08;

      &:hover {
        color: $ns_accent;
      }
      &.active {
        color: $ns_accent;
      }
    }
  }
}

.trad_blue .c-press-release--descript a { color: $trad_blue_lgt; }
.cont_blue .c-press-release--descript a { color: $cont_blue_lgt; }
.purple .c-press-release--descript a { color: $purple_lgt; }
.trad_red .c-press-release--descript a { color: $trad_red_lgt; }
.cont_red .c-press-release--descript a { color: $cont_red_lgt; }
.orange .c-press-release--descript a { color: $orange_lgt; }
.trad_green .c-press-release--descript a { color: $trad_green_lgt; }
.cont_green .c-press-release--descript a { color: $cont_green_lgt; }

//SVG fill colors for legislation socials
.trad_blue {
  .c-detail--social-item {
    svg path { fill: #1b5187; }
  }
}

.cont_blue {
  .c-detail--social-item {
    svg path { fill: #04a9c5; }
  }
}

.purple {
  .c-detail--social-item {
    svg path { fill: #90668f; }
  }
}

.trad_red {
  .c-detail--social-item {
    svg path { fill: #87002f; }
  }
}

.cont_red {
  .c-detail--social-item {
    svg path { fill: #c62526; }
  }
}

.orange{
  .c-detail--social-item {
    svg path { fill: #f0673d; }
  }
}

.trad_green {
  .c-detail--social-item {
    svg path { fill: #60a35f; }
  }
}

.cont_green {
  .c-detail--social-item {
    svg path { fill: #65c5b6; }
  }
}
