// Import site utilities.
@import "../../global/utils/init";

.sidebar {
  --top: 0;

  position: fixed;
  z-index: $zi-lowest;
  top: var(--top);
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0;
  background-color: #f7f8f9;
  /* hide on default */
  display: none;
  max-height: calc(100vh - var(--top));
  transition-property: top;
  transition-duration: 0.25s;


  @include breakpoint($bp-sm) {
    position: fixed;
    max-width: 400px;
  }

  &.show {
    display: block;
  }

  h2 {
    font-family: $font-serif-semibold;
    font-size: 16px;
    line-height: 56px;
    color: $grey03;
    padding: 20px 40px;
    border-bottom: 1px solid $blue04;
    border-left: 1px solid $blue04;
    margin: 0;
  }

  .menu {
    margin-left: 0;

    li {
      list-style: none;
      border-bottom: 1px solid $blue04;
      border-left: 1px solid $blue04;

      a {
        display: block;
        padding: 30px 40px;
        font-family: $font-serif-semibold;
        color: $grey08;
        font-size: 24px;
        height: auto;

        &.active {
          background-color: $color-white;
          color: $gen_blue_lgt;
        }
      }
    }
  }
}

// add this class to the button toggle
.sidebar-toggle {

  &--show-icon {
    @extend .icon-replace__hamburger;

    &.show {
      @extend .icon-replace__x;
    }
  }
}

// add this class to body if showed
.sidebar-open {
  overflow: hidden;

  @include breakpoint($bp-sm) {
    position: static;
    overflow: visible;
  }
}