@import "../../global/utils/init";

.nysenate-promotional-banner {
  position: relative;
  padding: 0;
  max-width: 760px;
  width: 100%;
  background-color: $gen_blue_lgt;

  &.purple {
    background-color: $purple_lgt;
  }

  .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-sans-bold;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 60px;
    height: 60px;
    padding-left: 20px;

    &::before {
      font-size: 32px;
    }
  }

  img {
    display: none;
  }

  &__text-content {
    padding: 30px 20px 90px;

    a {
      text-decoration: none;
    }

    .title {
      color: $color-white;
      font-size: 22px;
      line-height: 1.175em;
      margin-bottom: 0;
      font-family: $font-serif;
    }
  }

  @include breakpoint($bp-sm) {
    clear: both;
    padding: 0;

    .btn {
      padding-left: 25px;
      font-size: 15px;
    }

    &.two-up {
      width: 47%;
      height: 345px;
    }

    &__container,
    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__text-content {
      padding: 35px 35px 120px;

      .title {
        font-size: 36px;
  
        a {
          color: $color-white;
        }
      }
    }

    // has img modifications
    &.nysenate-promotional-banner__has-img {
      overflow: hidden;

      .image-link {
        width: 100%;
        max-width: 280px;
      }

      img {
        display: block;
        height: 280px;
        width: 280px;
        object-fit: cover;
      }

      .nysenate-promotional-banner__text-content {
        max-width: 475px;
        padding-top: 0;
        padding-bottom: 80px;
      }

      .btn {
        left: 280px;
      }
    }
  }
}
