@import "../../global/utils/init";

.c-block--initiative {
  display: grid;
  position: relative;
  padding: 0;
  margin: 0;
  @extend .lgt-bg;
  grid-column: span 2;

  .node__content .c-block {
    margin: 0;
  }

  .c-block--btn,
  .promotional-banner__button.med-bg {
    display: flex;
    align-items: center;
    padding-left: 20px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    &:hover .button-text {
      text-decoration: underline;
    }
    &:before {
      display: flex;
      align-items: center;
      height: 100%;
      line-height: 80px !important;
    }
  }


  img {
    display: none;
  }
}

.c-initiative--inner {
  padding: 30px 20px 90px;

  .senator-name {
    font-family: $font-sans;
    font-size: 12px;
    line-height: 16px;
    color: $color-white;
    text-transform: uppercase;
  }
}

.c-block .c-initiative--title {
  font-family: $font-serif-regular;
  font-weight: $font-weight-normal;
  color: $color-white;
  font-size: 22px;
  line-height: 1.175em;
  margin: 0;
  a {
    text-decoration: none;
    color: $color-white;
    :hover {
      text-decoration: underline;
      color: $color-white;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-block--initiative {
    clear: both;
    padding: 0;
    margin: 0;

    .c-block--btn {
      padding-left: 25px;
    }

    &.c-block-position--1 {
      margin-bottom: 40px;
    }
  }

  .c-initiative--content {
    padding: 35px 35px 120px;
  }

  .c-block .c-initiative--title {
    font-family: $font-serif;
    font-size: 32px;
    line-height: 37.6px;
    margin: 0;
  }

  // has img modifications
  .c-block--initiative__has-img,
  .c-block--initiative__has-img.c-block--initiative__landing:first-child {
    overflow: hidden;
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      height: 280px;
      width: 280px;
      object-fit: cover;
    }

    .c-initiative--content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centers content vertically */
      height: 100%;
      width: 58%;
      //height: 100%;
      max-width: 475px;
      padding-top: 0;
      //padding-bottom: 80px;

    }
    .c-initiative--inner {
      position: relative;
      display: flex;
      align-items: center; /* Centers content horizontally */
      width: 100%; /* Ensures it takes full width */
      padding-bottom: 80px;
      height: 280px;
    }
    .c-block--btn {
      left: 280px;
    }
  }

  .c-block--initiative__no-img {
    float: left;
    clear: none;
    height: 345px;
    grid-column: span 1;

    .c-initiative--img { // 2nd global promo banners should not have image
      display: none;
    }

    .c-initiative--content { // 2nd global promo banner content
      width: 100%;
      align-items: flex-start;
      padding-top: 35px;
    }

    .c-block--btn {  // 2nd global promo banner button should be full-width
      left: 0;
    }

    &.c-block--even {
      margin-right: 6%;
    }

    .node__content {
      height: 100%;

      .c-block.c-block--initiative {
        height: 100%;
      }

      .c-initiative--content h4 {
        margin: 0;
      }
    }
  }

  // half size modifications
  .c-initiative-block__half-wrap {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .c-block--initiative__half {
    width: 47%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    height: 345px;
    float: left;
    clear: none;

    &.c-block--even {
      margin-right: 6%;
    }
  }
}

.node--type-promotional-banner.node--view-mode-card-list {

  .c-block.c-block--initiative {
    margin-bottom: 0;
    width: 100%;
  }

  .c-initiative--content {

    @include breakpoint($bp-md) {
      .c-initiative-content {
        padding-bottom: 0;
      }
    }
  }
}

.featured-content__banners-list {

  .c-block--initiative__no-img
  {
    grid-column: 1 / span 2;
    margin: 0;
    height: auto;

    .c-initiative--img {
      display: none;
    }
  }

  .c-block .c-initiative--title {
    font-size: 36px;
    line-height: 42.3px;
    margin: 0;
  }
}

.view-global-promo-banner {
  padding-top: 40px;

  .view-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
.c-container--initiative-hidden-link {
  position: relative;
  //display: inline-block;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  a {
    position: relative;
    z-index: 2;
  }
}
