@import "../../global/utils/init";

.c-block--initiative {
  position: relative;
  padding: 0;
  margin: 0;
  @extend .lgt-bg;
  grid-column: span 2;

  .node__content .c-block {
    margin: 0;
  }

  .c-block--btn,
  .promotional-banner__button.med-bg {
    display: flex;
    align-items: center;
    padding-left: 20px;
    line-height: 1;
    color: $color-white;

    &::before {
      display: flex;
      align-items: center;
    }
  }

  img {
    display: none;
  }
}

.c-initiative--content {
  padding: 30px 20px 90px;

  .senator-name {
    font-family: $font-sans;
    font-size: 12px;
    line-height: 16px;
    color: $color-white;
    text-transform: uppercase;
  }
}

.c-block .c-initiative--title {
  font-family: $font-serif-regular;
  font-weight: $font-weight-normal;
  color: $color-white;
  font-size: 22px;
  line-height: 1.175em;

  a {
    text-decoration: none;
    color: $color-white;
  }
}

@include breakpoint($bp-sm) {
  .c-block--initiative {
    clear: both;
    padding: 0;
    margin: 0;

    .c-block--btn {
      padding-left: 25px;
    }

    &.c-block-position--1 {
      margin-bottom: 40px;
    }
  }

  .c-initiative--content {
    padding: 35px 35px 120px;
  }

  .c-block .c-initiative--title {
    font-family: $font-serif;
    font-size: 32px;
    line-height: 37.6px;
  }

  // has img modifications
  .c-block--initiative__has-img,
  .c-block--initiative__has-img.c-block--initiative__landing:first-child {
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    img {
      display: block;
      height: 280px;
      width: 280px;
      object-fit: cover;
    }

    .c-initiative--content {
      position: relative;
      display: flex;
      align-items: center;
      width: 58%;
      height: 100%;
      max-width: 475px;
      padding-top: 0;
      padding-bottom: 80px;
    }

    .c-block--btn {
      left: 280px;
    }
  }

  .c-block--initiative__no-img,
  .c-block--initiative + .c-block--initiative {
    float: left;
    clear: none;
    height: 345px;
    grid-column: span 1;

    &.c-block--even {
      margin-right: 6%;
    }

    .node__content {
      height: 100%;

      .c-block.c-block--initiative {
        height: 100%;
      }

      .c-initiative--content h4 {
        margin: 0;
      }
    }
  }

  // half size modifications
  .c-initiative-block__half-wrap {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .c-block--initiative__half {
    width: 47%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    height: 345px;
    float: left;
    clear: none;

    &.c-block--even {
      margin-right: 6%;
    }
  }
}

.node--type-promotional-banner.node--view-mode-card-list {

  .c-block.c-block--initiative {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }

  .c-initiative--content {

    @include breakpoint($bp-md) {
      .c-initiative-content {
        padding-bottom: 0;
      }
    }
  }
}

.featured-content__banners-list {

  .c-block--initiative__no-img,
  .c-block--initiative + .c-block--initiative {
    grid-column: 1 / span 2;
    margin: 0;
    height: auto;

    .c-initiative--img {
      display: none;
    }
  }


  .c-block .c-initiative--title {
    font-size: 36px;
    line-height: 42.3px;
  }
}

.view-global-promo-banner {
  padding-top: 40px;

  .view-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
