@import "../../global/utils/init";

.c-block--initiative {
	position: relative;
	padding: 0;
	margin: 0;
	@extend .lgt-bg;

	.c-block--btn {
		display: flex;
		align-items: center;
		padding-left: 20px;

		&::before {
			display: flex;
			align-items: center;
		}
	}

	img {
		display: none;
	}
}

.c-initiative--content {
	padding: 30px 20px 90px;

  .senator-name {
    font-family: $font-sans;
    font-size: 12px;
    line-height: 16px;
    color: $color-white;
    text-transform: uppercase;
  }
}

.c-initiative--title {
	font-family: $font-serif-regular;
	color: $color-white;
	font-size: 22px;
	line-height: 1.175em;

  a {
    text-decoration: none;
		color: $color-white;
  }
}

@include breakpoint($bp-sm) {

	.c-block--initiative {
		clear: both;
		padding: 0;

		.c-block--btn {
			padding-left: 25px;
		}

		&.c-block-position--1{
			margin-bottom: 40px;
		}
	}

	.c-initiative--content {
		padding: 35px 35px 120px;
	}

	.c-initiative--title {
		font-family: $font-serif;
		font-size: 36px;
	}

	// has img modifications
	.c-block--initiative__has-img {
		overflow: hidden;

		img {
			display: inline-block;
			height: 280px;
			width: 280px;
      object-fit: cover;
			vertical-align: middle;
		}

		.c-initiative--content {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 58%;
			max-width: 475px;
			padding-top: 0;
			padding-bottom: 80px;
		}

		.c-block--btn {
			left: 280px;
		}
	}

	// half size modifications
	.c-initiative-block__half-wrap {
		width: 100%;
		margin-left: 0;
    float: left;
	}

	.c-block--initiative__half {
		width: 47%;
		margin-left: 0;
		margin-right: 0;
    margin-bottom: 40px;
		height: 345px;
		float: left;
		clear: none;

		&.c-block--even {
			margin-right: 6%;
		}

		.c-initiative--title {
			font-size: 32px;
		}
	}
}

.node--type-promotional-banner.node--view-mode-card-list {
	.node__content,
	.c-block--initiative {
		height: 100%;
	}
}
