# These files fail eslint standards. If possible they may be fixed in due course
# then removed from this ignore file.
# See https://www.drupal.org/project/scheduler/issues/3314451

js/scheduler_default_time.js
js/scheduler_default_time_8x.js
js/scheduler_vertical_tabs.js
