# These files fail eslint standards. In due course they will be fixed and then
# removed from this ignore file.
# See https://www.drupal.org/project/scheduler/issues/3314451
drupalci.yml
js/scheduler_default_time.js
js/scheduler_vertical_tabs.js
