# Config and Views exports from UI do not follow the prettier formatting rules,
# so we ignore these, rather than manually edit the exported files.
config/*/views.*.yml
tests/modules/*/config/install/*.yml
