includes:
  - phpstan-baseline-ok.neon
  - phpstan-baseline-to-fix.neon

parameters:
  level: 1

  # Do not add 'paths: .' as this causes the gitlab pipeline job to fail.

  excludePaths:
    # Legacy code that produces warnings which cannot be added to a .baseline file.
    - tests/src/Traits/PhpunitCompatibilityCore87Trait.php

  ignoreErrors:
    # new static() is a best practice in Drupal. Core ignores this.
    - "#^Unsafe usage of new static#"
