// Import site utilities.
@import '../../global/utils/init';

.c-senator-block {

  img {
    float: left;
    width: 120px;
    margin-right: 20px;
  }

  .c-name {
    margin-top: 10px !important;
  }
}

.c-committee-header {
  padding-bottom: 40px;
  background-color: $color-white;

  .nys-title {
    margin-top: 40px;
  }

  .c-committee-type {
    color: $orange01;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 14px;

    a {
      color: $orange01;
    }
  }

  .c-when {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: $font-sans;
    color: $grey04;
    font-size: 14px;
    line-height: 1.3em;
  }

  .c-description {
    p {
      margin-bottom: 30px;
      font-size: 18px;
      font-family: $font-serif-semibold;
      color: $grey08;
    }
  }

  .nys-senator {
    margin-bottom: 40px;
  }

  .nys-senator--thumb {
    height: 60px;
    width: 60px;
  }

  .nys-senator--title {
    color: $grey04;
    font-size: 12px;
    font-family: $font-sans-bold;
  }

  .c-committee--see-all,
  .c-committee--see-more {
    color: $orange01;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .c-committee--see-all {
    @extend .icon-after__see-more;
  }

  .c-committee--see-more {
    display: block;
    margin-bottom: 20px;
    @extend .icon-after__right;
  }
}

.c-committee-type {
  color: $orange01;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 16px;

  a {
    color: $orange01;
  }
}

.c-block__collapsed.c-block-legislation .c-block--btn-toggle {
  background: none !important;
}

.field-name-field-issues {

  ul.links {
    color: $color-white;
  }
}

.view-committee-members {

  &.view-display-id-block_2 {

    .view-content {

      > div {
        display: block;
        font-size: 14px;
        text-transform: uppercase;

        a {
          display: block;
          text-transform: none;
          font-size: 18px;
        }
      }
    }
  }

  &.view-display-id-block_3 {

    .view-header p {
      font-family: $font-serif-semibold;
      color: $contrast_drk;
      font-size: 24px;
      padding-bottom: 15px;
      border-bottom: 2px solid $grey14;
      margin-bottom: 15px;
    }

    .member-group {
      float: left;
      display: block;
      width: 45%;
      margin-right: 5%;
      margin-bottom: 40px;

      h3 {
        font-family: $font-serif-semibold;
        font-size: 20px;
        margin-bottom: 20px;
      }

      > div {
        border-top: 1px solid $grey14;
        padding: 15px 0;

        &.first {
          border-top: none;
        }

        a {
          display: block;
          font-size: 16px;
          text-transform: none;
        }

        .role {
          display: none;
          font-size: 12px;
          text-transform: uppercase;
        }
      }

      &.office {

        .role {
          display: block;
        }
      }
    }
  }
}

.view-senator-events.view-display-id-featured_committee_event {
  border-top: 1px solid $grey05;
  padding-top: 20px;
}

.c-committee {

  .c-story-link a {
    color: $yellow03;
    text-transform: uppercase;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include breakpoint($bp-sm) {
  .nys-senator--info {
    display: inline-block;
  }

  .l-row--hero-committee {

    img {
      position: relative;
      top: 0;
      left: -50%;
      margin: auto;
      margin-bottom: -10%;
      width: auto;
      max-width: 1500px;
      height: 100%;
      width: 1500px;
    }
  }

  .c-committee-header {
    padding: 10px 40px 60px;
    overflow: hidden;

    .c-description p {
      font-size: 24px;
    }

    .nys-senator {
      width: 50%;
      float: left;
    }

    .c-committee--see-all {
      float: right;
    }

    .c-committee--see-more {
      margin-top: -20px;
      margin-bottom: 35px;
    }
  }

  .c-senator-block {

    img {
      float: none;
      width: auto;
      margin-right: auto;
    }
  }
}

@include breakpoint($bp-md) {
  .l-row--hero-committee {

    img {
      margin-bottom: -18%;
    }
  }

  .c-committee-header {
    padding: 10px 60px 60px;
  }
}

@include breakpoint($bp-lg) {
  .l-row--hero-committee {

    img {
      left: -48.6%;
    }
  }
}

.c-members-title {
  border-top: 2px solid $grey05;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0 0 20px 0;
}

.c-category {
  width: 460px;
  margin: 0px 0px 0px 60px;

  a {
    color: $orange01;
    font-family: $font-sans-bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  @include breakpoint($bp-sm) {
    float: right;
    margin: 0px 120px 10px 0px;
  }
}

.c-event-date {
  top: auto !important;
}

.c-event-name {
  margin: 0px 0px 5px 60px;
}

.c-event-block--list {
  .c-wrapper {
    float: left;
    position: relative;
    width: 80%;
  }
}

.c-title.live {
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    background: $blue01;
    float: left;
    top: 3px;
    position: relative;
    border-radius: 10px;
    margin-right: 5px;
  }
}

.c-container--title.search {
  float: left;
}
