// Import site utilities.
@import '../../global/utils/init';

.node--event-full {


  .nys-associated-topics {
    display: block;

    @include breakpoint($bp-sm) {
      margin-bottom: 30px;
    }
  }

  .c-news--download .file > a {
    margin-top: 0;

    &::before {
      font-size: 21px;
      line-height: 12px;
    }
  }
}

.nys-event-title {
  margin-bottom: 20px;
  color: $grey08;
  font-family: $font-serif;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 400;
}

.c-event-address {
  font-family: $font-sans;
}

.c-event-name {
  color: $grey08;

  a {
    color: $grey08;
  }
}

.c-event-block {

  .c-event-date-multiday {

    & > div {
      display: inline-block;
    }

    .c-event-date-separator {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 20px;
    }
  }
}

.c-calendar--today .nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: $font-serif-semibold;
}

.c-event-block--today {
  margin: 0 0 10px 0;
  padding: 15px 0;
  position: relative;
  background-color: $grey06;
  overflow: hidden;
  font-family: $font-sans;

  .c-event-name {
    font-family: $font-serif-semibold;
    font-size: 24px;
    margin: 14px 20px 14px 20px;
    line-height: 120%;
    float: left;
    clear: left;
  }

  .c-event-location {
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: $grey10;
    text-decoration: none;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    //margin-top: 15px;
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    //display: none;
    margin: 0 0 0 20px;
    float: left;
    clear: left;
  }

  .c-event-time {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;

    span {
      font-family: $font-sans-bold;
      font-size: 16px;
    }
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
}

.c-no-events {
  background-color: #f4f4f7;
  padding: 20px 20px;
  margin-bottom: 40px;
  width: 100%;

  p {
    font-family: $font-serif;
    font-size: 16px;
    margin: 0;
    line-height: 120%;
    width: 100%;
    text-align: left;
  }
}

.c-event-block--list {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid $grey05;
  overflow: hidden;
  font-family: $font-sans;
  position: relative;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 18px;
    //position: absolute;
    top: 20px;
    left: 0;
    line-height: 1;
    background: $grey06;
    margin-bottom: 24px;
    padding: 6px;
    color: $grey10;

    span {
      font-family: $font-serif-bold;
      //display: block;
      font-size: 26px;
      margin-bottom: 6px;
    }
  }

  .c-event-name {
    font-family: $font-serif-semibold;
    font-size: 24px;
    margin: 0px 0px 12px 0px;
    line-height: 120%;
    margin-left: 0;
  }

  .c-event-location {
    font-size: 18px;
    //margin-left: 60px;
    //float: left;
    clear: left;
    color: $grey10;
    display: block;
    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 6px;
    margin-left: 0;
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    display: block;
  }

  .c-event-time {
    margin-top: 10px;
    margin-left: 0;
    display: block;
    font-family: $font-sans-bold;
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0px;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
  .c-meeting-video--status:before {
    padding: 0;
    margin-left: 0;
    border-left: none;
  }
  .c-event-video {
    clear: both;
    margin-top: 24px;
  }

  .c-event--list-by-group {
    .c-event-date {
      font-family: $font-serif-semibold;
      font-size: 16px;
    }

    .c-event-location {
      @extend .lgt-text;
      font-family: $font-sans-bold;
      font-size: 20px;
    }

    .c-senator {
      color: $yellow01;
      font-size: 18px;
      font-family: $font-sans-bold;
      text-transform: uppercase;

      a {
        color: $yellow01;
      }
    }

    .c-event-time {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $grey05;
    }

    &.last {
      .c-event-time {
        border-bottom: none;
      }
    }
  
  }
}

.first {
  .c-event-block--list {
    border-top: none;
  }
}

.view-grouping + .view-grouping {
  .first {
    .c-event-block--list {
      border-top: 1px solid $grey05;
    }
  }
}

.c-upcoming-container {
  overflow: hidden;
  display: block;

  .c-container--header {
    margin-bottom: -1px;
  }

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid $grey09;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: -2px;

    .c-calendar {
      position: absolute;
      right: 0;
      top: 0;
      @extend .lgt-text;

      &::after {
        font-size: 15px;
        vertical-align: bottom;
      }
    }
  }

  .c-event-time {
    margin-top: 0;
  }
}

.c-event--title {
  margin-bottom: 20px;
  font-family: $font-serif-bold;
  font-size: 32px;
  line-height: 1.3em;
}

// event detail page specific
.event_detail_page .c-event-block--featured-image {
  border-top: none;
}

.event_detail_page {
  .icon-before__circle-pin:before {
    font-size: 20px;
    vertical-align: top;
  }
  .c-event-location {
    margin: 0 0 10px 0;
    color: $grey04;
    font-family: $font-sans;
  }
}

.c-upcoming-container.today {
  background-color: $grey06;
  padding: 40px 5% 0 5%;

  .c-title {
    color: $grey02;
    font-size: 24px;
    font-family: $font-serif-semibold;
    text-transform: capitalize;

    a {
      font-family: $font-sans;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .c-event-name {
    font-size: 18px;
    width: 100%;
    margin-left: 0;
  }

  .c-event-time {
    color: $grey04;
    font-size: 14px;
  }

  .c-event-location {
    margin-left: 0;
  }
}

.view-previous-sessions {
  .c-event-block--list {
    padding-bottom: 64px;
    .c-event-date {
      float: left;
      width: 70px;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 0;
      position: static;
      line-height: 1;
      span.date-day span {
        font-size: 40px;
      }
      span.date-month span {
        font-family: $font-sans;
        font-size: 14px;
      }
    }
    .c-event-name {
      margin-bottom: 0;
    }
    .c-event-location {
      clear: none;
      float: none;
    }
    .c-event-video {
      margin-left: 70px;
    }
  }
}

//HOME PAGE LIVE EVENT

.c-event-video--home {
  color: $grey03;
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 12px;
  vertical-align: top;
  margin: 12px 0;

  a {
    color: $grey10;
  }

  a::before {
    color: $yellow03;
    font-size: 21px;
    line-height: 16px;
    padding: 0;
    vertical-align: top;
  }

  .icon-before__youtube::before {
    font-size: 16px;
  }
}

.event_detail_page {
  margin-top: 50px;

  .nys-article-title {
    margin-top: 0;
  }
  .c-event-block--featured-image,
  .c-event-block--featured {
    padding-top: 0;
    padding-bottom: 20px;
    border: 0;

    .c-event-image {
      margin-bottom: 30px;
    }
    .c-event-date {
      margin: 0 0 12px;
    }
  }
  .c-event-address {
    margin-top: 5px;
  }
  .c-event-time {
    margin-top: 10px;
  }
  .nys-associated-topics {
    display: block;
    margin-bottom: 20px;
  }
}

@include breakpoint($bp-sm) {
  .nys-event-title {
    margin-bottom: 30px;
    font-size: 48px;
  }

  .nys-associated-topics {
    display: inline;
    margin-top: 0;

    li {
      margin-top: 0;
    }
  }

  .event_detail_page {
    .nys-associated-topics {
      margin-bottom: 30px;
    }
  }

  .c-event-block--today {
    padding: 24px 0;
    .c-event-name {
      margin-top: 0;
      float: left;
      width: 440px;
      margin-left: 240px;
    }

    .c-event-location {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
    }

    .c-event-address {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
      //display: block;
    }

    .c-event-time {
      position: absolute;
      top: 30px;
      left: 30px;
      width: auto;
      margin-left: 0px;
    }

    .c-event-rsvp {
      float: left;
      clear: left;
      margin-left: 240px;
    }
  }

  .c-event-block--list {
    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      float: left;
      width: 100px;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 0;
      position: static;
      line-height: 1;
      background: none;
      clear: both;
      span {
        font-size: 40px;
        display: block;
      }
    }

    .c-event-name {
      float: right;
      width: 460px;
      margin: 12px 6px 10px 0px;
    }

      .c-event-name,
      .c-senator,
      .c-event-location,
      .c-event-time {
        float: right;
        margin-right: 0;
        width: 580px;
        clear: right;
      }

    .c-event-location {

      .icon-before__circle-pin:before {
        vertical-align: top;
      }
    }

    .c-event-address,
    .c-event-time {
      display: block;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 430px;
      margin-left: 0px;
    }
    .c-meeting-video--status:before {
      padding: 0;
      margin-left: 0;
      border-left: none;
    }
    .c-event-video {
      position: absolute;
      top: 20px;
      right: 0;
      clear: none;
      margin-top: 0;
    }
    .c-senator {
      float: right;
      margin-right: 120px;
      width: 460px;
    }
  }

  .view-previous-sessions {
    .c-event-block--list {
      .c-event-name {
        margin-bottom: 18px;
      }
      .c-event-location {
        clear: right;
        float: right;
      }
      .c-event-video {
        margin-left: 0px;
      }
    }
  }

  .c-event-block--featured {
    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 22px;

      span {
        font-family: $font-serif-semibold;

        &::after {
          display: inline-block;
          margin: 0px 0px 0px 5px;
        }
      }
    }

    .c-event-name {
      margin-top: 0;
      margin-right: 6px;
    }

    .c-event-location {
      clear: right;
      margin-right: 6px;
    }

    .c-event-address {
      clear: right;
      margin-right: 6px;
    }

    .c-event-time {
      clear: right;
      margin-right: 6px;
    }

    .c-event-rsvp {
      clear: right;
      margin-right: 430px;
    }
  }

  .c-upcoming-container.today {
    .c-event-name {
      margin-top: 0;
      padding-top: 30px;
      border-top: 2px solid $grey05;
    }
  }
}
