.privatemsg-unread td {
  font-weight: bold;
}

.privatemsg-author-name {
  padding-right: 1rem;
}

.privatemsg-message-column {
  margin-bottom: 1rem;
}

.privatemsg-message-date {
  padding-right: 1rem;
}

.privatemsg-message-new {
  margin-left: 1rem;
  font-weight: bold;
  color: red;
}
