@import "../../global/utils/init";

.c-container--const-pet-quest {

  .c-container--title {
    text-transform: capitalize;
    font-family: $font-serif-semibold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    color: $grey08;
  }

  article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey05;
    padding-bottom: 20px;

    .pet-body {
      width: 100%;
    }

    .pet-share-bar {
      width: 100%;
      position: relative;
    }

    .entry-title,
    .pet-type,
    .explore-link {
      font-family: $font-sans-bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .entry-title,
    .author a {
      color: $color-nys-blue;
    }

    .pet-type a,
    .explore-link {
      font-size: 12px;
      line-height: 18px;
      color: $yellow03;
    }

    .explore-link {
      display: block;
    }

    .author,
    .article-date,
    .pet-share-bar p {
      font-family: $font-sans;
      font-size: 12px;
      line-height: 18px;
      color: $grey03;
    }

    .author {
      margin: 15px 0 4px 0;
    }

    .article-date {
      color: $grey04;
    }

    .pet-share-bar p {
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .pet-facebook-share,
    .pet-twitter-share {
      &::after {
        font-size: 25px;
        color: $blue01;
      }
    }

    .pet-facebook-share {
      margin-left: -10px;
    }

    .l-tab-bar {
      margin-top: 20px;
    }
  }

  @include breakpoint($bp-sm) {
    article {
      padding: 20px 0;
    }

    .c-container--title {
      font-size: 24px;
    }

    .l-tab-bar .c-tab {
      width: 50%;
    }
  }

  @include breakpoint($bp-md) {
    article {
      flex-direction: row;
      padding: 20px 0 40px 0;

      .pet-body {
        width: 75%;
      }

      .pet-share-bar {
        width: 21%;
      }

      .entry-title,
      .pet-type,
      .explore-link {
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
      }

      .pet-type,
      .explore-link {
        font-size: 12px;
        line-height: 18px;
      }

      .explore-link {
        display: block;
      }

      .author,
      .article-date,
      .pet-share-bar p {
        font-family: $font-sans;
        font-size: 14px;
        line-height: 18px;
        color: $grey03;
      }

      .author {
        margin: 15px 0 4px 0;
      }

      .article-date {
        color: $grey04;
      }

      .pet-share-bar p {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 0;
      }

      .pet-facebook-share,
      .pet-twitter-share {
        &::after {
          font-size: 25px;
          color: $blue01;
        }
      }

      .pet-facebook-share {
        margin-left: -10px;
      }
    }
  }
}
