{{ attach_library('nysenate_theme/transcript') }}

<!-- TRANSCRIPT TEASER -->
<div class="c-container--header__top-border transcript">
	<h3 class="c-container--title">transcript</h3>
	<p>There is a full transcript of this meeting available.</p>
	<a href="{{ url }}" class="c-container--link">Read Full Transcript</a>
</div>