@import '../../global/utils/init';

.nyesenate-upcoming-events {
  position: relative;
  margin: 40px 0;
  padding-bottom: 40px;

  &__title {
    color: $grey02;
    font-size: 20px;
    line-height: 1em;
    padding-bottom: 20px;
    font-family: $font-serif-semibold;
  }

  &__header {
    .upcoming-events-link {
      position: absolute;
      display: block;
      top: auto;
      right: 0;
      bottom: 0;
      font-size: 15px;
      line-height: 18px;
      color: $orange01;
      text-transform: uppercase;
      text-decoration: none;

      &::after {
        content: '\72';
        font-family: 'senate_icons';
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
        margin-top: -2px;
        font-size: 17px;
        line-height: 12px;
      }
    }
  }

  &__items {
    background-color: $grey06;
    padding: 25px;

    .item {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $grey05;
      padding: 20px 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .item-header {
      display: block;
      float: left;

      .date-display {
        text-transform: uppercase;
        color: $grey02;
        font-size: 16px;
        line-height: 18px;

        &.month {
          clear: none;
          border-top: 0;
          padding: 0;
          font-size: 12px;
          color: $grey02;
          text-transform: uppercase;
          line-height: 18px;
          font-family: $font-sans;

          &::before {
            content: '/';
            margin: 0 3px 0 5px;
          }
        }

        &.date {
          font-family: $font-serif-semibold;
        }
      }
    }

    .item-content {
      .event {
        clear: left;
        border-top: 1px solid #d2d2d2;
        padding: 12px 0;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .event-title {
      margin: 0;

      a {
        font-size: 18px;
        line-height: 26px;
        color: $grey02;
        display: block;
        text-decoration: none;
        font-family: $font-serif;
      }
    }
  }
}

.c-event-name {
  color: $grey02;

  a {
    color: $grey02;
  }
}

.view-empty {
  background: $grey06;
  padding: 20px;
  margin: 20px 0 40px 0;
}

.tabs-content {
  width: 100%;

  .c-event-name {
    color: $grey02;

    a {
      color: $grey02;
    }
  }
}

.c-event-block--list {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid $grey05;
  overflow: hidden;
  font-family: $font-sans;
  position: relative;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-address {
    font-family: $font-sans;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    text-transform: uppercase;
    font-size: 18px;
    //position: absolute;
    top: 20px;
    left: 0;
    line-height: 130%;
    background: $grey06;
    margin-bottom: 24px;
    padding: 6px;

    span {
      font-family: $font-serif-bold;
      //display: block;
      font-size: 26px;
      margin-bottom: 6px;
    }
  }

  .c-event-name {
    font-family: $font-serif-semibold;
    font-size: 24px;
    margin: 0px 0px 12px 0px;
    line-height: 120%;
    margin-left: 0;
  }

  .c-event-location {
    font-size: 18px;
    //margin-left: 60px;
    //float: left;
    clear: left;
    color: $grey10;
    display: block;
    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 6px;
    margin-left: 0;
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    display: block;
  }

  .c-event-time {
    margin-top: 10px;
    margin-left: 0;
    display: block;
    font-family: $font-sans-bold;
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0px;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
  .c-meeting-video--status:before {
    padding: 0;
    margin-left: 0;
    border-left: none;
  }
  .c-event-video {
    clear: both;
    margin-top: 24px;
  }

  a {
    text-decoration: none;
  }
}

.first {
  .c-event-block--list {
    border-top: none;
  }
}

.c-event-block--today {
  margin: 0 0 10px 0;
  padding: 15px 0;
  position: relative;
  background-color: $grey06;
  overflow: hidden;
  font-family: $font-sans;

  .c-event-name {
    font-family: $font-serif-semibold;
    font-size: 24px;
    margin: 14px 20px 14px 20px;
    line-height: 120%;
    float: left;
    clear: left;

  }

  .c-event-location {
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  a {
    text-decoration: none;
  }

  .c-event-address {
    //margin-top: 15px;
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    //display: none;
    margin: 0 0 0 20px;
    float: left;
    clear: left;
  }

  .c-event-time {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;

    span {
      font-family: $font-sans-bold;
      font-size: 16px;
    }
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
}

.view-grouping + .view-grouping {
  .first {
    .c-event-block--list {
      border-top: 1px solid $grey05;
    }
  }
}

.nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: $font-serif-semibold;
}

.view-previous-sessions {
  .c-event-block--list {
    .c-event-name {
      margin-bottom: 18px;
    }
    .c-event-location {
      clear: right;
      float: right;
    }
    .c-event-video {
      margin-left: 0px;
    }
  }
}

.c-event-block {
  .c-event-date-multiday {
    & > div {
      display:inline-block;
    }
    .c-event-date-separator {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 20px;
    }
  }
}


.c-event-block--featured {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 2px solid $grey09;
  font-family: $font-sans;
  @include clearfix;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 20px;

    span {
      font-family: $font-serif-bold;

      &::after {
        content:'/';
        display: inline-block;
        font-family: $font-sans;
        margin: 0px 0px 0px 5px;
      }
    }
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: $font-serif;
    font-size: 24px;
    margin: 18px 0px 12px 0px;
    line-height: 120%;
  }

  .c-event-location {
    font-size: 20px;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 15px;
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: $font-sans-bold;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }
}

.c-event-block--featured-image {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  font-family: $font-sans;
  @include clearfix;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 24px;

    span {
      font-family: $font-serif-bold;
      &::after {
        content:'/';
        display: inline-block;
        font-family: $font-sans;
        margin: 0px 0px 0px 5px;
      }
    }
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: $font-serif;
    font-size: 24px;
    margin: 18px 0px 18px 0px;
    line-height: 120%;
  }

  .c-event-location {
    font-size: 20px;
    color: $grey04;
    line-height: 140%;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 0;
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: $font-sans-bold;
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }
}

.c-calendar--today .nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: $font-serif-semibold;
}


.c-upcoming-container.today {
  background-color: $grey06;
  padding: 40px 5% 0 5%;

  .c-title {
    color: $grey02;
    font-size: 24px;
    font-family: $font-serif-semibold;
    text-transform: capitalize;

    a {
      font-family: $font-sans;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .c-event-name {
    font-size: 18px;
    width: 100%;
    margin-left: 0;
  }

  .c-event-time {
    color: $grey04;
    font-size: 14px;
  }

  .c-event-location {
    margin-left: 0;
  }
}

@include breakpoint($bp-sm) {
  .c-event-block--today {
    padding: 24px 0;
    .c-event-name {
      margin-top: 0;
      float: left;
      width: 440px;
      margin-left: 240px;
    }

    .c-event-location {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
    }

    .c-event-address {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
      //display: block;
    }

    .c-event-time {
      position: absolute;
      top: 30px;
      left: 30px;
      width: auto;
      margin-left: 0px;
    }

    .c-event-rsvp {
      float: left;
      clear: left;
      margin-left: 240px;
    }
  }

  .c-event-block--list {

    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      float: left;
      width: 100px;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 0;
      position: static;
      line-height: 1;
      background: none;
      clear: both;
      span {
        font-size: 40px;
        display: block;
      }
    }

    .c-event-name {
      float: right;
      width: 460px;
      margin: 12px 120px 10px 0px;
    }

    .c-event-location {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      margin-left: 0;
      .icon-before__circle-pin:before {
        vertical-align: top;
      }
    }

    .c-event-address {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      display: block;
    }

    .c-event-time {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      display: block;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 430px;
      margin-left: 0px;
    }

    .c-meeting-video--status:before {
      padding: 0;
      margin-left: 0;
      border-left: none;
    }

    .c-event-video {
      position: absolute;
      top: 20px;
      right: 0;
      clear: none;
      margin-top: 0;
    }
  }

  .view-previous-sessions {
    .c-event-block--list {
      .c-event-name {
        margin-bottom: 18px;
      }

      .c-event-location {
        clear: right;
        float: right;
      }

      .c-event-video {
        margin-left: 0;
      }
    }
  }

  .c-event-block--featured {

    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 22px;

      span {
        font-family: $font-serif-semibold;
        &::after {
          display: inline-block;
          margin: 0px 0px 0px 5px;
        }
      }

    }

    .c-event-name {
      margin-top: 0;
      margin-right: 120px;
    }

    .c-event-location {
      clear: right;
      margin-right: 120px;
    }

    .c-event-address {
      clear: right;
      margin-right: 120px;
    }

    .c-event-time {
      clear: right;
      margin-right: 120px;
    }

    .c-event-rsvp {
      clear: right;
      margin-right: 430px;
    }
  }

  .c-event-block--featured-image {
    .c-event-image {
      width: 50%;
      float: left;
    }

    .c-event-date {
      margin-top: 0;
      float: right;
      width: 300px;
    }

    .c-event-name {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-location {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-address {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-time {
      float: right;
      clear: right;
      width: 300px;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 145px;
    }
  }

  .c-upcoming-container.today {
    .c-event-name {
      margin-top: 0;
      padding-top: 30px;
      border-top: 2px solid $grey05;
    }
  }
}

/*------------------------------------
/	CALENDAR - SENATOR
/-------------------------------------*/

.c-upcoming--header {
  position: relative;
  height: 42px;
  margin-bottom: 30px;

  @include breakpoint($bp-sm) {
    height: auto;
  }
}

.c-month-title {
  margin: 0;
  text-align: center;
  font-family: $font-serif-semibold;
  font-size: 30px;
  line-height: 42px;
  color: $grey02;
}

.c-upcoming--nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-upcoming--nav-item {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  padding: 0;
  font-family: $font-sans-bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 42px;
  background: $grey06;
  font-size: 16px;
  @extend .icon-replace__left;
  @extend .lgt-text;
  @extend .icon-before__left;

  @include breakpoint($bp-sm) {
    text-indent: 0;
    width: auto;
    background: transparent;
    //@extend .icon-before__left;
  }

  &::before {
    @include breakpoint($bp-sm) {
      padding: 0 10px 0 0;
      font-size: 16px;
      line-height: 47px;
    }
  }

  &::after {
    width: 42px;
    height: 42px;
    font-size: 30px;
    @extend .lgt-text;

    @include breakpoint($bp-sm) {
      content: '';
      font-size: 30px;
      height: auto;
      width: auto;
    }
  }

  // right arrow
  & + .c-upcoming--nav-item {
    position: absolute;
    left: auto;
    right: 0;
    width: 42px;
    height: 42px;
    padding: 0;
    @extend .icon-after__right;

    @include breakpoint($bp-sm) {
      text-indent: 0;
      width: auto;
      //@extend .icon-after__right;
    }

    &::before {
      @include breakpoint($bp-sm) {
        content: '';
        padding: 0;
      }
    }

    &::after {
      font-size: 30px;

      @include breakpoint($bp-sm) {
        position: relative !important;
        padding: 0 0 0 10px;
        font-size: 16px;
        line-height: 47px;
      }
    }
  }
}

.view-senator-events.view-display-id-upcoming_events,
.view-senator-events.view-display-id-senator_upcoming_albany,
.view-senator-events.view-display-id-senator_upcoming_district {
  > .item-list {
    ul.pager {
      display: none;
    }
  }
  > .view-content {
    > div {
      &.first {
        .c-event-block--list {
          border-top: 2px solid $grey05;
        }
      }
    }
  }
}
