@import '../../global/utils/init';

.c-block .c-issue--contact-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0;
  margin: 15px 0 30px;
  background: $blue01;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-sans-bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  border: 0;
  width: 100%;
  justify-content: center;

  @include breakpoint($bp-sm) {
    width: fit-content;
    justify-content: flex-start;
  }

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 1.8em;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background: $blue01;
  }

  .nys-senator--thumb {
    display: none;
  }

  a {
    color: $color-white;
  }

  span:hover {
    text-decoration: underline;
  }

  &.no-senator {
    @extend .icon-before__find-senator;
  }
  &.no-senator:hover {
    text-decoration: underline;
  }
}

@include breakpoint($bp-sm) {
  .c-block .c-issue--contact-btn {
    height: 80px;
    padding: 0 80px 0 30px;
    margin: 20px 0 0;
    text-align: left;

    .nys-senator--thumb {
      display: inline-block;
    }

    &.no-senator {
      padding-right: 40px;

      &::before {
        margin-top: 0;
      }
    }
  }
}
