// Variables.

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

// Transition speeds.
$standard--transition-speed: 300ms;
$transition: $standard--transition-speed ease-in-out;
$transition-fast: 0.1s linear;
$motion-slow: 1000ms ease-in-out;
$motion-default: 500ms ease-in-out;
$motion-fast: 200ms ease-in-out;
$motion-super-fast: 50ms ease-in-out;

// Icon data URLs
$icon-star: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16'%3E%3Cpath fill='%23376BFB' d='M10.6 5.97l6.4.12-5.09 3.84 1.86 6.05-5.26-3.61L3.27 16l1.84-6.06L0 6.12l6.4-.14L8.49 0z'/%3E%3C/svg%3E";
$icon-flag: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='16'%3E%3Cpath fill='%23FFB700' d='M7.67 1.3c-2 0-3.15-.94-5.2-1.2C.73-.12 0 .1 0 .1V16h.94V7.47c.38-.01.88.02 1.53.1 2.05.26 3.2 1.2 5.2 1.2 2.01 0 1.93-.6 3.33-.6V.7c-1.4 0-1.32.6-3.33.6z'/%3E%3C/svg%3E";
$icon-asterisk: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cpath fill='%2393287B' d='M0 0v21h21V0H0zm13.92 13.12l-1.73 1.3-1.78-2.5-1.78 2.5-1.78-1.3 1.78-2.35-2.8-.93.77-1.99 2.67.94V5.73h2.26v3.05l2.66-.94.77 1.99-2.81.94 1.77 2.35z'/%3E%3C/svg%3E";
