@import '../../global/utils/init';

// TWITTER WIDGET STYLING OVERRIDE
.timeline-Widget {
  margin: 0 auto;
}

.pager.pager--load-more {
  ul {
    display: block;
    margin: 20px 0;
    width: 100%;
    background-color: $grey06;
    float: left;
    font-weight: normal;
    text-transform: uppercase;
  }

  li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0;
  }

  a {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-family: $font-sans-bold;
    font-size: 16px;
    line-height: 0;
    color: $gen_blue_lgt;
    height: -1px;
    margin-top: 3px;

    &::after {
      height: 24px;
      margin-top: -3px;
      font-size: 24px;
      line-height: 25px;
      content: "\65";
      font-family: $senate-icons;
      display: inline-block;
      vertical-align: middle;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
      -webkit-font-smoothing: antialiased;
      color: $gen_blue_lgt;
    }
  }
}

@media screen and (min-width: 827px) {
  .nyesenate-twitter-block {
    .c-twitter-user--info {
      margin-top: 9px;
    }

    .l-twitter-user > div {
      margin-top: 34px;
      display: inline-block !important;
    }

    .c-twitter-user--follow {
      margin-left: 47% !important;
    }
  }
}

@include breakpoint($bp-sm) {
  .nyesenate-twitter-block {
    .c-twitter-user--follow {
      margin-left: 42% !important;
    }
  }
}

.view-issues-listings {
  .view-header {
    margin-bottom: 44px;
    .nys-subtitle-title {
      margin: 0 0 15px;
      text-transform: capitalize;
      font-family: $font-serif-regular;
      font-size: 26px;
      line-height: 1;
      font-weight: normal;
    }
  }

  .c-explore-issues--descript {
    font-family: $font-serif;
    line-height: 1.5em;
    color: $grey03;
    font-size: 20px;
  }
}

.c-block--issue .c-issue-block--title {
  font-weight: normal;
}

@include breakpoint($bp-under-sm) {
  .view-issues-listings {
    .view-header {
      margin-bottom: 0px;
      .nys-subtitle-title {
        font-size: 18px;
      }
    }

    .c-explore-issues--descript {
      font-size: 16px;
    }
  }

  .c-block {
    .c-press-release--img {
      display: contents;
    }

    .c-press-release--body__has-img {
      padding-right: unset !important;
    }
  }

  .c-news--head .nys-article-title {
    font-family: $font-serif-bold;
    font-size: 18px;
  }

  .c-news--body .c-block p {
    margin-bottom: 20px !important;
  }

  .c-twitter-user--follow {
    margin-top: 45px !important;
  }
}

.field__item.clearfix {
  margin-bottom: 0;
}

.timeline-InformationCircle {
  right: 20px !important;
  top: 50% !important;
}

.TweetAuthor-name,
.TweetAuthor-screenName,
.timeline-Tweet-timestamp,
.timeline-Tweet-metadata {
  font-family: $font-sans !important;
}

.timeline-Header,
.timeline-Footer {
  display: none !important;
}

.timeline-Body {
  position: relative !important;
  overflow: hidden !important;
  padding: 15px 20px 20px !important;
  background-color: $grey06 !important;
  border: 0 !important;

  img {
    display: inline;
  }
}

.timeline-TweetList-tweet {
  border: 0 !important;
}

.timeline-Tweet {
  overflow: hidden !important;
  padding: 20px 0 20px !important;
  border-top: 1px solid $grey05 !important;

  .timeline-Tweet-text {
    font-family: $font-serif !important;
    font-size: 18px !important;
    color: $grey04 !important;
    line-height: 1.625 !important;
    white-space: inherit !important;

    a {
      color: $grey02 !important;
    }
  }

  &:hover {
    background-color: $grey06 !important;
  }
}

@include breakpoint($bp-sm) {
  .timeline-Body {
    padding: 15px 40px 5px !important;
  }

  .timeline-InformationCircle {
    right: 40px !important;
  }

  .timeline-Tweet {
    padding: 40px 0 !important;

    .timeline-Tweet-text {
      font-size: 22px !important;
    }
  }

  .timeline-TweetList-tweet {
    width: 50% !important;

    &:nth-child(odd) {
      float: left !important;
      clear: left !important;

      .timeline-Tweet {
        margin-right: 5% !important;
      }
    }

    &:nth-child(even) {
      float: right !important;

      .timeline-Tweet {
        margin-left: 5% !important;
      }
    }

    &:first-child {
      .timeline-Tweet {
        padding-right: 5% !important;
        margin-right: 0 !important;
      }
    }

    &:nth-child(2) {
      .timeline-Tweet {
        padding-left: 5% !important;
        margin-left: 0 !important;
      }
    }
  }
}

// PATTERNLAB SAMPLE STYLING
.nyesenate-twitter-block {
  margin-bottom: 63px;

  .c-container--title {
    padding: 20px 0 30px;
    letter-spacing: 0.05em;
  }

  .tweets-container {
    padding-top: 15px;

    .u-even,
    .u-odd {
      &:nth-child(-n + 2) {
        border-top: 1px solid $grey05;

        .c-twitter-block {
          border-top: 0;
        }
      }

      .c-twitter-block {
        border-top: 1px solid $grey05;
      }
    }
  }

  .l-tweets {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: $grey06;
  }

  // header area
  .l-twitter-user {
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: $grey06;
    padding: 0;
    column-gap: 15px;
    width: 100% ;
  }

  .c-twitter--logo {
    display: inline-block ;
    vertical-align: bottom ;
    width: 60px;
    height: 60px;

    > img {
      background-color: transparent;
    }
  }

  .c-twitter-user--info {
    display: inline-block;
    margin-top: 15px;

    p {
      font-size: 12px;
      line-height: 1;
    }
  }

  .c-twitter-user--name {
    font-family: $font-sans;
    font-size: 19px;
    color: $grey03;
    margin: 0;
    font-weight: normal;
  }

  .c-twitter-user--link {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-sans-bold;
    a {
      color: $orange01;
      font-family: $font-sans-bold;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .c-twitter-user--follow {
    display: block;
    margin: 45px 0 0 0;
    border: 1px solid $grey05;
    padding: 0 13px;
    background-color: $color-white;
    text-align: center;
    width: 75px;
    line-height: 1.3;
    height: 26px;
    vertical-align: top;

    a {
      color: $orange01;
      font-size: 12px;
      line-height: 1;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  // individual block styling
  .c-twitter-block {
    overflow: hidden;
    padding: 20px 0 20px;

    .c-tweet {
      font-family: $font-serif;
      font-size: 18px;
      color: $grey04;
      margin-bottom: 30px;
      font-weight: normal;

      a {
        color: $grey02;
        font-weight: normal;
      }
    }

    .c-timestamp {
      display: block;
      float: left;
      font-family: $font-sans;
      font-size: 12px;
      color: $grey04;

      em {
        font-style: normal;
      }
    }

    .c-web_intents {
      position: relative;
      display: block;
      float: right;
      margin-top: -6px;

      span {
        display: inline-block;
      }

      a {
        display: block;
        position: relative;
        padding: 0;
        height: 28px;
        width: 35px;
        color: $grey04;

        &::after {
          padding: 0;
          font-size: 28px;
        }

				&[href*="intent/tweet"] {
					@extend .icon-replace__twitter-reply;
				}
				&[href*="intent/retweet"] {
					@extend .icon-replace__twitter-retweet;
				}
				&[href*="intent/favorite"] {
					@extend .icon-replace__twitter-fav;
				}

        &[href*='intent/favorite'],
        &[href*='intent/retweet'],
        &[href*='intent/tweet'] {
          padding: 0 5px;

          &::after {
            top: -6px;
            left: 5px;
          }
        }
      }
    }
  }

  .last .c-twitter-block {
    padding-bottom: 0;
  }

  @include breakpoint($bp-sm) {
    .c-container--title {
      border: 0;
      padding: 0 0 15px 0;
    }

    .l-tweets {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 40px 5px;
    }

    .l-twitter-user > div {
      margin-top: 34px;
      display: inline-block;
      align-items: center;
    }

    .c-twitter-user--follow {
      margin: 0;
    }

    .c-twitter-user--info {
      margin-left: 20px;
      margin-top: 0;
    }

    .c-twitter-block,
    .last .c-twitter-block {
      padding: 40px 0;

      .c-tweet {
        font-size: 22px;
      }
    }

    .u-odd,
    .u-even {
      width: 50%;
    }

    .u-odd {
      float: left;
      clear: left;
      padding-right: 5%;
    }

    .u-even {
      float: right;
      padding-left: 5%;
    }
  }
}
