@import '../../global/utils/init';

// TWITTER WIDGET STYLING OVERRIDE
.timeline-Widget {
  margin: 0 auto;
}

.timeline-InformationCircle {
  right: 20px !important;
  top: 50% !important;
}

.TweetAuthor-name,
.TweetAuthor-screenName,
.timeline-Tweet-timestamp,
.timeline-Tweet-metadata {
  font-family: $font-sans !important;
}

.timeline-Header,
.timeline-Footer {
  display: none !important;
}

.timeline-Body {
  position: relative !important;
  overflow: hidden !important;
  padding: 15px 20px 20px !important;
  background-color: $grey06 !important;
  border: 0 !important;

  img {
    display: inline;
  }
}

.timeline-TweetList-tweet {
  border: 0 !important;
}

.timeline-Tweet {
  overflow: hidden !important;
  padding: 20px 0 20px !important;
  border-top: 1px solid $grey05 !important;

  .timeline-Tweet-text {
    font-family: $font-serif !important;
    font-size: 18px !important;
    color: $grey04 !important;
    line-height: 1.625 !important;
    white-space: inherit !important;

    a {
      color: $grey02 !important;
    }
  }

  &:hover {
    background-color: $grey06 !important;
  }
}

@include breakpoint($bp-sm) {
  .timeline-Body {
    padding: 15px 40px 5px !important;
  }

  .timeline-InformationCircle {
    right: 40px !important;
  }

  .timeline-Tweet {
    padding: 40px 0 !important;

    .timeline-Tweet-text {
      font-size: 22px !important;
    }
  }

  .timeline-TweetList-tweet {
    width: 50% !important;

    &:nth-child(odd) {
      float: left !important;
      clear: left !important;

      .timeline-Tweet {
        margin-right: 5% !important;
      }
    }

    &:nth-child(even) {
      float: right !important;

      .timeline-Tweet {
        margin-left: 5% !important;
      }
    }

    &:first-child {
      .timeline-Tweet {
        padding-right: 5% !important;
        margin-right: 0 !important;
      }
    }

    &:nth-child(2) {
      .timeline-Tweet {
        padding-left: 5% !important;
        margin-left: 0 !important;
      }
    }
  }
}

// PATTERNLAB SAMPLE STYLING
.nyesenate-twitter-block {
  margin-bottom: 40px;

  .c-container--title {
    padding: 20px 0 30px;
    letter-spacing: 0.05em;
  }

  .tweets-container {
    padding-top: 15px;

    .u-even,
    .u-odd {
      &:nth-child(-n + 2) {
        border-top: 1px solid $grey05;

        .c-twitter-block {
          border-top: 0;
        }
      }

      .c-twitter-block {
        border-top: 1px solid $grey05;
      }
    }
  }

  .l-tweets {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: $grey06;
  }

  // header area
  .l-twitter-user {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: $grey06;
    padding: 35px 40px 0;
    column-gap: 15px;
  }

  .c-twitter--logo {
    display: block;
    width: 60px;
    height: 60px;

    > img {
      background-color: transparent;
    }
  }

  .c-twitter-user--info {
    display: block;
    margin-top: 15px;

    p {
      font-size: 12px;
      line-height: 1;
    }
  }

  .c-twitter-user--name {
    font-family: $font-sans;
    font-size: 19px;
    color: $grey03;
    margin: 0;
  }

  .c-twitter-user--link {
    margin: 0;

    a {
      color: $orange01;
      font-family: $font-sans-bold;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .c-twitter-user--follow {
    display: block;
    margin: 20px 0 0 0;
    border: 1px solid $grey05;
    padding: 10px 15px;
    background-color: $color-white;
    text-align: center;

    a {
      color: $orange01;
      font-size: 12px;
      line-height: 1;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  // individual block styling
  .c-twitter-block {
    overflow: hidden;
    padding: 20px 0 20px;

    .c-tweet {
      font-family: $font-serif;
      font-size: 18px;
      color: $grey04;
      margin-bottom: 30px;

      a {
        color: $grey02;
      }
    }

    .c-timestamp {
      display: block;
      float: left;
      font-family: $font-sans;
      font-size: 12px;
      color: $grey04;

      em {
        font-style: normal;
      }
    }

    .c-web_intents {
      position: relative;
      display: block;
      float: right;
      margin-top: -6px;

      span {
        display: inline-block;
      }

      a {
        display: block;
        position: relative;
        padding: 0;
        height: 28px;
        width: 35px;
        color: $grey04;

        &::after {
          padding: 0;
          font-size: 28px;
        }

				&[href*="intent/tweet"] {
					@extend .icon-replace__twitter-reply;
				}
				&[href*="intent/retweet"] {
					@extend .icon-replace__twitter-retweet;
				}
				&[href*="intent/favorite"] {
					@extend .icon-replace__twitter-fav;
				}

        &[href*='intent/favorite'],
        &[href*='intent/retweet'],
        &[href*='intent/tweet'] {
          padding: 0 5px;

          &::after {
            top: -6px;
            left: 5px;
          }
        }
      }
    }
  }

  .last .c-twitter-block {
    padding-bottom: 0;
  }

  @include breakpoint($bp-sm) {
    .c-container--title {
      border: 0;
      padding: 0 0 15px 0;
    }

    .l-tweets {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 40px 5px;
    }

    .l-twitter-user > div {
      display: flex;
      align-items: center;
    }

    .c-twitter-user--follow {
      margin: 0;
    }

    .c-twitter-user--info {
      margin-left: 20px;
      margin-top: 0;
    }

    .c-twitter-block,
    .last .c-twitter-block {
      padding: 40px 0;

      .c-tweet {
        font-size: 22px;
      }
    }

    .u-odd,
    .u-even {
      width: 50%;
    }

    .u-odd {
      float: left;
      clear: left;
      padding-right: 5%;
    }

    .u-even {
      float: right;
      padding-left: 5%;
    }
  }
}
