@import '../../global/utils/init';

.c-actionbar,
.c-senate-status {
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 60px 0 18px;
  background-color: $gen_blue_lgt;
  max-width: unset;
  transition: margin 0.25s ease;

  // used when actionbar only contains
  // a simple message - usually not logged-in
  .c-actionbar--cta {
    margin: 0;
    color: #fff;
    font-size: 18px;
    max-width: 320px;
  }

  .c-actionbar--info {
    display: none;
  }

  .nys-senator {
    margin-bottom: 0;
  }

  .c-block--btn {
    @include font-stack-secondary;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    height: 100%;
    width: 100%;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 18px;
      line-height: 60px;
      color: #fff;
      text-decoration: none;
      background-color: $gen_blue_med;

      &::before {
        line-height: 60px;
        font-size: 32px;
        margin-right: 18px;
      }
    }

    &::before,
    &::after {
      line-height: 60px;
      font-size: 32px;
      margin-right: 18px;
    }
  }
}
