{{ attach_library('nysenate_theme/nysenate-actionbar') }}
{% import '@nysenate_theme/icons/_icons-macro.twig' as icons %}

<div class="container c-actionbar hidden">
  <div class="c-actionbar--info">
    <p class="c-actionbar--cta">Find your Senator and share your views on important issues.</p>
  </div>
  <span class="c-block--btn">
    <a class="icon-before__find-senator" href="/registration/nojs/form/start/find-my-senator">find your senator</a>
  </span>
  <!-- <a href="/user/login?destination=" class="c-block-btn ctools-use-modal ctools-use-modal-processed" title="Start">find your senator</a> -->
</div>
