@import '../../global/utils/init';

.c-actionbar {
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 60px 0 18px;
  background-color: $gen_blue_lgt;
  @extend .lgt-bg;
  max-width: unset;
  transition: margin 0.25s ease;

  @include breakpoint($bp-sm) {
    max-width: none;
    padding: 0;
  }

  @include breakpoint($bp-md) {
    padding: 0 9%;
    max-width: 1500px;
    margin: 0 auto;
  }

  // used when actionbar only contains
  // a simple message - usually not logged-in
  .actionbar--cta {
    margin: 0;
    color: $color-white;
    font-size: 18px;
    max-width: 320px;
    line-height: 1.3em;

    @include breakpoint($bp-lg) {
      max-width: 400px;
      font-size: 18px;
      line-height: 1.75em;
    }
  }

  .c-actionbar--info {
    display: none;

    @include breakpoint($bp-sm) {
      width: 400px;
    }
  }

  .content-logged {
    display: flex;
    vertical-align: middle;
    height: 100%;
    align-items: center;

    .actionbar--cta {
      font-size: 14px;

      @include breakpoint($bp-sm) {
        font-size: 18px;
      }
    }
  }

  .nys-senator {
    margin-bottom: 0;
  }

  .c-block--btn {

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 18px;
      line-height: 60px;
      color: $color-white;
      text-decoration: none;
      background-color: $gen_blue_med;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      @extend .med-bg;
      &:hover {
        color: #fff!important;
      }
      @include breakpoint($bp-sm) {
        position: absolute;
        left: auto;
        right: 0;
        top: -20px;
        width: auto;
        height: 100px !important;
        text-align: center;
      }

      &::before {
        line-height: 60px;
        font-size: 32px;
        margin-right: 18px;
      }

      label, span {
        display: inline;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        text-decoration-style: solid;
      }

      .logged-text {
        display: none;

        @include breakpoint($bp-sm) {
          display: inline;
        }
      }
    }

    &::before,
    &::after {
      line-height: 60px;
      font-size: 32px;
      margin-right: 18px;
    }
  }

  .logged {
    width: 65px;
    left: calc(100% - 65px);

    @include breakpoint($bp-sm) {
      width: inherit !important;
      left: inherit;
    }

    a::after {
      content: '';
      background-color: red;
      content: none;
    }
  }
}

@include breakpoint($bp-md) {
  .c-actionbar {
    &::before {
      height: 100%;
    }

    .c-actionbar--info .actionbar--cta,
    .actionbar--cta {
      font-size: 18px;
      width: 100%;
      max-width: 380px;
    }
  }
  .c-actionbar.c-actionbar--committee {
    .c-actionbar--info .actionbar--cta,
    .actionbar--cta {
      font-size: 18px;
      width: 100%;
      max-width: 465px;
    }
  }
}

.page--committees {

    @include breakpoint($bp-sm) {
      .c-actionbar {
        .c-actionbar--info {
          width: 465px;
        }
      }
    }
    @include breakpoint($bp-md) {
      .c-actionbar--info .actionbar--cta,
      .actionbar--cta {
        max-width: 465px;
      }
    }
}

h2.actionbar--cta {
  font-family: "Adelle Light", serif;;
  font-weight: 400;
}
