.block-find-and-follow {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.block-find-and-follow h2 {
  font-family: "Adelle Regular", serif;
  color: #444444;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.block-find-and-follow ul {
  margin: 0;
  padding: 0;
}

.block-find-and-follow .find-and-follow-button-wrapper {
  list-style: none;
  margin: 0;
  float: left;
  width: 33.33%;
}

.block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button {
  display: inline-block;
  width: 90%;
  height: 145px;
  max-width: 300px;
  margin: 0 10% 30px 0;
  padding-top: 40px;
  background-color: #f1af58;
  border: 2px solid #f1af58;
  text-align: center;
  color: #222222;
}

.block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button:hover {
  border: 2px solid #222222;
}

.block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button i {
  font-size: 32px;
}

.block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button span {
  font-size: 22px;
  line-height: 22px;
  font-family: "Adelle Regular", serif;
}

@media screen and (max-width: 1023px) {
  .block-find-and-follow h2 {
    font-size: 22px;
  }

  .block-find-and-follow .find-and-follow-button-wrapper {
    width: 50%;
  }

  .block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button {
    height: 98px;
    margin: 0 10% 20px 0;
    padding-top: 20px;
  }

  .block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button i {
    font-size: 26px;
  }

  .block-find-and-follow .find-and-follow-button-wrapper .find-and-follow-button span {
    font-size: 16px;
    line-height: 16px;
  }
}
