.views-exposed-form__item.form-item--accept-null {
  display: none;
}

.form-item-senator {
  max-width: 300px;
}

.gin--high-contrast-mode {
  background: #eeeeee;
}

.gin--high-contrast-mode.front-end {
  background: #fff!important;
}

.toolbar .toolbar-menu {
  background: #fff;
}

.gin--horizontal-toolbar #toolbar-item-administration-tray {
  border-top: 6px solid rgb(0, 41, 79);
}

/*TOOLBAR OVERRIDES */
.gin--horizontal-toolbar .region-sticky,
.region.region-sticky.region-sticky--is-sticky{
  opacity: .888;
  /*background: rgba(248, 250, 254, .8)!important;*/
  background: rgba(43, 106, 144, .4);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.toolbar-horizontal .toolbar-tray .menu-item--expanded.menu-item--expanded {
  background-color: #eeeeee;
}

.gin--high-contrast-mode .gin-secondary-toolbar--frontend{
  opacity: .988;
  background: rgba(43, 106, 144, .4)!important;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.toolbar-horizontal .toolbar-tray .menu-item,
.toolbar-horizontal .toolbar-tray .menu-item--expanded.menu-item--expanded,
.gin--horizontal-toolbar #toolbar-item-administration-tray,
.gin--horizontal-toolbar #toolbar-administration .toolbar-menu-administration > .toolbar-menu{
  background-color: #fff;
}

.toolbar-horizontal.front-end .toolbar-tray .menu-item,
.toolbar-horizontal.front-end .toolbar-tray .menu-item--expanded.menu-item--expanded,
.gin--horizontal-toolbar.front-end  #toolbar-item-administration-tray,
.gin--horizontal-toolbar.front-end #toolbar-administration .toolbar-menu-administration > .toolbar-menu{
  background-color: #eee!important;
}


.gin-breadcrumb__link.gin-back-to-admin {
  display: none;
}

.toolbar-icon-views-viewviews-my-senator-termlist-page-1::before {
  mask-image: url(/themes/custom/nysenate_theme/dist/images/check.svg)!important;
  -webkit-mask-image: url(/themes/custom/nysenate_theme/dist/images/check.svg)!important;
}
