@import '../../global/utils/init';

.paragraph--type--text {
  
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: $color-text-black;

    @include breakpoint($bp-sm) {
      font-size: 1.2rem;
      max-width: 470px;
      margin-right: 1.5rem;
    }

    @include breakpoint($bp-lg) {
      max-width: 585px;
      font-size: 1.5rem;
    }
  }
}
