@import '../../global/utils/init';

.text-layout {

  p, ul, li {
    color: $grey03;
    font-size: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  blockquote {

    p {
      font-family: $font-serif-semibold;
      font-size: 18px;

      @include breakpoint($bp-md) {
        font-size: 28px;
        line-height: 1.3em;
      }
    }
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .c-container--link {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: right;
  }

  &--2-col .text-layout__body {

    @include breakpoint($bp-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 52px;
    }
  }

  &--with-bg {
    background: $grey06;

    .text-layout__container {
      padding: 0 20px;
      padding-top: 40px;

      @include breakpoint($bp-sm) {
        padding: 0 40px;
        padding-top: 60px;
      }
    }
  }

  &--full-bleed {
    max-width: unset;
  }

  &__title {
    margin: 0 0 15px;
    text-transform: capitalize;
    font-family: $font-serif-regular;
    font-size: 18px;
    line-height: 1;

    @include breakpoint($bp-sm) {
      margin: 0 0 30px;
      font-size: 26px;
    }
  }

  &__container {
    max-width: 440px;
    margin: 0 auto;

    @include breakpoint($bp-sm) {
      max-width: 840px;
    }
  }

  &__body {
    h2, h3, h4 {
      font-family: $font-serif-bold;
      font-weight: $font-weight-normal;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 18px;
    }

    a.c-container--link {
      text-align: left;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Hide block title when senator is disabled.
.field--type-entity-reference-revisions {
  .field__item:nth-child(2) {
    .text-layout__container {
      .text-layout__title {
        display: none;
      }
    }
  }
}

// Styles for text title format options
.text-layout__title.h2, .text-layout__title.h3, .text-layout__title.h4 {
  font-family: $font-serif-bold;
  font-weight: $font-weight-normal;
}

.text-layout__title.h2 {
  font-size: 32px;
}

.text-layout__title.h3 {
  font-size: 22px;
}

.text-layout__title.h4 {
  font-size: 18px;
}

.text-layout__title.container{
  @include font-stack-secondary;
  border-bottom: 1px solid $grey05;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $grey08;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-top: -12px;
  text-align: left;

  .field--name-field-landing-blocks .field__item {
    margin-bottom: 0 !important;
  }
}

.text-layout.contact-us {
  .text-layout__body {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
  }

  h3 {
    font-family: $font-sans-bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-family: $font-sans;
    font-size: 16px;
    line-height: 25px;
    color: $grey08;
  }
}

.page--citizen_guide .text-layout__body h3 {
  font-family: $font-sans-bold;
  color: $grey08;
  margin: 24px 0 0;
}
