@import '../../global/utils/init';

.text-layout {
  max-width: 440px;
  margin: 0 auto;

  p {
    color: $grey03;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  @include breakpoint($bp-sm) {
    max-width: 840px;
  }

  .text-layout__body {
    font-size: 20px;
  }

  &--2-col .text-layout__body {

    @include breakpoint($bp-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10%;
    }
  }

  &--with-bg {
    background: $grey06;
  }

  &--full-bleed {
    max-width: unset;
  }

  &__title {
    margin: 0 0 15px;
    text-transform: capitalize;
    font-family: $font-serif-regular;
    font-size: 18px;
    line-height: 1;

    @include breakpoint($bp-sm) {
      margin: 0 0 30px;
      font-size: 26px;
    }
  }

  &__container {
    padding: 0 20px;
    padding-top: 40px;
    max-width: 440px;
    margin: 0 auto;
  
    @include breakpoint($bp-sm) {
      padding: 0 40px;
      padding-top: 60px;
      max-width: 840px;
    }
  }

  .c-container--link {
    display: block;
    margin-bottom: 20px;
    text-align: right;
  }
}
