@import "../../global/utils/init";

.c-senators-committees-header{
	overflow: hidden;
	position: relative;
	padding-bottom: 60px;

	p {
		margin-bottom: 20px;
	}

	.c-container--link {
		top: auto;
		bottom: 0;
		width: 50%;
		padding-right: 20px;
		text-align: right;
		@extend .icon-after__down-arrow;

		&::after {
			position: absolute;
			bottom: 3px;
			right: 0;
		}
	}
}
.views-exposed-form .views-exposed-widget {
	padding: 0;
}

@media #{$tablet} {
	.c-senators-committees-header {
		padding-bottom: 40px;

		p {
			margin-bottom: 40px;
			line-height: 32px;
		}

		.c-container--link {
			width: auto;
			text-align: left;
			padding-right: 0;

			&::after {
				position: relative;
				bottom: auto;
				font-size: 17px;
				line-height: 17px;
			}
		}
	}
}

/*-------------------------------------------------------
/
/ 	SENATE DIRECTORIES
/	right below the senator list
/
/-------------------------------------------------------*/

.c-senators-container {
	overflow: hidden;

	.view-filters {
		margin: 0;
	}
}

.c-senator-block {
	display: flex;
	//align-items: center;
	background-color: $greyLight;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
	min-height: 80px;
	transition: background-color 0.2s ease;

	.nys-senator--thumb {
		border-radius: 0;
		height: 80px;
		width: 80px;
		margin: 0 15px 0 0;
		overflow: hidden;
	}

	.nys-senator--position {
		text-transform: uppercase;
		font-family: $font-sans;
		font-size: 10px;
		line-height: 18px;
	}

	.nys-senator--name {
		font-size: 14px;
		margin: 0 0 10px;
	}

	.nys-senator--district {
		color: $grey08;
		font-size: 10px;
		letter-spacing: 0.6px;
		text-transform: uppercase;
	}

	.nys-senator--party {
		color: $grey08;
		margin-right: 0.5em;
		text-transform: uppercase;
		font-family: $font-sans-bold;
		letter-spacing: 0.6px;
	}

	.c-position {
		margin: 15px 0 0 15px;
		font-family: $font-sans;
		text-transform: uppercase;
		color: $color-white;
		font-size: 11px;
		line-height: 1.3em;
	}

	.c-name {
		font-family: $font-serif;
		font-size: 17px;
		line-height: 120%;
		color: $grey02;
		margin: 20px 0 0 100px;

		a {
			color: $grey02;
		}
	}

	.c-party-conf {
		margin: 15px 0 0 15px;
		font-family: $font-sans;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.3em;
	}

	.c-district {
		text-transform: uppercase;
		display: block;
		font-size: 11px;
		margin: 10px 0 0 100px;

		a {
			color: $grey05;
		}
	}

	&:hover {
		@extend .drk-bg;

		.nys-senator--name,
		.nys-senator--district,
		.nys-senator--party {
			color: $color-white;
		}
	}

	// co-chair variation
	&.co-chair {
		@extend .lgt-bg;

		.nys-senator--position,
		.nys-senator--name,
		.nys-senator--party,
		.nys-senator--district {
			color: $color-white;
		}

		.nys-senator--name {
			margin-bottom: 5px;
		}
	}
}

@include breakpoint($bp-sm) {
	.c-senators-container {
    margin: 0 -2.5%;
    //max-width: 760px;

		.view-filters {
			margin: 0;
		}
	}

	.c-senator-block {
		flex-direction: column;
		float: left;
		width: 20%;
		margin: 0 2.5% 40px 2.5%;
		height: 300px;

		.nys-senator--thumb {
			width: 160px;
			height: 160px;
		}

		.nys-senator--info {
			padding: 30px 20px 0;
		}

		.nys-senator--name {
			font-size: 16px;
			line-height: 20px;
		}

		.nys-senator--district {
			font-size: 12px;
			line-height: 1.2em;
		}

		.nys-senator--party {
			display: block;
			//margin-bottom: 0.4em;
		}

		.c-name {
			margin: 20px 15px 20px 15px;
		}

		.c-district {
			margin: 0 15px 20px 15px;
		}

		&.c-senator-block--committee {

			.nys-senator--info {
				padding: 15px 20px 0;
			}

			.nys-senator--name {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}
