.toolbar-icon-admin-toolbar-tools-help{
  text-indent:-9999px;
}

.toolbar-icon-thunder .toolbar-icon-admin-toolbar-tools-help:before,
.toolbar-icon-thunder .toolbar-icon-admin-toolbar-tools-help :active:before,
.toolbar-icon-thunder .toolbar-icon-admin-toolbar-tools-help .active:before{
  width:24px;
  background-image:url(../../images/thunder-shortlogo-white.svg);
}
