.block-facets{
  display:inline-block;
}

.block-facets .form-item:first-of-type{
  padding-right:0.5em;
}

.block-facets select.select2-widget{
  height:35px;
  min-width:10em;
  vertical-align:bottom;
}

.block-facets .select2-container{
  min-width:10em;
}

@media screen and (max-width: 600px){
  .block-facets{
    width:100%;
  }
}
.block-views-exposed-filter-blockcontent-search-api-page-1{
  display:inline-block;
  padding-right:0.5em;
  vertical-align:bottom;
}

.block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-item,
.block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-actions{
  display:inline-block;
  float:none;
  clear:none;
}

.block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-actions{
  margin-top:0.75em;
  margin-bottom:0.75em;
}

.block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-actions input{
  min-height:35px;
}

@media screen and (max-width: 600px){
  .block-views-exposed-filter-blockcontent-search-api-page-1{
    width:100%;
  }
  .block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-item,
  .block-views-exposed-filter-blockcontent-search-api-page-1 .form--inline .form-actions{
    display:block;
    margin-right:0;
  }
}
