.breadcrumb{
  line-height:1em;
  padding:0.6em 0 1em;
}

.breadcrumb li{
  color:#bfbfbf;
}

.breadcrumb li:before{
  margin-right:0.316em;
}

.breadcrumb a{
  color:inherit;
  font-size:10px;
  line-height:12px;
  position:relative;
  z-index:1;
}
