{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('nysenate_theme/session') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

{% for row in rows %}
  <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
    {{ row.content }}
  </div>
{% endfor %}

{% if rows|length > 5 %}
  <div class="pager pager-load-more">
    <span class="pager-next first last">
      <a class="load-more">Load More</a>
    </span>
  </div>
{% endif %}
