<div class="dashboard">
  <div>
    {% include '@nysenate_theme/button/button.twig' with {
      button: button
    } %}
  </div>
  {% include "@nysenate_theme/sidebar/sidebar.twig" with sidebar only %}
</div>
