@import '../../global/utils/init';

footer {
  width: 100%;
  background-color: #eee;
  color: #565656;

  .l-row {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    padding: 35px 40px 30px;
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 100%;

    @include breakpoint($bp-md) {
      flex-direction: row;
    }
  }
}

.c-senator-footer-col {
  border-bottom: 2px solid #E4E4E6;

  @include breakpoint($bp-md) {
    border-bottom: 0;
    border-right: 2px solid #E4E4E6;
  }

  &:last-child {
    border: 0;
  }
}

/* BOTTOM LINKS */
.c-site-footer {
  padding: 0 40px;
  background-color: #EAEAEC;

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    display: inline-block;
    text-align: center;
    line-height: 75px;
    list-style: none;
    margin: 0 8px;
  }

  a {
    font-size: 11px;
    text-decoration: none;
    color: #565656;
  }
}

/* LOGO */
.c-senator-footer-col__home {
  width: auto;
  padding-bottom: 25px;

  @include breakpoint($bp-md) {
    width: 31%;
    padding-right: 35px;
    padding-bottom: 0;
  }

  a {
    text-transform: uppercase;
    color: #565656;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  img {
    display: inline-block;
    float: none;
    width: 100px;
    height: 100px;
    margin-top: 20px;

    @include breakpoint($bp-md) {
      width: 112px;
      height: 112px;
    }
  }
}

/* LINKS */
.c-senator-footer-col__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;

  @include breakpoint($bp-md) {
    padding: 0 35px;
  }

  ul {
    list-style: none;
    text-align: center;

    @include breakpoint($bp-md) {
      text-align: left;
    }
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: #565656;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* SOCIALS */
.c-senator-footer-col__social {
  padding-top: 25px;

  @include breakpoint($bp-md) {
    padding-top: 0;
    padding-left: 35px;
  }

  p {
    margin: 0 0 20px;
    text-align: center;

    @include breakpoint($bp-md) {
      text-align: left;
    }
  }
  
  ul {
    list-style: none;
    display: flex;
    padding: 0 35px;
    justify-content: center;

    @include breakpoint($bp-md) {
      padding: 0 15px;
      justify-content: space-between;
    }
  }

  li {
    margin-right: 40px;

    @include breakpoint($bp-md) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  svg path {
    fill: #2B6A91;
  }
}
