
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<footer class="l-footer" role="contentinfo">
	<div id="footer-first">
		<div class="panel-pane pane-block pane-nys-blocks-sitewide-footer">


			<div class="pane-content">
				<section class="c-senator-footer">
					<div class="l-row">
						<div class="c-senator-footer-col c-senator-footer-col__home">
							<a title="nysenate.gov" href="/">
								<span class="lgt-text icon-before__left">NYsenate.gov</span>
								<img src="https://www.nysenate.gov/sites/all/themes/nysenate/images/nys_logo224x224.png" alt="New York State Senate Seal" class="c-seal c-seal-footer">
							</a>
						</div>

						<div class="c-senator-footer-col c-senator-footer-col__nav">
							<nav>
								<ul>
									<li><a class="lgt-text" href="/news-and-issues">news &amp; issues</a></li>
									<li><a class="lgt-text" href="/senators-committees">senators &amp; committees</a></li>
									<li><a class="lgt-text" href="/legislation">bills &amp; laws</a></li>
									<li><a class="lgt-text" href="/2020-new-york-state-budget">budget</a></li>
									<li><a class="lgt-text" href="/events">events</a></li>
									<li><a class="lgt-text" href="/about">about the senate</a></li>
								</ul>
							</nav>
						</div>

						<div class="c-senator-footer-col c-senator-footer-col__social">
							<p class="c-senator-footer-caption">Follow the New York Senate</p>
							<ul>
								<li>
									<a href="https://www.facebook.com/NYsenate" class="lgt-text icon-replace__facebook GoogleAnalyticsET-processed" target="_blank">{{ icons.get('facebook') }}</a>
								</li>
								<li>
									<a href="https://twitter.com/nysenate" class="lgt-text icon-replace__twitter GoogleAnalyticsET-processed" target="_blank">{{ icons.get('twitter') }}</a>
								</li>
								<li>
									<a href="https://www.youtube.com/user/NYSenate" class="lgt-text icon-replace__youtube GoogleAnalyticsET-processed" target="_blank">{{ icons.get('youtube-2') }}</a>
								</li>
								<!-- <li><a href="#" class="lgt-text icon-replace__instagram">instagram</a></li> -->
							</ul>
						</div>

					</div>
				</section>
			</div>


		</div>
		<div class="panel-separator"></div>
		<div class="panel-pane pane-block pane-menu-menu-global-footer c-site-footer">


			<div class="pane-content">
				<ul class="menu">
					<li class="first leaf">
						<a href="/policies-and-waivers" title="">Accessibility Statement</a>
					</li>
					<li class="leaf">
						<a href="/contact" title="">Contact the Senate</a>
					</li>
					<li class="leaf">
						<a href="//creativecommons.org/licenses/by-nc-nd/3.0/us/" title="">Creative Commons</a>
					</li>
					<li class="leaf">
						<a href="/nysenategov-source-code" title="">Developers</a>
					</li>
					<li class="leaf">
						<a href="/home-rule-form" title="">Home Rule Form</a>
					</li>
					<li class="leaf">
						<a href="/policies-and-waivers" title="">Policies &amp; Waivers</a>
					</li>
					<li class="leaf">
						<a href="/policies-and-waivers" title="">Privacy Policy</a>
					</li>
					<li class="last leaf">
						<a href="/policies-and-waivers" title="">Terms of Participation</a>
					</li>
				</ul>
			</div>


		</div>
	</div>
</footer>
