@import '../../global/utils/init';

footer {
  width: 100%;
  background-color: $grey06;
  color: $gen_blue_drk;

  .c-senator-footer {
    display: flex;
    padding: 0 20px 32px 20px;

    @include breakpoint($bp-sm) {
      padding: 60px 40px 60px;
    }

    a {
      font-size: 14px;
      letter-spacing: 0.1em;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      @include breakpoint($bp-sm) {
        font-size: 14px;
        &:hover {
          text-decoration: underline;
          color: $grey08;
        }
      }
    }
  }

  .l-row {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;

    @include breakpoint($bp-sm) {
      display: flex;
      //justify-content: center;
      max-width: 840px;
    }
  }

  .menu {
    margin-left: unset;
  }
}

.c-senator-footer-col {
  //float: left;

  @include breakpoint($bp-sm) {
    border-bottom: 0;
    border-right: 2px solid #e1e1e3;
  }

  &:last-child {
    border: 0;
  }
}

/* BOTTOM LINKS */
/*.c-site-footer {
  overflow: hidden;
  min-height: 75px;
  padding: 0px 20px 25px;
  background-color: #EAEAEC;
  float: left;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($bp-sm) {
    padding: 0 9%;
  }

  ul.menu {
    max-width: 440px;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @include breakpoint($bp-sm) {
      max-width: 840px;
    }

    @include breakpoint($bp-lg) {
      max-width: unset;
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    margin-top: 15px;
    width: 50%;
    float: left;

    @include breakpoint($bp-sm) {
      display: inline-block;
      text-align: center;
      width: 25%;
      margin: 15px 0 0 0;
      line-height: 75px;
    }

    @include breakpoint($bp-md) {
      width: 20%;
      margin: 0;
    }
  }

  a {
    font-size: 14px;
    text-decoration: none;
    color: $gen_blue_drk;;
    line-height: 1em;

    @include breakpoint($bp-sm) {
      line-height: 1.2em;
    }
  }
}*/

/* LOGO */
.c-senator-footer-col__home {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e3;
  margin: 10px 0 20px;
  height: 170px;

  #block-sitebranding {
    margin-top: 24px;
  }

  @include breakpoint($bp-sm) {
    width: 31%;
    padding-right: 35px;
    padding-bottom: 0;
    border-bottom: 0;
    margin: 0;
    height: inherit;
    #block-sitebranding {
      margin-top: 0;
    }
  }

  @include breakpoint($bp-md) {
    width: 31%;
    padding-right: 35px;
  }

  a {
    text-transform: uppercase;
    color: $gen_blue_drk;
    text-decoration: none;
    font-size: 14px;
    line-height: 11px;
    width: 100%;
    margin-top: 25px;
    letter-spacing: 0.1em;

    span {
      color: $gen_blue_drk;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    @include breakpoint($bp-sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      float: none;
      margin-top: 0;
      line-height: 18px;
      text-align: center;

      > span {
        display: block;
        padding: 0;
      }
    }
  }

  img {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-top: -15px;
    margin-right: 20px;

    @include breakpoint($bp-sm) {
      float: none;
      margin-top: 25px;
      width: 100px;
      height: 100px;
      margin-right: 0;
    }

    @include breakpoint($bp-md) {
      width: 112px;
      height: 112px;
    }

    &.c-seal-footer {
      width: 42px;
      height: 42px;
      float: left;
      margin-top: -5px;
      background: none;

      @include breakpoint($bp-sm) {
        display: inline-block;
        float: none;
        width: 100px;
        height: 100px;
        margin-top: 25px;
      }

      @include breakpoint($bp-md) {
        float: none;
        width: 112px;
        height: 112px;
      }
    }
  }
}

/* LINKS */
.c-senator-footer-col__nav {
  //width: 70%;
  //border-right: 2px solid #e1e1e3;
  //min-height: 150px;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #e1e1e3;
  margin-bottom: 20px;
  &.right ul.menu {
    padding: 0 0 20px 0;
    border-bottom: 2px solid #e1e1e3;
    margin-bottom: 0;
  }

  @include breakpoint($bp-sm) {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    float: none;
    width: 37%;
    border-right: 2px solid #e1e1e3;
    border-bottom: none;
    margin-bottom: 0;
    &.right ul.menu {
      padding: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
  }

  li {
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 25px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: $gen_blue_drk;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    @include breakpoint($bp-sm) {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1.2px;
    }
  }
  ul.menu a.is-active {
    color: $gen_blue_drk;
  }
}

.senator-inactive {
  .c-senator-footer-col__nav {
    .c-nav--list {
      li {
        display: inline-block;
        width: auto;
        padding-right: 0;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }

        a {
          display: none;

          &.visible {
            display: block;
          }
        }
      }
    }
  }
}

/* SOCIALS */
.c-senator-footer-col__social {
  width: 100%;
  padding-top: 20px;
  border-top: 2px solid #e1e1e3;
  margin-top: 30px;

  @include breakpoint($bp-sm) {
    padding-top: 34px;
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-top: none;
  }

  @include breakpoint($bp-md) {
    width: 100%;
  }

  p {
    @include font-stack-secondary;
    //display: none;
    margin: 0;
    color: $grey10;
    font-size: 12px;
    line-height: 14.62px;

    @include breakpoint($bp-sm) {
      font-size: 12px;
      display: block;
      margin: 0 0 1em;
    }
  }

  ul.menu-socials {
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    gap: 15px;
    margin: 0;

    @include breakpoint($bp-sm) {
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
  }

  li {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    @include breakpoint($bp-sm) {
      width: 40px;
    }
  }

  svg path {
    fill: $gen_blue_drk;
  }

  a {
    display: flex;
  }
}

//Microsite footers
.trad_red {
  .c-senator-footer-col__social {
      svg path {
        fill: $trad_red_med;
      }
    }
  .c-senator-footer {
    a, span {
      color: $trad_red_med;
    }
  }
}

.trad_blue {
  .c-senator-footer-col__social {
    svg path {
      fill: $trad_blue_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $trad_blue_med;
    }
  }
}

.cont_blue {
  .c-senator-footer-col__social {
    svg path {
      fill: $cont_blue_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $cont_blue_med;
    }
  }
}

.purple {
  .c-senator-footer-col__social {
    svg path {
      fill: $purple_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $purple_med;
    }
  }
}

.cont_red {
  .c-senator-footer-col__social {
    svg path {
      fill: $cont_red_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $cont_red_med;
    }
  }
}

.orange {
  .c-senator-footer-col__social {
    svg path {
      fill: $orange_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $orange_med;
    }
  }
}

.trad_green {
  .c-senator-footer-col__social {
    svg path {
      fill: $trad_green_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $trad_green_med;
    }
  }
}

.cont_green {
  .c-senator-footer-col__social {
    svg path {
      fill: $cont_green_med;
    }
  }
  .c-senator-footer {
    a, span {
      color: $cont_green_med;
    }
  }
}
