@import '../../global/utils/init';

footer {
  width: 100%;
  background-color: $grey06;
  color: $grey08;

  .c-senator-footer {
    display: flex;
    padding: 0px 20px 30px 20px;

    @include breakpoint($bp-sm) {
      padding: 35px 40px 30px;
    }

    a {
      font-size: 11px;
      letter-spacing: 0.1em;
      font-family: $font-sans-bold;
      text-transform: uppercase;

      @include breakpoint($bp-sm) {
        font-size: 12px;
      }
    }
  }

  .l-row {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;

    @include breakpoint($bp-sm) {
      display: flex;
      //justify-content: center;
      max-width: 840px;
    }
  }

  .menu {
    margin-left: unset;
  }
}

.c-senator-footer-col {
  //float: left;

  @include breakpoint($bp-sm) {
    border-bottom: 0;
    border-right: 2px solid #e1e1e3;
  }

  &:last-child {
    border: 0;
  }
}

/* BOTTOM LINKS */
.c-site-footer {
  overflow: hidden;
  min-height: 75px;
  padding: 0px 20px 25px;
  background-color: #EAEAEC;
  float: left;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($bp-sm) {
    padding: 0 9%;
  }

  ul.menu {
    max-width: 440px;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @include breakpoint($bp-sm) {
      max-width: 840px;
    }

    @include breakpoint($bp-lg) {
      max-width: unset;
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    margin-top: 15px;
    width: 50%;
    float: left;

    @include breakpoint($bp-sm) {
      display: inline-block;
      text-align: center;
      width: 25%;
      margin: 15px 0 0 0;
      line-height: 75px;
    }

    @include breakpoint($bp-md) {
      width: 20%;
      margin: 0;
    }
  }

  a {
    font-size: 11px;
    text-decoration: none;
    color: $grey08;
    line-height: 1em;

    @include breakpoint($bp-sm) {
      line-height: 1.2em;
    }
  }
}

/* LOGO */
.c-senator-footer-col__home {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e3;
  margin-bottom: 20px;
  height: 65px;

  @include breakpoint($bp-sm) {
    width: 31%;
    padding-right: 35px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
    height: inherit;
  }

  @include breakpoint($bp-md) {
    width: 31%;
    padding-right: 35px;
  }

  a {
    float: left;
    text-transform: uppercase;
    color: $grey08;
    text-decoration: none;
    font-size: 11px;
    line-height: 11px;
    width: 100%;
    margin-top: 25px;
    letter-spacing: 0.1em;

    span {
      color: $grey08;
      padding-left: 20px;

      &:before {
        display: none;
      }
    }

    @include breakpoint($bp-sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      float: none;
      margin-top: 0;
      line-height: 18px;
      text-align: center;

      > span {
        display: block;
        padding: 0;
      }
    }
  }

  img {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-top: -15px;
    margin-right: 20px;

    @include breakpoint($bp-sm) {
      float: none;
      margin-top: 25px;
      width: 100px;
      height: 100px;
      margin-right: 0;
    }

    @include breakpoint($bp-md) {
      width: 112px;
      height: 112px;
    }

    &.c-seal-footer {
      width: 42px;
      height: 42px;
      float: left;
      margin-top: -15px;
      background: none;

      @include breakpoint($bp-sm) {
        display: inline-block;
        float: none;
        width: 100px;
        height: 100px;
        margin-top: 25px;
      }

      @include breakpoint($bp-md) {
        float: none;
        width: 112px;
        height: 112px;
      }
    }
  }
}

/* LINKS */
.c-senator-footer-col__nav {
  //width: 70%;
  //border-right: 2px solid #e1e1e3;
  //min-height: 150px;

  @include breakpoint($bp-sm) {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    float: none;
    width: 37%;
  }

  ul {
    list-style: none;
  }

  li {
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 25px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: $grey08;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;

    @include breakpoint($bp-sm) {
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 1.2px;
    }
  }
}

.senator-inactive {
  .c-senator-footer-col__nav {
    .c-nav--list {
      li {
        display: inline-block;
        width: auto;
        padding-right: 0;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }

        a {
          display: none;

          &.visible {
            display: block;
          }
        }
      }
    }
  }
}

/* SOCIALS */
.c-senator-footer-col__social {
  width: 100%;
  padding-top: 25px;

  @include breakpoint($bp-sm) {
    padding-top: 24px;
    float: none;
    width: 100%;
  }

  @include breakpoint($bp-md) {
    width: 100%;
  }

  p {
    @include font-stack-secondary;
    display: none;
    margin: 0 0 20px;
    color: $grey03;
    font-size: 11px;
    line-height: 1em;

    @include breakpoint($bp-sm) {
      font-size: 12px;
      display: block;
    }
  }

  ul.menu-socials {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 0;

    @include breakpoint($bp-sm) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  li {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    @include breakpoint($bp-sm) {
      width: 40px;
    }
  }

  svg path {
    fill: #2B6A91;
  }

  a {
    display: flex;
  }
}
