@use 'partials' as *;

.c-menu--senator-dashboard {
  a.c-menu__link {
    font-family: var(--nys-ff-sans);

    &:hover {
      text-decoration: underline;
    }
  }

  span.c-menu__link {
    color: #222;
    font-family: var(--nys-ff-sans-bold);
    display: block;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.25;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  span.icon-after svg {
    transition: transform ease-in-out .15s;
  }

  button.c-menu__link[aria-expanded="true"] {
    span.icon-after svg {
      transform: scaleY(-1);
    }
  }

  .c-menu__items[data-menu-depth='0'] {
    > .c-menu__item {
      > a.c-menu__link {
        line-height: 34px;
        position: relative;
      }

      > button.c-menu__link,
      > a.c-menu__link {
        padding: 6px 0;
        font-family: var(--nys-ff-serif-regular);

        @include bp-min(md) {
          &:after {
            background-color: transparent;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            transition: background-color ease-in-out .25s;
            width: 100%;
          }

          &:hover,
          &:focus {
            text-decoration: none;

            &:after {
              background-color: currentColor;
            }
          }
        }
      }
    }

    > .c-menu__item-expanded {
      @include bp-max(md) {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
      }

      @include bp-max(sm) {
        gap: 10px;
      }
    }
  }

  .c-menu__items[data-menu-depth='1'] {
    background-color: var(--nys-color-dash-grey-2);

    &[aria-hidden='true'] {
      display: none;
    }

    @include bp-min(md) {
      border: 1px solid #A6A6A6;
      left: 0;
      margin-top: 8px;
      padding: 24px;
      position: absolute;
      top: 100%;
      z-index: 101;
    }
  }

  .c-menu__items[data-menu-depth='2'] {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr;
  }

  .c-menu--item-overview {
    padding-bottom: 12px;

    .c-menu__link {
      font-family: var(--nys-ff-sans-bold);
    }
  }

  .c-menu__item-mega {
    > .c-menu__items {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;

      .c-menu--item-overview {
        border-bottom: 1px solid #A6A6A6;
      }

      @include bp-min(md) {
        gap: 12px 24px;
        grid-template-columns: repeat(2, 1fr);

        .c-menu--item-overview {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}
