// ------------------------------------
// Base site color properties.
// ------------------------------------

:root {
  // Primary Colors
  --nys-color-primary: #e74c3c;
  --nys-color-white: #fff;
  --nys-color-secondary: #f6510b;
  --nys-color-rio-grande: #c4d600;
  --nys-color-black: #404040;
  --nys-color-black: #404040;
  --nys-color-blue: #003954;
  --nys-color-darker-blue: #004D71;
  --nys-color-req-red: #D0021B;
  --nys-color-admin-blue: #0C5C7F;
  --nys-color-button-blue: #2B6A90;

  // Grayscale
  --nys-color-tundora: #464646;
  --nys-color-silver: #bbb;
  --nys-color-alto: #ddd;
  --nys-color-light-gray: #eee;
  --nys-color-oslo-gray: #888b8d;
  --nys-color-lighter-gray: #f7f7f7;
  --nys-color-gray-lt: #eef2f4;

  // Dashboard
  --nys-color-grey-accessible: #757575;
  --nys-color-dash-grey-1: #A6A6A6;
  --nys-color-dash-grey-2: #F2F2F2;
  --nys-color-dash-grey-3: #E0E0E0;
  --nys-color-dash-red: #C63536;
}
