@use 'partials' as *;

// ------------------------------------
// Base site typography
// ------------------------------------

:root {
  // Font families.
  --nys-ff-serif: 'Adelle Light', serif;
  --nys-ff-serif-regular: 'Adelle Regular', serif;
  --nys-ff-serif-semibold: 'Adelle SemiBold', serif;
  --nys-ff-serif-bold: 'Adelle Bold', serif;
  --nys-ff-sans: 'Proxima Nova Regular', 'Arial', sans-serif;
  --nys-ff-sans-bold: 'Proxima Nova SemiBold', 'Arial', sans-serif;
  --nys-ff-senate-icons: 'senate_icons';

  // Font weights.
  --nys-fw-light: 200;
  --nys-fw-normal: 400;
  --nys-fw-bold: 700;
}

$type-scale: (
  heading: (
    dashboard: (
      sm: (32, 48),
      md: (32, 48),
      lg: (32, 48),
    ),
  ),
);
@include type-scale-custom-props($type-scale);
