.view-filters {
  .form-item,
  .form-actions,
  .form--inline .form-item,
  .form--inline .form-actions {
    margin: 0 20px 32px 0;
    width: auto;
    clear: none;
    float: left;
  }

  .form-item-search {
    position: relative;

    &:after {
      text-indent: 0;
      position: absolute;
      bottom: 8px;
      right: 12px;
      font-family: 'senate_icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
      content: '\6d';
      font-size: 22px;
      color: #2b6a90;
    }
  }

  .form-type-select {
    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 25px;
      color: #2b6990;
      pointer-events: none;
      cursor: pointer;
      content: '\65';
      font-family: 'senate_icons';
      display: inline-block;
      vertical-align: middle;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  label {
    font-family: "Proxima Nova Regular", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='url'],
  input[type='submit'],
  textarea,
  select {
    font-family: "Proxima Nova Regular", "Arial", sans-serif;
    color: #2B6A90;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #A6A6A6;
    display: block;
    height: 52px;
  }

  select {
    margin: 0 !important; // Remove once old theme has been killed.
  }

  input[type='submit'] {
    margin: 33px 0 0 0;
    padding: 12px 20px;
    color: #fff;
    background: #2B6A90;
    border: 1px solid #2B6A90;
    height: auto;
    float: left;

    &:hover {
      background: #fff;
      color: #2B6A90;
      border: 1px solid #2B6A90;
    }

    &[name='reset'] {
      margin-left: 20px;
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
      color: #2B6A90;

      &:hover {
        background: #fff;
        border: 1px solid #2B6A90;
      }
    }
  }
}

.view-header {
  margin-bottom: 32px;

}

.view-content {
  h3 {
    font-size: 16px;
  }

  li {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  details {
    margin-bottom: 32px;
    border: 1px solid #A6A6A6;
  }

  .form-item-select-all {
    position: relative;
    margin: 16px 12px;

    label {
      color: #2B6A90;
      font-weight: 600;
      font-size: 14px;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      margin-left: 20px;
      text-transform: none;

      &:hover {
        text-decoration-line: none;
      }
    }
  }

  .vbo-view-form .form-actions {
    float: right;
    margin-right: 12px;
    position: relative;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2.54883C11 1.99654 10.5523 1.54883 10 1.54883C9.44772 1.54883 9 1.99654 9 2.54883V11.0373L5.70711 7.74442C5.31658 7.35389 4.68342 7.35389 4.29289 7.74442C3.90237 8.13494 3.90237 8.76811 4.29289 9.15863L10 14.8657L15.7071 9.15863C16.0976 8.76811 16.0976 8.13494 15.7071 7.74442C15.3166 7.35389 14.6834 7.35389 14.2929 7.74442L11 11.0373V2.54883ZM15 18.4512C15.5523 18.4512 16 18.0035 16 17.4512C16 16.8989 15.5523 16.4512 15 16.4512H5C4.44772 16.4512 4 16.8989 4 17.4512C4 18.0035 4.44772 18.4512 5 18.4512H15Z' fill='%232B6A90'/%3E%3C/svg%3E");
      color: #2B6A90;
      position: absolute;
      top: 0;
    }
  }

  input[data-vbo='vbo-action'],
  .details-wrapper input {
    background: none;
    border: none;
    padding: 0 0 0 22px;
    text-transform: none;
    color: #2B6A90;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    z-index: 1;
    position: relative;

    &:hover {
      text-decoration-line: none;
      cursor: pointer;
      background: none;
    }

    &#edit-clear {
      padding: 0;
      margin: 10px 0 0;
    }
  }
}

.view {
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;

  .form-type-checkbox, th.views-field-views-bulk-operations-bulk-form {
    position: relative;

    input[type="checkbox"] {
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      margin-right: 6px;
      padding: 0;
      border: 2px solid #2B6A90;
      border-radius: 2px;
      appearance: none;
      background-color: transparent;
      outline: none;
      transition: outline 0.1s;
      position: absolute;

      &.vbo-select-all {
        top: 2px;
      }
    }

    input[type="checkbox"]:checked {
      background-size: cover;
      padding: 2px;
      border-color: #274c77;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23274c77" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
    }
  }

  .form-type-checkbox {
    float: left;
    margin: 0;
  }

  th.views-field-views-bulk-operations-bulk-form {
    input[type="checkbox"] {
      border-color: #fff;
      top: 15px;
      left: 10px;
    }

    input[type="checkbox"]:checked {
      border-color: #fff;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23ffffff" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
    }
  }
}

table.views-table {
  border: none;

  thead {
    border: none;

    th {
      border: 1px solid #A6A6A6;
      border-width: 1px 0;
      background: #2B6A90;
      padding: 12px;
      font-size: 16px;
      font-style: normal;
      text-align: left;
      font-weight: 700;
      line-height: 22px;
      color: #fff;

      a {
        color: #fff;
        position: relative;
        padding-left: 20px;

        &:hover {
          text-decoration: underline;
        }

        .tablesort {
          position: absolute;
          top: 0;
          left: 0;
        }

        .tablesort--asc {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.7526 13.1399C10.3542 13.5952 9.64584 13.5952 9.24742 13.1399L4.45119 7.6585C3.88543 7.01192 4.34461 6 5.20377 6L14.7962 6C15.6554 6 16.1146 7.01192 15.5488 7.6585L10.7526 13.1399Z' fill='%23fff'/%3E%3C/svg%3E");
        }

        .tablesort--desc {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.7526 6.86009C10.3542 6.40476 9.64584 6.40476 9.24742 6.86009L4.45119 12.3415C3.88543 12.9881 4.34461 14 5.20377 14L14.7962 14C15.6554 14 16.1146 12.9881 15.5488 12.3415L10.7526 6.86009Z' fill='%23fff'/%3E%3C/svg%3E");
        }
      }

      &:first-child {
        border-right: none;
      }
    }
  }

  tbody {
    border: none;

    tr {
      border: none;

      &:nth-child(even) {
        background-color: #F2F2F2;
      }
    }

    td {
      border: 1px solid #A6A6A6;
      border-width: 1px 0;
      padding: 9px 11px;

      input[type='checkbox'] {
        top: -7px;
        left: -3px;
      }
    }
  }

}