.nys-contact-composite--wrapper .nys-contact-composite__group {
  margin-bottom: 1.5rem;
}

.nys-contact-composite--wrapper .nys-contact-composite__group-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
