// Import site utilities.
@import '../../global/utils/init';

/*----------------------------------------
/
/	SCHOOL FORM PAGE STYLES
/
/-----------------------------------------*/
#edit-submissions {
  width: 100%;
  display: inline;
}

.webform-submission-school-form-form .js-form-type-select {
  width: 100%;
  margin-top: 0px;

  #edit-grade {
    width: 100%;
    margin-bottom: 0px;
  }
  &::after {
    margin-top: 25px;
  }
}
