@import "../../global/utils/init";

.c-block.c-container.c-container--const-issues-follow {
  margin: 0;

  .view-header {
    p {
      margin: 0;
    }

    .c-container--title {
      font-family: $font-serif-semibold;
      font-size: 18px;
      line-height: 32px;
      color: $grey08;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
  }

  .filter-wrapper {
    display: flex;
    gap: 20px;

    &--empty {
      border-bottom: 1px solid $blue04;
      margin-bottom: 30px;
    }
  }

  .c-follow-issue--header,
  .c-list--header {
    position: relative;
    margin-bottom: 20px;
    border-top: 1px solid $blue04;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .explore-link {
      font-family: $font-sans-bold;
      font-size: 17px;
      line-height: 24px;
      text-transform: uppercase;
      color: $yellow03;
      position: relative;
      top: inherit;
      right: inherit;
    }

    .c-container--title {
      text-transform: capitalize;
      font-family: $font-serif-semibold;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0;
      color: $grey08;
    }
  }

  .c-list--header {
    border-top: 0;
    padding-top: 0;
  }

  label {
    color: $grey08;
    font-weight: $font-weight-bold;
    text-transform: none;
  }

  .top-issue-updates .first {
    .c-block-press-release {
      border-top: 0;
      padding-top: 0;
    }

    .c-press-release--header {
      top: 0;
    }
  }

  .c-press-release--title {
    color: $grey08;
  }

  @include breakpoint($bp-sm) {
    .view-header .c-container--title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .view-filters {
      margin: 0;

      .js-form-type-select {
        width: auto;
      }
    }

    .c-follow-issue--header,
    .c-list--header {
      .c-container--title {
        font-size: 24px;
      }
    }
  }

  .page-user-dashboard & {

    .c-follow-issue--header {
      display: block;

      @include breakpoint($bp-sm) {
        display: flex;
        margin-bottom: 40px;
      }

      .c-container--title {
        margin-bottom: 20px;

        @include breakpoint($bp-sm) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.view-explore-issues-tabs {
  
  .view-content {
    margin-bottom: 20px;
  }
}

.dashboard-bills-list {

  @include breakpoint($bp-sm) {
    .nys-bill-status__sml li, .nys-bill-status__drk li {
      margin-top: -15.5px;
    }
  }
}

.facet {
  margin: 0 0 20px 0;

  @include breakpoint($bp-md) {
    margin: 0 8px 40px 0;
  }

  @include breakpoint($bp-sm) {
    display: inline-block;
    max-width: 31%;
    margin: 0 14px 40px 0;
  }

  &.hidden {
    .js-facet-select {

      &::after {
        display: none;
      }
    }
  }

  .view-filters {

    .js-facet-select {
      position: relative;

      &::after {
        @extend .icon-after__see-more;
        position: absolute;
        right: 10px;
        top: auto;
        font-size: 25px;
        color: $blue01;
        pointer-events: none;
        cursor: pointer;
      }
    }

    .facets-widget-dropdown {

      select {
        text-transform: none;
        font-family: $font-sans;
        padding-left: 10px;
      }
    }
  }
}

.view-id-core_search {
  .view-header {
    h2 {
      font-family: $font-serif-regular;
      font-size: 26px;
      text-transform: capitalize;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .ds-search-extra {
      font-size: 12px;
      line-height: 1em;
      font-family: $font-sans-bold;
      color: $grey04;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }

  .c-press-release--title {
    line-height: 24px;
  }
}

.view-constituent-updates {
  label {
    color: $grey08;
    font-weight: $font-weight-bold;
    text-transform: none;
  }
}

.view-constituent-bills {

  .content-list__wrapper {

    @include breakpoint($bp-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin-bottom: 40px;
    }
  }
}