// Import site utilities.
@import '../../global/utils/init';

.newsroom-content {
  max-width: unset;
  
  .container {
    margin: 0;
    max-width: unset;
  }

  .bef-exposed-form .form--inline > .form-item {
    margin: 0;
    width: 100%;

    @include breakpoint($bp-sm) {
      width: auto;
    }
  }

  .item-list .pager {
    &.pager-load-more.newsroom-content {
      list-style: none;
    }
  }

  .c-upcoming--header {

    .c-month-title {
      font-weight: $font-weight-normal;
      color: $grey10;
    }
  }

  .view-senator-events {
    max-width: unset;

    .container {
      max-width: unset;
    }

    &.view-display-id-upcoming_events > .view-content > div.first .c-event-block--list {
      border: 0;
    }
  }

  .tabs-content .c-event-name {
    color: $grey08;
  }

  .item-list .pager.pager-load-more {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .c-legislation-info {
    display: flex;
    flex-direction: column;
    padding: 0;

    .c-bill-num a {
      color: $grey08;
    }

    @include breakpoint($bp-sm) {
      flex-direction: row;

      .c-bill-num {
        width: 25%;
        max-width: 200px;
      }
  
      & > div {
        width: 75%;
        flex: 1;
      }
    }
  }

  .nys-bill-status { 
    
    hr {
      background: $grey-line;
    }
  }

  .c-bill-update {
    display: block;
  }
  
  .c-bill-update--date {
    @include font-stack-secondary;
    margin-right: 0.5em;
    display: inline;

    @include breakpoint($bp-sm) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  .c-bill-update--location {
    @include font-stack-secondary;
    margin: 0;
    display: inline;

    &::before {
      content: '|';
      display: inline-block;
      margin-right: 0.5em;
    }

    @include breakpoint($bp-sm) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  .more-link {
    @include font-stack-secondary;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;

    a {
      position: absolute;
      right: 0;
      top: 0;
      text-transform: uppercase;
      font-family: $font-sans-bold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-decoration: none;
      @extend .icon-after__arrow;
      @extend .link-text;
    
      &::after {
        margin-top: -2px;
        font-size: 17px;
        line-height: 12px;
      }
    
      @include breakpoint($bp-sm) {
        font-size: 16px;
        line-height: 16px;
    
        &::after {
          margin-top: -4px;
          font-size: 23px;
          line-height: 16px;
        }
      }
    }
  }

  .nys-bill-status__sml li,
  .nys-bill-status__drk li {
    margin-top: -14px;
  }
}

.view-senator-events {
  max-width: unset;

  .container {
    max-width: unset;
  }

  &.view-display-id-upcoming_events > .view-content > div.first .c-event-block--list {
    border: 0;
  }
}

/*----------------------------------------
/ PRESS RELEASES
/----------------------------------------*/

.c-block {
  &.c-block-press-release {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-top: 1px solid $grey05;
  }

  .first:first-child {
    .c-block-press-release {
      border-top: none;
    }
  }

  .c-press-release--header {
    margin-bottom: 15px;
  }

  .c-press-release--title {
    margin-bottom: 3px;
    font-family: $font-serif-bold;
    font-size: 16px;
    line-height: 1em;
    color: $grey10;
  }

  .c-press-release--topic,
  .c-featured-story-issue-tag a {
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.05em;
    @extend .link-text;

    &:hover {
      @extend .link-text;
      text-decoration: underline;
    }
  }

  .c-press-release--body {
    position: relative;
  }

  .c-press-release--body__has-img {
    padding-right: 120px;
  }

  .c-press-release--descript {
    font-weight: $font-weight-normal;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3em;
    font-family: $font-serif;

    a {
      color: $grey02;
    }
  }

  .c-press-release--senator {
    @include font-stack-secondary;
    margin: 10px 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;
  }

  .c-press-release--date {
    @include font-stack-secondary;
    margin: 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;
  }

  .c-press-release--img {
    max-width: 100px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @include breakpoint($bp-sm) {
    &.c-block-press-release {
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 60px;
    }

    .c-press-release--header {
      position: absolute;
      top: 30px;
      left: 0;
      width: 185px;
      padding-right: 15px;
      line-height: normal;
    }

    .c-press-release--title {
      font-size: 16px;
      line-height: 30px;
    }

    .c-press-release--body {
      padding-left: 180px;
      padding-right: 40px;
    }

    .c-press-release--descript {
      font-size: 24px;
      line-height: 30px;
      font-family: $font-serif;
    }

    .c-press-release--senator {
      font-size: 14px;
    }

    .c-press-release--date {
      font-size: 14px;
    }

    .c-press-release--body__has-img {
      padding-right: 220px;
      min-height: 125px;
    }

    .c-press-release--img {
      max-width: 200px;
      margin-left: 20px;
    }
  }
}
