// Import site utilities.
@import "../../global/utils/init";

.newsroom-content {
  max-width: unset;

  .container {
    margin: 0;
    max-width: unset;
  }

  .bef-exposed-form .form--inline > .form-item {
    margin: 0;
    width: 100%;

    @include breakpoint($bp-sm) {
      width: auto;
    }
  }

  .pager {
    &.pager-load-more.newsroom-content {
      list-style: none;
    }
  }

  .c-upcoming--header {
    .c-month-title {
      font-weight: $font-weight-normal;
      color: $grey10;
    }
  }

  .view-senator-events {
    max-width: unset;

    .container {
      max-width: unset;
    }

    &.view-display-id-upcoming_events > .view-content > div.first .c-event-block--list {
      border: 0;
    }
  }

  .tabs-content .c-event-name {
    color: $grey08;
  }

  .pager.pager-load-more {
    margin-bottom: 2.75rem;
    padding: 0;
    list-style: none;
  }

  .c-bill-update {
    display: block;
  }

  .c-bill-update--date {
    @include font-stack-secondary;
    margin-right: 0.5em;
    display: inline;

    @include breakpoint($bp-sm) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  .c-bill-update--location {
    @include font-stack-secondary;
    margin: 0;
    display: inline;

    &::before {
      content: "|";
      display: inline-block;
      margin-right: 0.5em;
    }

    @include breakpoint($bp-sm) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  .more-link {
    @include font-stack-secondary;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;

    a {
      position: absolute;
      right: 0;
      top: 0;
      text-transform: uppercase;
      font-family: $font-sans-bold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-decoration: none;
      @extend .icon-after__arrow;
      @extend .link-text;

      &::after {
        margin-top: -2px;
        font-size: 17px;
        line-height: 12px;
      }

      @include breakpoint($bp-sm) {
        font-size: 16px;
        line-height: 16px;

        &::after {
          margin-top: -4px;
          font-size: 23px;
          line-height: 16px;
        }
      }
    }
  }

  .cal-nav-wrapper {
    border-bottom: 1px solid $grey05;

    @include breakpoint($bp-sm) {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      padding: 10px 0 20px 0;
    }

    .title {
      font-size: 20px;
      margin-top: 25px;
      font-family: $font-serif-semibold;
      color: $grey10;

      @include breakpoint($bp-sm) {
        margin: 0;
        color: $grey08;
        line-height: 42px;
      }
    }

    .cal-nav-list {
      margin: 0;
      padding: 0;

      @include breakpoint($bp-sm) {
        text-align: right;
      }

      li {
        background-color: $grey06;
        list-style: none;
        display: inline-block;
        text-align: left;
        color: #004c71;
        margin: 10px 0;
        width: 49%;
        position: relative;

        &:hover {
          @extend .med-bg;

          label {
            color: $color-white;
          }
        }

        @include breakpoint($bp-sm) {
          margin: 0;
          display: inline-block;
          width: 182px;
        }

        label {
          display: inline-block;
          width: 100%;
          height: 42px;
          line-height: 42px;
          padding: 0 0 0 14px;
          font-family: $font-sans-bold;
          font-size: 12px;
          text-transform: uppercase;
          color: $blue02;
          transition: background 0.2s ease;
          margin: 0;

          &::after {
            position: absolute;
            right: 6%;
            top: 0px;
            font-size: 20px;
          }
        }

        input {
          cursor: pointer;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .c-container--link {
    @extend .lgt-text;
    &:hover {
      text-decoration: underline;
    }
  }

  .c-container--header {
    border-bottom: 0;
  }
}

.view-senator-events {
  max-width: unset;

  .container {
    max-width: unset;
  }

  &.view-display-id-upcoming_events > .view-content > div.first .c-event-block--list {
    border: 0;
  }
}

// Legislation/Bills
.upcoming-legislation-block {
  .content__item {
    border-top: 1px solid $grey05;
  }

  .c-panel--header {
    padding: 40px 0 10px;
    display: block;
    overflow: hidden;
  }

  .c-press-release--descript {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3em;
    font-family: $font-serif;
    font-weight: $font-weight-normal;
    text-transform: none;

    a {
      color: $grey08;
    }
  }

  .l-panel-col {
    display: block;
    float: left;
    color: $grey08;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 12px;
    line-height: 1;
    margin: 0;
  }

  .l-panel-col--lft {
    padding-right: 20px;
    width: 22%;

    a {
      color: $yellow03;
      text-transform: uppercase;
      font-family: $font-sans-bold;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .c-listing--bill-num {
    margin-bottom: 8px;

    a {
      color: $grey08;
      text-transform: none;
      font-family: $font-serif-bold;
      font-size: 24px;
      line-height: 25px;
    }
  }

  @include breakpoint($bp-sm) {
    .l-panel-col {
      font-size: 16px;
    }

    .c-press-release--descript {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
