{{ attach_library('nysenate_theme/nysenate-footer') }}
{% import '@nysenate_theme/icons/_icons-macro.twig' as icons %}

<ul class="menu-socials">
  {% for social in socials %}
    <li class="{% if loop.first %}first {% endif %}leaf">
      <a href="{{ social.url }}" target="_blank" aria-label="Go to {{ social.icon }} Page">{{ icons.get(social.icon) }}</a>
    </li>
  {% endfor %}
</ul>
