.oembed-provider-bucket-form #edit-providers {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

@media screen and (max-width: 60em) {
  .oembed-provider-bucket-form #edit-providers {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: 48em) {
  .oembed-provider-bucket-form #edit-providers {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 32em) {
  .oembed-provider-bucket-form #edit-providers {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
