@import '../../global/utils/init';

.taxonomy-term {
  .nys-title {
    margin: 0;
  }

  .c-block {
    .c-issue--followers {
      color: $grey04;
      text-transform: uppercase;
      font-family: $font-sans;
      font-size: 14px;
      margin-bottom: 20px;

      @include breakpoint($bp-sm) {
        margin-bottom: 30px;
      }
    
      > span {
        color: $grey08;
        margin-right: 5px;
      }
    }
  
    .js-pager__items.pager {
      padding: 0;
      margin: 0;
  
      .pager__item {
        padding: 0;
      }
    }
  }

  .c-committee-header {
    padding-bottom: 40px;

    @include breakpoint($bp-sm) {
      padding: 10px 40px 60px;
      overflow: hidden;
    }

    @include breakpoint($bp-md) {
      padding: 10px 60px 60px;
    }
  }

  .c-committee-type {
    font-family: $font-sans-bold;
    font-size: 14px;
    color: $yellow03;
    text-transform: uppercase;
  }
  
  .c-detail--header-meta {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 0;

    @include breakpoint($bp-sm) {
      width: 71%;
      margin-bottom: 60px;
      padding-right: 40px;
    }
  
    .eyebrow {
      margin: 0;
      @include font(16 24);
      color: $grey03;
  
      @include breakpoint($bp-sm) {
        @include font(20 32);
      }
    }
  }  
}
