.nys-moderation-entity-select-container {
  max-height: 400px;
  overflow-y: auto;
}

#edit-item-summary tr.unexpected-result {
  background-color: #fce2e2;
}

#edit-item-summary tr.expected-result {
  background-color: #e2fce2;
}
