// Import site utilities.
@import '../../global/utils/init';

.c-block.c-block--pg-file-uploads  {
	margin-bottom: 20px;

	@include breakpoint($bp-sm) {
    margin-bottom: 30px;
  }
}

.c-news--download {
	display: block;

	img {
		display: none;
	}

	.file {
		padding-left: 0;

		& > a {
			display: block;
			margin-top: 15px;
			font-size: 12px;
			line-height: 18px;
			font-family: $font-sans-bold;
			text-decoration: none;
			@extend .accent-text;
			@extend .icon-before__presskit;
		}
	}

	.field__label {
		display: none;
	}
}

.c-news--head .c-news--download {
	margin-bottom: 0;
}

@include breakpoint($bp-sm) {
	.c-news-download {
		margin-bottom: 30px;
	}
	
	.c-news--head .c-news--download {
		margin-bottom: 0;
	}
}

.file--application-pdf {
	background-image: none;
}
