// Import site utilities.
@import '../../global/utils/init';

.c-news--download {
	display: block;
	margin-bottom: 20px;

	img {
		display: none;
	}

	.file {
		padding-left: 0;

		& > a {
			display: block;
			margin-top: 15px;
			font-size: 12px;
			font-family: 'Proxima Nova SemiBold';
			color: $gen_blue_lgt;
	
			&:before {
				content: '\6b';
				font-size: 21px;
				line-height: 12px;
				font-family: 'senate_icons';
				display:inline-block;
				vertical-align: middle;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				padding-right: 3px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.field__label {
		display: none;
	}
}

.c-news--head .c-news--download {
	margin-bottom: 0;
}

@media #{$tablet} {
	.c-news-download {
		margin-bottom: 30px;
	}
	
	.c-news--head .c-news--download {
		margin-bottom: 0;
	}
}

.file--application-pdf {
	background-image: none;
}
