@import "../../global/utils/init";

.c-block--chair {
  @extend .lgt-bg;
  position: relative;
  padding: 0;

  &.c-block {
    margin-bottom: 40px;
  }

  .c-block--btn {
    padding-left: 20px;
    color: $color-white;
  }

  img {
    display: block;
  }

  &__has-img {

    img {
      width: 100%;
    }
  }
}

.c-chair--content {
  padding: 30px 20px 90px;

  .c-chair-block--position {
    margin-bottom: 5px;
    font-family: $font-sans;
    text-transform: uppercase;
    color: $color-white;
    font-size: 12px;
    line-height: 1.3em;
  }

  .c-party-conf {
    margin-top: 20px;
    font-family: $font-sans;
    text-transform: uppercase;
    color: $color-white;
    font-size: 12px;
    line-height: 1.3em;
  }
}

.c-chair--descript {
  margin-bottom: 5px;
  font-family: $font-sans;
  text-transform: uppercase;
  color: $grey01;
  font-size: 12px;
  line-height: 1.3em;
}

.c-chair--title {
  font-family: $font-serif-regular;
  color: $color-white;
  font-size: 22px;
  line-height: 1.2em;
  a {
    color: $color-white;
  }
}

.c-chair--meta {
  list-style: none;

  li {
    display: inline-block;
    padding-right: 7px;
    color: $color-white;
    font-family: $font-serif-regular;
    font-size: 14px;
    line-height: 1.2em;

    & + li {
      border-left: 2px solid $color-white;
      padding-left: 7px;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-block--chair {
    clear: both;
    padding: 0;

    .c-block--btn {
      padding-left: 40px;
    }
  }

  .c-chair--content {
    padding: 40px 40px 120px;
  }

  .c-chair--descript {
    margin-bottom: 7px;
    font-size: 15px;
  }

  .c-chair--title {
    font-family: $font-serif;
    font-size: 36px;

    a {
      color: $color-white;
    }
  }

  .c-chair--meta {
    margin-top: 10px;
  }

  // has img modifications
  .c-block--chair__has-img {
    overflow: hidden;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0;
      margin-left: -4px;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
      zoom: 1;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      object-fit: cover;
      height: 280px;
      width: 280px;
    }

    .c-chair--content {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 58%;
      max-width: 475px;
      padding-top: 0;
      padding-bottom: 80px;
    }
    
    .c-block--btn {
      left: 280px;
    }
  }

  // half size modifications
  .c-block--chair__half-wrap {
    width: 102%;
    margin-left: -1%;
  }

  .c-block--chair__half {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 345px;
    float: left;
    clear: none;

    .c-chair--title {
      font-size: 32px;
    }
  }
}
