{{ attach_library('nysenate_theme/featured-bills') }}

{% if not hide_title %}
  <div class="c-container--header__top-border">
    <h2 class="c-container--title">related legislation</h2>
  </div>
{% endif %}

<div
  class="c-block c-pg-featured-bills entity entity-paragraphs-item paragraphs-item-pg-featured-bills view-mode-full">
  <!-- theme template: -->
  <div class="bills-container {% if body %}c-block--half-wrap{% endif %}{{ col ? 'bills-container--col' : '' }}">
    {% for bill in bills %}
      {% include "@nysenate_theme/bill-item/bill-item.twig" with {
        bill: bill,
        body: body
      } only %}
    {% endfor %}
  </div>

  {% if body %}
    <div class="c-featured-bills-body">
      {{ body }}
    </div>
  {% endif %}
</div>
