section.hero-senator {
  background: lightgrey;
}

section.hero {
  padding: 3% 9%;
  background: #fff;
}
.hero .c-hero--logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 24px;
  font-family: 'FreightText Book';
}
.hero .c-hero--logo::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: transparent url(/themes/custom/nysenate_theme/dist/images/nys_logo_header240x240.jpg) center center no-repeat;
  background-size: cover;
}

.c-senator-hero--img {
  display: inline-block;
}
.c-senator {
  display: inline-block;
  float: right;
}

.c-senator p {
  margin: 0 0 3px 0;
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.c-senator .c-senator--name {
  font-family: "Adelle Light", serif;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-size: 24px;
}

.c-senator-hero--img img {
  border-radius: 50%;
  width: 75px;
  margin-right: 24px;
  display: inline-block;
}

.c-news--head {
  margin-bottom: 48px;
}
.c-news--head .nys-article-title {
  margin-bottom: 30px;
  color: #444;
  font-family: "Adelle Light", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2em;
}

.c-news--head-meta .c-news--author {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px 0 0;
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
}

.c-news--head-meta .c-news--author a {
  color: #175b81;
}

.c-news--head .c-news--head-meta .c-news--pub-date {
  display: inline-block;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #888;
}

.c-news--head .c-news--head-meta .c-news--pub-date:before {
  content: ' | ';
  margin-right: 10px;
}

.c-news--body p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Adelle Light", serif;
  color: #666666;
}

.c-news--body p.c-img--caption {
  font-size: 26px;
  line-height: 36px;
  color: #444444;
  font-family: "Adelle SemiBold", serif;
}
.nys-associated-topics {
  display: inline;
  list-style: none;
  font-size: 15px;
  line-height: 1.2em;
  border-left: 1px solid #888888;
  padding-left: 14px;
  color: #222222;
}

.nys-associated-topics li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Proxima Nova SemiBold", "Arial", sans-serif;
  white-space: normal;
}

.nys-associated-topics li a {
  text-decoration: none;
  color: #cb8d37;
}
