

#contact-message-summer-reading-form {
  table,
  table thead,
  table tr,
  table td {
    border: none;
  }
  fieldset {
    .fieldset-legend {
      font-family: 'Proxima Nova SemiBold';
      font-size: 24px;
      color: #CB8D37;
    }
  }
  .form-item .description {
    color: #2B6990;
    margin: 0 0 24px;
  }

  a.tabledrag-handle .handle {
    width: 24px;
  }
  input[type="text"],
  input[type="email"],
  select
  {
    margin-bottom: 3px;
    background: #EEEEEE;
    color: #222222;
  }
  select {
    margin-bottom: 24px;
  }
  table[id^="field-children"] {
    width: 100%;

    .paragraph-type-label {
      display: none;
    }

    h4.label {
      padding: 6px 10px 9px;
      text-transform: none;
      font-size: 18px;
      color: #fff;
      font-family: 'Proxima Nova SemiBold';
      margin-bottom: 0;
      border-bottom: 3px solid #888888;
      text-align: left;
      display: block;
    }

    .paragraph-type--summer-reading {
      border-bottom: 1px solid #000000;
    }

    .paragraphs-icon-button-collapse,
    .field-add-more-submit:nth-child(2),
    .tabledrag-toggle-weight-wrapper,
    .tabledrag-hide,
    .paragraphs-dropdown {
      display: none;
    }

    .field--name-field-school {
      clear: both;
    }

    td {
      padding: 10px 24px 10px 0;
    }

    table#field-student-books-values {
      width: 100%;
    }
    tr.draggable.even {
      background: none;
    }

  }
}


