// Import site utilities.
@import '../../global/utils/init';

.district {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__body {

    .c-block p {
      margin-top: 18px;
      margin-bottom: 18px;

      &:first-child {
        margin-top: 3px;
      }

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
}
