// Import site utilities.
@import "../../global/utils/init";

.article-node {

  .nys-bill-status {
    height: 25px;
    margin-top: 20px;
  }

  .c-block.node--type-bill {
    margin-bottom: 0;
  }
}

.nys-article-title {
  margin: 0 0 20px 0;
  color: $grey08;
  font-family: $font-serif;
  @include font(22 57.6);
  font-weight: 400;
}

/*------------------------------------
/  NEWS:
/-------------------------------------*/
// NEWS HEADER AREA
.c-news--head,
.c-questionnaire--head {
  margin-bottom: 20px;
}

.c-questionnaire--head .nys-article-title {
  font-family: $font-serif;
  font-size: 22px;
  line-height: 1.2em;
}

.c-questionnaire--head .nys-associated-topics a {
  color: $yellow03;
}

.c-news--title {
  margin-bottom: 15px;
  font-family: $font-serif-regular;
  @include font(22 62.4);
}

.c-news--subtitle {
  margin-bottom: 20px;
  color: $grey08;
  font-family: $font-serif-semibold;
  @include font(18 25.2);

  @include breakpoint($bp-sm) {
    @include font(18 36.4);
  }
}

.c-news--head-meta {
  @include font(12 18);
  color: $grey04;

  @include breakpoint($bp-sm) {
    @include font(15 18);
  }

  & > p:not(:first-child) {
    border-left: 1px solid $grey04;
    padding-left: 14px;
  }
}

.c-news--author,
.c-news--pub-date {
  display: inline-block;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-family: $font-sans;
  @include font(12 18);
  color: $grey04;

  @include breakpoint($bp-sm) {
    @include font(15 18);
  }

  &:empty {
    display: none;
  }
}

.c-news--download {
  display: block;
  flex-basis: 100%;

  img {
    display: none;
  }

  // download styles
  .file {
    background: none;
    padding-left: 0;

    & > a {
      display: block;
      margin-top: 15px;
      //text-transform: uppercase;
      font-size: 12px;
      font-family: $font-sans-bold;
      text-decoration: none;
      @extend .lgt-text;
      @extend .icon-before__presskit;

      &::before {
        font-size: 21px;
        line-height: 12px;
      }
    }
  }
}

.c-news--head .c-news--download {
  margin-bottom: 0;
}

@include breakpoint($bp-sm) {
  .c-news-download {
    margin-bottom: 30px;
  }

  .c-news--head .c-news--download {
    margin-bottom: 0;
  }

  .nys-associated-topics {
    display: inline;
    margin-top: 0;

    li {
      margin-top: 0;

      &::after {
        content: '';
      }
    }
  }
}

.c-block-quoted-body {
  padding-left: 40px;
  border-left: 5px solid #eee;

  a {
    @extend .lgt-text;
  }
}

/*------------------------------------
/ 'IN THE NEWS' elements
/------------------------------------*/
.c-news--body .c-block p {

  &:last-child {
    margin-bottom: 0;
  }

  &:only-child {
    margin: 0;
  }
}

.c-news--body-title {
  border-top: 1px solid $grey05;
  padding: 10px 0 20px;
  font-family: $font-serif;
  font-size: 18px;

  a {
    @extend .lgt-text;
  }
}

.c-in-the-news--body {

  .body {
    border-left: 5px solid $grey06;
    padding-left: 10px;
  }
}

@include breakpoint($bp-sm) {
  .nys-article-title {
    margin: 0 0 30px;
    font-size: 48px;
  }

  .c-questionnaire--head .nys-article-title {
    font-size: 48px;
  }

  .c-news--head {
    margin-bottom: 30px;

    ul.links {
      display: inline;
    }

    .field-name-field-issues {
      display: inline-block;
    }
  }

  .c-news--title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .c-news--author,
  .c-news--pub-date,
  .c-news--committees {
    font-size: 15px;
    line-height: 1.2em;
  }

  .c-news--subtitle {
    font-size: 26px;
  }

  // "in the news"
  .c-news--body-title {
    padding: 20px 0 30px;
    font-family: $font-serif;
    font-size: 24px;
  }

  .c-in-the-news--body {

    .body {
      border-left: 10px solid $grey06;
      padding-left: 30px;
    }
  }
}

.node-type-webform {
  .form-item {
    margin-right: 1em;

    input[type="text"],
    input[type="email"] {
      height: 55px;
    }
  }

  button[type="submit"] {
    background-color: $blue01;
    margin: 15px 0 40px 0;
  }
}

.landing-node {
  .field--name-field-landing-blocks > .field__item {
    margin: 0;
  }

  .view-global-promo-banner {
    padding-top: 0;
  }
}

.landing-node.page--about {
  .c-news--body > .c-block {
    @include breakpoint($bp-sm) {
      margin: 0;
    }
  }

  main.l-row--main {
    padding: 0;

    @include breakpoint($bp-sm) {
      padding: 0;
      margin-bottom: 60px;
    }
  }
}

.page--student_programs {

  .text-layout__body {
    .content {
      margin-bottom: 60px;
    }
  }

  .text-layout--2-col {
    margin: 20px 0 36px;
  }

  .text-layout__title.container {
    margin-top: 0;
  }
}

.c-initiative--subtitle {
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 24px;
  font-weight: 400;
}

.honoree-node .c-news--head .nys-article-title {
  margin-bottom: 0;
}

.c-block--honorees {
  margin-bottom: 48px;
}

.view-id-honoree_profiles.view-display-id-women_bysen,
.view-id-honoree_profiles.view-display-id-vet_senator {
  .view-content{
    font-size: 20px;
  }
}
