// Import site utilities.
@import '../../global/utils/init';

.article-node {
	padding: 20px 20px 0;

	@include breakpoint($bp-sm) {
		padding: 40px 20px 0;
	}
}

.nys-article-title {
  margin: 0 0 20px 0;
  color: $grey08;
  font-family: $font-serif;
  @include font(22 57.6);
  font-weight: 400;
}

.c-block {
  display: block;
  position: relative;
  margin-bottom: 20px;
  zoom: 1;
  clear: both;
}

/*------------------------------------
/	NEWS:
/-------------------------------------*/
// NEWS HEADER AREA
.c-news--head,
.c-questionnaire--head {
	margin-bottom: 20px;

	ul.links {

		display: block;
		list-style: none;
		line-height: 25px;

		li {
			display: inline-block;
			margin-right: 10px;
			text-transform: uppercase;
			font-family: $font-sans-bold;
			white-space: nowrap;
		}

		a {
			font-size: 12px;
			line-height: 1em;
			color: $gen_blue_lgt;
		}

	}
	.field-name-field-issues { padding: 0; }
}
.c-news--title {
	margin-bottom: 15px;
	font-family: $font-serif-regular;
	@include font(22 62.4);
}

.c-news--subtitle {
	margin-bottom: 20px;
	color: $grey08;
	font-family: $font-serif-semibold;
	@include font(18 25.2);

	@include breakpoint($bp-sm) {
		@include font(18 36.4);
	}
}

.c-news--head-meta {
	display: flex;
    align-items: flex-start;
	flex-wrap: wrap;
    column-gap: 10px;
	@include font(12 18);
	color: $grey04;

	@include breakpoint($bp-sm) {
		@include font(15 18);
	}

	& > p:not(:first-child) {
		border-left: 1px solid $grey04;
		padding-left: 14px;
	}
}
.c-news--author,
.c-news--pub-date {
	margin: 0;
	text-transform: capitalize;
	font-family: $font-sans;
	@include font(12 18);
	color: $grey04;

	@include breakpoint($bp-sm) {	
		@include font(15 18);
	}

	&:empty {
		display: none;
	}
}
.c-news--download {
	display: block;
	margin-bottom: 20px;
	flex-basis: 100%;

	img { display: none; }

	// download styles
	.file {
		background: none;
		padding-left: 0;
	
		& > a {
			display: block;
			margin-top: 15px;
			//text-transform: uppercase;
			font-size: 12px;
			font-family: $font-sans-bold;
			color: $gen_blue_lgt;

			&::before {
		content: '\6b';
				font-size: 21px;
				line-height: 12px;
		font-family: 'senate_icons';
		display:inline-block;
		vertical-align: middle;
	
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		padding-right: 3px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}
.c-news--head .c-news--download {
	margin-bottom: 0;
}

.c-block {
	p {
		font-family: $font-serif;
    line-height: 1.5em;
    color: $grey03;
    font-size: 16px;
	}
}

.nys-associated-topics {
  display: inline;
  list-style: none;
  font-size: 15px;
  line-height: 1.2em;
  //padding-left: 0;
  border-left: 1px solid $grey04;
  padding-left: 14px;
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $font-sans-bold;
    white-space: normal;
  }

  a {
    color: $orange01;
		text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.nys-associated-topics--label {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2em;
  font-family: $font-sans-bold;
}

@include breakpoint($bp-sm) {
	.c-news-download {
		margin-bottom: 30px;
	}
	.c-news--head .c-news--download {
		margin-bottom: 0;
	}
	.c-block {
		p {
			font-size: 20px;
			line-height: 32px;
		}
	}
	.nys-associated-topics {
    display: inline;
    margin-top: 0;

    li {
      margin-top: 0;
    }
  }
}


.c-block-quoted-body {
	padding-left: 40px;
	border-left: 5px solid #eee;
}
/*------------------------------------
/ 'IN THE NEWS' elements
/------------------------------------*/
.c-news--body-title {
	border-top: 1px solid $grey05;
	padding: 10px 0 20px;
	font-family: $font-serif;
	font-size: 18px;

	a {
		color: $gen_blue_lgt;
	}
}
.c-in-the-news--body {

	.body {
		border-left: 5px solid $grey06;
		padding-left: 10px;
	}
}

@include breakpoint($bp-sm) {
	.article-node {
		padding: 80px 40px 0;
	}

	.nys-article-title {
    margin: 0 0 30px;
    font-size: 48px;
  }

	.c-news--head {
		margin-bottom: 30px;

		ul.links {
			display: inline;
		}
		.field-name-field-issues {
			display: inline-block;
		}
	}
	.c-news--title {
		font-size: 48px;
		margin-bottom: 30px;
	}
	.c-news--author,
	.c-news--pub-date,
	.c-news--committees {
		font-size: 15px;
		line-height: 1.2em;
	}

	.c-news--subtitle {
		font-size: 26px;
	}
	// "in the news"
	.c-news--body-title {
		padding: 20px 0 30px;
		font-family: $font-serif;
		font-size: 24px;
	}
	.c-in-the-news--body {

		.body {
			border-left: 10px solid $grey06;
			padding-left: 30px;
		}
	}
}

//About Senator Embedded Video
// .page-node-about {
// 	article {
// 		.media-element {
// 			width: 100%;
// 			display: block;
// 			position: relative;
// 			padding-bottom: 52.25%;
// 			padding-top: 59px;
// 			height: 0;
// 			margin-bottom: 2.2em;
// 			iframe {
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100% !important;
// 				height: 100% !important;
// 			}
// 		}
// 	}
// }

.node-type-webform {
	.form-item {
	  margin-right: 1em;
	  input[type="text"],
	  input[type="email"] {
	  	height: 55px;
	  }
	}
	button[type="submit"] {
		background-color: $blue01;
		margin: 15px 0 40px 0;
	}
}