@use 'partials' as *;

.l-grid__items {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-grid__item {
  margin: 0;
}
