@use 'partials' as *;
@use 'partials/breakpoints' as *;


.c-event-featured-story {
  overflow: hidden;
  padding-bottom: 40px;

  .l-left {
    width: 100%;

    img {
      width: 380px;
      height: 215px;
    }
  }
  .c-title, .c-news-container .c-title h3 {
    font-family: var(--nys-ff-sans);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
  }
  .c-story-name {
    font-family: var(--nys-ff-serif);
    font-size: 24px;
    margin: 0 0 25px 0;
    line-height: 120%;
    padding-top: 16px;
    max-width: 440px;
    color: var(--nys-color-grey08);
    font-weight: var(--nys-fw-normal);

    a {
      color: var(--nys-color-grey08);
      text-decoration: none;
      font-weight: var(--nys-fw-normal);
    }
  }

  .c-story-image {
    width: 100%;
  }

  .c-story--date {
    color: var(--nys-color-blue);
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  .c-story-link {
    font-family: var(--nys-ff-sans-bold);
    font-size: 14px;
    color: var(--nys-color-lgt-text);
  }

  .c-featured-story-issue-tag {
    color: var(--nys-color-link);
    font-family: var(--nys-ff-sans-bold);
    font-size: 12px;
  }

  .c-featured-story-issue-tag a {
    text-transform: uppercase;
    font-family: var(--nys-ff-sans-bold);
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: var(--nys-color-link);

    &:hover {
      color: var(--nys-color-link);
      text-decoration: underline;
    }
  }

  @include bp-min(sm) {

    .c-story-name {
      font-size: 26px;
    }

    .l-left {
      width: 50%;
    }

    .l-right {
      width: 340px;
      float: right;
    }

    .story-container {
      display: flex;
      gap: 40px;
    }
  }
}

.c-block.c-event-featured-story,
.nysenate-majority-issue-home .c-event-featured-story{
  margin-bottom: 0;
}

.nysenate-majority-issue-home img {
  margin-bottom: 16px;
}

.c-event-video--home {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-family: var(nys-ff-sans);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--nys-color-contrast-text);
  margin-bottom: 15px;

  &:hover {
    text-decoration: underline;
  }

  span {
    line-height: 1;
  }

  svg {
    margin-right: 10px;

    path {
      fill: var(--nys-color-gold);
    }
  }
}


.stream-title {
  font-family: var(--nys-ff-sans-bold);
  text-transform: uppercase;
  color: var(--nys-color-gold);
  margin: 0;
}

.nysenate-happening-now {
  .c-meeting-video--status.icon-before__youtube:before{
      color: var(--nys-color-yellow03);
      font-size: 24px;
  }
}
.node--view-mode-featured-content {
  grid-column: 1 / span 2
}

@include bp-min(sm) {
  .view-display-id-block_1 {
    .view-content {
      @include grid(2, 40px);
      .views-row {
        border-bottom: 1px solid var(--nys-color-grey05)
      }

      .c-event-featured-story {
        .c-container--header__top-border {
          display: none;
        }

        .story-container {
          display: block;

          .l-left {
            width: 100%;
          }

          .l-right {
            width: 100%;
            float: none;
          }

          .c-story--date {
            margin-top: 24px;
          }
        }
      }
    }
  }
}
