.nys-openleg-config-warning {
  background-color: darkred;
  color: yellow;
  padding: 0.5em 1.5em;
  width: fit-content;
}

.path-legislation main.l-row--main {
  padding: 20px 0;
}

.nys-openleg-statute.nys-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.nys-openleg-statute-container {
  font-size: 15px;
}

.nys-openleg-result-nav-item-link,
.nys-openleg-result-breadcrumb-link {
  color: #2b6a90 !important;
  text-decoration: none;
}

.nys-openleg-result-tools {
  border-top: 1px solid #aaa;
  margin-top: 1.5em;
  border-bottom: 1px solid #aaa;
}

.nys-openleg-result-container {
  background-color: #eee;
  padding: 20px 20px 5px 20px;
  margin: 10px 0;
}

.nys-openleg-result-container hr.divider {
  margin-top: 0;
  margin-bottom: 0;
}

.nys-openleg-items-container {
  padding-left: 0;
  list-style-type: none;
}

.nys-openleg-head-container > * {
  vertical-align: top;
}

.nys-openleg-result-title {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  font-family: 'Adelle Bold', serif;
  font-size: 32px;
}

.nys-openleg-result-title > div {
  margin-bottom: 0.3em;
}

.nys-openleg-result-title-headline {
  font-size: inherit;
  letter-spacing: .03em;
}

.nys-openleg-result-title-short {
  font-size: .8em;
  font-weight: normal;
}

.nys-openleg-result-title-location {
  font-size: .5em;
  font-family: 'Adelle Light', serif;
}

.nys-openleg-result-item-container {
  padding: 0;
  border-bottom: 1px solid #a0a0a0;
}

.nys-openleg-result-item-container:last-child {
  border-bottom: 0 none;
}

.nys-openleg-result-item-link {
  display: block;
  font-family: "Adelle Bold", serif;
  font-size: 26px;
  line-height: 1em;
  letter-spacing: 0.05em;
  padding: 20px 0;
  color: #444 !important;
  border-bottom: 2px solid transparent;
}

.nys-openleg-result-item-link:hover {
  text-decoration: none;
  color: #0078a0 !important;
  border-bottom: 2px solid #0078a0 !important;
}

.nys-openleg-result-item-name {
  display: inline-block;
  width: 33%;
  font-weight: bold;
  vertical-align: middle;
}

.nys-openleg-result-item-description {
  display: inline-block;
  width: 65%;
  font-size: 20px;
  font-family: "Adelle Light", serif;
  vertical-align: middle;
}

.nys-openleg-result-text {
  border-top: 4px double;
  padding: 2em 0;
  margin-top: .5em;
  font-family: 'Adelle Light', serif;
  font-size: 20px;
}

.nys-openleg-deprecation-warning {
  font-size: 15px;
  font-weight: bold;
  margin: 1em 2em 2em;
}

/**
 * Breadcrumbs
 */
.nys-openleg-result-breadcrumbs-container {
  line-height: 1.4em;
  font-weight: bold;
  padding: 0 0 0.6em;
  margin: 0 0 1.5em;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.nys-openleg-result-breadcrumb-container {
  display: inline-block;
  position: relative;
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  font-size: 1em;
}

.nys-openleg-result-breadcrumb-container::before {
  content: '\3E';
  font-family: 'senate_icons', sans-serif;
  position: absolute;
  top: -3px;
  left: -3px;
}

.nys-openleg-result-breadcrumb-link {
  display: inline-block;
  margin: 0 7px 0 20px;
}

.nys-openleg-result-breadcrumb-link:hover,
.search-title:hover {
  text-decoration: underline;
}

.nys-openleg-result-breadcrumb-name {
  display: inline;
}

.nys-openleg-result-breadcrumb-description {
  display: inline;
  font-weight: normal;
}

/**
 * Nav Bar
 */
.nys-openleg-result-nav-bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nys-openleg-result-nav-bar-item {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin: 2em .5% 0;
}

.nys-openleg-result-nav-bar-item-up {
  margin-top: 0;
}

.nys-openleg-result-nav-item-dir {
  text-transform: uppercase;
  font-weight: bold;
}

.nys-openleg-result-nav-item-container {
  list-style: none;
}

.nys-openleg-result-nav-item-container a {
  font-weight: bold;
}

.nys-openleg-result-nav-bar-item-previous {
  text-align: left;
}

.nys-openleg-result-nav-bar-item-next {
  text-align: right;
}

/**
 * History
 */
.nys-openleg-history-container {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-top: 1em;
  border-right: 1px solid #aaaaaa;
}

.nys-openleg-history-container .form-item-history {
  margin: 0;
  width: initial;
}

.nys-openleg-history-container .js-form-type-select::after {
  position: relative;
  right: 1.6em;
}

.nys-openleg-history-container .form-item-history label:hover {
  text-decoration: underline;
}

.nys-openleg-history-container .form-item-history label {
  display: inline-block;
  color: #333;
}

.nys-openleg-history-container .form-item-history .description {
  margin-top: 0.2em;
}

.nys-openleg-history-container .form-item-history select {
  width: fit-content;
  padding: 0 3em 0 1em;
  font-family: 'Adelle SemiBold', serif;
}

.nys-openleg-history-published {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 18px;
}

.nys-openleg-history-note {
  clear: both;
  font-size: 14px;
  padding: 1.5em 0 1em;
}

/**
 * Social / Sharing
 */
.nys-openleg-result-tools .c-detail--social {
  width: 39%;
  display: inline-block;
  padding: 20px 0 20px 20px;
  text-align: right;
  float: none;
  border-left: none;
}

.nys-openleg-result-tools .c-detail--social ul {
  float: none;
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.nys-openleg-result-tools .c-detail--social .c-detail--subhead {
  text-align: left;
  display: inline-block;
  float: none;
  vertical-align: text-bottom;
  margin-right: 1em;
}

.nys-openleg-result-tools .c-detail--social-item {
  display: block;
  width: 25px;
  height: 40px;
  background-color: #fff;
}

.nys-openleg-result-tools .c-detail--social-item::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  color: #2b6990;
}

/**
 * Search controls
 */
.nys-openleg-statute-search-container {
  padding: 1em 2em;
  font-size: 15px;
}

.search-title {
  font-family: 'Adelle SemiBold', serif;
  font-weight: 400;
}

.nys-openleg-statute-search-container .search-title {
  text-align: center;
  margin-right: 0.7em;
  font-size: 15px;
  font-weight: bold;
}

form#nys-openleg-search-form {
  height: 2.25em;
  overflow: hidden;
  border-top: 1px solid #777;
  padding-bottom: 1em;
  margin-bottom: 1em;
  transition: height .5s ease;
}

form#nys-openleg-search-form.open {
  height: 14em;
  border-bottom: 1px solid #777;
}

form#nys-openleg-search-form h3.search-title::before {
  content: '\00a0\3e';
  font-family: senate_icons;
  font-size: 16pt;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
  line-height: 1em;
  font-weight: bold;
  margin-right: 0.2em;
  transition: transform .2s ease, margin-top .1s ease;
}

form#nys-openleg-search-form.open h3.search-title::before {
  transform: rotate(90deg);
  margin-top: -0.5em;
}

#nys-openleg-search-form #edit-search-form-container {
  display:none;
}

#nys-openleg-search-form.open #edit-search-form-container {
  display: block;
}

#nys-openleg-search-form .form-item-search-term  {
  display: inline-block;
  width: 80%;
}

#nys-openleg-search-form button.search__submit {
  position: relative;
  top: 3px;
  width: fit-content;
  height: 1.9em;
  line-height: 2em;
  padding: 0 .7em;
  margin-right: 0;
  background-color: #2b6a90;
  color: #ffffff;
}

#nys-openleg-search-form button.search__submit:hover {
  background-color: #007095 !important;
  color: #fff !important;
}

#nys-openleg-search-form button .search__submit-icon {
  display: none;
}

#nys-openleg-search-form button .search__submit-text {
  font-family: "Helvetica Nueue", sans-serif;
}

#nys-openleg-search-form button .search__submit-text:hover {
  text-decoration: underline;
}

.nys-openleg-search-results-container .search-results-item-container {
  padding: 1em 0.7em;
}

.nys-openleg-search-results-container .search-results-item-container:hover {
  background-color: #ddd;
}

.nys-openleg-search-results-container .search-results-item-container > div {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}

.nys-openleg-search-results-container .search-results-item-container .item-snippets {
  width: 15%;
}

.nys-openleg-search-results-container .search-results-item-container .item-title {
  width: 50%;
}

.nys-openleg-search-results-container .search-results-item-container .item-location {
  width: 25%;
}

.nys-openleg-statute-container .search-title {
  width: fit-content;
  margin: 0 0 0 auto;
  padding: .25em 1em;
  border: 2px solid #555;
  border-top: 0 none;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: .7em;
  cursor: pointer;
  font-size: 15px;
}

.nys-openleg-statute-container .container {
  max-width: unset;
}

.nys-openleg-search-no-results {
  font-weight: bold;
  color: #f00;
}


@media screen and (min-width: 960px){
  .nys-openleg-statute.nys-title {
    font-size: 32px;
  }

  .nys-openleg-result-tools .c-detail--social-item {
    width: 60px;
    color: #444444;
  }

  .nys-openleg-history-container .form-item-history select {
    margin: 0 0 0 1em;
  }

  form#nys-openleg-search-form.open {
    height: 10em;
    border-bottom: 1px solid #777;
  }
}

.nys-openleg-result-share li {
    vertical-align: middle;
}
