parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\ViewsHandlerInterface\\:\\:\\$field\\.$#"
			count: 1
			path: src/Controller/ViewsAutocompleteFiltersController.php

		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\ViewsHandlerInterface\\:\\:\\$options\\.$#"
			count: 1
			path: src/Controller/ViewsAutocompleteFiltersController.php

		-
			message: "#^Variable \\$handler in PHPDoc tag @var does not match assigned variable \\$fields_handler\\.$#"
			count: 1
			path: src/Controller/ViewsAutocompleteFiltersController.php

		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\field\\\\FieldHandlerInterface\\:\\:\\$field\\.$#"
			count: 2
			path: src/Plugin/views/filter/ViewsAutocompleteFiltersCombine.php

		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\field\\\\FieldHandlerInterface\\:\\:\\$realField\\.$#"
			count: 1
			path: src/Plugin/views/filter/ViewsAutocompleteFiltersCombine.php

		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\field\\\\FieldHandlerInterface\\:\\:\\$field\\.$#"
			count: 2
			path: src/Plugin/views/filter/ViewsAutocompleteFiltersString.php

		-
			message: "#^Access to an undefined property Drupal\\\\views\\\\Plugin\\\\views\\\\field\\\\FieldHandlerInterface\\:\\:\\$realField\\.$#"
			count: 1
			path: src/Plugin/views/filter/ViewsAutocompleteFiltersString.php
