{#
/**
 * @file nys-senators-management-constituents.html.twig
 *
 * @var constituent_view
 *   The constituents view result
 */
#}
<div class="nys-senators-management-constituents">
  {{ constituent_view }}
</div>
