{#
/**
 * @file nys-senators-management-overview.html.twig
 *
 * @var stats
 *   The stats block
 * @var active_list
 *   The view upcoming_legislation:session_active
 */
#}
<div class="nys-senators-management-overview">
  {{ stats }}
  <div class="nys-senators-management-overview-active-list">
    <h1>Today's Active List</h1>
  {{ active_list }}
  </div>
</div>
