{#
/**
 * @file nys-senators-management-overview.html.twig
 *
 * @var stats
 *   The stats block
 * @var active_list
 *   The view upcoming_legislation:session_active
 */
#}
<div class="nys-senators-management-constituents-view">
  {{ constituent_view }}
</div>
