/vendor/
vendor
/web/
web
/node_modules/
.env
composer.lock
composer.dev.lock
yarn.lock
/.editorconfig
/.gitattributes

#PHPUnit output
junit.xml
.phpunit.result.cache

# Ignore local overrides.
docker-compose.override.yml
