// Import site utilities.
@import '../../global/utils/init';

.c-block.c-senate-works-container {
	padding-bottom: 60px;
	background-color: $grey06;

	.c-container--header {
		position: static;
		padding: 25px 0 0 25px;
		border: none;
	}

	.c-container--link {
		bottom: 0;
		top: auto;
		width: 100%;
		height: 60px;
		padding: 23px 0 23px 25px;
		color: $background-text;
		background-color: $background-yellow;
		@extend .icon-before__arrow;

		&::before {
			font-size: 17px;
			margin-top: -2px;
			line-height: 12px;
		}

		&::after {
			display: none;
		}
	}

	.c-carousel--btn {
		top: -50px;
	}

	.c-carousel {
		margin: 25px 0 0 0;
		padding: 0;
		list-style: none;
		width: 500%;
		position: relative;
		left: 0;
		display: block;
		transition: left 0.3s ease;
		@include clearfix;
	}

	.c-carousel--item {
		width: 20%; // five elements - percentage width of whole carousel
		margin: 0;
		float: left;
	}

	.c-senate-works--illustration {
		position: relative;
		display: block;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		background: $background-yellow;
		border-radius: 50%;
		text-align: center;
		font-family: $font-serif-regular;
		color: $background-text;
		font-size: 16px;
		line-height: 1.3em;

		@include breakpoint($bp-sm) {
			font-size: 16px;
			line-height: 1.3em;
		}

		> span {
			font-size: 16px;
			line-height: 1.3em;
			position: absolute;
			z-index: 3;
			display: block;
			height: 40px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
		}

		&.illustration--write {
			@extend .icon-before__petition;
		}

		&.illustration--propose {
			@extend .icon-before__comment;
		}

		&.illustration--committee-votes {
			@extend .icon-before__committee-confirm;

			&::before {
				left: 0.3em;
				font-size: 42px;
			}
		}

		&.illustration--floor-votes {
			@extend .icon-before__home;

			&::before {
				left: 0.2em;
				font-size: 42px;
			}
		}

		&.illustration--passed {
			@extend .icon-before__check;
		}

		&::before {
			font-family: 'senate_icons';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			text-align: center;
			line-height: 120px;
			color: $background-text;
			font-size: 36px;
		}
	}

	p.c-senate-works-step-description {
		margin: 25px 0 20px 0;
		line-height: 100%;
		text-align: center;
		font-family: $font-sans;
		font-size: 13px;
		color: $grey08;
	}

	.c-carousel--btn {
		cursor: pointer;
		border: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 45px;
		width: 45px;
		background: transparent;

    &:hover {
      background: transparent;
    }

		&.prev {
			left: 0;
			@extend .icon-replace__left;
		}

		&.next {
			right: 0;
			@extend .icon-replace__right;
		}

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }

    &::after{
			color: $background-yellow;
		}
  }

  .c-carousel--nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 4;
    pointer-events: none;

    .c-carousel--btn {
      position: absolute;
      padding: 0;
      pointer-events: auto;

      &::after {
        height: 100%;
        width: 100%;
        color: $grey05;
        font-size: 36px;
      }
    }
  }

	@include breakpoint($bp-sm) {
		background: none;
		padding-bottom: 0;
		margin-top: 80px;

		.c-container--header {
			padding: 0 0 20px 0;
			border-bottom: 1px solid $grey05;
		}

		.c-container--link {
			top: 0;
			bottom: auto;
			width: auto;
			height: auto;
			padding: 0;
			color: $orange-text;
			background-color: transparent;

			&::before {
				display: none;
			}

			&::after {
				display: inline-block;
			}
		}

		.c-carousel {
			width: 100%;
			margin: 0;
		}

		.c-carousel--item {
			margin: 40px 2.58% 40px 2.58%;
			width: 15.7%;
			max-width: 120px;

			&.l-first {
				margin-left: 0;
			}

			&.l-last {
				margin-right: 0;

				.c-senate-works--illustration {
					&::after {
						display: none;
					}
				}
			}
		}

		.c-senate-works--illustration {
			width: 110px;
			height: 110px;
			overflow: visible;

			&::before {
				top: -0.1em;
			}

			// TRIANGLE!!
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				right: -15px;
				margin: auto;
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;

				border-left: 30px solid $background-yellow;
			}
		}

		.c-senate-works-step-description {
			line-height: 16px;
		}

		&.c-senate-works-container--law {
			.c-senate-works-step-description {
				font-size: 14px;
			}
		}

		&.c-senate-works-container--budget {
			.c-senate-works-step-description {
				font-size: 13px;
			}
		}
	}
}
