// Import site utilities.
@import '../../global/utils/init';

h3.c-bill-num {
  margin-bottom: 3px;
  color: $grey02;
  font-family: $font-serif-bold;
  font-weight: $font-weight-normal;
  line-height: 1em;
  font-size: 20px;
  letter-spacing: 0.05em;

  @include breakpoint($bp-sm) {
    margin-bottom: 80px;
  }

  a {
    color: $grey08;
  }

  &.no-issues {
    margin-bottom: 3px;
    margin-bottom: 20px;
  }
}
.c-legislation-landing {
  h3.c-bill-num {
    @include breakpoint($bp-sm) {
      margin-bottom: 10px;
    }
  }
}

p.c-bill-update--date {
  color: $grey08;
}

.bill-type {
  line-height: 1em;
	letter-spacing: 0.05em;
}


.c-block {
  .c-bill-descript {
    margin: 0 0 10px 0;
    color: $grey08;
    font-family: $font-serif;
    font-size: 20px;
    line-height: 32px;
    a {
      color: $grey08;
    }
  }

  &.c-legislation-landing {
    .c-bill-descript {
      font-weight: 400;
    }
  }
  &.c-block-constituent-bill,
  &.c-legislation-landing,
  &.c-block-legislation-featured
  {
    .c-bill-update{
      display: block;
    }
    p.c-bill-update--date {
      display: inline;
      margin: 0 0.25em 0 0;
      font-family: $font-sans;
      font-size: 14px;
    }
    .c-bill-update--location {
      margin: 0;
      font-family: $font-sans;
      font-size: 14px;
      line-height: 1.4;
      display: inline;
    }
  }

  &.c-block-legislation-featured {
    padding: 0;
    border: 0;
    margin-bottom: 20px;
    @extend .lgt-bg;

    .c-legislation-info {
      position: relative;
      padding: 30px 20px 130px; // 130 = height of polling + visual padding
      z-index: 3;
      height: 100%;

      @include breakpoint($bp-sm) {
        padding: 25px 40px 95px;
        width: 100%;
      }
    }

    .c-block-legislation-featured {
      margin-bottom: 0;
    }

    .c-block--btn-toggle {
      background: transparent;
    }

    .c-bill-num {
      margin: 0 0 0.25em;
      color: $color-white;

      @include breakpoint($bp-sm) {
        margin: 0 0 0.25em;
      }

      a {
        color: $color-white;
        text-decoration: none;
      }
    }

    .c-bill-topic {
      @extend .contrast_text;

      .field-name-field-issues {
        padding-bottom: 0px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-size: 12px;
            font-family: $font-sans;

            @include breakpoint($bp-sm) {
              font-size: 14px;
            }
          }
        }
      }

      a {
        color: $color-white;
      }
    }

    .c-bill-descript {
      font-family: $font-sans;
      color: $color-white;
      font-size: 14px;
      line-height: 18px;
      a {
        color: $color-white;
      }
    }

    p.c-bill-update--date {
      display: inline-block;
      margin: 0 0.25em 0 0;
      font-family: $font-sans;
      font-size: 12px;
      color: $color-white;
    }

    p.c-bill-update--location {
      display: inline;
      margin: 0;
      font-family: $font-sans;
      font-size: 12px;
      line-height: 1.4;
      color: $color-white;

      &::before {
        content: '|';
        display: inline-block;
        margin-right: 0.5em;
      }
    }


    .c-legislation-info .sponsors {
      color: $color-white;

      span {
        @include font-stack-secondary;
        display: block;
        line-height: 18px;
        font-size: 12px;
        margin-top: 20px;
        text-transform: uppercase;
      }

      &--serif {

        .sponsor-name {
          font-family: $font-serif;
          text-transform: none;
          font-size: 20px;
        }
      }
    }

    .nys-senator.sponsor-list {
      width: auto;
    }

    .c-bill-update {
      margin-top: 0;

      @include breakpoint($bp-sm) {
        margin-top: 0;
      }
    }
  }

  &.c-block-constituent-bill {
    p.c-bill-update--location {
      a {
        color: $color-white;
      }
    }

    .sponsors {
      span.sponsor-name {
        font-size: 16px;
        line-height: 23px;
        font-family: "Adelle Light";
        margin: 0;
        text-transform: none;

        a {
          color: #fff;
        }
      }
    }
  }

  .c-bill-update--sponsor {
    display: block;
    margin: 0;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
  }
}

.c-bill-polling {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: initial;
  @extend .med-bg;

  .c-block--btn {
    text-align: center;

    &::before {
      margin-right: 0.4em;
    }
  }

  .c-block--response {
    padding: 40px 40px;
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-sans;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 20px;

    span {
      padding: 4px;
    }
  }

  .nys-bill-vote-form {
    position: relative;
    height: 200px;

    &.nys-bill-vote-form-embedded {
      height: 100%;

      .c-block--btn::before {
        margin-right: 0.1em;
      }
    }

    > div {
      position: relative;
      height: 100%;

      .form-item {
        margin: 0;
      }

      .nys-bill-vote-widget {
        height: 60px;
      }
    }
  }
}

.c-bill-update {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  a {
    font-family: $font-sans;
    font-size: 12px;
    line-height: 1.4;
    text-decoration: none;
    border-bottom: solid 0.05em $color-white;
    width: fit-content;

    @include breakpoint($bp-sm) {
      font-size: 14px;
    }

    &:hover {
      border-bottom: none;
    }
  }
}

// Color change for a links in associated bill teaser blocks

.trad_blue,
.cont_blue,
.purple,
.trad_red,
.cont_red,
.orange,
.trad_green,
.cont_green {
  .c-block-legislation-featured {
    p.c-bill-update--location {
      font-size: 14px;
      display: inline;
      line-height: 18.2px;

      a {
        color: $color-white;
        border-bottom: solid 0.05em $color-white;

        &:hover {
          border-bottom: none;
        }
      }
    }

    p.c-bill-update--date {
      font-size: 14px;
      display: inline;
      line-height: 18.2px;
    }
  }
}


@include breakpoint($bp-sm) {

  .c-block-legislation {

    // social starts hidden;
    .c-social {
      position: absolute;
      display: block;
      visibility: visible;
      opacity: 1;
      height: 100%;
      width: 40px;
      top: 0;
      left: auto;
      right: 0;
      background: transparent;
      z-index: 1;
      transition: right 0.3s ease;

      .c-social--list {
        top: 0;
        left: auto;
        right: auto;
        height: auto;

        li {
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 0 5px 0;
        }

        a {
          &::after {
            width: 40px;
            text-align: center;
            font-size: 26px;
            color: $blue01;
          }
        }
      }
    }

    // social visible
    &.c-social-visible {
      .c-social {
        right: -40px;
        transition: right 0.3s ease;
      }
    }

    &.c-list-item {
      .c-bill-num {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .c-legislation-info.leg-list
    {
      display: flex;

      .left-col {
        flex: 23%;
        padding-right: 2%;

        .c-press-release--topic {
          color: $color-nys-blue;
        }
      }

      .right-col {
        flex: 75%;
      }
    }
  }

  h3.c-bill-num {
    font-size: 22px;

    &--large {
      font-size: 32px;
    }
  }


  .c-bill-descript {
    margin-bottom: 15px;
  }

  .c-block.c-block-legislation-featured {

    p.c-bill-update--date,
    p.c-bill-update--location,
    .c-bill-update--sponsor {
      font-size: 14px;
      line-height: 18.2px;
    }

    &.c-block--half-wrap {
      width: 100%;
      clear: none;
      float: left;
      margin-right: 15px;
      margin-bottom: 0;

      .node-article & {
        width: 100%;
        margin-bottom: 20px;
      }

      .node-press-release & {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .c-bill-num {
      color: $color-white;
    }

    .c-bill-topic {
      font-size: 14px;
    }

    .c-block--btn-toggle {
      background: $grey05;
    }

    .c-legislation-info {
      // added this to compensate for short bill description
      // with long quote.
      min-height: 480px;
    }

    p.c-bill-update--location {

      a {
        color: $color-white;
      }
    }

  }

  .c-bill-polling {
    height: initial;

    .nys-bill-vote-form {
      position: relative;
      height: 200px;

      &.nys-bill-vote-form-embedded {
        height: 120px;
      }

      > div {
        position: relative;
        height: 100%;

        .form-item {
          margin: 0;
        }

        .nys-bill-vote-widget {
          height: 80px;
        }
      }
    }
  }
}
