@import '../../global/utils/init';

// My Dashboard actionbar block styling.
.dashboard-actionbar-block {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 150px;
  background-color: $gen_blue_drk;
  padding-top: 100px;
  position: relative;

  @include breakpoint($bp-under-md) {
    padding: 20px 9% 0;
  }

  h1.dashboard-actionbar-heading {
    font-size: 40px;
    font-weight: 300;
    font-family: $font-serif;
    color: white;
    margin: 0;
  }

  p.dashboard-actionbar-subheading {
    font-size: 16px;
    color: white;
    padding: 15px 0 30px;
    margin: 0;
  }

  .dashboard-actionbar-link-wrapper {
    position: absolute;
    bottom: 30px;
    right: 150px;

    a.dashboard-actionbar-link {
      position: relative;
      float: right;
      clear: both;
      margin-top: 10px;
      color: white;
      padding: 9px 12px 6px 33px;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s ease;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 700;
      font-size: 15px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      @include breakpoint($bp-under-md) {
        display: none;
      }

      i {
        position: absolute;
        top: 13px;
        left: 12px;
      }
    }
  }
}
