@import '../../global/utils/breakpoints';
@import '../../global/colors/colors';
@import '../../global/fonts/fonts';
@import '../../global/fonts/phosphor';
@import '../../global/utils/typography';

// My Dashboard actionbar block styling.
.dashboard-actionbar-block {
  margin: 0 auto;
  max-width: 1500px;
  padding: 144px 150px 40px;
  background-color: $gen_blue_drk;
  position: relative;
  height: 287px;

  @include breakpoint($bp-under-md) {
    padding: 20px 9% 0;
  }

  h1.dashboard-actionbar-heading {
    font-size: 48px;
    font-weight: 300;
    font-family: $font-serif;
    color: white;
    margin: 0;
  }

  p.dashboard-actionbar-subheading {
    font-size: 20px;
    color: white;
    padding: 5px 0 0;
    margin: 0;
  }

  .dashboard-actionbar-link-wrapper {
    position: absolute;
    bottom: 40px;
    right: 150px;

    a.dashboard-actionbar-link {
      position: relative;
      float: right;
      clear: both;
      margin-top: 10px;
      color: white;
      padding: 8px 12px 5px 33px;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s ease;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 1px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      @include breakpoint($bp-under-md) {
        display: none;
      }

      i {
        position: absolute;
        font-size: 14px;
        top: 10px;
        left: 12px;
      }
    }
  }
}
