<div class="nys-senator sponsor-list">
  <div class="nys-senator--thumb">
    <!-- theme template:  -->
		<a href="{{ url }}"><picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source data-srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_webp_retina/public/sd50-member-head-shot-160-mannion.jpg?itok=QLLDNyDh&amp;timestamp=1623282419 1x" media="(min-width : 1px) and (min-resolution: 140dpi)" type="image/webp" srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_webp_retina/public/sd50-member-head-shot-160-mannion.jpg?itok=QLLDNyDh&amp;timestamp=1623282419 1x">
<source data-srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_webp/public/sd50-member-head-shot-160-mannion.jpg?itok=qdNnYPbK&amp;timestamp=1623282419 1x" media="(min-width : 1px)" type="image/webp" srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_webp/public/sd50-member-head-shot-160-mannion.jpg?itok=qdNnYPbK&amp;timestamp=1623282419 1x">
<source data-srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_retina/public/sd50-member-head-shot-160-mannion.jpg?itok=HWup4Az1&amp;timestamp=1623282419 1x" media="(min-width : 1px) and (min-resolution: 140dpi)" srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone_retina/public/sd50-member-head-shot-160-mannion.jpg?itok=HWup4Az1&amp;timestamp=1623282419 1x">
<source data-srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone/public/sd50-member-head-shot-160-mannion.jpg?itok=INTu4OR-&amp;timestamp=1623282419 1x" media="(min-width : 1px)" srcset="https://www.nysenate.gov/sites/default/files/styles/45x45_phone/public/sd50-member-head-shot-160-mannion.jpg?itok=INTu4OR-&amp;timestamp=1623282419 1x">
<!--[if IE 9]></video><![endif]-->
<img class="  lazyloaded" src="https://www.nysenate.gov/sites/default/files/styles/45x45/public/sd50-member-head-shot-160-mannion.jpg?itok=XG7a2Lyd&amp;timestamp=1623282419" alt="" title="">
</picture></a>

  </div>
  <div class="nys-senator--info">
    <h4 class="nys-senator--name">
      <a href="{{ url }}">{{ name }}</a>
    </h4>
    <p class="nys-senator--district">
      <span class="nys-senator--party">  

        {#  #}


       (D) <span>50th&nbsp;Senate District</span>      </span>
    </p>
  </div>
</div>