{#
/**
 * @file
 * Default theme implementation to display source summary block total count.
 *
 * Available variables:
 * - count: The total number of records retrieved.
 */
#}
<span class="source-summary-count">
  {% trans %}1 result found{% plural count %}{{ count }} results found{% endtrans %}
</span>
