@import '../../global/utils/init';

.nyesenate-upcoming-events {
  position: relative;
  margin: 40px 0;
  padding-bottom: 40px;

  &__title {
    color: $grey02;
    font-size: 20px;
    line-height: 1em;
    padding-bottom: 20px;
    font-family: 'Adelle SemiBold';
  }

  &__header {
    .upcoming-events-link {
      position: absolute;
      display: block;
      top: auto;
      right: 0;
      bottom: 0;
      font-size: 15px;
      line-height: 18px;
      color: $orange01;
      text-transform: uppercase;
      text-decoration: none;

      &::after {
        content: '\72';
        font-family: 'senate_icons';
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
        margin-top: -2px;
        font-size: 17px;
        line-height: 12px;
      }
    }
  }

  &__items {
    background-color: $grey06;
    padding: 25px;

    .item {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $grey05;
      padding: 20px 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .item-header {
      display: block;
      float: left;

      .date-display {
        text-transform: uppercase;
        color: $grey02;
        font-size: 16px;
        line-height: 18px;

        &.month {
          clear: none;
          border-top: 0;
          padding: 0;
          font-size: 12px;
          color: $grey02;
          text-transform: uppercase;
          line-height: 18px;
          font-family: 'Proxima Nova Regular';

          &::before {
            content: '/';
            margin: 0 3px 0 5px;
          }
        }

        &.date {
          font-family: 'Adelle SemiBold';
        }
      }
    }

    .item-content {
      .event {
        clear: left;
        border-top: 1px solid #d2d2d2;
        padding: 12px 0;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .event-title {
      margin: 0;

      a {
        font-size: 18px;
        line-height: 26px;
        color: $grey02;
        display: block;
        text-decoration: none;
        font-family: 'Adelle Light';
      }
    }
  }
}

// Featured events D7
.tabs-content {
  width: 100%;

  .c-event-name {
    color: $grey02;

    a {
      color: $grey02;
    }
  }
}

.c-event-block {
  .c-event-date-multiday {
    & > div {
      display: inline-block;
    }

    .c-event-date-separator {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 20px;
    }
  }
}

.c-event-block--list {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid $grey05;
  overflow: hidden;
  font-family: 'Proxima Nova Regular';
  position: relative;

  .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }


  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    text-transform: uppercase;
    font-size: 18px;
    top: 20px;
    left: 0;
    line-height: 130%;
    background: $grey06;
    margin-bottom: 24px;
    padding: 6px;

    span {
      font-family: 'Adelle Bold';
      font-size: 26px;
      margin-bottom: 6px;
    }
  }

  .c-event-name {
    font-family: 'Adelle SemiBold';
    font-size: 24px;
    margin: 0 0 12px;
    line-height: 120%;
    margin-left: 0;
  }

  .c-event-location {
    font-size: 18px;
    clear: left;
    color: $grey10;
    display: block;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 6px;
    margin-left: 0;
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    display: block;
  }

  .c-event-time {
    margin-top: 10px;
    margin-left: 0;
    display: block;
    font-family: 'Proxima Nova SemiBold';
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }

  .c-meeting-video--status::before {
    padding: 0;
    margin-left: 0;
    border-left: 0;
  }

  .c-event-video {
    clear: both;
    margin-top: 24px;
  }

  a {
    text-decoration: none;
  }
}

.first {
  .c-event-block--list {
    border-top: 0;
  }
}

.c-event-block--today {
  margin: 0 0 10px;
  padding: 15px 0;
  position: relative;
  background-color: $grey06;
  overflow: hidden;
  font-family: 'Proxima Nova Regular';

  .c-event-name {
    font-family: 'Adelle Semibold';
    font-size: 24px;
    margin: 14px 20px;
    line-height: 120%;
    float: left;
    clear: left;
  }

  .c-event-location {
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  a {
    text-decoration: none;
  }

  .c-event-address {
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 0 20px;
    float: left;
    clear: left;
  }

  .c-event-time {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;

    span {
      font-family: 'Proxima Nova SemiBold';
      font-size: 16px;
    }
  }

  .c-event-rsvp {
    margin: 20px 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
}

.view-grouping + .view-grouping {
  .first {
    .c-event-block--list {
      border-top: 1px solid $grey05;
    }
  }
}

.view-previous-sessions {
  .c-event-block--list {
    .c-event-name {
      margin-bottom: 18px;
    }

    .c-event-location {
      clear: right;
      float: right;
    }

    .c-event-video {
      margin-left: 0;
    }
  }
}

.c-event-block {
  .c-event-date-multiday {
    & > div {
      display: inline-block;
    }

    .c-event-date-separator {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 20px;
    }
  }
}


.c-event-block--featured {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 2px solid $grey09;
  font-family: 'Proxima Nova Regular';
  @include clearfix;

  .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 20px;

    span {
      font-family: 'Adelle Bold';

      &::after {
        content: '/';
        display: inline-block;
        font-family: 'Proxima Nova Regular';
        margin: 0 0 0 5px;
      }
    }
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 18px 0 12px;
    line-height: 120%;
  }

  .c-event-location {
    font-size: 20px;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 15px;
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Proxima Nova SemiBold';
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }

  .addthisevent-drop {
    margin-top: 20px;
  }
}

.c-event-block--featured-image {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  font-family: 'Proxima Nova Regular';
  @include clearfix;

  .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 24px;

    span {
      font-family: 'Adelle Bold';

      &::after {
        content:'/';
        display: inline-block;
        font-family: 'Proxima Nova Regular';
        margin: 0 0 0 5px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 18px 0 18px 0;
    line-height: 120%;
    color: $blue01;
  }

  .c-event-location {
    font-size: 20px;
    color: #888888;
    line-height: 140%;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 0;
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Proxima Nova SemiBold';
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }

  .addthisevent-drop {
    margin-top: 20px;
  }

}

.c-event-block--upcoming {
  margin: 0;
  padding: 20px 0 40px;
  overflow: hidden;
  font-family: 'Proxima Nova Regular';
  position: relative;
  border-top: 1px solid $grey09;

  &.u-odd {
    clear: left;
  }

  .c-event-date {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 0;
    line-height: 130%;

    span {
      font-family: 'Adelle Bold';
      display: block;
      font-size: 26px;
      margin-bottom: 6px;
    }
  }

  .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 0 0 12px 60px;
    line-height: 120%;
  }

  .c-event-location {
    font-size: 14px;
    margin-left: 60px;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 15px;
    color: $grey04;
    font-size: 14px;
    line-height: 140%;
    display: none;
    margin-bottom: 0;
  }

  .c-event-time {
    margin-top: 20px;
    display: none;
    font-size: 14px;
  }
}

.c-calendar--today .nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: 'Adelle SemiBold';
}


.c-upcoming-container.today {
  background-color: $grey06;
  padding: 40px 5% 0 5%;

  .c-title {
    color: $grey02;
    font-size: 24px;
    font-family: 'Adelle SemiBold';
    text-transform: capitalize;

    a {
      font-family: 'Proxima Nova Regular';
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .c-event-name {
    font-size: 18px;
    width: 100%;
    margin-left: 0;
  }

  .c-event-time {
    color: $grey04;
    font-size: 14px;
  }

  .c-event-location {
    margin-left: 0;
  }
}

@media #{$tablet} {
  .c-event-block--today {
    padding: 24px 0;
    .c-event-name {
      margin-top: 0;
      float: left;
      width: 440px;
      margin-left: 240px;
    }

    .c-event-location {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
    }

    .c-event-address {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
      //display: block;
    }

    .c-event-time {
      position: absolute;
      top: 30px;
      left: 30px;
      width: auto;
      margin-left: 0;
    }

    .c-event-rsvp {
      float: left;
      clear: left;
      margin-left: 240px;
    }
  }

  .c-event-block--list {

    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      float: left;
      width: 100px;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 0;
      position: static;
      line-height: 1;
      background: none;
      clear: both;

      span {
        font-size: 40px;
        display: block;
      }
    }

    .c-event-name {
      float: right;
      width: 460px;
      margin: 12px 120px 10px 0;
      color: $blue01;
    }

    .c-event-location {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      margin-left: 0;

      .icon-before__circle-pin::before {
        vertical-align: top;
      }
    }

    .c-event-address {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      display: block;
    }

    .c-event-time {
      float: right;
      width: 460px;
      clear: right;
      margin-right: 120px;
      display: block;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 430px;
      margin-left: 0;
    }

    .c-meeting-video--status::before {
      padding: 0;
      margin-left: 0;
      border-left: 0;
    }

    .c-event-video {
      position: absolute;
      top: 20px;
      right: 0;
      clear: none;
      margin-top: 0;
    }
  }

  .view-previous-sessions {
    .c-event-block--list {
      .c-event-name {
        margin-bottom: 18px;
      }

      .c-event-location {
        clear: right;
        float: right;
      }

      .c-event-video {
        margin-left: 0;
      }
    }
  }

  .c-event-block--featured {

    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 22px;

      span {
        font-family: 'Adelle SemiBold';

        &::after {
          display: inline-block;
          margin: 0 0 0 5px;
        }
      }

    }

    .c-event-name {
      margin-top: 0;
      margin-right: 120px;
    }

    .c-event-location {
      clear: right;
      margin-right: 120px;
    }

    .c-event-address {
      clear: right;
      margin-right: 120px;
    }

    .c-event-time {
      clear: right;
      margin-right: 120px;
    }

    .c-event-rsvp {
      clear: right;
      margin-right: 430px;
    }

    .addthisevent-drop {
      clear: right;
      margin-right: 400px;
    }
  }

  .c-event-block--featured-image {
    .c-event-image {
      width: 50%;
      float: left;
    }

    .c-event-date {
      margin-top: 0;
      float: right;
      width: 300px;
    }

    .c-event-name {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-location {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-address {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-time {
      float: right;
      clear: right;
      width: 300px;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 145px;
    }

    .addthisevent-drop {
      clear: right;
      float: right;
      width: 180px;
      margin-top: 20px;
      margin-right: 120px;
    }
  }

  .c-upcoming-container {

    .c-event-block--upcoming {
      //width: 50%;
      clear: left;
      margin: 0;
      padding-top: 0;
      padding-left: 20px;
      padding-right: 0;
      border-top: 0;

      &.u-odd {
        padding-right: 20px;
        padding-left: 0;
      }

      .c-event-date {
        float: left;
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 0;
        //position: static;
        line-height: 1;
        //border-top: 1px solid $grey09;
        padding-top: 16px;

        span {
          font-size: 40px;
        }
      }

      .c-event-name {
        float: left;
        clear: left;
        margin-left: 200px;
        margin-top: 24px;
        padding-top: 0;
      }

      .c-event-location {
        float: left;
        clear: left;
        margin-left: 200px;
      }

      .c-event-address {
        float: left;
        clear: left;
        display: block;
        margin-left: 200px;
      }

      .c-event-time {
        float: left;
        clear: left;
        display: block;
        margin-left: 200px;
      }
    }
  }

  .c-upcoming-container.today {
    .c-event-name {
      margin-top: 0;
      padding-top: 30px;
      border-top: 2px solid $grey05;
    }
  }
}
