@import '../../global/utils/init';

.nyesenate-upcoming-events {
  position: relative;
  margin: 40px 0;
  padding-bottom: 40px;

  &__title {
    color: $grey08;
    font-size: 20px;
    line-height: 1em;
    padding-bottom: 20px;
    font-family: $font-serif-semibold;
  }

  &__header {
    .upcoming-events-link {
      position: absolute;
      display: block;
      top: auto;
      right: 0;
      bottom: 0;
      font-size: 15px;
      line-height: 18px;
      color: $orange01;
      text-transform: uppercase;
      text-decoration: none;

      &::after {
        content: '\72';
        font-family: 'senate_icons';
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
        margin-top: -2px;
        font-size: 17px;
        line-height: 12px;
      }
    }
  }

  &__items {
    background-color: $grey06;
    padding: 25px;

    .item {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $grey05;
      padding: 20px 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .item-header {
      display: block;
      float: left;

      .date-display {
        text-transform: uppercase;
        color: $grey02;
        font-size: 16px;
        line-height: 18px;

        &.month {
          clear: none;
          border-top: 0;
          padding: 0;
          font-size: 12px;
          color: $grey02;
          text-transform: uppercase;
          line-height: 18px;
          font-family: $font-sans;

          &::before {
            content: '/';
            margin: 0 3px 0 5px;
          }
        }

        &.date {
          font-family: $font-serif-semibold;
        }
      }
    }

    .item-content {
      .event {
        clear: left;
        border-top: 1px solid #d2d2d2;
        padding: 12px 0;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .event-title {
      margin: 0;

      a {
        font-size: 18px;
        line-height: 26px;
        color: $grey02;
        display: block;
        text-decoration: none;
        font-family: $font-serif;
      }
    }
  }
}

// Featured events D7
.tabs-content {
  width: 100%;

  .c-event-name {
    color: $grey08;

    a {
      color: $grey08;
    }
  }
}

.c-event-block--today {
  margin: 0 0 10px;
  padding: 15px 0;
  position: relative;
  background-color: $grey06;
  overflow: hidden;
  font-family: $font-sans;

  .c-event-name {
    font-family: $font-serif-semibold;
    font-size: 24px;
    margin: 14px 20px;
    line-height: 120%;
    float: left;
    clear: left;
  }

  .c-event-location {
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  a {
    text-decoration: none;
  }

  .c-event-address {
    color: $grey04;
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 0 20px;
    float: left;
    clear: left;
  }

  .c-event-time {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;

    span {
      font-family: $font-sans-bold;
      font-size: 16px;
    }
  }

  .c-event-rsvp {
    margin: 20px 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    clear: left;
    @extend .lgt-text;
  }
}

.c-event-block {
  .c-event-date-multiday {
    & > div {
      display: inline-block;
    }

    .c-event-date-separator {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 20px;
    }
  }

  .c-video-status {
    text-transform: uppercase;
    font-size: 18px;
    color: $color-nys-blue;

    &::before {
      color: $yellow03;
      font-size: 23px;
      vertical-align: middle;
      top: -2px;
      position: relative;
    }
  }
}

.c-event-time {
  .date-display-single {
    .date-display-range {
      font-size: 62.5%;
    }
  }
}

.c-event-block--featured {
  @include clearfix;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 2px solid $grey09;
  font-family: $font-sans;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 20px;

    span {
      font-family: $font-serif-bold;

      &::after {
        content: '/';
        display: inline-block;
        font-family: $font-sans;
        margin: 0 0 0 5px;
      }
    }
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: $font-serif;
    font-size: 24px;
    margin: 18px 0 12px;
    line-height: 120%;
  }

  .c-event-location {
    font-size: 20px;
    color: $grey10;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    margin-top: 15px;
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: $font-sans-bold;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }
}

.c-event-block--featured-image {
  @include clearfix;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 20px;
  font-family: $font-sans;

  .c-title {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .c-event-image {
    width: 100%;
  }

  .c-event-date {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 24px;

    span {
      font-family: $font-serif-bold;

      &::after {
        content: '/';
        display: inline-block;
        font-family: $font-sans;
        margin: 0 0 0 5px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .c-event-date SPAN:last-of-type {
    &::after {
      content: '';
    }
  }

  .c-event-name {
    font-family: $font-serif;
    font-size: 24px;
    margin: 18px 0 18px 0;
    line-height: 120%;
    color: $grey08;
  }

  .c-event-location {
    font-size: 20px;
    color: $grey04;
    line-height: 140%;
    margin-bottom: 10px;

    span {
      margin-right: 7px;
      font-size: 18px;
      @extend .lgt-text;
    }
  }

  .c-event-address {
    color: $grey04;
    font-size: 20px;
    line-height: 140%;
    margin-top: 15px;
    margin-block-end: 0px;
    margin-block-start: 5px;
  }

  .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: $font-sans-bold;
    font-size: 18px;
  }

  .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $grey07;
    border-top: 2px solid $grey05;
    font-size: 18px;
    @extend .lgt-text;
  }
}

.c-calendar--today .nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: $font-serif-semibold;
}

.c-upcoming-container.today {
  background-color: $grey06;
  padding: 40px 5% 0 5%;

  .c-title {
    color: $grey02;
    font-size: 24px;
    font-family: $font-serif-semibold;
    text-transform: capitalize;

    a {
      font-family: $font-sans;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .c-event-name {
    font-size: 18px;
    width: 100%;
    margin-left: 0;
  }

  .c-event-time {
    color: $grey04;
    font-size: 14px;
  }

  .c-event-location {
    margin-left: 0;
  }
}

@include breakpoint($bp-sm) {
  .c-event-block--today {
    padding: 24px 0;
    .c-event-name {
      margin-top: 0;
      float: left;
      width: 440px;
      margin-left: 240px;
    }

    .c-event-location {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
    }

    .c-event-address {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px;
      //display: block;
    }

    .c-event-time {
      position: absolute;
      top: 30px;
      left: 30px;
      width: auto;
      margin-left: 0;
    }

    .c-event-rsvp {
      float: left;
      clear: left;
      margin-left: 240px;
    }
  }

  .c-event-block--featured {
    .c-event-image {
      max-width: 380px;
      float: left;
    }

    .c-event-date {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 22px;

      span {
        font-family: $font-serif-semibold;

        &::after {
          display: inline-block;
          margin: 0 0 0 5px;
        }
      }
    }

    .c-event-name {
      margin-top: 0;
      margin-right: 6px;
    }

    .c-event-location {
      clear: right;
      margin-right: 6px;
    }

    .c-event-address {
      clear: right;
      margin-right: 6px;
    }

    .c-event-time {
      clear: right;
      margin-right: 6px;
    }

    .c-event-rsvp {
      clear: right;
      margin-right: 430px;
    }
  }

  .c-event-block--featured-image {
    .c-event-image {
      width: 50%;
      float: left;
    }

    .c-event-date {
      margin-top: 0;
      float: right;
      width: 300px;
    }

    .c-event-name {
      float: right;
      width: 300px;
      font-weight: 400;
      clear: right;
    }

    .c-event-location {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-address {
      float: right;
      width: 300px;
      clear: right;
    }

    .c-event-time {
      float: right;
      clear: right;
      width: 300px;
    }

    .c-event-rsvp {
      float: right;
      clear: right;
      margin-right: 145px;
    }
  }

  .c-upcoming-container.today {
    .c-event-name {
      margin-top: 0;
      padding-top: 30px;
      border-top: 2px solid $grey05;
    }
  }
}

.page-node-type-microsite-page .node--type-event.node--view-mode-featured-content {
  float: left;
}
