{{ attach_library('nysenate_theme/page-not-found') }}

<div class="page-not-found__wrapper">
  <h2 class="nys-title">We're sorry....</h2>
  <p>
    The requested URL "{{ path }}" could not be found.
    <br/>
    Return to the <a href="/">Homepage</a>
  </p>
</div>
