layout_builder_restrictions_by_region.settings:
  type: config_object
  mapping:
    retain_restrictions_after_layout_removal:
      type: string
      label: "Retain restrictions on removed layouts"
layout_builder_restrictions.entity_view_mode_restriction_by_region:
  type: mapping
  label: 'Per-layout-region Layout Builder Restrictions settings'
  mapping:
    allowed_layouts:
      type: sequence
      label: 'Allowed layouts'
      sequence:
        type: string
        label: 'Layout ID'
    allowlisted_blocks:
      type: sequence
      label: 'Layouts to be restricted'
      sequence:
        type: sequence
        label: 'Layout restrictions'
        sequence:
          type: sequence
          label: 'Regions to be restricted'
          sequence:
            type: sequence
            label: 'Region restrictions'
            sequence:
              type: string
              label: Category
    denylisted_blocks:
      type: sequence
      label: 'Layouts to be restricted'
      sequence:
        type: sequence
        label: 'Layout restrictions'
        sequence:
          type: sequence
          label: 'Regions to be restricted'
          sequence:
            type: sequence
            label: 'Region restrictions'
            sequence:
              type: string
              label: Category
    restricted_categories:
      type: sequence
      label: 'Layouts to be restricted'
      sequence:
        type: sequence
        label: 'Layout restrictions'
        sequence:
          type: sequence
          label: 'Regions to be restricted'
          sequence:
            type: string
            label: 'Region restrictions'
