{{ attach_library('nysenate_theme/nysenate-almost-there') }}
{{ attach_library('nysenate_theme/article-page') }}

<section>
  <header>
    <h2 class="nys-article-title">
      Almost there!
    </h2>
    <div class="c-news--head-meta"></div>
  </header>

  <div class="c-news--body nysenate-almost-there__container">
    <div class="image-wrapper">
      <img src="/themes/custom/nysenate_theme/src/assets/noun_32727.png" alt="Email icon">
    </div>
    <div class="c-block">
      <p>Please find the email that was just sent to you. Click on the login URL in the email (or paste it into your browser) to validate 
      your address and set up a password. New users must login with 7 days to retain an active account. Once that's done, you'll be 
      ready to participate in the legislative process.</p>
    </div>
  </div>
</section>
