// Styling for fieldset element
// and related child elements.

@import '../../global/utils/init';

.rain-admin-theme {

  fieldset {
    border-color: $color-blue-gray;
    border-radius: 2px;
  }

  fieldset:not(.fieldgroup) > legend::before {
    display: none;
  }

  fieldset:not(.fieldgroup):not(.paragraphs-browser-paragraph-type) {
    background-color: transparent;
    margin: 20px 0;
    padding: 10px 20px;

    > legend {
      color: $color-black;
      font-size: 1rem;
      letter-spacing: normal;
      line-height: 1;
      position: relative;
      top: 0;
      text-transform: none;
    }
  }

  // Override spacing.
  .paragraphs-browser-paragraph-type {
    margin-bottom: 50px;
  }
}
