{#
/**
 * @file nys-petitions-management-petitions.html.twig
 *
 * @var array your_petitions
 *   An array of the senator's petition definitions.
 * @var array other_petitions
 *   An array of other senators' petition definitions.
 *
 * @see nys-petitions-management-signature-highchart.html.twig
 */
#}
{{ attach_library('nysenate_theme/dashboard-petitions-questionnaires') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

<dl class="l-tab-bar">
  <div class="c-tab--arrow u-mobile-only"></div>
  <dd class="c-tab active">
    <input class="c-tab-link form-radio" type="radio" name="your_petitions" value="#panel1"/>
    <label class="c-tab-link" for="your_petitions">Your Petitions</label>
  </dd>
  <dd class="c-tab">
    <input class="c-tab-link form-radio" type="radio" name="other_petitions" value="#panel2"/>
    <label class="c-tab-link" for="other_petitions">
      Other Petitions
    </label>
  </dd>
</dl>

<div class="tabs-content">
  <div class="nys-senators-management-petitions-yours tab-content active" id="panel1">
    <div class="your-petitions-list">
      {% if your_petitions is iterable and your_petitions|length > 0 %}
        {% for val in your_petitions %}
          {{ include('nys-petitions-management-signature-highchart.html.twig', val) }}
        {% endfor %}
      {% else %}
        No petition signatures were found.
      {% endif %}
    </div>
    <div class="petition-user-list"></div>
  </div>

  <div class="nys-senators-management-petitions-others tab-content" id="panel2">
    {{ other_petitions }}
    <div class="petition-user-list"></div>
  </div>
</div>
