// Breakpoints.

$bp-under-xsm: 'max-width: 543px';
$bp-under-sm: 'max-width: 767px';
$bp-under-md: 'max-width: 1023px';
$bp-under-lg2: 'max-width: 1299px';
$bp-under-lg3: 'max-width: 1499px';
$bp-xsm: 544px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1200px;
$bp-xl: 1540px;
$bp-max: 1440px;

// Expects $viewport to either be a number: 200px
// Or a string: 'max-width: 300px'
//
// Usage:
// .foo__bar {
//   margin-left: 16px;
//   margin-right: 16px;

//   @include breakpoint($bp-md) {
//     margin-left: 24px;
//     margin-right: 24px;
//   }
// }
@mixin breakpoint($viewport) {
  @if type-of($viewport) == number {
    @media screen and ( min-width: $viewport ) {
      @content;
    }
  }
  @else {
    @media screen and ( $viewport ) {
      @content;
    }
  }
}


/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
$tabletWidth: 760;
$desktopWidth: 960;
$largeWidth: 1280;
// only for TOP NAV -- makes it so 'find senator link disappears'
$navBreakWidth: 1100; 
// for hiding social
$smallNavBreakWidth: 900;


/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
$tablet: "screen and (min-width: #{$tabletWidth}px)";
$desktop: "screen and (min-width: #{$desktopWidth}px)";
$large: "screen and (min-width: #{$largeWidth}px)";
$mobile: "screen and (max-width: #{($tabletWidth - 1)}px)";

$senatorBtnHidden: "screen and (max-width: #{$navBreakWidth}px)";
$senatorBtnVisible: "screen and (min-width: #{$navBreakWidth}px)";

$socialBtnsHidden: "screen and (max-width: #{$smallNavBreakWidth}px)";

// mobile landscape -- used to make tiny nav
$mobileLandscape: "screen and (max-width: #{$tabletWidth}px) and (orientation: landscape)";