// Add max-width.
.container {
  max-width: unset!important;
}

// Use horizontal align plugin.
.horizontal-align {
  @include horizontal-align;
}

// Use vertical align plugin.
.vertical-align {
  @include vertical-align;
}
