// Typography
//
// Typography variables.

$font-serif: 'Adelle Light', serif;
$font-serif-bold: 'Adelle Bold', serif;
$font-sans: 'Proxima Nova Regular', 'Arial', sans-serif;
$font-sans-bold: 'Proxima Nova SemiBold', 'Arial', sans-serif;

@mixin font-stack-primary {
  font-family: $font-serif;
}

@mixin font-stack-secondary {
  font-family: $font-sans;
}

// Basic font styles
strong {
  font-family: $font-serif-bold;
}

.font-secondary  {
  @include font-stack-secondary;
  strong {
    font-family: $font-sans-bold;
  }
}

// Font-Weights.
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-italic: italic;

// Heading mixins.
@mixin heading-1-style {
  @include font-stack-primary;
  font-size: 1.5rem;
  // 28px.
  line-height: 1.16;

  @include breakpoint($bp-sm) {
    font-size: 3rem;
    // 56px.
    line-height: 1.16;
  }
}

// Mixin for wireframe style large heading.
@mixin wire-large-heading {
  font-size: 1.5rem;
  font-weight: normal;

  @include breakpoint($bp-xsm) {
    font-size: 2rem;
  }

  @include breakpoint($bp-sm) {
    font-size: 3rem;
  }
}
