{#
/**
 * @file
 * Default check-specific help page template for checks.
 *
 * Available variables:
 * - title: The title to show on the top of the page.
 * - paragraphs: Array of paragraphs (strings) to show after the title.
 */
#}

<h3>
    {{ title }}
</h3>
{% for paragraph in paragraphs %}
    <p>
        {{ paragraph }}
    </p>
{% endfor %}
