{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('nysenate_theme/dashboard-inbox') }}

<div class="container">
  <form{{ attributes.addClass('c-container--const-inbox') }}>
    <div class="inbox-action-links">
      <div class="select-all-messages">
        <div class="form-item form-type-checkbox form-item-check-all">
          <input class="vbo-select-all form-checkbox" data-drupal-selector="edit-select-all" type="checkbox" id="edit-select-all" name="select_all" value="1" />
          <label class="option" for="edit-select-all">Check All</label>
        </div>
      </div>
      <div class="form-actions form-wrapper">
        <div data-drupal-selector="edit-actions" class="js-form-wrapper form-wrapper" id="edit-actions--3">
          <input data-drupal-selector="edit-3" type="submit" id="edit-3--2" name="op" value="Delete" class="button js-form-submit form-submit action-button" disabled />
        </div>
        {% if has_message_button %}
          <button class="action-button action-button--message" name="op" value="Message" type="submit">Message</button>
        {% endif %}
      </div>
    </div>

    {{ element.output }}
  </form>
</div>