@import '../../global/utils/init';

.c-detail--header__bill .c-bill--flag {
  @media screen and (min-width: 760px) {
    margin-left: 20px;
    margin-top: 5px;
  }
  margin-bottom: 10px;
}

.c-detail--header.c-detail--header__bill {
  margin-bottom: 0;

  @media screen and (min-width: 760px) {
    margin-bottom: 20px;
  }
}

.c-bill--heading-block > .nys-title.c-bill-title {
  margin-bottom: 0;
}

.c-detail--header__bill .c-bill--flag {
  @media screen and (min-width: 760px) {
    margin-left: 20px;
    margin-top: 5px;
  }
  margin-bottom: 10px;
}

.cbill--actions-table--row {
  padding:18px 0px;
  border-bottom: 1px solid #bbbbbb;
  TD {
    line-height:26px;
    background-color:white;
  }
}

.cbill--actions-table--row:last-of-type {
  border-bottom: 0;
}

h3.c-bill-num {
  margin: 0 0 0.25em;
  color: $grey02;
  font-family: $font-serif-bold;
  line-height: 1em;
  font-size: 20px;
  letter-spacing: 0.05em;

  a {
    color: $grey02;
  }
}

.c-bill-topic {
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  letter-spacing: 0.1em;
  font-size: 10px;
  @extend .lgt-text;
}

h4.c-bill-topic {
  text-transform: uppercase;
  font-family: $font-sans-bold;
  letter-spacing: 0.1em;
  font-size: 10px;
  @extend .lgt-text;
  font-style: inherit;
  margin-top: 0;
  a {
    font-family: $font-sans-bold;
  }
}

.c-bill-descript {
  margin: 0 0 10px 0;
  color: $grey02;
  font-family: $font-serif;
  font-size: 20px;
  line-height: 32px;
}

.c-bill-path {
  position: relative;
  width: 120px;
  margin: 0 0 7px 0;

  > ul {
    position: relative;
    width: 100%;
    height: 10px;
    list-style: none;
    text-align: center;
  }
}

.c-bill-path--line {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 100%;
  border: 0;
  background: $grey05;
}

.c-bill-path--step {
  display: block;
  float: left;
  height: 10px;
  width: 10px;
  background: $grey06;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  text-indent: -9999px;

  & + * {
    margin-left: 10%;
  }

  &.c-bill-path--step__passed {
    @extend .lgt-bg;
  }
}

.c-bill-update--date {
  display: inline-block;
  margin: 0 0.25em 0 0;
  font-family: $font-sans;
  font-size: 12px;
}

.c-bill-update--location {
  display: inline-block;
  margin: 0;
  font-family: $font-sans;
  font-size: 12px;
  line-height: 1.4;
  display: inline;

  &::before {
    content: '|';
    display: inline-block;
    margin-right: 0.5em;
  }
}

.c-block-legislation-featured {
  .c-bill-update--location {
    a {
      color: $color-white;
      border-bottom: solid 0.05em $color-white;
      
      &:hover {
        border-bottom: none;
      }
    }
  }
}

.c-bill-update--sponsor {
  display: block;
  margin: 0;
  // color: $color-white;
  font-family: $font-sans;
  font-size: 14px;
}

.c-bill-section,
.c-block.c-bill-section {
  margin-top: 30px;
  margin-bottom: 0;
}

.c-bill-fulltext {
  overflow: hidden;
  font-size: 12px;

  @media (max-width: 767px) {
    font-size: 9px;
  }

  @media (max-width: 430px) {
    font-size: 8px;
  }

  @media (max-width: 350px) {
    font-size: 7px;
  }
}

.c-bill-action-version.c-bill--flag {
  float: left;
  text-align: center;
  &.c-bill-action--orig-bill {
    background: #eee;
    color: $grey04;
  }
}

.c-detail--header.c-detail--header__bill {
  margin-bottom: 0;

  @media screen and (min-width: 760px) {
    margin-bottom: 20px;
  }
}

.c-detail--header-meta.c-detail--header-meta__bill {
  width: 100%;
}

.c-block.c-bill--amendment-details {
  width: 100%;
  padding: 20px;
  margin-bottom: 0;
  dl.accordion {
    dd {
      width: 100%;
    }
  }
}

.c-detail--writeup.c-detail--memo {
  font-family: $font-sans;
  background: $color-white;
}

.c-action-bill--items {
  padding: 0;
}

.l-tab-bar .c-tab .c-tab-link.c-tab-link--bill-content {
  padding: 0 40px;
  text-transform: uppercase;
}

.c-bill--amendment-details dd a.c-detail--download {
  color: $color-cg-blue;
  text-transform: uppercase;
}

.c-bill--amendment-details .l-tab-bar {
  margin-top: 0;
}

.c-bill--amendment-details #amendment-details {
  position: relative;
  top: -155px;
}

@-moz-document url-prefix() {
  .c-bill--amendment-details #amendment-details {
    top: -290px;
  }
}

.c-block.c-block--bill-memo {
  margin-bottom: 20px;
}

.c-bill-section .accordion-navigation {
  width: 100%;
}

#your-voice {
  display: none;
}

.c-bill-amendment-toggle {
  dt {
    color: $gen_blue_lgt;
    font-family: $font-sans-bold;
  }
  dd {
    a {
      background: $color-white;
      color: #777;
    }
    &.active a {
      background: #2b6a90;
      color: $color-white;
      border-radius: 0;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-bill-meta {
    width: 25%;
    max-width: 200px;
    float: left;
  }

  h3.c-bill-num {
    font-size: 22px;
  }

  .c-bill-topic {
    font-size: 12px;
  }

  .c-bill-body {
    width: 75%;
    max-width: 560px;
    float: left;
  }

  .c-bill-descript {
    margin-bottom: 15px;
  }

  .c-bill-path {
    margin-bottom: 12px;
  }

  .c-bill-update--date,
  .c-bill-update--location,
  .c-bill-update--sponsor {
    font-size: 14px;
  }

  .c-bill-fulltext {
    font-size: 16px;
  }

  .c-bill-text__memo {
    margin-top: 30px;
  }

  .c-bill-text__bill {
    margin-top: 70px;
  }

  .c-bill--actions-table-col1 {
    width: 15%;
  }
  
  .c-bill--actions-table-col2 {
    width: 85%;
  }  
}
