@import "../../global/utils/init";

.c-detail--header__bill .c-bill--flag {
  font-weight: normal;
  @media screen and (min-width: 760px) {
    margin-left: 20px;
    margin-top: 5px;
  }
}

.c-detail--header.c-detail--header__bill {
  margin-bottom: 0;

  @media screen and (min-width: 760px) {
    margin-bottom: 20px;
  }
}

// Bill page subheader style override
.c-detail--subhead.c-detail--section-title.c-bill-detail--subhead {
  border-bottom: 1px solid $color-alto;
  padding-bottom: 8px;
  width: 100%;

  a {
    color: $color-nys-blue;
  }
}

.c-bill--heading-block > .nys-title.c-bill-title {
  margin-bottom: 0;
}

.c-detail--header__bill .c-bill--flag {
  @media screen and (min-width: 760px) {
    margin-left: 20px;
    margin-top: 5px;
  }
  margin-bottom: 10px;
}

.c-bill-topic {
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  letter-spacing: 0.1em;
  font-size: 10px;
  @extend .lgt-text;
}

h4.c-bill-topic {
  text-transform: uppercase;
  font-family: $font-sans-bold;
  letter-spacing: 0.1em;
  font-size: 10px;
  @extend .lgt-text;
  font-style: inherit;
  margin-top: 0;
  a {
    font-family: $font-sans-bold;
  }
}

.c-bill--session-year {
  font-size: 14px;
  color: $grey03;
  font-family: $font-sans-bold;
  margin-bottom: 15px;
}

// bill detail page widget
.c-bill--vote-widget {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  top: -5px;

  .form-item {
    margin: 0;
  }

  .c-block--btn {
    position: relative;
    display: block;
    float: left;
    width: 49.5%;
    height: 45px;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 45px;
    @extend .drk-bg;

    &.nys-bill-vote-yes {
      @extend .icon-before__check;
    }

    &.nys-bill-vote-no {
      @extend .icon-before__x;
    }

    &.nys-subscribe-button {
      border-top-width: 1px;
      border-bottom-width: 1px;
    }
    &:hover {
      text-decoration: underline;
    }
    &::before {
      position: relative;
    }
  }

  .nys-bill-vote {
    .c-bill-polling--cta {
      padding: 0;
      text-align: center;

      strong {
        font-family: $font-sans-bold;
      }
    }

    .bill-vote-message-prompt {
      top: 0px;
      height: auto;
      padding: 0;

      .closer::after {
        margin-left: 10px;
      }
    }

    .nys-bill-vote--contact {
      position: absolute;
      bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 11px;
    }

    .bill-vote-thanks {
      padding: 0 0 60px 45px;
      text-align: left;
      line-height: 40px;
    }
  }
}

.c-bill-path {
  position: relative;
  width: 120px;
  margin: 0 0 7px 0;

  > ul {
    position: relative;
    width: 100%;
    height: 10px;
    list-style: none;
    text-align: center;
  }
}

.c-bill-path--line {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 100%;
  border: 0;
  background: $grey05;
}

.c-bill-path--step {
  display: block;
  float: left;
  height: 10px;
  width: 10px;
  background: $grey06;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  text-indent: -9999px;

  & + * {
    margin-left: 10%;
  }

  &.c-bill-path--step__passed {
    @extend .lgt-bg;
  }
}

.c-bill-update--sponsor {
  display: block;
  margin: 0;
  // color: $color-white;
  font-family: $font-sans;
  font-size: 14px;
}

.c-bill-section,
.c-block.c-bill-section {
  margin-top: 30px;
  margin-bottom: 0;

  @include breakpoint($bp-sm) {
    margin-bottom: 30px;
  }
}

.c-block .c-detail--summary {
  @include breakpoint($bp-sm) {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.c-block .c-detail--votes-wrapper {
  margin-bottom: -20px;
}

.c-bill-fulltext {
  overflow: hidden;
  font-size: 12px;

  @media (max-width: 767px) {
    font-size: 9px;
  }

  @media (max-width: 430px) {
    font-size: 8px;
  }

  @media (max-width: 350px) {
    font-size: 7px;
  }
}

.c-bill-action-version.c-bill--flag {
  float: left;
  text-align: center;
  &.c-bill-action--orig-bill {
    background: #eee;
    color: $grey08;
  }
}

.c-detail--header.c-detail--header__bill {
  margin-bottom: 0;

  .c-meeting-detail--related {
    margin-top: 10px;

    .c-meeting-detail--related {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        font-family: $font-sans-bold;
        font-size: 12px;
        line-height: 2.5em;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (min-width: 760px) {
    margin-bottom: 20px;
  }
}

.c-detail--header-meta.c-detail--header-meta__bill {
  width: 100%;
}

.c-block.c-bill--amendment-details {
  width: 100%;
  padding: 20px;
  margin-bottom: 0;
  dl.accordion {
    dd {
      width: 100%;
    }
  }
}

.c-detail--writeup.c-detail--memo {
  font-family: $font-sans;
  background: $color-white;
}

.c-action-bill--items {
  padding: 0;
}

.l-tab-bar .c-tab .c-tab-link.c-tab-link--bill-content {
  padding: 0 40px;
  text-transform: uppercase;
}

.c-bill--amendment-details dd a.c-detail--download {
  color: $color-cg-blue;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.c-bill--amendment-details .l-tab-bar {
  margin-top: 0;
}

th.c-bill--actions-table-header strong {
  display: inline;
}

.c-bill--amendment-details #amendment-details {
  position: relative;
  top: -155px;
}

@-moz-document url-prefix() {
  .c-bill--amendment-details #amendment-details {
    top: -290px;
  }
}

.c-block.c-block--bill-memo {
  margin-bottom: 20px;
}

.c-bill-section .accordion-navigation {
  width: 100%;
}

#your-voice {
  display: block;
  margin-top: 0px;
}

.c-bill-amendment-toggle {
  dt {
    @extend .lgt-text;
    font-family: $font-sans-bold;
  }
  dd {
    a {
      background: $color-white;
      color: #777;
    }
    &.active a {
      background: #2b6a90;
      color: $color-white;
      border-radius: 0;
    }
  }
}

// Bill form
.c-bill--message-form {
  margin-top: -5px;
  border: 1px solid $grey09;
  padding: 30px;
  display: none;
  clear: both;
  float: left;
  margin-bottom: 30px;

  .form-item-first-name,
  .form-item-addr-street,
  .form-item-addr-city,
  .form-item-last-name,
  .form-item-addr-opt,
  .form-item-addr-state,
  .form-item-addr-zip {
    width: 100%;
    float: left;
  }

  input#edit-email,
  input#edit-addr-street,
  .form-textarea-wrapper {
    margin-bottom: 3px;
  }

  .form-item-message .description {
    clear: both;
  }

  .form-item-register {
    float: left;

    .form-checkbox {
      margin-right: 20px;
    }

    .description {
      margin-top: -40px;
      width: 90%;
      font-size: 0.8rem;
    }
  }

  @include breakpoint($bp-sm) {
    margin-top: 0;
    width: 100%;

    .form-item-first-name,
    .form-item-addr-street,
    .form-item-addr-city {
      width: 48%;
      float: left;
      margin-right: 4%;
    }

    .form-item-last-name,
    .form-item-addr-opt {
      width: 48%;
      float: left;
    }

    .form-item-addr-state {
      width: 22%;
      float: left;
      margin-right: 4%;
    }

    .form-item-addr-zip {
      width: 22%;
      float: left;
    }
  }

  button {
    float: left;
    margin-top: 20px;
  }

  .form-textarea-wrapper {
    clear: both;
    float: left;
    width: 100%;
  }

  .form-item-link > label,
  .form-item-link > input {
    display: none;
  }

  .c-btn--cta__sign {
    float: left;
    clear: both;
    padding: 0 30px;

    &::before {
      font-family: "senate_icons";
      content: "\70";
      font-size: 32px;
      margin-right: 25px;
      font-size: 28px;
      display: inline-flex;
      align-items: center;
      text-transform: none;
      padding-right: 3px;
    }
  }
}

.c-bill--action-line-senate {
  text-transform: uppercase;
}

.c-bill--action-line-assembly {
  text-transform: capitalize;
}

.c-bill--action-line-senate,
.c-bill--action-line-assembly {

  &.stricken,
  &.amended,
  &.substituted {
    color: $color-white;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: $font-sans-bold;
  }

  &.stricken {
    background-color: $cont_red_drk;
  }

  &.amended {
    background-color: $blue01;
  }

  &.substituted {
    background-color: $yellow01;
  }
}

.c-bill--actions-table {
  border: none;
  color: $grey03;
  font-size: .875rem;

  thead {
    border-bottom: 4px solid $grey15;
  }

  &--row {
    padding: 18px 0px;
    border-bottom: 1px solid $color-silver;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &-col1,
  &-col2,
  &-header {

    th {
      padding: 0.5rem 0.625rem 0.625rem;
      vertical-align: top;
      text-align: right;
      line-height: 1.125rem;
      font-weight: bold;
      color: $color-white;
      font-size: 0.875rem;
      &:first-child {
        text-align: center;
      }
    }

    strong {
      font-family: $font-sans;
    }
  }

  &-col1 {
    width: 30%;
  }

  &-col2 {
    width: 70%;
  }

}

@include breakpoint($bp-sm) {
  .c-bill--vote-widget {
    margin-top: 80px;

    .nys-bill-vote {
      .c-bill-polling--cta {
        padding: 20px;
        line-height: 1.5em;

        strong {
          font-family: $font-sans-bold;
        }
      }

      .bill-vote-message-prompt {
        top: 0px;
        height: 100%;

        .closer {
          height: 60px;

          &::after {
            line-height: 60px;
            margin-left: 20px;
          }
        }
      }

      .nys-bill-vote--contact {
        position: absolute;
        height: 45px;
        bottom: 0;
        padding: 0 20px;
        font-size: 12px;
        line-height: 45px;

        &::before {
          line-height: 45px;
        }
      }

      .bill-vote-thanks {
        padding: 0 0 45px 55px;
        line-height: 60px;
      }
    }
  }

  .c-bill-meta {
    width: 25%;
    max-width: 200px;
    float: left;
  }

  .c-bill-topic {
    font-size: 12px;
  }

  .c-bill-body {
    width: 75%;
    max-width: 560px;
    float: left;
  }

  .c-bill-path {
    margin-bottom: 12px;
  }

  .c-bill-fulltext {
    font-size: 16px;
  }

  .c-bill-text__memo {
    margin-top: 30px;
  }

  .c-bill-text__bill {
    margin-top: 70px;
  }

  .c-bill--actions-table-col1 {
    width: 15%;
  }

  .c-bill--actions-table-col2 {
    width: 85%;
  }
}

@include breakpoint($bp-md) {
  .c-bill--vote-widget {
    @media (max-height: 800px) {
      top: 200px;
    }
    display: block;
    position: fixed;
    z-index: 100;
    top: 345px;
    right: 50px;
    width: 200px;

    .nys-bill-vote {
      .bill-vote-message-prompt {
        .closer::after {
          margin-left: 10px;
        }
      }

      .nys-bill-vote--contact {
        position: absolute;
        height: 65px;
        bottom: 0;
        padding: 17px 20px 0 10px;
        text-align: center;
        font-size: 10px;
        line-height: 1.5em;

        &::before {
          margin-top: -17px;
          line-height: 65px;
        }
      }

      .bill-vote-thanks {
        padding: 15px 5px 0 30px;
        text-align: center;
        line-height: 1.2em;
      }
    }
  }

  .c-bill-widget--cta {
    max-width: 140px;
  }

  .c-bill-widget--btn {
    height: 45px;
  }
}

.page-node-type-bill .sponsor-list,
.page-node-type-resolution .sponsor-list {
  margin: 30px 0 10px;

  .nys-senator--name,
  .nys-senator--district {
    margin: 0;
    line-height: 1.2em;
    a:hover {
      text-decoration: underline;
    }
  }

  .nys-senator--district {
    font-size: 12px;

    .nys-senator--party {
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
      color: $blue01;
      font-family: $font-sans-bold;

      span {
        color: $grey03;
        font-family: $font-sans;
      }
    }
  }
}

.field--type-comment {

  .tooltip-button {
    width: 20px;
    height: 20px;
  }
}
