/* Css to alter admin theme in the Edit Entity Queue form */

.rain-admin-theme .entity-subqueue-homepage-hero-edit-form .field-multiple-table .form--inline.js-form-wrapper {
  overflow: auto;
}

.rain-admin-theme .entity-subqueue-homepage-hero-edit-form .field-multiple-table .form--inline.js-form-wrapper a {
  text-decoration: none;
  color: #019cb6;
}

.rain-admin-theme .entity-subqueue-homepage-hero-edit-form .field-multiple-table .form--inline.js-form-wrapper a:hover,
.rain-admin-theme .entity-subqueue-homepage-hero-edit-form .field-multiple-table .form--inline.js-form-wrapper a:focus {
  text-decoration: underline;
  outline: 0;
}