.node--type-open-data .managed-csv-removed-data {
  font-size: 13pt;
  margin: 2em 0 1em;
  text-align: justify;
}
.managed-csv-datatable-container table {
  padding: 0;
  margin: 0;
}
.managed-csv-datatable-container .managed-csv-datatable-caption {
  font-size: 16pt;
}
.managed-csv-datatable-container table thead th {
  font-size: 12pt;
  color: #000;
}
.managed-csv-datatable-container .dt-scroll-body thead th {
  padding-top: 0;
  padding-bottom: 0;
}
.managed-csv-datatable-container .dt-scroll-body thead th .dt-scroll-sizing {
  height: 0;
  visibility: hidden;
}
.managed-csv-datatable-container select {
  appearance: auto;
  background-image: initial;
}
.managed-csv-datatable-container .dt-layout-row {
  margin-top: .7em;
}
.managed-csv-datatable-container .dt-layout-cell .dt-paging-button {
  margin: 0 0.2em;
  border-style: ridge;
  border-radius: .5em;
  padding: 0.2em 0.6em;
}
