@import '../../global/utils/init';

.block-views-blockupdates-from-my-senator-updates-from-my-senator {
  margin: 0 auto;
  max-width: 1500px;
  padding: 60px 150px;
  background-color: $dash_grey_2;
  border-bottom: $dash_grey_3 2px solid;
  overflow: hidden;

  @include breakpoint($bp-under-md) {
    padding: 20px;
  }

  .view-updates-from-my-senator > .view-header {
    float: left;
    width: 22%;

    @include breakpoint($bp-under-md) {
      width: 100%;
      text-align: center;
    }

    .field--name-field-image {
      border-radius: 50%;
      overflow: hidden;
      height: 100px;
      width: 100px;
      margin-bottom: 12px;

      @include breakpoint($bp-under-md) {
        float: left;
      }
    }

    .views-field-field-senator-name {
      font-weight: 300;
      margin-bottom: 0;

      @include breakpoint($bp-under-md) {
        text-align: left;
        margin-left: 120px;
        padding-top: 16px;
      }

      .views-label-field-senator-name {
        color: $grey10;
        text-transform: uppercase;
        font-family: $font-sans-bold;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px;
      }

      a {
        color: $gen_blue_lgt;
        text-decoration: underline;
        font-family: $font-serif;
        font-size: 20px;
        line-height: 26px;
        text-underline-offset: 3px;
        text-decoration-thickness: 1px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .view-updates-from-my-senator > .view-content .item-list {
    float: left;
    width: 78%;

    @include breakpoint($bp-under-md) {
      width: 100%;
    }

    ul {
      list-style-type: none;

      li {
        margin: 0;
        width: 50%;
        float: left;

        @include breakpoint($bp-under-md) {
          width: 100%;
        }

        .node--view-mode-my-dashboard-teaser {
          padding: 0 0 0 20px;
          min-height: auto;
          border-top: none;

          @include breakpoint($bp-under-md) {
            padding: 20px 0 0;
          }

          .c-my-dashboard--extras {
            display: none;
          }
        }
      }
    }
  }
}
