@import '../../global/utils/init';

.block-views-blockupdates-from-my-senator-updates-from-my-senator {
  margin: 0 auto;
  max-width: 1500px;
  padding: 40px 9%;
  background-color: #F2F2F2;
  border-bottom: #E0E0E0 2px solid;
  overflow: hidden;

  .view-updates-from-my-senator > .view-header {
    float: left;
    width: 22%;

    @include breakpoint($bp-under-md) {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }

    .field--name-field-image {
      border-radius: 50%;
      overflow: hidden;
      height: 120px;
      width: 120px;
      margin-bottom: 15px;

      @include breakpoint($bp-under-md) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .views-field-field-senator-name {
      .views-label-field-senator-name {
        color: $grey08;
        text-transform: uppercase;
        font-family: $font-sans;
        font-size: 14px;
      }

      a {
        color: $blue01;
        text-decoration: underline;
        font-family: $font-serif;
        font-size: 20px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .view-updates-from-my-senator > .view-content {
    float: left;
    width: 78%;

    @include breakpoint($bp-under-md) {
      width: 100%;
    }

    .views-row {
      width: 50%;
      float: left;

      @include breakpoint($bp-under-md) {
        width: 100%;
      }

      .node--view-mode-my-dashboard-teaser {
        padding: 0 0 0 20px;
        min-height: auto;
        border-top: none;

        .c-my-dashboard--extras {
          display: none;
        }
      }
    }
  }
}
