{{ attach_library('nysenate_theme/chart') }}

<figure class="chart">
  <div id="vote-chart" class="{{ chart.type == 'pie' ? 'pieContainer': '' }}" data-colors='{{ chart.colors|json_encode() }}' data-values="{{ chart.values|json_encode() }}"></div>
</figure>
