@import "../../global/utils/init";

.dashboard-profile-edit {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint($bp-md) {
      flex-direction: row;
      gap: 40px;
    }

    .left,
    .center,
    .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;

      .form-item {
        margin: 0;
      }

      .form-item input,
      .form-item select {
        margin: 0;
        height: 37px;
        min-height: unset;
        padding-top: 0;
        padding-bottom: 0;
      }

      .form-type-select {
        width: 100%;
      }

      .form-type-checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        label {
          margin: 0;
        }
      }

      .js-form-type-select {
        @include breakpoint($bp-sm) {
          width: 100%;
        }
      }

      input[type="file"] {
        padding: 5px 7px;
        background: #f5f5f5;
        border: none;
        color: #333;
        vertical-align: baseline;
        box-sizing: inherit;
        outline: 2px solid transparent;
        outline-offset: 0px;
        transition: all, 0.1s;
        height: auto;
        padding: 5px 8px;
      }

      fieldset {
        border: none;
      }

      .form-item-field-address-0-address-locality,
      .form-item-field-address-0-address-administrative-area {
        flex: 2;
      }

      .form-item-field-address-0-address-postal-code {
        flex: 1;
      }
    }

    .left {
      flex: 2;
    }

    .center {
      flex: 1;
    }

    .right {
      flex: 1;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include breakpoint($bp-sm) {
      flex-direction: row;
    }
  }

  .user-picture {
    height: 70px;
    width: 70px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .city-state-zip__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint($bp-lg) {
      display: grid;
      gap: 10px;
      grid-template-columns: 40% 35% 20%;
    }
  }

  .description {
    margin: 0 0 1rem 0;
  }

  #dashboard-edit-submit {
    cursor: pointer;
    width: max-content;
  }

  .field--type-address {
    display: block;

    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .address-container-inline {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include breakpoint($bp-sm) {
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}
