{{ attach_library('nysenate_theme/dashboard-profile-edit') }}

<div class="dashboard-profile-edit">
  <div class="form-wrapper">
    <div class="left">
    <div class="name">
      <div class="field-type-text field-name-field-first-name field-widget-text-textfield form-wrapper" id="edit-field-first-name">
        <div id="field-first-name-add-more-wrapper">
          <div class="form-item form-type-textfield form-item-field-first-name-und-0-value">
            <label for="edit-field-first-name-und-0-value">First Name
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="text-full form-text required" type="text" id="edit-field-first-name-und-0-value" name="field_first_name[und][0][value]" value="Website" size="60" maxlength="255">
            <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
          </div>
        </div>
      </div>
      <div class="field-type-text field-name-field-last-name field-widget-text-textfield form-wrapper" id="edit-field-last-name">
        <div id="field-last-name-add-more-wrapper">
          <div class="form-item form-type-textfield form-item-field-last-name-und-0-value">
            <label for="edit-field-last-name-und-0-value">Last Name
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="text-full form-text required" type="text" id="edit-field-last-name-und-0-value" name="field_last_name[und][0][value]" value="Admin" size="60" maxlength="255">
          </div>
        </div>
      </div>
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <label for="edit-name">Username
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <input class="username form-text required" type="text" id="edit-name" name="name" value="nysadmin" size="60" maxlength="60">
      <div class="description">Spaces are allowed; punctuation is not allowed except for periods, hyphens, apostrophes, and underscores.</div>
    </div>
    <div class="form-item form-type-textfield form-item-mail">
      <label for="edit-mail">E-mail address
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <input type="text" id="edit-mail" name="mail" value="user+1@localhost.localdomain" size="60" maxlength="254" class="form-text required">
      <div class="description">A valid e-mail address. All e-mails from the system will be sent to this address. The e-mail address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by e-mail.</div>
    </div>
    <fieldset class="location form-wrapper required" id="edit-field-address-und-0">
      <legend>
        <span class="fieldset-legend">Address</span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="form-item form-type-textfield form-item-field-address-und-0-street">
          <label for="edit-field-address-und-0-street">Street
            <span class="form-required" title="This field is required.">*</span>
          </label>
          <input type="text" id="edit-field-address-und-0-street" name="field_address[und][0][street]" value="26 Myrtle Ave" size="64" maxlength="255" class="form-text required">
        </div>
        <div class="form-item form-type-textfield form-item-field-address-und-0-additional">
          <label for="edit-field-address-und-0-additional">Additional
          </label>
          <input type="text" id="edit-field-address-und-0-additional" name="field_address[und][0][additional]" value="" size="64" maxlength="255" class="form-text">
        </div>
        <div class="form-item form-type-textfield form-item-field-address-und-0-city">
          <label for="edit-field-address-und-0-city">City
            <span class="form-required" title="This field is required.">*</span>
          </label>
          <input type="text" id="edit-field-address-und-0-city" name="field_address[und][0][city]" value="Troy" size="64" maxlength="255" class="form-text required">
        </div>
        <div id="location-dropdown-province-wrapper-field_address-und-0">
          <div class="form-item form-type-select form-item-field-address-und-0-province">
            <label for="edit-field-address-und-0-province">State/Province
            </label>
            <select class="location_dropdown_province form-select" id="edit-field-address-und-0-province" name="field_address[und][0][province]">
              <option value="">Select</option>
              <option value="xx">NOT LISTED</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY" selected="selected">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
              <option value="AS">American Samoa</option>
              <option value="FM">Federated States of Micronesia</option>
              <option value="GU">Guam</option>
              <option value="MH">Marshall Islands</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="PW">Palau</option>
              <option value="PR">Puerto Rico</option>
              <option value="VI">Virgin Islands</option>
              <option value="AA">Armed Forces Americas</option>
              <option value="AE">Armed Forces Europe</option>
              <option value="AP">Armed Forces Pacific</option>
            </select>
          </div>
        </div>
        <div class="form-item form-type-textfield form-item-field-address-und-0-postal-code">
          <label for="edit-field-address-und-0-postal-code">Postal code
            <span class="form-required" title="This field is required.">*</span>
          </label>
          <input type="text" id="edit-field-address-und-0-postal-code" name="field_address[und][0][postal_code]" value="12180" size="16" maxlength="16" class="form-text required">
        </div>
      </div>
    </fieldset>
  </div>


  <div class="center">
    <fieldset class="form-wrapper" id="edit-picture">
      <legend>
        <span class="fieldset-legend">Picture</span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="user-picture">
          <a href="/users/nysadmin" title="View user profile."><img src="https://ny-senate.ddev.site/sites/default/files/styles/160x160/public/pictures/picture-1-1578941991.jpg?itok=uM6C0U9T" width="160" height="160" alt="nysadmin's picture" title="nysadmin's picture"></a>
        </div>
        <div class="form-item form-type-file form-item-files-picture-upload">
          <label for="edit-picture-upload">Edit Profile Picture
          </label>
          <input type="file" id="edit-picture-upload" name="files[picture_upload]" size="48" class="form-file">
        </div>
      </div>
    </fieldset>
  </div>


  <div class="right">
    <fieldset class="date-combo form-wrapper">
      <legend>
        <span class="fieldset-legend">Date of Birth (Optional)</span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="date-no-float container-inline-date">
          <div class="form-item form-type-date-popup form-item-field-dateofbirth-und-0-value">
            <div id="edit-field-dateofbirth-und-0-value" class="date-padding">
              <div class="form-item form-type-textfield form-item-field-dateofbirth-und-0-value-date">
                <label for="edit-field-dateofbirth-und-0-value-datepicker-popup-0">Date
                </label>
                <input class="date-clear form-text" autocomplete="off" type="text" id="edit-field-dateofbirth-und-0-value-datepicker-popup-0" name="field_dateofbirth[und][0][value][date]" value="" size="20" maxlength="30">
                <div class="description">
                  E.g., 2023-04-21</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="field-type-list-text field-name-field-gender-user field-widget-options-select form-wrapper" id="edit-field-gender-user">
      <div class="form-item form-type-select form-item-field-gender-user-und">
        <label for="edit-field-gender-user-und">Gender (Optional)
        </label>
        <select id="edit-field-gender-user-und" name="field_gender_user[und]" class="form-select">
          <option value="_none">- None -</option>
          <option value="female">Female</option>
          <option value="male" selected="selected">Male</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <div class="field-type-list-boolean field-name-field-user-receive-emails field-widget-options-onoff form-wrapper" id="edit-field-user-receive-emails">
      <div class="form-item form-type-checkbox form-item-field-user-receive-emails-und">
        <input type="checkbox" id="edit-field-user-receive-emails-und" name="field_user_receive_emails[und]" value="1" class="form-checkbox">
        <label class="option" for="edit-field-user-receive-emails-und">Let my Senator contact me.
        </label>

        <div class="description">Would you like to receive email notifications when your Senator sends you a message?</div>
      </div>
    </div>
  </div>

  </div>
  <button class="button" id="dashboard-edit-submit" name="submit" value="Save" type="submit">Save</button>
</div>
