.paragraphs-features__add-in-between__row {
  border-bottom: 0;
}
.paragraphs-features__add-in-between__row td {
  height: auto;
}
/* gin specific margin override */
.field--widget-paragraphs .paragraphs-tabs-wrapper .field-multiple-table tr[class*='paragraph-type--'] {
  margin-top: 0;
}
