// Import site utilities.
@import "../../global/utils/init";

.l-panel-col--rgt,
.l-right-actions {
  margin-left: 0;

  .vote-container {
    margin-bottom: 20px;

    .aye,
    .nay {
      width: auto;
      padding: 6px 10px;
      background-color: $grey06;
      display: inline-block;
      text-align: center;

      &:nth-child(1) {
        margin-right: 20px;
      }

      .vote-count {
        display: inline-block;
        font: 18px/18px $font-serif-bold;
        color: $grey03;
      }

      .vote-label {
        display: inline-block;
        font: 13px/18px $font-sans-bold;
        color: $grey04;
        text-transform: uppercase;
      }
    }
  }

  .vote-meta {
    .meta-row {
      position: relative;
      font: 10px/16px $font-sans;
      color: $grey04;
      text-transform: uppercase;

      div {
        display: inline-block;

        &:nth-child(1) {
          color: $grey03;
        }

        &:nth-child(2) {
          position: absolute;
          left: 25%;
        }

        &.meta-count {
          font-family: $font-sans-bold;
        }

        &.meta-label {
          position: relative;
          left: auto;
          margin-left: 10px;
        }
      }

      .meta-comm-referral {
        > label {
          cursor: text;
        }

        > label,
        .date-display-single {
          letter-spacing: 0.01em;
        }
      }
    }

    .meta-comm-referral {
      margin-top: 20px;

      label {
        margin: 0;
        font: 11px/14px $font-sans;
        color: $grey05;
      }

      .committee-link {
        font: 12px/14px $font-sans-bold;
        color: $yellow03;
        text-transform: uppercase;
      }
    }
  }
}

.c-update-block {
  overflow: hidden;
  margin: 0;
  padding: 20px 15px 35px 0;
  width: 100%;

  .nys-senator {
    margin: 20px 0 28px;
  }

  .nys-senator--name {
    color: $grey03;
    font-family: $font-sans;
  }

  .nys-senator--district {
    color: $grey04;
  }

  .c-listing--related-issues {
    line-height: 1.2em;
    margin-top: 0.6em;

    a {
      text-transform: uppercase;
      font-family: $font-sans-bold;
      font-size: 12px;
      line-height: 1em;
      color: $yellow03;
    }
  }
}

.l-panel-col--ctr {
  .nys-senator--info {
    line-height: 1;

    > span {
      color: $grey02;
      text-transform: uppercase;
      font-family: $font-sans;
      font-size: 10px;
    }

    .nys-senator--name {
      color: $grey03;
      font-size: 14px;

      a {
        color: $grey03 !important;
      }
    }

    .nys-senator--district,
    .nys-senator--party {
      color: $grey04;
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  p {
    margin: 0;
  }
}

.first > .c-update-block {
  border-top: none;
}

.c-listing--bill-num {
  color: $grey08;
  font-family: $font-serif-bold;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;

  a {
    color: $grey08;
  }
}

@include breakpoint($bp-sm) {
  .l-panel-col--rgt .vote-container,
  .l-right-actions .vote-container {
    margin-bottom: 20px;

    .aye,
    .nay {
      width: 40%;
      background-color: $grey06;
      display: inline-block;
      text-align: center;
      padding: 0;

      &:nth-child(1) {
        margin-right: 20px;
      }

      .vote-count {
        display: block;
        font: 24px/30px $font-serif-bold;
        color: $grey03;
      }

      .vote-label {
        display: block;
        font: 15px/16px $font-sans-bold;
        padding-bottom: 5px;
        color: $grey04;
        text-transform: uppercase;
      }
    }
  }

  .c-update-block {
    padding: 35px 0 40px;
  }

  .c-listing--bill-num {
		font-size: 20px;
	}
}

pre.c-meeting--agenda-notes {
  font-family: $font-serif;
  font-size: 18px;
}


.page-node-type-meeting .view-display-id-agenda .nys-title {
  margin-bottom: 48px
}
