// Page title styling.

// Import site utilities.
@import '../../global/utils/init';

.page-title {
  color: $color-dark-violet;
  display: block;
  font-size: 1.75rem;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;

  em {
    font-style: normal;
  }
}
