@import '../../global/utils/init';

.nys-bill-vote-form {
  .nys-bill-vote {
    background-color: $gen_blue_med;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .subscribe_email_container {
      input {
        margin: 0;
        background-color: $grey06;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .nys-bill-subscribe {
    background-color: $gen_blue_med;
    margin-top: 2em;
    padding-bottom: 1em;
    color: $color-white;
    .nys-bill-subscribe-beta {
      padding: 0.5em;
      font-size: 1.5em;
      text-align: center;
      background-color: $yellow01 !important;
    }
    .nys-bill-subscribe-title {
      padding: 1em 2em;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
    }
    .form-item-email {
      padding: 0 1.25em;
      font-size: 1.5em;
      letter-spacing: 0.07em;
      label {
        color: $color-white;
        margin: 0;
      }
      input {
        height: 1.75em;
      }
    }
  }
  .subscribe_result {
    font-size: initial;
    padding: 1em;
    color: $color-white;
  }
  .subscribe_email_error {
    font-size: initial;
    padding: 1em;
    color: $yellow01;
  }

  .ajax-progress.ajax-progress-throbber {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .c-block--btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $greyVoteBtnText;
    transition: background 0.2s ease;
    background-color: $gen_blue_drk;

    &.nys-bill-vote-yes {
      &::before {
        content: '\2f';
        font-family: 'senate_icons';
        display: inline-flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.nys-bill-vote-no {
      &::before {
        content: '\78';
        font-family: 'senate_icons';
        display: inline-flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.nys-subscribe-button {
      width: 100%;

      &::before {
        content: '\6f';
        font-family: 'senate_icons';
        display: inline-flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &:hover {
      background-color: $gen_blue_lgt;
    }

    &.selected {
      color: $color-white;
    }
  }

  &.nys-bill-vote-form-embedded {
    .c-block--btn {
      width: 25%;
      box-sizing: border-box;
      border-left-width: 1px;
      position: relative;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;

      &.nys-subscribe-button {
        border-width: 0;
        width: 50%;
      }
    }
  }

  .bill-vote-message-prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border: 0;
    z-index: 5;
    background-color: $gen_blue_med;
    font-size: 14px;

    .closer {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      padding: 0;
      overflow: hidden;
      padding-top: 1em;
      text-indent: -99999px;

      &::after {
        content: '\78';
        margin-left: 20px;
        color: $color-white;
        font-size: 23px;
        line-height: 40px;
        text-align: center;
        transition: color 0.2s ease;
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'senate_icons';

        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
      }

      &:hover {
        &::after {
          color: $grey05;
        }
      }
    }

    .nys-bill-vote--contact {
      display: block;
      height: 60px;
      width: 100%;
      padding: 0 20px;
      transition: background 0.2s ease;
      background-color: $gen_blue_drk;
      color: $color-white;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.2em;
      line-height: 60px;

      &:hover {
        background-color: $gen_blue_lgt;
      }

      &::before {
        content: '\4e';
        display: block;
        float: left;
        font-size: 32px;
        line-height: 60px;
        font-family: 'senate_icons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .bill-vote-thanks {
    padding-left: 55px;
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-sans;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 40px;
  }
}

.c-block p.c-bill-polling--cta,
.nys-bill-vote p.c-bill-polling--cta {
  padding-left: 20px;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-sans;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 40px;
  margin: 0;

  span {
    padding: 4px;
  }

  strong {
    font-family: $font-sans-bold;
  }
}

// bill detail page widget
.c-bill--vote-widget {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  top: -5px;

  .form-item {
    margin: 0;
  }
  .c-block--btn {
    position: relative;
    display: block;
    float: left;
    width: 49.5%;
    height: 45px;
    padding: 0;
    color: $grey05;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 45px;
    background-color: $gen_blue_drk;

    &::before {
      content: '\2f';
      font-family: 'senate_icons';
      display: inline-flex;
      align-items: center;

      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-right: 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &.nys-subscribe-button {
      border-top-width: 1px;
      border-bottom-width: 1px;
    }
    
    &::before {
      position: relative;
    }
  }

  .nys-bill-vote {
    p.c-bill-polling--cta {
      padding: 0;
      text-align: center;

      strong {
        font-family: $font-sans-bold;
      }
    }

    .bill-vote-message-prompt {
      top: 0px;
      height: auto;
      padding: 0;

      .closer:after {
        margin-left: 10px;
      }
    }

    .nys-bill-vote--contact {
      position: absolute;
      bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 11px;
    }

    .bill-vote-thanks {
      padding: 0 0 60px 45px;
      text-align: left;
      line-height: 40px;
    }
  }
}

#confirm-vote-intent-modal {
  a.button {
    margin-right: 1em;
  }
  .confirmed-vote {
    background-color: $gen_blue_lgt;
    &:hover {
      background-color: #007095;
    }
  }
}

.c-block--btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-sans-bold;
  letter-spacing: 0.2em;

  font-size: 12px;
  line-height: 60px;
  height: 60px;

  &::before {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    margin-right: 0.1em;
    font-size: 32px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    line-height: 1.5em;

    a {
      color: $color-white;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &:hover {
    color: $color-white;
  }
}

/*----------------------------------------
/ BILL STATUS
/ styling for a list denoting a bill's status
/ list items are circle 
/ add 'passed' class to illustrate we're 
/	passed that step	
/----------------------------------------*/

.c-bill-section {
  ul.nys-bill-status {
    margin: 90px 0;
  }
}

.nys-bill-status {
  position: relative;
  margin: 25px 0;
  padding: 0;
  height: 20px;
  list-style: none;
  text-align: justify;
  font-size: 20px;

  hr {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 90%;
    border: 0;
    background: $grey05;
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;
    margin-top: -0.8em;
    background: $color-white;
    border: 0.2em solid $grey05;
    border-radius: 50%;

    &.passed {
      border: 0;
      background: $blue01;
    }
    &.nys-bill-status--assem-sen {
      height: auto;
      width: 18%;
      min-height: 2em;
      border-width: 2px; // match hr height
      border-radius: 0;
      overflow: visible;

      .nys-bill-status {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
      }

      li {
        position: absolute;
        top: -0.5em;
        bottom: auto;
        left: 0;
        right: 0;
        margin: auto;

        & + li {
          top: auto;
          bottom: -0.5em;
        }
      }
    }
    /* 
			spacer is necessary to pull off
			justified lists
		*/
    &.spacer {
      width: 100%;
      height: 0;
      border: 0;
      background: transparent;
    }
  }
}
.nys-bill-status--text {
  display: none;
}
// smaller bill status and/or colored
.nys-bill-status__sml,
.nys-bill-status__drk {
  width: 125px;
  margin: 15px 0;
  padding: 0;

  hr {
    width: 70%;
    left: -15%;
  }

  li {
    width: 10px;
    height: 10px;
    background: $grey-dot;
    border: 0;

    &.spacer {
      display: none;
    }

    &.passed {
      background: $blue01;
    }

    &.nys-bill-status--assem-sen {
      background: $color-white;
      min-height: 20px;
      height: 20px;
      width: 18%;
      border: 2px solid $grey-line; // match hr height

      .nys-bill-status {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;

        > li {
          top: -6px;

          & + li {
            top: auto;
            bottom: -6px;
          }
        }
      }
    }
  }
}
// small colors
.nys-bill-status__sml {
  hr {
    background: $grey-line;
  }
  li {
    background: $grey-dot;

    &.passed {
      background: $blue01;
    }

    &.nys-bill-status--assem-sen {
      border: 2px solid $grey-line; // match hr height
    }
  }
}
// colored colors
.nys-bill-status.nys-bill-status__drk {
  hr {
    background-color: $gen_blue_drk;
  }

  li {
    background-color: $gen_blue_med;

    &.passed {
      background: $grey05;
    }
    &.nys-bill-status--assem-sen {
      border: 2px solid;
      color: $gen_blue_drk;
      background-color: $gen_blue_lgt;
    }
  }
}

@include breakpoint($bp-sm) {
  .nys-bill-status {
    padding: 0 20px;
    margin: 90px 0 100px;

    hr {
      max-width: 710px;
    }
    li {
      overflow: visible;
      margin-top: -1.25em;

      &.nys-bill-status--assem-sen {
        height: 70px;

        li {
          .nys-bill-status--text {
            top: -35px;
          }

          & + li {
            .nys-bill-status--text {
              top: 35px;
            }
          }
        }
      }
    }
  }
  .nys-bill-status--text {
    display: block;
    position: absolute;
    top: 35px;
    bottom: auto;
    left: -50px;
    right: -50px;
    margin: auto;
    height: auto;
    width: 100px;

    color: $grey02;
    text-align: center;
    text-transform: capitalize;
    font-family: $font-sans;
    font-size: 12px;
    line-height: 1.4em;
  }

  .nys-bill-status__sml,
  .nys-bill-status__drk {
    padding: 0;
    margin: 15px 0;

    li {
      margin-top: -15px;
      &.nys-bill-status--assem-sen {
        height: 20px;
      }
    }
    .nys-bill-status {
      padding: 0;
    }
    .nys-bill-status--text {
      display: none;
    }
  }

  .c-block--btn,
  .c-bill-polling--choices-choice {
    height: 80px;
    font-size: 15px;
    line-height: 80px;
  }

  .c-bill--vote-attach {
    margin-top: 120px;
  }

  .nys-bill-vote {
    .bill-vote-message-prompt {
      .closer {
        &::after {
          margin-left: 40px;
        }
      }

      .nys-bill-vote--contact {
        height: 80px;
        padding-left: 40px;
        line-height: 80px;

        &::before {
          line-height: 80px;
        }
      }
    }

    .bill-vote-thanks {
      padding-left: 77px;
    }
  }

  .c-bill--vote-widget {
    margin-top: 80px;

    .nys-bill-vote {
      p.c-bill-polling--cta {
        padding: 20px;
        line-height: 1.5em;

        strong {
          font-family: $font-sans-bold;
        }
      }

      .bill-vote-message-prompt {
        top: 0px;
        height: 100%;

        .closer {
          height: 60px;

          &::after {
            line-height: 60px;
            margin-left: 20px;
          }
        }
      }

      .nys-bill-vote--contact {
        position: absolute;
        height: 45px;
        bottom: 0;
        padding: 0 20px;
        font-size: 12px;
        line-height: 45px;

        &::before {
          line-height: 45px;
        }
      }

      .bill-vote-thanks {
        padding: 0 0 45px 55px;
        line-height: 60px;
      }
    }
  }
}

@include breakpoint($bp-md) {
  .c-bill--vote-widget {
    @media (max-height: 800px) {
      top: 200px;
    }
    display: block;
    position: fixed;
    z-index: 100;
    top: 345px;
    right: 50px;
    width: 200px;

    .nys-bill-vote {
      .bill-vote-message-prompt {
        .closer:after {
          margin-left: 10px;
        }
      }

      .nys-bill-vote--contact {
        position: absolute;
        height: 65px;
        bottom: 0;
        padding: 17px 20px 0 10px;
        text-align: center;
        font-size: 10px;
        line-height: 1.5em;

        &::before {
          margin-top: -17px;
          line-height: 65px;
        }
      }

      .bill-vote-thanks {
        padding: 15px 5px 0 30px;
        text-align: center;
        line-height: 1.2em;
      }
    }
  }

  .c-bill-widget--cta {
    max-width: 140px;
  }

  .c-bill-widget--btn {
    height: 45px;
  }
}

// Bill form
.c-bill--message-form {
  margin-top: -5px;
  border: 1px solid $grey09;
  padding: 30px;
  display: none;
  clear: both;
  float: left;
  margin-bottom: 30px;

  .form-item-first-name,
  .form-item-addr-street,
  .form-item-addr-city,
  .form-item-last-name,
  .form-item-addr-opt,
  .form-item-addr-state,
  .form-item-addr-zip {
    width: 100%;
    float: left;
  }

  input#edit-email,
  input#edit-addr-street,
  .form-textarea-wrapper {
    margin-bottom: 3px;
  }

  .form-item-message .description {
    clear: both;
  }

  .form-item-register {
    float: left;

    .form-checkbox {
      margin-right: 20px;
    }

    .description {
      margin-top: -40px;
      width: 90%;
      font-size: 0.8rem;
    }
  }

  @include breakpoint($bp-sm) {
    margin-top: 0;
    width: 100%;

    .form-item-first-name,
    .form-item-addr-street,
    .form-item-addr-city {
      width: 48%;
      float: left;
      margin-right: 4%;
    }

    .form-item-last-name,
    .form-item-addr-opt {
      width: 48%;
      float: left;
    }

    .form-item-addr-state {
      width: 22%;
      float: left;
      margin-right: 4%;
    }

    .form-item-addr-zip {
      width: 22%;
      float: left;
    }
  }

  button {
    float: left;
    margin-top: 20px;
  }

  .form-textarea-wrapper {
    clear: both;
    float: left;
    width: 100%;
  }

  .form-item-link > label,
  .form-item-link > input {
    display: none;
  }

  .c-btn--cta__sign {
    float: left;
    clear: both;
    padding: 0 30px;

    &::before {
      font-family: 'senate_icons';
      content: '\70';
      font-size: 32px;
      margin-right: 25px;
      font-size: 28px;
      display: inline-flex;
      align-items: center;
      text-transform: none;
      padding-right: 3px;
    }
  }
}

// Bill sentiment update block
.c-bill--sentiment-update {
  position: relative;
  display: none;
  width: 100%;
  background-color: $gen_blue_med;

  .c-bill--sentiment-text {
    color: $color-white;
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    padding: 10px 10px 10px 40px;

    .closer {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      padding: 0;
      color: $color-white;
      text-align: center;
      overflow: hidden;
      padding-top: 1em;
      text-indent: -99999px;

      &::after {
        content: '\78';
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'senate_icons';

        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
      }
    }
  }
}

.c-bill--vote-attach {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 60px;
  top: -5px;
  background-color: $gen_blue_med;
  top: -40px;
  margin-bottom: -40px !important;

  .form-item {
    margin: 0;
  }

  .c-block--btn {
    position: relative;
    display: block;
    float: left;
    width: 49.5%;
    height: 45px;
    padding: 0;
    color: $grey05;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 45px;
    &::before {
      font-family: 'senate_icons';
      display: inline-flex;
      align-items: center;

      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-right: 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    background-color: $gen_blue_drk;

    & + .c-block--btn {
      float: right;
      &::before {
        content: '\78';
        font-family: 'senate_icons';
        display: inline-flex;
        align-items: center;

        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &::before {
      position: relative;
    }
  }

  .nys-bill-vote {
    p.c-bill-polling--cta {
      padding: 0;
      text-align: center;

      strong {
        font-family: $font-sans-bold;
      }
    }

    .bill-vote-message-prompt {
      top: 0px;
      height: auto;
      padding: 0;

      .closer:after {
        margin-left: 10px;
      }
    }

    .nys-bill-vote--contact {
      position: absolute;
      bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 11px;
    }

    .bill-vote-thanks {
      padding: 0 0 60px 45px;
      text-align: left;
      line-height: 40px;
    }
  }
}
