@import '../../global/utils/init';

.nys-bill-vote-form {
  .nys-bill-vote {
    font-size: 0;
    @extend .med-bg;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .subscribe_email_container {
      input {
        margin: 0;
        background-color: $grey06;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .nys-bill-subscribe {
    @extend .med-bg;
    margin-top: 2em;
    padding-bottom: 1em;
    color: $color-white;

    .nys-bill-subscribe-beta {
      padding: 0.5em;
      font-size: 1.5em;
      text-align: center;
      background-color: $yellow01 !important;
    }

    .nys-bill-subscribe-title {
      padding: 1em 2em;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
    }

    .form-item-email {
      padding: 0 1.25em;
      font-size: 1.5em;
      letter-spacing: 0.07em;

      label {
        color: $color-white;
        margin: 0;
      }

      input {
        height: 1.75em;
      }
    }
  }

  .subscribe_result {
    font-size: initial;
    padding: 1em;
    color: $color-white;
  }

  .subscribe_email_error {
    font-size: initial;
    padding: 1em;
    color: $yellow01;
  }

  .ajax-progress.ajax-progress-throbber {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .c-block--btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $greyVoteBtnText;
    transition: background 0.2s ease;
    @extend .drk-bg;

		&.nys-bill-vote-yes { @extend .icon-before__check; }
		&.nys-bill-vote-no { @extend .icon-before__x; }

    &.nys-subscribe-button {
      width: 100%;
      @extend .icon-before__notification;
    }

    &:hover {
      @extend .lgt-bg;
    }

    &.selected {
      color: $color-white;
    }
  }

  &.nys-bill-vote-form-embedded {
    .c-block--btn {
      width: 25%;
      box-sizing: border-box;
      border-left-width: 1px;
      position: relative;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;

      &.nys-subscribe-button {
        border-width: 0;
        width: 50%;
      }
    }
  }

  .bill-vote-message-prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border: 0;
    z-index: 5;
    @extend .med-bg;
    font-size: 14px;

    .closer {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      padding: 0;
      overflow: hidden;
      padding-top: 1em;
      text-indent: -99999px;
			@extend .icon-replace__x;

			&:after {
				margin-left: 20px;
				color: $color-white;
				font-size: 23px;
				line-height: 40px;
				text-align: center;
        transition: color 0.2s ease;
			}

      &:hover {
        &::after {
          color: $grey05;
        }
      }
    }

    .nys-bill-vote--contact {
      display: block;
      height: 60px;
      width: 100%;
      padding: 0 20px;
      transition: background 0.2s ease;
      @extend .drk-bg;
      color: $color-white;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.2em;
      line-height: 60px;
      @extend .icon-before__mail;

      &:hover {
        @extend .lgt-bg;
      }
    }
  }

  .bill-vote-thanks {
    padding-left: 55px;
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-sans;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 40px;
  }
}

.c-block .c-bill-polling--cta {
  padding-left: 20px;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-sans;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 40px;
  margin: 0;

  span {
    padding: 4px;
  }

  strong {
    font-family: $font-sans-bold;
  }
}

#confirm-vote-intent-modal {
  a.button {
    margin-right: 1em;
  }
  .confirmed-vote {
    @extend .lgt-bg;

    &:hover {
      background-color: #007095;
    }
  }
}

@include breakpoint($bp-sm) {

  .c-block--btn,
  .c-bill-polling--choices-choice {
    height: 80px;
    font-size: 15px;
    line-height: 80px;
  }

  .c-bill--vote-attach {
    margin-top: 120px;
  }

  .nys-bill-vote {
    .bill-vote-message-prompt {
      .closer {
        &::after {
          margin-left: 40px;
        }
      }

      .nys-bill-vote--contact {
        height: 80px;
        padding-left: 40px;
        line-height: 80px;

        &::before {
          line-height: 80px;
        }
      }
    }

    .bill-vote-thanks {
      padding-left: 77px;
    }
  }
}
