<div class="c-senator-footer-col__social">
  <p class="c-senator-footer-caption">Follow the New York State Senate</p>
    {% include "@nysenate_theme/nysenate-footer-socials/nysenate-footer-socials.twig" with {
      socials: socials
    } only %}
</div>
