{{ attach_library('nysenate_theme/text-layout') }}

<div class="text-layout contact-us">
  <div class="text-layout__container">
    <div class="text-layout__title container">
      CONTACT US
    </div>
    <div class="text-layout__body">
      <div class="content">
        <div class="c-block--background">
          <h3>
            NEW YORK STATE SENATE OFFICE OF<br />STUDENT PROGRAMS
          </h3>
          <p>
            208 Legislative Office Building<br />Albany, NY 12247<br />
            <br />
            <strong>Tel:</strong>&nbsp;(518) 455-2611<br />
            <strong>Fax:</strong>&nbsp;(518) 426-6827<br />
            <strong>E-mail:</strong>&nbsp;students@nysenate.gov
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
