// Import site utilities.
@import '../../global/utils/init';

.page--open_data {
  .pager {
    height: 51px;
    background-color: $grey06;
    margin-bottom: 40px;
    border-bottom: 1px solid $grey-dot;
    border-left: 1px solid $grey-dot;
    border-right: 1px solid $grey-dot;
    margin-top: 0;

    .pager__items {
      gap: 10px;
      float: right;
      margin: 0;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        margin: 0;
        background: none;
        height: 100%;

        a {
          color: $cont_blue_med;
          background: none;
          line-height: 22px;
          font-size: 14px;
          width: 25px;

          &.pager__control svg {
            display: none;
          }
        }

        &.is-active {
          a {
            background: none;
            color: $cont_blue_drk;
          }
        }

        &.pager__item--previous a,
        &.pager__item--next a {
          text-indent: -9999em;
          font-size: 0;
          height: 24px;
          display: flex;
          align-items: center;

          &::before {
            display: block;
            width: 28px;
            height: 24px;
            font-size: 18px;
            font-family: 'senate_icons';
            line-height: 24px;
          }
        }

        &.pager__item--next {
          right: 0;

          a::before {
            content: '\3e';
          }
        }

        &.pager__item--previous {
          left: 0;

          a::before {
            content: '\3c';
          }
        }
      }
    }
  }

  .view-open-data {
    margin-bottom: 80px;

    .view-filters {
      margin: 30px 0;

      select,
      input[type='text'] {
        height: 55px;
        width: 100%;
      }

      .js-form-item,
      .search-form-group__wrapper {
        width: 100%;
      }

      .form-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
      }

      .search__submit {
        position: initial;
        margin-top: 4%;
        width: 100%;
        height: auto;
        font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
        text-align: center;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1.0625rem;
        font-size: 1rem;
        background-color: $color-nys-blue;
        border-color: #007095;
        color: $color-white;
        transition: background-color 300ms ease-out;
      }

      .search__submit-icon,
      .search-form-group__button {
        display: none;
      }

      .search-form-group__inner {
        position: relative;
        height: 55px;

        &::after {
          font-family: 'senate_icons';
          display: inline-block;
          vertical-align: middle;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          padding-left: 3px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\6d';
          position: absolute;
          right: 20px;
          top: 8px;
          font-size: 25px;
          color: $blue01;
        }
      }
    }

    .views-table {
      width: 100%;
      border: 1px solid $grey-dot;

      thead {
        background: $grey16;

        tr {

          th {
            font-family: $font-sans-bold;
            color: $grey03;
            font-size: 12px;
            text-transform: uppercase;
            padding: 15px;
            border-bottom: 1px solid $grey-dot;
            text-align: left;
            background-color: initial;

            &:nth-child(1) {
              width: 36%;
            }
          }
        }
      }

      tbody {
        border-top: none;

        tr {
          border-bottom: 1px solid $grey-dot;

          &:nth-child(even) {
            background: #f9f9fb;
          }

          td {
            padding: 15px 10px;

            a {
              color: $blue07;
            }

            &.views-field-title {

              h2 {
                font-size: 12px;

                a {
                  font-family: $font-sans-bold;
                  color: $grey08;
                }
              }
            }

            &.views-field-field-publication-date {
              font-family: $font-sans-bold;
              color: $grey08;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.c-news--download {
  display: block;

  img {
    display: none;
  }

  // download styles
  .file > a {
    display: inline-block;
    font-size: 12px;
    font-family: $font-sans-bold;
    text-decoration: none;
    @extend .accent-text;
    @extend .icon-before__presskit;

    &::before {
      font-size: 21px;
      line-height: 12px;
    }
  }
}

// OPEN DATA TABLE
.managed-csv-datatable {
  thead {
    background-color: $grey16;
  }
}

.dataTables_length {
  margin-bottom: 1em;

  label {
    color: $grey04;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12.8px;
  }

  select {
    width: 100%;
    appearance: none;
    background-color: #fafafa;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+');
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid $grey15;
    padding: 0.5rem !important;
    font-size: 0.875rem;
    font-family: $font-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.3125rem;
  }
}

.managed-csv-datatable-container {
  max-width: 100%;
  margin-bottom: 5em;
  overflow: hidden;

  tr.even {
    background-color: $grey06;
  }
}

.managed-csv-datatable-caption {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.managed-csv-removed-data {
  font-family: $font-sans;
  font-size: 14px;
  margin-bottom: 1em;
  color: $blue_info;
  font-weight: bold;
  overflow-x: hidden;
  white-space: inherit;
}

.c-news--title {
  font-family: $font-serif;
  font-size: 48px;
}

.text-content,
.field-name-field-open-date-type,
.field-name-field-open-data-file {
  font-family: $font-sans;
  color: $grey01;
  font-size: 16px;
  margin-bottom: 10px;

  div {
    display: inline-block;

    &.field-label {
      font-family: $font-sans;
      text-transform: uppercase;
      color: $grey03;
      font-size: 14px;
    }
  }
}

.field-name-field-open-data-file {
  .file {
    img {
      margin-right: 8px;
      background: none;
    }
  }
}

@include breakpoint($bp-sm) {
  .page--open_data {

    .c-news--head {
      margin-bottom: 20px;
    }

    .pager__items {
      gap: 15px;

      li a {
        width: 30px;
      }
    }
  }
}

.open-data-section {
  .c-block {
    margin-bottom: 0;

    .field__label {
      display: none;
    }

    @include breakpoint($bp-sm) {
      .field__item p {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}
