{% for item in fandf_items %}
  <div class="find-and-follow-button-wrapper">
    <a class="find-and-follow-button" href="{{ item.url }}">
      <i class="ph ph-{{ item.icon }}"></i><br>
      <span>{{ item.text }}</span>
    </a>
  </div>
{% endfor %}
