{#
/**
 * @file nys-dashboard-overview.html.twig
 *
 * @var object user
 *   An object of the user profile.
 * @var object my_senator
 *   An object of the senator profile.
 * @var object message_form
 *   An object of the message form.
 */
#}
<div class="dashboard-profile">
  {{ user }}
  {{ my_senator }}
  <div class="msg-senator-modal">
    <div class="content">
      <span class="close">&times;</span>
      {{ message_form }}
    </div>
  </div>
</div>
