{#
/**
 * @file nys-dashboard-find-and-follow.html.twig
 *
 * @var array fandf_items
 *   An array of link items.
 */
#}
{{ attach_library('nys_dashboard/find_and_follow') }}
<ul>
  {% for item in fandf_items %}
  <li class="find-and-follow-button-wrapper">
    <a class="find-and-follow-button" href="{{ item.url }}">
      <i class="ph ph-{{ item.icon }}"></i><br>
      <span>{{ item.text }}</span>
    </a>
  </li>
  {% endfor %}
</ul>