/*---------------------------
/ WIDTHS
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	
/---------------------------*/
/*-----------------------------
/	CUSTOM NEW YORK SENATE (nysenate_theme) PALETTE STYLES
/------------------------------*/
/*
/	Colors are set within Pallette Selector (field_pallette)
/	class is set on body
/*


/*----------------------------------------------
/
/ PALETTE VARIABLES
/ ** certain elements are either black or white
/ ** based on color palette - defaults to black
/
/----------------------------------------------*/
/*----------------------------
/ PALETTE STYLES
/-----------------------------*/
.contrast_text {
  color: #000; }

.lgt-text {
  color: #2b6a90; }

.lgt-bg {
  background-color: #2b6a90; }

.med-text {
  color: #175b81; }

.med-bg {
  background-color: #175b81; }

.drk-text {
  color: #004d71; }

.drk-bg {
  background-color: #004d71; }

.link-text {
  color: #cb8d37; }

.accent-bg {
  background-color: #1b5187; }

.accent-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .nav-text {
    color: #444; }
    .nav-text:hover {
      color: #2b6a90; }
    .nav-text.active {
      color: #2b6a90; } }

.trad_blue .contrast_text {
  color: #fff; }

.trad_blue .lgt-text {
  color: #1b5187; }

.trad_blue .lgt-bg {
  background-color: #1b5187; }

.trad_blue .med-text {
  color: #1d446b; }

.trad_blue .med-bg {
  background-color: #1d446b; }

.trad_blue .drk-text {
  color: #1c364e; }

.trad_blue .drk-bg {
  background-color: #1c364e; }

.trad_blue .link-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .trad_blue .nav-text {
    color: #444; }
    .trad_blue .nav-text:hover {
      color: #1b5187; }
    .trad_blue .nav-text.active {
      color: #1b5187; } }

.cont_blue .contrast_text {
  color: #000; }

.cont_blue .lgt-text {
  color: #04a9c5; }

.cont_blue .lgt-bg {
  background-color: #04a9c5; }

.cont_blue .med-text {
  color: #008ca6; }

.cont_blue .med-bg {
  background-color: #008ca6; }

.cont_blue .drk-text {
  color: #1f798f; }

.cont_blue .drk-bg {
  background-color: #1f798f; }

.cont_blue .link-text {
  color: #04a9c5; }

@media screen and (min-width: 760px) {
  .cont_blue .nav-text {
    color: #444; }
    .cont_blue .nav-text:hover {
      color: #04a9c5; }
    .cont_blue .nav-text.active {
      color: #04a9c5; } }

.purple .contrast_text {
  color: #000; }

.purple .lgt-text {
  color: #90668f; }

.purple .lgt-bg {
  background-color: #90668f; }

.purple .med-text {
  color: #754775; }

.purple .med-bg {
  background-color: #754775; }

.purple .drk-text {
  color: #543457; }

.purple .drk-bg {
  background-color: #543457; }

.purple .link-text {
  color: #90668f; }

.purple .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .purple .nav-text {
    color: #444; }
    .purple .nav-text:hover {
      color: #90668f; }
    .purple .nav-text.active {
      color: #90668f; } }

.trad_red .contrast_text {
  color: #fff; }

.trad_red .lgt-text {
  color: #87002f; }

.trad_red .lgt-bg {
  background-color: #87002f; }

.trad_red .med-text {
  color: #6e0026; }

.trad_red .med-bg {
  background-color: #6e0026; }

.trad_red .drk-text {
  color: #500019; }

.trad_red .drk-bg {
  background-color: #500019; }

.trad_red .link-text {
  color: #87002f; }

.trad_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_red .nav-text {
    color: #444; }
    .trad_red .nav-text:hover {
      color: #87002f; }
    .trad_red .nav-text.active {
      color: #87002f; } }

.cont_red .contrast_text {
  color: #fff; }

.cont_red .lgt-text {
  color: #c62526; }

.cont_red .lgt-bg {
  background-color: #c62526; }

.cont_red .med-text {
  color: #bb0623; }

.cont_red .med-bg {
  background-color: #bb0623; }

.cont_red .drk-text {
  color: #a00101; }

.cont_red .drk-bg {
  background-color: #a00101; }

.cont_red .link-text {
  color: #c62526; }

.cont_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_red .nav-text {
    color: #444; }
    .cont_red .nav-text:hover {
      color: #c62526; }
    .cont_red .nav-text.active {
      color: #c62526; } }

.orange .contrast_text {
  color: #000; }

.orange .lgt-text {
  color: #f0673d; }

.orange .lgt-bg {
  background-color: #f0673d; }

.orange .med-text {
  color: #ed4b1c; }

.orange .med-bg {
  background-color: #ed4b1c; }

.orange .drk-text {
  color: #c84123; }

.orange .drk-bg {
  background-color: #c84123; }

.orange .link-text {
  color: #f0673d; }

.orange .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .orange .nav-text {
    color: #444; }
    .orange .nav-text:hover {
      color: #f0673d; }
    .orange .nav-text.active {
      color: #f0673d; } }

.trad_green .contrast_text {
  color: #000; }

.trad_green .lgt-text {
  color: #60a35f; }

.trad_green .lgt-bg {
  background-color: #60a35f; }

.trad_green .med-text {
  color: #4d894f; }

.trad_green .med-bg {
  background-color: #4d894f; }

.trad_green .drk-text {
  color: #416837; }

.trad_green .drk-bg {
  background-color: #416837; }

.trad_green .link-text {
  color: #60a35f; }

.trad_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_green .nav-text {
    color: #444; }
    .trad_green .nav-text:hover {
      color: #60a35f; }
    .trad_green .nav-text.active {
      color: #60a35f; } }

.cont_green .contrast_text {
  color: #000; }

.cont_green .lgt-text {
  color: #65c5b6; }

.cont_green .lgt-bg {
  background-color: #65c5b6; }

.cont_green .med-text {
  color: #479e93; }

.cont_green .med-bg {
  background-color: #479e93; }

.cont_green .drk-text {
  color: #378479; }

.cont_green .drk-bg {
  background-color: #378479; }

.cont_green .link-text {
  color: #65c5b6; }

.cont_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_green .nav-text {
    color: #444; }
    .cont_green .nav-text:hover {
      color: #65c5b6; }
    .cont_green .nav-text.active {
      color: #65c5b6; } }

.inactive-pallette .contrast_text {
  color: #000; }

.inactive-pallette .lgt-text {
  color: #1b5187; }

.inactive-pallette .lgt-bg {
  background-color: #b2b2b2; }

.inactive-pallette .med-text {
  color: #999999; }

.inactive-pallette .med-bg {
  background-color: #999999; }

.inactive-pallette .drk-text {
  color: #808080; }

.inactive-pallette .drk-bg {
  background-color: #808080; }

.inactive-pallette .link-text {
  color: #1b5187; }

.inactive-pallette .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .inactive-pallette .nav-text {
    color: #444; }
    .inactive-pallette .nav-text:hover {
      color: #1b5187; }
    .inactive-pallette .nav-text.active {
      color: #1b5187; } }

/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
strong {
  font-family: "Adelle Bold", serif; }

.font-secondary {
  font-family: "Proxima Nova Regular", "Arial", sans-serif; }
  .font-secondary strong {
    font-family: "Proxima Nova SemiBold", "Arial", sans-serif; }

.content-card__content {
  padding: 40px 35px; }

.content-card__month {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  opacity: 0.4;
  line-height: 1; }

.content-card__date-display {
  font-size: 1.5rem; }

.content-card__day {
  position: absolute;
  right: -6px;
  bottom: -18px;
  font-size: 8rem;
  opacity: 0.4;
  line-height: 1; }

.content-card__link {
  display: inline-block;
  margin-top: 1.5rem; }

.content-card {
  max-width: 335px;
  position: relative;
  background-color: #FFF;
  margin: 10px auto;
  width: auto;
  height: 486px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .content-card {
      height: 540px; } }
  @media screen and (min-width: 1024px) {
    .content-card {
      margin-right: 15px; } }
  .content-card h2 {
    font-size: 1.7rem; }
  .content-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border: solid 5px #cccae3; }
  .content-card .content-card__content {
    line-height: 1.5rem; }
  .content-card .content-card__content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: #444444;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .content-card .content-card__content h2 {
        font-size: 32px; } }
  .content-card .content-card__content .content-card__subhead {
    color: #414751;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .content-card .content-card__content .content-card__subhead {
        font-size: 20px; } }
  .content-card .content-card__content .body-text {
    color: #414751;
    font-size: 18px;
    font-weight: normal; }
    .content-card .content-card__content .body-text .field__label {
      font-size: 18px;
      margin-bottom: 1rem;
      font-weight: 500; }
      @media screen and (min-width: 768px) {
        .content-card .content-card__content .body-text .field__label {
          font-size: 20px; } }
  .content-card .content-card__month,
  .content-card .content-card__day {
    color: #e74c3c;
    opacity: 0.15;
    text-transform: uppercase;
    font-weight: 700; }
  .content-card .content-card__date-display {
    font-weight: 600; }
  .content-card .content-card__day {
    font-size: 12rem;
    bottom: -31px;
    letter-spacing: -1.5rem;
    right: 0.6rem; }
  .content-card .content-card__month {
    font-size: 4rem;
    top: -8px; }
  .content-card .content-card__link {
    color: #f75c06;
    text-decoration: none;
    font-weight: bold; }
