/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
form.user-edit-account-form .edit-account-wrapper, form.user-edit-account-form #edit-field-first-name-wrapper, form.user-edit-account-form #edit-field-last-name-wrapper {
  float: left;
  width: 48%; }
  @media screen and (max-width: 1023px) {
    form.user-edit-account-form .edit-account-wrapper, form.user-edit-account-form #edit-field-first-name-wrapper, form.user-edit-account-form #edit-field-last-name-wrapper {
      width: 100%; } }

form.user-edit-account-form .edit-account-wrapper-first, form.user-edit-account-form #edit-field-first-name-wrapper {
  margin-right: 4%; }
  @media screen and (max-width: 1023px) {
    form.user-edit-account-form .edit-account-wrapper-first, form.user-edit-account-form #edit-field-first-name-wrapper {
      margin: 0; } }

form.user-edit-account-form #edit-field-address-0-address {
  -moz-column-gap: 4%;
  column-gap: 4%; }
  form.user-edit-account-form #edit-field-address-0-address .form-item {
    margin: 0; }

form.user-edit-account-form .image-widget-data .form-submit {
  margin: 20px 0;
  display: block; }
  form.user-edit-account-form .image-widget-data .form-submit.js-hide {
    display: none; }

form.user-edit-account-form #edit-field-gender-user-wrapper {
  clear: both;
  display: block;
  overflow: hidden; }
  form.user-edit-account-form #edit-field-gender-user-wrapper #edit-field-gender-user {
    margin: 0; }

form.user-edit-account-form #edit-actions {
  clear: both;
  padding-top: 20px; }
