.main-menu {
  background-color: #003954;
  display: none;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .main-menu {
      display: block; } }
  .main-menu.active {
    display: block; }
  .main-menu .menu {
    display: flex;
    flex-direction: column;
    list-style: none outside;
    margin-left: 0; }
    @media screen and (min-width: 768px) {
      .main-menu .menu {
        max-width: 90%;
        width: auto;
        margin: 0 auto;
        flex-direction: row; } }
  @media screen and (min-width: 768px) and (min-width: 1540px) {
    .main-menu .menu {
      max-width: 1600px; } }
    .main-menu .menu a {
      text-decoration: none;
      color: #FFF; }
    .main-menu .menu .menu-item {
      background: #003954;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      padding: 0 16px 0 0;
      position: relative;
      transition: background 300ms ease-in-out; }
      @media screen and (min-width: 768px) {
        .main-menu .menu .menu-item {
          padding: 0; }
          .main-menu .menu .menu-item:hover, .main-menu .menu .menu-item:focus {
            background: #001621; } }
      .main-menu .menu .menu-item a {
        display: block;
        padding: 25px;
        flex: 1; }
        .main-menu .menu .menu-item a:hover {
          text-decoration: underline; }
      .main-menu .menu .menu-item.js-open {
        background: #001621; }
      .main-menu .menu .menu-item.menu-item--has-submenu a {
        padding: 15px 45px 15px 25px; }
        @media screen and (min-width: 768px) {
          .main-menu .menu .menu-item.menu-item--has-submenu a {
            padding: 25px 45px 25px 25px; } }
      .main-menu .menu .menu-item.menu-item--has-submenu.js-open > .menu__submenu {
        max-height: 1000px; }
      .main-menu .menu .menu-item.menu-item--has-submenu.js-open > .menu-item-toggle {
        transform: none; }
      @media screen and (min-width: 768px) {
        .main-menu .menu .menu-item.menu-item--has-submenu > .menu__submenu {
          display: none; }
        .main-menu .menu .menu-item.menu-item--has-submenu:hover > .menu__submenu, .main-menu .menu .menu-item.menu-item--has-submenu:focus > .menu__submenu, .main-menu .menu .menu-item.menu-item--has-submenu.js-open > .menu__submenu {
          display: block;
          max-height: 1000px; }
        .main-menu .menu .menu-item.menu-item--has-submenu:hover > .menu-item-toggle, .main-menu .menu .menu-item.menu-item--has-submenu:focus > .menu-item-toggle, .main-menu .menu .menu-item.menu-item--has-submenu.js-open > .menu-item-toggle {
          transform: none; } }
    .main-menu .menu .menu__submenu {
      background: transparent;
      left: 0;
      list-style: none;
      overflow: hidden;
      max-height: 0;
      position: initial;
      top: 100%;
      white-space: nowrap;
      width: 100%;
      transition: max-height 300ms ease-in-out; }
      @media screen and (min-width: 768px) {
        .main-menu .menu .menu__submenu {
          background: #001621;
          position: absolute;
          width: auto; } }
      .main-menu .menu .menu__submenu .menu__submenu-item {
        min-width: 150px; }
        @media screen and (min-width: 768px) {
          .main-menu .menu .menu__submenu .menu__submenu-item:hover {
            background: #003954; } }
        .main-menu .menu .menu__submenu .menu__submenu-item a {
          padding: 15px 60px; }
          @media screen and (min-width: 768px) {
            .main-menu .menu .menu__submenu .menu__submenu-item a {
              padding: 15px 25px; } }
        .main-menu .menu .menu__submenu .menu__submenu-item:first-child a {
          padding: 0 15px 15px 60px; }
          @media screen and (min-width: 768px) {
            .main-menu .menu .menu__submenu .menu__submenu-item:first-child a {
              padding: 25px 15px 15px 25px; } }
        .main-menu .menu .menu__submenu .menu__submenu-item:last-child a {
          padding: 15px 15px 15px 60px; }
          @media screen and (min-width: 768px) {
            .main-menu .menu .menu__submenu .menu__submenu-item:last-child a {
              padding: 15px 25px 25px; } }
  .main-menu .menu-item.menu-item--active-trail {
    background-color: #464646; }
    .main-menu .menu-item.menu-item--active-trail a.is-active {
      color: #FFF; }

.main-menu__navicon {
  background-color: #003954;
  display: flex;
  align-items: center;
  color: #FFF;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .main-menu__navicon {
      display: none; } }

.navicon {
  background-color: #003954;
  cursor: pointer;
  display: block;
  height: 60px;
  padding: 16px;
  border: 0; }
  @media screen and (min-width: 768px) {
    .navicon {
      display: none; } }
  .active .navicon .navicon__bar {
    width: 30px; }
    .active .navicon .navicon__bar:nth-child(1) {
      transform: rotate(45deg) translate(0.0625rem, 0.0625rem); }
    .active .navicon .navicon__bar:nth-child(2) {
      opacity: 0; }
    .active .navicon .navicon__bar:nth-child(3) {
      transform: rotate(-45deg) translate(0.125rem, -0.0625rem); }
  @media screen and (min-width: 768px) {
    .navicon {
      display: none; } }

.navicon__bar {
  background-color: #FFF;
  border-radius: 0.125rem;
  display: block;
  height: 2px;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  width: 32px; }
  .navicon__bar:nth-child(1) {
    transform: translate(0, -0.375rem); }
  .navicon__bar:nth-child(3) {
    transform: translate(0, 0.375rem); }

.menu-item-toggle {
  background: #003954;
  border: 2px solid #FFF;
  border-radius: 50px;
  height: 40px;
  padding: 5px;
  width: 40px;
  transform: rotate(180deg); }
  @media screen and (min-width: 768px) {
    .menu-item-toggle {
      background: transparent;
      border: 0;
      height: 100%;
      position: absolute;
      right: 12px;
      width: auto; } }
  .menu-item-toggle .menu-item-toggle__icon {
    width: 12px; }
  .menu-item-toggle .menu-item-toggle__text {
    height: 0;
    left: -1000em;
    overflow: hidden;
    position: absolute;
    width: 0; }
