footer {
  width: 100%;
  background-color: #eee;
  color: #444; }
  footer .c-senator-footer {
    display: flex;
    padding: 0px 20px 30px 20px; }
    @media screen and (min-width: 768px) {
      footer .c-senator-footer {
        padding: 35px 40px 30px; } }
  footer .l-row {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 440px; }
    @media screen and (min-width: 768px) {
      footer .l-row {
        display: flex;
        justify-content: center;
        max-width: 840px; } }

.c-senator-footer-col {
  float: left; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col {
      border-bottom: 0;
      border-right: 2px solid #e1e1e3; } }
  .c-senator-footer-col:last-child {
    border: 0; }

/* BOTTOM LINKS */
.c-site-footer {
  overflow: hidden;
  min-height: 75px;
  padding: 0px 20px 25px;
  background-color: #EAEAEC;
  float: left;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .c-site-footer {
      padding: 0 9%; } }
  .c-site-footer ul {
    max-width: 440px;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
    @media screen and (min-width: 768px) {
      .c-site-footer ul {
        max-width: 840px; } }
    @media screen and (min-width: 1200px) {
      .c-site-footer ul {
        max-width: unset;
        display: flex;
        justify-content: space-between; } }
  .c-site-footer li {
    margin-top: 15px;
    width: 50%;
    float: left; }
    @media screen and (min-width: 768px) {
      .c-site-footer li {
        display: inline-block;
        text-align: center;
        width: 25%;
        margin: 15px 0 0 0;
        line-height: 75px; } }
    @media screen and (min-width: 1024px) {
      .c-site-footer li {
        width: 20%;
        margin: 0; } }
  .c-site-footer a {
    font-size: 11px;
    text-decoration: none;
    color: #444;
    line-height: 1em; }
    @media screen and (min-width: 768px) {
      .c-site-footer a {
        line-height: 1.2em; } }

/* LOGO */
.c-senator-footer-col__home {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e3;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__home {
      width: 31%;
      padding-right: 35px;
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 0; } }
  .c-senator-footer-col__home a {
    float: left;
    text-transform: uppercase;
    color: #444;
    text-decoration: none;
    font-size: 11px;
    line-height: 11px;
    width: 100%;
    margin-top: 25px;
    letter-spacing: 0.1em; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__home a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        float: none;
        margin-top: 0;
        line-height: 18px; } }
  .c-senator-footer-col__home img {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-top: -15px;
    margin-right: 20px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__home img {
        float: none;
        margin-top: 25px;
        width: 100px;
        height: 100px;
        margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .c-senator-footer-col__home img {
        width: 112px;
        height: 112px; } }

/* LINKS */
.c-senator-footer-col__nav {
  width: 70%;
  border-right: 2px solid #e1e1e3;
  min-height: 150px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 35px;
      float: none;
      width: 37%; } }
  .c-senator-footer-col__nav ul {
    list-style: none; }
  .c-senator-footer-col__nav li {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 25px; }
    .c-senator-footer-col__nav li:last-child {
      margin: 0; }
  .c-senator-footer-col__nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__nav a {
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 1.2px; } }

/* SOCIALS */
.c-senator-footer-col__social {
  width: 30%;
  padding-left: 30px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__social {
      padding-top: 0;
      padding-left: 35px;
      float: none;
      width: 33%; } }
  @media screen and (min-width: 1024px) {
    .c-senator-footer-col__social {
      width: 31%; } }
  .c-senator-footer-col__social p {
    display: none;
    margin: 0 0 20px;
    color: #666;
    font-size: 11px;
    line-height: 1em; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social p {
        font-size: 12px;
        display: block; } }
  .c-senator-footer-col__social ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social ul {
        flex-direction: row;
        justify-content: flex-start; } }
  .c-senator-footer-col__social li {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social li {
        margin-bottom: 0;
        margin-right: 30px; } }
    .c-senator-footer-col__social li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
  .c-senator-footer-col__social svg path {
    fill: #2B6A91; }
