/*---------------------------
/ WIDTHS
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	
/---------------------------*/
/*-----------------------------
/	CUSTOM NEW YORK SENATE (nysenate_theme) PALETTE STYLES
/------------------------------*/
/*
/	Colors are set within Pallette Selector (field_pallette)
/	class is set on body
/*


/*----------------------------------------------
/
/ PALETTE VARIABLES
/ ** certain elements are either black or white
/ ** based on color palette - defaults to black
/
/----------------------------------------------*/
/*----------------------------
/ PALETTE STYLES
/-----------------------------*/
.contrast_text {
  color: #000; }

.lgt-text {
  color: #2b6a90; }

.lgt-bg {
  background-color: #2b6a90; }

.med-text {
  color: #175b81; }

.med-bg {
  background-color: #175b81; }

.drk-text {
  color: #004d71; }

.drk-bg {
  background-color: #004d71; }

.link-text {
  color: #cb8d37; }

.accent-bg {
  background-color: #1b5187; }

.accent-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .nav-text {
    color: #444; }
    .nav-text:hover {
      color: #2b6a90; }
    .nav-text.active {
      color: #2b6a90; } }

.trad_blue .contrast_text {
  color: #fff; }

.trad_blue .lgt-text {
  color: #1b5187; }

.trad_blue .lgt-bg {
  background-color: #1b5187; }

.trad_blue .med-text {
  color: #1d446b; }

.trad_blue .med-bg {
  background-color: #1d446b; }

.trad_blue .drk-text {
  color: #1c364e; }

.trad_blue .drk-bg {
  background-color: #1c364e; }

.trad_blue .link-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .trad_blue .nav-text {
    color: #444; }
    .trad_blue .nav-text:hover {
      color: #1b5187; }
    .trad_blue .nav-text.active {
      color: #1b5187; } }

.cont_blue .contrast_text {
  color: #000; }

.cont_blue .lgt-text {
  color: #04a9c5; }

.cont_blue .lgt-bg {
  background-color: #04a9c5; }

.cont_blue .med-text {
  color: #008ca6; }

.cont_blue .med-bg {
  background-color: #008ca6; }

.cont_blue .drk-text {
  color: #1f798f; }

.cont_blue .drk-bg {
  background-color: #1f798f; }

.cont_blue .link-text {
  color: #04a9c5; }

@media screen and (min-width: 760px) {
  .cont_blue .nav-text {
    color: #444; }
    .cont_blue .nav-text:hover {
      color: #04a9c5; }
    .cont_blue .nav-text.active {
      color: #04a9c5; } }

.purple .contrast_text {
  color: #000; }

.purple .lgt-text {
  color: #90668f; }

.purple .lgt-bg {
  background-color: #90668f; }

.purple .med-text {
  color: #754775; }

.purple .med-bg {
  background-color: #754775; }

.purple .drk-text {
  color: #543457; }

.purple .drk-bg {
  background-color: #543457; }

.purple .link-text {
  color: #90668f; }

.purple .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .purple .nav-text {
    color: #444; }
    .purple .nav-text:hover {
      color: #90668f; }
    .purple .nav-text.active {
      color: #90668f; } }

.trad_red .contrast_text {
  color: #fff; }

.trad_red .lgt-text {
  color: #87002f; }

.trad_red .lgt-bg {
  background-color: #87002f; }

.trad_red .med-text {
  color: #6e0026; }

.trad_red .med-bg {
  background-color: #6e0026; }

.trad_red .drk-text {
  color: #500019; }

.trad_red .drk-bg {
  background-color: #500019; }

.trad_red .link-text {
  color: #87002f; }

.trad_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_red .nav-text {
    color: #444; }
    .trad_red .nav-text:hover {
      color: #87002f; }
    .trad_red .nav-text.active {
      color: #87002f; } }

.cont_red .contrast_text {
  color: #fff; }

.cont_red .lgt-text {
  color: #c62526; }

.cont_red .lgt-bg {
  background-color: #c62526; }

.cont_red .med-text {
  color: #bb0623; }

.cont_red .med-bg {
  background-color: #bb0623; }

.cont_red .drk-text {
  color: #a00101; }

.cont_red .drk-bg {
  background-color: #a00101; }

.cont_red .link-text {
  color: #c62526; }

.cont_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_red .nav-text {
    color: #444; }
    .cont_red .nav-text:hover {
      color: #c62526; }
    .cont_red .nav-text.active {
      color: #c62526; } }

.orange .contrast_text {
  color: #000; }

.orange .lgt-text {
  color: #f0673d; }

.orange .lgt-bg {
  background-color: #f0673d; }

.orange .med-text {
  color: #ed4b1c; }

.orange .med-bg {
  background-color: #ed4b1c; }

.orange .drk-text {
  color: #c84123; }

.orange .drk-bg {
  background-color: #c84123; }

.orange .link-text {
  color: #f0673d; }

.orange .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .orange .nav-text {
    color: #444; }
    .orange .nav-text:hover {
      color: #f0673d; }
    .orange .nav-text.active {
      color: #f0673d; } }

.trad_green .contrast_text {
  color: #000; }

.trad_green .lgt-text {
  color: #60a35f; }

.trad_green .lgt-bg {
  background-color: #60a35f; }

.trad_green .med-text {
  color: #4d894f; }

.trad_green .med-bg {
  background-color: #4d894f; }

.trad_green .drk-text {
  color: #416837; }

.trad_green .drk-bg {
  background-color: #416837; }

.trad_green .link-text {
  color: #60a35f; }

.trad_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_green .nav-text {
    color: #444; }
    .trad_green .nav-text:hover {
      color: #60a35f; }
    .trad_green .nav-text.active {
      color: #60a35f; } }

.cont_green .contrast_text {
  color: #000; }

.cont_green .lgt-text {
  color: #65c5b6; }

.cont_green .lgt-bg {
  background-color: #65c5b6; }

.cont_green .med-text {
  color: #479e93; }

.cont_green .med-bg {
  background-color: #479e93; }

.cont_green .drk-text {
  color: #378479; }

.cont_green .drk-bg {
  background-color: #378479; }

.cont_green .link-text {
  color: #65c5b6; }

.cont_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_green .nav-text {
    color: #444; }
    .cont_green .nav-text:hover {
      color: #65c5b6; }
    .cont_green .nav-text.active {
      color: #65c5b6; } }

.inactive-pallette .contrast_text {
  color: #000; }

.inactive-pallette .lgt-text {
  color: #1b5187; }

.inactive-pallette .lgt-bg {
  background-color: #b2b2b2; }

.inactive-pallette .med-text {
  color: #999999; }

.inactive-pallette .med-bg {
  background-color: #999999; }

.inactive-pallette .drk-text {
  color: #808080; }

.inactive-pallette .drk-bg {
  background-color: #808080; }

.inactive-pallette .link-text {
  color: #1b5187; }

.inactive-pallette .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .inactive-pallette .nav-text {
    color: #444; }
    .inactive-pallette .nav-text:hover {
      color: #1b5187; }
    .inactive-pallette .nav-text.active {
      color: #1b5187; } }

/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
strong {
  font-family: "Adelle Bold", serif; }

.font-secondary {
  font-family: "Proxima Nova Regular", "Arial", sans-serif; }
  .font-secondary strong {
    font-family: "Proxima Nova SemiBold", "Arial", sans-serif; }

footer {
  width: 100%;
  background-color: #eee;
  color: #444; }
  footer .c-senator-footer {
    display: flex;
    padding: 0px 20px 30px 20px; }
    @media screen and (min-width: 768px) {
      footer .c-senator-footer {
        padding: 35px 40px 30px; } }
  footer .l-row {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 440px; }
    @media screen and (min-width: 768px) {
      footer .l-row {
        display: flex;
        justify-content: center;
        max-width: 840px; } }

.c-senator-footer-col {
  float: left; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col {
      border-bottom: 0;
      border-right: 2px solid #e1e1e3; } }
  .c-senator-footer-col:last-child {
    border: 0; }

/* BOTTOM LINKS */
.c-site-footer {
  overflow: hidden;
  min-height: 75px;
  padding: 0px 20px 25px;
  background-color: #EAEAEC;
  float: left;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .c-site-footer {
      padding: 0 9%; } }
  .c-site-footer ul {
    max-width: 440px;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
    @media screen and (min-width: 768px) {
      .c-site-footer ul {
        max-width: 840px; } }
    @media screen and (min-width: 1200px) {
      .c-site-footer ul {
        max-width: unset;
        display: flex;
        justify-content: space-between; } }
  .c-site-footer li {
    margin-top: 15px;
    width: 50%;
    float: left; }
    @media screen and (min-width: 768px) {
      .c-site-footer li {
        display: inline-block;
        text-align: center;
        width: 25%;
        margin: 15px 0 0 0;
        line-height: 75px; } }
    @media screen and (min-width: 1024px) {
      .c-site-footer li {
        width: 20%;
        margin: 0; } }
  .c-site-footer a {
    font-size: 11px;
    text-decoration: none;
    color: #444;
    line-height: 1em; }
    @media screen and (min-width: 768px) {
      .c-site-footer a {
        line-height: 1.2em; } }

/* LOGO */
.c-senator-footer-col__home {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e3;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__home {
      width: 31%;
      padding-right: 35px;
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 0; } }
  .c-senator-footer-col__home a {
    float: left;
    text-transform: uppercase;
    color: #444;
    text-decoration: none;
    font-size: 11px;
    line-height: 11px;
    width: 100%;
    margin-top: 25px;
    letter-spacing: 0.1em; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__home a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        float: none;
        margin-top: 0;
        line-height: 18px; } }
  .c-senator-footer-col__home img {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-top: -15px;
    margin-right: 20px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__home img {
        float: none;
        margin-top: 25px;
        width: 100px;
        height: 100px;
        margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .c-senator-footer-col__home img {
        width: 112px;
        height: 112px; } }

/* LINKS */
.c-senator-footer-col__nav {
  width: 70%;
  border-right: 2px solid #e1e1e3;
  min-height: 150px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 35px;
      float: none;
      width: 37%; } }
  .c-senator-footer-col__nav ul {
    list-style: none; }
  .c-senator-footer-col__nav li {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 25px; }
    .c-senator-footer-col__nav li:last-child {
      margin: 0; }
  .c-senator-footer-col__nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__nav a {
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 1.2px; } }

/* SOCIALS */
.c-senator-footer-col__social {
  width: 30%;
  padding-left: 30px; }
  @media screen and (min-width: 768px) {
    .c-senator-footer-col__social {
      padding-top: 0;
      padding-left: 35px;
      float: none;
      width: 33%; } }
  @media screen and (min-width: 1024px) {
    .c-senator-footer-col__social {
      width: 31%; } }
  .c-senator-footer-col__social p {
    font-family: "Proxima Nova Regular", "Arial", sans-serif;
    display: none;
    margin: 0 0 20px;
    color: #666;
    font-size: 11px;
    line-height: 1em; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social p {
        font-size: 12px;
        display: block; } }
  .c-senator-footer-col__social ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social ul {
        flex-direction: row;
        justify-content: flex-start; } }
  .c-senator-footer-col__social li {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .c-senator-footer-col__social li {
        margin-bottom: 0;
        margin-right: 30px; } }
    .c-senator-footer-col__social li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
  .c-senator-footer-col__social svg path {
    fill: #2B6A91; }
