.nys-senator.sponsor-list .nys-senator--thumb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 45px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 50%;
  background-clip: padding-box; }

.nys-senator.sponsor-list .nys-senator--info {
  vertical-align: middle;
  list-style: none; }
