/*---------------------------
/ WIDTHS
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	
/---------------------------*/
/*-----------------------------
/	CUSTOM NEW YORK SENATE (nysenate_theme) PALETTE STYLES
/------------------------------*/
/*
/	Colors are set within Pallette Selector (field_pallette)
/	class is set on body
/*


/*----------------------------------------------
/
/ PALETTE VARIABLES
/ ** certain elements are either black or white
/ ** based on color palette - defaults to black
/
/----------------------------------------------*/
/*----------------------------
/ PALETTE STYLES
/-----------------------------*/
.contrast_text {
  color: #000; }

.lgt-text {
  color: #2b6a90; }

.lgt-bg {
  background-color: #2b6a90; }

.med-text {
  color: #175b81; }

.med-bg {
  background-color: #175b81; }

.drk-text {
  color: #004d71; }

.drk-bg {
  background-color: #004d71; }

.link-text {
  color: #cb8d37; }

.accent-bg {
  background-color: #1b5187; }

.accent-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .nav-text {
    color: #444; }
    .nav-text:hover {
      color: #2b6a90; }
    .nav-text.active {
      color: #2b6a90; } }

.trad_blue .contrast_text {
  color: #fff; }

.trad_blue .lgt-text {
  color: #1b5187; }

.trad_blue .lgt-bg {
  background-color: #1b5187; }

.trad_blue .med-text {
  color: #1d446b; }

.trad_blue .med-bg {
  background-color: #1d446b; }

.trad_blue .drk-text {
  color: #1c364e; }

.trad_blue .drk-bg {
  background-color: #1c364e; }

.trad_blue .link-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .trad_blue .nav-text {
    color: #444; }
    .trad_blue .nav-text:hover {
      color: #1b5187; }
    .trad_blue .nav-text.active {
      color: #1b5187; } }

.cont_blue .contrast_text {
  color: #000; }

.cont_blue .lgt-text {
  color: #04a9c5; }

.cont_blue .lgt-bg {
  background-color: #04a9c5; }

.cont_blue .med-text {
  color: #008ca6; }

.cont_blue .med-bg {
  background-color: #008ca6; }

.cont_blue .drk-text {
  color: #1f798f; }

.cont_blue .drk-bg {
  background-color: #1f798f; }

.cont_blue .link-text {
  color: #04a9c5; }

@media screen and (min-width: 760px) {
  .cont_blue .nav-text {
    color: #444; }
    .cont_blue .nav-text:hover {
      color: #04a9c5; }
    .cont_blue .nav-text.active {
      color: #04a9c5; } }

.purple .contrast_text {
  color: #000; }

.purple .lgt-text {
  color: #90668f; }

.purple .lgt-bg {
  background-color: #90668f; }

.purple .med-text {
  color: #754775; }

.purple .med-bg {
  background-color: #754775; }

.purple .drk-text {
  color: #543457; }

.purple .drk-bg {
  background-color: #543457; }

.purple .link-text {
  color: #90668f; }

.purple .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .purple .nav-text {
    color: #444; }
    .purple .nav-text:hover {
      color: #90668f; }
    .purple .nav-text.active {
      color: #90668f; } }

.trad_red .contrast_text {
  color: #fff; }

.trad_red .lgt-text {
  color: #87002f; }

.trad_red .lgt-bg {
  background-color: #87002f; }

.trad_red .med-text {
  color: #6e0026; }

.trad_red .med-bg {
  background-color: #6e0026; }

.trad_red .drk-text {
  color: #500019; }

.trad_red .drk-bg {
  background-color: #500019; }

.trad_red .link-text {
  color: #87002f; }

.trad_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_red .nav-text {
    color: #444; }
    .trad_red .nav-text:hover {
      color: #87002f; }
    .trad_red .nav-text.active {
      color: #87002f; } }

.cont_red .contrast_text {
  color: #fff; }

.cont_red .lgt-text {
  color: #c62526; }

.cont_red .lgt-bg {
  background-color: #c62526; }

.cont_red .med-text {
  color: #bb0623; }

.cont_red .med-bg {
  background-color: #bb0623; }

.cont_red .drk-text {
  color: #a00101; }

.cont_red .drk-bg {
  background-color: #a00101; }

.cont_red .link-text {
  color: #c62526; }

.cont_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_red .nav-text {
    color: #444; }
    .cont_red .nav-text:hover {
      color: #c62526; }
    .cont_red .nav-text.active {
      color: #c62526; } }

.orange .contrast_text {
  color: #000; }

.orange .lgt-text {
  color: #f0673d; }

.orange .lgt-bg {
  background-color: #f0673d; }

.orange .med-text {
  color: #ed4b1c; }

.orange .med-bg {
  background-color: #ed4b1c; }

.orange .drk-text {
  color: #c84123; }

.orange .drk-bg {
  background-color: #c84123; }

.orange .link-text {
  color: #f0673d; }

.orange .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .orange .nav-text {
    color: #444; }
    .orange .nav-text:hover {
      color: #f0673d; }
    .orange .nav-text.active {
      color: #f0673d; } }

.trad_green .contrast_text {
  color: #000; }

.trad_green .lgt-text {
  color: #60a35f; }

.trad_green .lgt-bg {
  background-color: #60a35f; }

.trad_green .med-text {
  color: #4d894f; }

.trad_green .med-bg {
  background-color: #4d894f; }

.trad_green .drk-text {
  color: #416837; }

.trad_green .drk-bg {
  background-color: #416837; }

.trad_green .link-text {
  color: #60a35f; }

.trad_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_green .nav-text {
    color: #444; }
    .trad_green .nav-text:hover {
      color: #60a35f; }
    .trad_green .nav-text.active {
      color: #60a35f; } }

.cont_green .contrast_text {
  color: #000; }

.cont_green .lgt-text {
  color: #65c5b6; }

.cont_green .lgt-bg {
  background-color: #65c5b6; }

.cont_green .med-text {
  color: #479e93; }

.cont_green .med-bg {
  background-color: #479e93; }

.cont_green .drk-text {
  color: #378479; }

.cont_green .drk-bg {
  background-color: #378479; }

.cont_green .link-text {
  color: #65c5b6; }

.cont_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_green .nav-text {
    color: #444; }
    .cont_green .nav-text:hover {
      color: #65c5b6; }
    .cont_green .nav-text.active {
      color: #65c5b6; } }

.inactive-pallette .contrast_text {
  color: #000; }

.inactive-pallette .lgt-text {
  color: #1b5187; }

.inactive-pallette .lgt-bg {
  background-color: #b2b2b2; }

.inactive-pallette .med-text {
  color: #999999; }

.inactive-pallette .med-bg {
  background-color: #999999; }

.inactive-pallette .drk-text {
  color: #808080; }

.inactive-pallette .drk-bg {
  background-color: #808080; }

.inactive-pallette .link-text {
  color: #1b5187; }

.inactive-pallette .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .inactive-pallette .nav-text {
    color: #444; }
    .inactive-pallette .nav-text:hover {
      color: #1b5187; }
    .inactive-pallette .nav-text.active {
      color: #1b5187; } }

/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
strong {
  font-family: "Adelle Bold", serif; }

.font-secondary {
  font-family: "Proxima Nova Regular", "Arial", sans-serif; }
  .font-secondary strong {
    font-family: "Proxima Nova SemiBold", "Arial", sans-serif; }

.nyesenate-upcoming-events {
  position: relative;
  margin: 40px 0;
  padding-bottom: 40px; }
  .nyesenate-upcoming-events__title {
    color: #7d7c7c;
    font-size: 20px;
    line-height: 1em;
    padding-bottom: 20px;
    font-family: 'Adelle SemiBold'; }
  .nyesenate-upcoming-events__header .upcoming-events-link {
    position: absolute;
    display: block;
    top: auto;
    right: 0;
    bottom: 0;
    font-size: 15px;
    line-height: 18px;
    color: #cb8d37;
    text-transform: uppercase;
    text-decoration: none; }
    .nyesenate-upcoming-events__header .upcoming-events-link::after {
      content: '\72';
      font-family: 'senate_icons';
      display: inline-block;
      vertical-align: middle;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
      margin-top: -2px;
      font-size: 17px;
      line-height: 12px; }
  .nyesenate-upcoming-events__items {
    background-color: #eeeeee;
    padding: 25px; }
    .nyesenate-upcoming-events__items .item {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #aaaaaa;
      padding: 20px 0; }
      .nyesenate-upcoming-events__items .item:first-child {
        border-top: 0;
        padding-top: 0; }
      .nyesenate-upcoming-events__items .item:last-child {
        padding-bottom: 0; }
    .nyesenate-upcoming-events__items .item-header {
      display: block;
      float: left; }
      .nyesenate-upcoming-events__items .item-header .date-display {
        text-transform: uppercase;
        color: #7d7c7c;
        font-size: 16px;
        line-height: 18px; }
        .nyesenate-upcoming-events__items .item-header .date-display.month {
          clear: none;
          border-top: 0;
          padding: 0;
          font-size: 12px;
          color: #7d7c7c;
          text-transform: uppercase;
          line-height: 18px;
          font-family: 'Proxima Nova Regular'; }
          .nyesenate-upcoming-events__items .item-header .date-display.month::before {
            content: '/';
            margin: 0 3px 0 5px; }
        .nyesenate-upcoming-events__items .item-header .date-display.date {
          font-family: 'Adelle SemiBold'; }
    .nyesenate-upcoming-events__items .item-content .event {
      clear: left;
      border-top: 1px solid #d2d2d2;
      padding: 12px 0; }
      .nyesenate-upcoming-events__items .item-content .event:first-child {
        border-top: 0; }
      .nyesenate-upcoming-events__items .item-content .event:last-child {
        padding-bottom: 0; }
    .nyesenate-upcoming-events__items .event-title {
      margin: 0; }
      .nyesenate-upcoming-events__items .event-title a {
        font-size: 18px;
        line-height: 26px;
        color: #7d7c7c;
        display: block;
        text-decoration: none;
        font-family: 'Adelle Light'; }

.tabs-content {
  width: 100%; }
  .tabs-content .c-event-name {
    color: #7d7c7c; }
    .tabs-content .c-event-name a {
      color: #7d7c7c; }

.c-event-block--list {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid #aaaaaa;
  overflow: hidden;
  font-family: 'Proxima Nova Regular';
  position: relative; }
  .c-event-block--list .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .c-event-block--list .c-event-image {
    width: 100%; }
  .c-event-block--list .c-event-date {
    text-transform: uppercase;
    font-size: 18px;
    top: 20px;
    left: 0;
    line-height: 130%;
    background: #eeeeee;
    margin-bottom: 24px;
    padding: 6px; }
    .c-event-block--list .c-event-date span {
      font-family: 'Adelle Bold';
      font-size: 26px;
      margin-bottom: 6px; }
  .c-event-block--list .c-event-name {
    font-family: 'Adelle SemiBold';
    font-size: 24px;
    margin: 0 0 12px;
    line-height: 120%;
    margin-left: 0; }
  .c-event-block--list .c-event-location {
    font-size: 18px;
    clear: left;
    color: #222222;
    display: block; }
    .c-event-block--list .c-event-location span {
      margin-right: 7px;
      font-size: 18px;
      color: #2b6a90; }
  .c-event-block--list .c-event-address {
    margin-top: 6px;
    margin-left: 0;
    color: #888888;
    font-size: 18px;
    line-height: 140%;
    display: block; }
  .c-event-block--list .c-event-time {
    margin-top: 10px;
    margin-left: 0;
    display: block;
    font-family: 'Proxima Nova SemiBold';
    font-size: 18px; }
  .c-event-block--list .c-event-rsvp {
    margin: 20px 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ababab;
    border-top: 2px solid #aaaaaa;
    font-size: 12px;
    float: left;
    clear: left;
    color: #2b6a90; }
  .c-event-block--list .c-meeting-video--status::before {
    padding: 0;
    margin-left: 0;
    border-left: 0; }
  .c-event-block--list .c-event-video {
    clear: both;
    margin-top: 24px; }
  .c-event-block--list a {
    text-decoration: none; }

.first .c-event-block--list {
  border-top: 0; }

.c-event-block--today {
  margin: 0 0 10px;
  padding: 15px 0;
  position: relative;
  background-color: #eeeeee;
  overflow: hidden;
  font-family: 'Proxima Nova Regular'; }
  .c-event-block--today .c-event-name {
    font-family: 'Adelle Semibold';
    font-size: 24px;
    margin: 14px 20px;
    line-height: 120%;
    float: left;
    clear: left; }
  .c-event-block--today .c-event-location {
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: #222222; }
    .c-event-block--today .c-event-location span {
      margin-right: 7px;
      font-size: 18px;
      color: #2b6a90; }
  .c-event-block--today a {
    text-decoration: none; }
  .c-event-block--today .c-event-address {
    color: #888888;
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 0 20px;
    float: left;
    clear: left; }
  .c-event-block--today .c-event-time {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    float: left;
    clear: left; }
    .c-event-block--today .c-event-time span {
      font-family: 'Proxima Nova SemiBold';
      font-size: 16px; }
  .c-event-block--today .c-event-rsvp {
    margin: 20px 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ababab;
    border-top: 2px solid #aaaaaa;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    clear: left;
    color: #2b6a90; }

.view-grouping + .view-grouping .first .c-event-block--list {
  border-top: 1px solid #aaaaaa; }

.view-previous-sessions .c-event-block--list .c-event-name {
  margin-bottom: 18px; }

.view-previous-sessions .c-event-block--list .c-event-location {
  clear: right;
  float: right; }

.view-previous-sessions .c-event-block--list .c-event-video {
  margin-left: 0; }

.c-event-block .c-event-date-multiday > div {
  display: inline-block; }

.c-event-block .c-event-date-multiday .c-event-date-separator {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 20px; }

.c-event-block--featured {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 2px solid #d8d8d8;
  font-family: 'Proxima Nova Regular'; }
  .c-event-block--featured::after {
    content: '';
    display: table;
    clear: both; }
  .c-event-block--featured .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .c-event-block--featured .c-event-image {
    width: 100%; }
  .c-event-block--featured .c-event-date {
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 20px; }
    .c-event-block--featured .c-event-date span {
      font-family: 'Adelle Bold'; }
      .c-event-block--featured .c-event-date span::after {
        content: '/';
        display: inline-block;
        font-family: 'Proxima Nova Regular';
        margin: 0 0 0 5px; }
  .c-event-block--featured .c-event-date SPAN:last-of-type::after {
    content: ''; }
  .c-event-block--featured .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 18px 0 12px;
    line-height: 120%; }
  .c-event-block--featured .c-event-location {
    font-size: 20px;
    color: #222222; }
    .c-event-block--featured .c-event-location span {
      margin-right: 7px;
      font-size: 18px;
      color: #2b6a90; }
  .c-event-block--featured .c-event-address {
    margin-top: 15px;
    color: #888888;
    font-size: 20px;
    line-height: 140%; }
  .c-event-block--featured .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Proxima Nova SemiBold'; }
  .c-event-block--featured .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ababab;
    border-top: 2px solid #aaaaaa;
    font-size: 18px;
    color: #2b6a90; }
  .c-event-block--featured .addthisevent-drop {
    margin-top: 20px; }

.c-event-block--featured-image {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  font-family: 'Proxima Nova Regular'; }
  .c-event-block--featured-image::after {
    content: '';
    display: table;
    clear: both; }
  .c-event-block--featured-image .c-title {
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .c-event-block--featured-image .c-event-image {
    width: 100%; }
  .c-event-block--featured-image .c-event-date {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 24px; }
    .c-event-block--featured-image .c-event-date span {
      font-family: 'Adelle Bold'; }
      .c-event-block--featured-image .c-event-date span::after {
        content: '/';
        display: inline-block;
        font-family: 'Proxima Nova Regular';
        margin: 0 0 0 5px; }
  .c-event-block--featured-image a {
    text-decoration: none; }
  .c-event-block--featured-image .c-event-date SPAN:last-of-type::after {
    content: ''; }
  .c-event-block--featured-image .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 18px 0 18px 0;
    line-height: 120%;
    color: #2b6990; }
  .c-event-block--featured-image .c-event-location {
    font-size: 20px;
    color: #888888;
    line-height: 140%; }
    .c-event-block--featured-image .c-event-location span {
      margin-right: 7px;
      font-size: 18px;
      color: #2b6a90; }
  .c-event-block--featured-image .c-event-address {
    margin-top: 0;
    color: #888888;
    font-size: 20px;
    line-height: 140%; }
  .c-event-block--featured-image .c-event-time {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Proxima Nova SemiBold';
    font-size: 18px; }
  .c-event-block--featured-image .c-event-rsvp {
    margin: 20px 0 0 0;
    padding: 9px 11px;
    text-transform: uppercase;
    font-family: 'Proxima Nova SemiBold';
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ababab;
    border-top: 2px solid #aaaaaa;
    font-size: 18px;
    color: #2b6a90; }
  .c-event-block--featured-image .addthisevent-drop {
    margin-top: 20px; }

.c-event-block--upcoming {
  margin: 0;
  padding: 20px 0 40px;
  overflow: hidden;
  font-family: 'Proxima Nova Regular';
  position: relative;
  border-top: 1px solid #d8d8d8; }
  .c-event-block--upcoming.u-odd {
    clear: left; }
  .c-event-block--upcoming .c-event-date {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 0;
    line-height: 130%; }
    .c-event-block--upcoming .c-event-date span {
      font-family: 'Adelle Bold';
      display: block;
      font-size: 26px;
      margin-bottom: 6px; }
  .c-event-block--upcoming .c-event-name {
    font-family: 'Adelle Light';
    font-size: 24px;
    margin: 0 0 12px 60px;
    line-height: 120%; }
  .c-event-block--upcoming .c-event-location {
    font-size: 14px;
    margin-left: 60px;
    color: #222222; }
    .c-event-block--upcoming .c-event-location span {
      margin-right: 7px;
      font-size: 18px;
      color: #2b6a90; }
  .c-event-block--upcoming .c-event-address {
    margin-top: 15px;
    color: #888888;
    font-size: 14px;
    line-height: 140%;
    display: none;
    margin-bottom: 0; }
  .c-event-block--upcoming .c-event-time {
    margin-top: 20px;
    display: none;
    font-size: 14px; }

.c-calendar--today .nys-title {
  font-size: 30px;
  margin-top: 12px;
  font-family: 'Adelle SemiBold'; }

.c-upcoming-container.today {
  background-color: #eeeeee;
  padding: 40px 5% 0 5%; }
  .c-upcoming-container.today .c-title {
    color: #7d7c7c;
    font-size: 24px;
    font-family: 'Adelle SemiBold';
    text-transform: capitalize; }
    .c-upcoming-container.today .c-title a {
      font-family: 'Proxima Nova Regular';
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase; }
  .c-upcoming-container.today .c-event-name {
    font-size: 18px;
    width: 100%;
    margin-left: 0; }
  .c-upcoming-container.today .c-event-time {
    color: #888888;
    font-size: 14px; }
  .c-upcoming-container.today .c-event-location {
    margin-left: 0; }

@media screen and (min-width: 760px) {
  .c-event-block--today {
    padding: 24px 0; }
    .c-event-block--today .c-event-name {
      margin-top: 0;
      float: left;
      width: 440px;
      margin-left: 240px; }
    .c-event-block--today .c-event-location {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px; }
    .c-event-block--today .c-event-address {
      float: left;
      width: 440px;
      clear: left;
      margin-left: 240px; }
    .c-event-block--today .c-event-time {
      position: absolute;
      top: 30px;
      left: 30px;
      width: auto;
      margin-left: 0; }
    .c-event-block--today .c-event-rsvp {
      float: left;
      clear: left;
      margin-left: 240px; }
  .c-event-block--list .c-event-image {
    max-width: 380px;
    float: left; }
  .c-event-block--list .c-event-date {
    float: left;
    width: 100px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    position: static;
    line-height: 1;
    background: none;
    clear: both; }
    .c-event-block--list .c-event-date span {
      font-size: 40px;
      display: block; }
  .c-event-block--list .c-event-name {
    float: right;
    width: 460px;
    margin: 12px 120px 10px 0;
    color: #2b6990; }
  .c-event-block--list .c-event-location {
    float: right;
    width: 460px;
    clear: right;
    margin-right: 120px;
    margin-left: 0; }
    .c-event-block--list .c-event-location .icon-before__circle-pin::before {
      vertical-align: top; }
  .c-event-block--list .c-event-address {
    float: right;
    width: 460px;
    clear: right;
    margin-right: 120px;
    display: block; }
  .c-event-block--list .c-event-time {
    float: right;
    width: 460px;
    clear: right;
    margin-right: 120px;
    display: block; }
  .c-event-block--list .c-event-rsvp {
    float: right;
    clear: right;
    margin-right: 430px;
    margin-left: 0; }
  .c-event-block--list .c-meeting-video--status::before {
    padding: 0;
    margin-left: 0;
    border-left: 0; }
  .c-event-block--list .c-event-video {
    position: absolute;
    top: 20px;
    right: 0;
    clear: none;
    margin-top: 0; }
  .view-previous-sessions .c-event-block--list .c-event-name {
    margin-bottom: 18px; }
  .view-previous-sessions .c-event-block--list .c-event-location {
    clear: right;
    float: right; }
  .view-previous-sessions .c-event-block--list .c-event-video {
    margin-left: 0; }
  .c-event-block--featured .c-event-image {
    max-width: 380px;
    float: left; }
  .c-event-block--featured .c-event-date {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 22px; }
    .c-event-block--featured .c-event-date span {
      font-family: 'Adelle SemiBold'; }
      .c-event-block--featured .c-event-date span::after {
        display: inline-block;
        margin: 0 0 0 5px; }
  .c-event-block--featured .c-event-name {
    margin-top: 0;
    margin-right: 120px; }
  .c-event-block--featured .c-event-location {
    clear: right;
    margin-right: 120px; }
  .c-event-block--featured .c-event-address {
    clear: right;
    margin-right: 120px; }
  .c-event-block--featured .c-event-time {
    clear: right;
    margin-right: 120px; }
  .c-event-block--featured .c-event-rsvp {
    clear: right;
    margin-right: 430px; }
  .c-event-block--featured .addthisevent-drop {
    clear: right;
    margin-right: 400px; }
  .c-event-block--featured-image .c-event-image {
    width: 50%;
    float: left; }
  .c-event-block--featured-image .c-event-date {
    margin-top: 0;
    float: right;
    width: 300px; }
  .c-event-block--featured-image .c-event-name {
    float: right;
    width: 300px;
    clear: right; }
  .c-event-block--featured-image .c-event-location {
    float: right;
    width: 300px;
    clear: right; }
  .c-event-block--featured-image .c-event-address {
    float: right;
    width: 300px;
    clear: right; }
  .c-event-block--featured-image .c-event-time {
    float: right;
    clear: right;
    width: 300px; }
  .c-event-block--featured-image .c-event-rsvp {
    float: right;
    clear: right;
    margin-right: 145px; }
  .c-event-block--featured-image .addthisevent-drop {
    clear: right;
    float: right;
    width: 180px;
    margin-top: 20px;
    margin-right: 120px; }
  .c-upcoming-container .c-event-block--upcoming {
    clear: left;
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 0;
    border-top: 0; }
    .c-upcoming-container .c-event-block--upcoming.u-odd {
      padding-right: 20px;
      padding-left: 0; }
    .c-upcoming-container .c-event-block--upcoming .c-event-date {
      float: left;
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 0;
      line-height: 1;
      padding-top: 16px; }
      .c-upcoming-container .c-event-block--upcoming .c-event-date span {
        font-size: 40px; }
    .c-upcoming-container .c-event-block--upcoming .c-event-name {
      float: left;
      clear: left;
      margin-left: 200px;
      margin-top: 24px;
      padding-top: 0; }
    .c-upcoming-container .c-event-block--upcoming .c-event-location {
      float: left;
      clear: left;
      margin-left: 200px; }
    .c-upcoming-container .c-event-block--upcoming .c-event-address {
      float: left;
      clear: left;
      display: block;
      margin-left: 200px; }
    .c-upcoming-container .c-event-block--upcoming .c-event-time {
      float: left;
      clear: left;
      display: block;
      margin-left: 200px; }
  .c-upcoming-container.today .c-event-name {
    margin-top: 0;
    padding-top: 30px;
    border-top: 2px solid #aaaaaa; } }
