/*---------------------------
/ WIDTHS for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*---------------------------
/ MEDIA QUERIES	for NEW YORK SENATE theme (nysenate_theme)
/---------------------------*/
/*-----------------------------
/	CUSTOM NEW YORK SENATE (nysenate_theme) PALETTE STYLES
/------------------------------*/
/*
/	Colors are set within Pallette Selector (field_pallette)
/	class is set on body
/*


/*----------------------------------------------
/
/ PALETTE VARIABLES
/ ** certain elements are either black or white
/ ** based on color palette - defaults to black
/
/----------------------------------------------*/
/*----------------------------
/ PALETTE STYLES
/-----------------------------*/
.contrast_text {
  color: #000; }

.lgt-text {
  color: #2b6a90; }

.lgt-bg {
  background-color: #2b6a90; }

.med-text {
  color: #175b81; }

.med-bg {
  background-color: #175b81; }

.drk-text {
  color: #004d71; }

.drk-bg {
  background-color: #004d71; }

.link-text {
  color: #cb8d37; }

.accent-bg {
  background-color: #1b5187; }

.accent-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .nav-text {
    color: #444444; }
    .nav-text:hover {
      color: #2b6a90; }
    .nav-text.active {
      color: #2b6a90; } }

.trad_blue .contrast_text {
  color: #fff; }

.trad_blue .lgt-text {
  color: #1b5187; }

.trad_blue .lgt-bg {
  background-color: #1b5187; }

.trad_blue .med-text {
  color: #1d446b; }

.trad_blue .med-bg {
  background-color: #1d446b; }

.trad_blue .drk-text {
  color: #1c364e; }

.trad_blue .drk-bg {
  background-color: #1c364e; }

.trad_blue .link-text {
  color: #1b5187; }

@media screen and (min-width: 760px) {
  .trad_blue .nav-text {
    color: #444444; }
    .trad_blue .nav-text:hover {
      color: #1b5187; }
    .trad_blue .nav-text.active {
      color: #1b5187; } }

.cont_blue .contrast_text {
  color: #000; }

.cont_blue .lgt-text {
  color: #04a9c5; }

.cont_blue .lgt-bg {
  background-color: #04a9c5; }

.cont_blue .med-text {
  color: #008ca6; }

.cont_blue .med-bg {
  background-color: #008ca6; }

.cont_blue .drk-text {
  color: #1f798f; }

.cont_blue .drk-bg {
  background-color: #1f798f; }

.cont_blue .link-text {
  color: #04a9c5; }

@media screen and (min-width: 760px) {
  .cont_blue .nav-text {
    color: #444444; }
    .cont_blue .nav-text:hover {
      color: #04a9c5; }
    .cont_blue .nav-text.active {
      color: #04a9c5; } }

.purple .contrast_text {
  color: #000; }

.purple .lgt-text {
  color: #90668f; }

.purple .lgt-bg {
  background-color: #90668f; }

.purple .med-text {
  color: #754775; }

.purple .med-bg {
  background-color: #754775; }

.purple .drk-text {
  color: #543457; }

.purple .drk-bg {
  background-color: #543457; }

.purple .link-text {
  color: #90668f; }

.purple .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .purple .nav-text {
    color: #444444; }
    .purple .nav-text:hover {
      color: #90668f; }
    .purple .nav-text.active {
      color: #90668f; } }

.trad_red .contrast_text {
  color: #fff; }

.trad_red .lgt-text {
  color: #87002f; }

.trad_red .lgt-bg {
  background-color: #87002f; }

.trad_red .med-text {
  color: #6e0026; }

.trad_red .med-bg {
  background-color: #6e0026; }

.trad_red .drk-text {
  color: #500019; }

.trad_red .drk-bg {
  background-color: #500019; }

.trad_red .link-text {
  color: #87002f; }

.trad_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_red .nav-text {
    color: #444444; }
    .trad_red .nav-text:hover {
      color: #87002f; }
    .trad_red .nav-text.active {
      color: #87002f; } }

.cont_red .contrast_text {
  color: #fff; }

.cont_red .lgt-text {
  color: #c62526; }

.cont_red .lgt-bg {
  background-color: #c62526; }

.cont_red .med-text {
  color: #bb0623; }

.cont_red .med-bg {
  background-color: #bb0623; }

.cont_red .drk-text {
  color: #a00101; }

.cont_red .drk-bg {
  background-color: #a00101; }

.cont_red .link-text {
  color: #c62526; }

.cont_red .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_red .nav-text {
    color: #444444; }
    .cont_red .nav-text:hover {
      color: #c62526; }
    .cont_red .nav-text.active {
      color: #c62526; } }

.orange .contrast_text {
  color: #000; }

.orange .lgt-text {
  color: #f0673d; }

.orange .lgt-bg {
  background-color: #f0673d; }

.orange .med-text {
  color: #ed4b1c; }

.orange .med-bg {
  background-color: #ed4b1c; }

.orange .drk-text {
  color: #c84123; }

.orange .drk-bg {
  background-color: #c84123; }

.orange .link-text {
  color: #f0673d; }

.orange .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .orange .nav-text {
    color: #444444; }
    .orange .nav-text:hover {
      color: #f0673d; }
    .orange .nav-text.active {
      color: #f0673d; } }

.trad_green .contrast_text {
  color: #000; }

.trad_green .lgt-text {
  color: #60a35f; }

.trad_green .lgt-bg {
  background-color: #60a35f; }

.trad_green .med-text {
  color: #4d894f; }

.trad_green .med-bg {
  background-color: #4d894f; }

.trad_green .drk-text {
  color: #416837; }

.trad_green .drk-bg {
  background-color: #416837; }

.trad_green .link-text {
  color: #60a35f; }

.trad_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .trad_green .nav-text {
    color: #444444; }
    .trad_green .nav-text:hover {
      color: #60a35f; }
    .trad_green .nav-text.active {
      color: #60a35f; } }

.cont_green .contrast_text {
  color: #000; }

.cont_green .lgt-text {
  color: #65c5b6; }

.cont_green .lgt-bg {
  background-color: #65c5b6; }

.cont_green .med-text {
  color: #479e93; }

.cont_green .med-bg {
  background-color: #479e93; }

.cont_green .drk-text {
  color: #378479; }

.cont_green .drk-bg {
  background-color: #378479; }

.cont_green .link-text {
  color: #65c5b6; }

.cont_green .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .cont_green .nav-text {
    color: #444444; }
    .cont_green .nav-text:hover {
      color: #65c5b6; }
    .cont_green .nav-text.active {
      color: #65c5b6; } }

.inactive-pallette .contrast_text {
  color: #000; }

.inactive-pallette .lgt-text {
  color: #1b5187; }

.inactive-pallette .lgt-bg {
  background-color: #b2b2b2; }

.inactive-pallette .med-text {
  color: #999999; }

.inactive-pallette .med-bg {
  background-color: #999999; }

.inactive-pallette .drk-text {
  color: #808080; }

.inactive-pallette .drk-bg {
  background-color: #808080; }

.inactive-pallette .link-text {
  color: #1b5187; }

.inactive-pallette .nav-text {
  color: #fff; }

@media screen and (min-width: 760px) {
  .inactive-pallette .nav-text {
    color: #444444; }
    .inactive-pallette .nav-text:hover {
      color: #1b5187; }
    .inactive-pallette .nav-text.active {
      color: #1b5187; } }

.trad_blue .c-press-release--descript a {
  color: #1b5187; }

.cont_blue .c-press-release--descript a {
  color: #04a9c5; }

.purple .c-press-release--descript a {
  color: #90668f; }

.trad_red .c-press-release--descript a {
  color: #87002f; }

.cont_red .c-press-release--descript a {
  color: #c62526; }

.orange .c-press-release--descript a {
  color: #f0673d; }

.trad_green .c-press-release--descript a {
  color: #60a35f; }

.cont_green .c-press-release--descript a {
  color: #65c5b6; }

strong {
  font-family: "Adelle SemiBold", serif;
  font-weight: 700; }

.font-secondary {
  font-family: "Proxima Nova Regular", "Arial", sans-serif; }
  .font-secondary strong {
    font-family: "Proxima Nova SemiBold", "Arial", sans-serif; }

.find-and-follow-block {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden; }
  .find-and-follow-block h2 {
    font-family: "Adelle Light", serif;
    font-weight: 300;
    color: #222222;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px; }
  .find-and-follow-block ul {
    margin: 0;
    padding: 0; }
  .find-and-follow-block .find-and-follow-button-wrapper {
    list-style: none;
    margin: 0;
    float: left;
    width: 33.33%; }
    .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button {
      display: inline-block;
      width: 90%;
      height: 145px;
      max-width: 300px;
      margin: 0 10% 30px 0;
      padding-top: 40px;
      background-color: #f1af58;
      transition: background-color 0.2s ease;
      text-align: center;
      color: #222222; }
      .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button:hover {
        background-color: rgba(241, 175, 88, 0.9); }
      .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button i {
        font-size: 32px; }
      .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button span {
        font-size: 22px;
        line-height: 29px;
        font-family: "Adelle Bold", serif; }

@media screen and (max-width: 1023px) {
  .find-and-follow-block h2 {
    font-size: 22px;
    line-height: 29px; }
  .find-and-follow-block .find-and-follow-button-wrapper {
    width: 50%; }
    .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button {
      height: 98px;
      margin: 0 10% 20px 0;
      padding-top: 20px; }
      .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button i {
        font-size: 26px; }
      .find-and-follow-block .find-and-follow-button-wrapper .find-and-follow-button span {
        font-size: 16px;
        line-height: 16px; } }
