.user-account-nav {
  background: #404040; }
  .user-account-nav .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none; }
    .user-account-nav .menu li {
      display: flex;
      margin-left: 15px;
      padding: 0; }
      .user-account-nav .menu li a {
        text-decoration: none;
        color: #FFF;
        padding: 15px; }
      .user-account-nav .menu li:hover {
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.5); }
