@import "../../global/utils/init";

.nysenate-promotional-banner-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 760px;
  margin: 0 auto 40px;
  row-gap: 40px;
  column-gap: 45.5938px;

  .c-block--initiative {

    &__has-img {
      grid-column: 1 / span 2;
    }
  }

  &__single-item {

    .c-block--initiative,
    .node--type-promotional-banner,
    .node--type-event,
    .node--type-article,
    .node--type-bill {
      grid-column: 1 / span 2;
    }

    @include breakpoint($bp-sm) {
      .c-block--initiative__no-img {
        width: 100%;
        height: 240px;
  
        &.c-block--even {
          margin-right: 0;
        }
      }
    }
  }
}
