// Import site utilities.
@import '../../global/utils/init';

.comments,
.comment__replies {
  list-style: none;
}

.comments {
  padding: 0;

  &__wrapper {
    margin-bottom: 40px;
  }
}

.comment {

  &__heading {
    display: flex;
    align-items: center;
    gap: 10px;

    .bullet {
      color: $grey15;
    }

    p {
      margin: 0;
    }
  }

  &__author,
  &__author a {
    @include font(13 13);
    margin: 0;
    font-family: 'Helvetica Nueue', 'Arial', sans-serif;
    font-weight: $font-weight-bold;
    color: $color-nys-blue;
  }

  &__time {
    @include font(12 12);
    color: $grey03;
    font-family: 'Helvetica Nueue', 'Arial', sans-serif;
  }

  &__replies {
    padding-left: 40px;
    margin-top: 40px;
  }

  &__body {

    p, a {
      @include font(15 21);
      font-weight: $font-weight-normal;
      font-family: 'Helvetica Nueue', 'Arial', sans-serif;
      color: $grey00;
    }

    a {
      color: $color-nys-blue;
    }

    .button {
      cursor: pointer;
      font-family: $font-sans-bold;
    }
  }

  &__reply-form {

    &.hidden {
      display: none;
    }

    textarea {
      margin-top: 20px;
      padding: 15px;
      min-height: 130px;
    }
  }
}



