// Import site utilities.
@import '../../global/utils/init';

.comments,
.comment__replies {
  list-style: none;
}

.comments {
  padding: 0;

  &__wrapper {
    margin-bottom: 40px;
  }
}

.comment {

  &__heading {
    display: flex;
    align-items: center;
    gap: 10px;

    .bullet {
      color: $grey15;
    }

    p {
      margin: 0;
    }
  }

  &__author,
  &__author a {
    @include font(13 13);
    margin: 0;
    font-family: 'Helvetica Nueue', 'Arial', sans-serif;
    font-weight: $font-weight-bold;
    color: $color-nys-blue;
  }

  &__time {
    @include font(12 12);
    color: $grey03;
    font-family: 'Helvetica Nueue', 'Arial', sans-serif;
  }

  &__replies {
    padding-left: 40px;
    margin-top: 40px;
  }

  &__body {

    p, a {
      @include font(15 21);
      font-weight: $font-weight-normal;
      font-family: 'Helvetica Nueue', 'Arial', sans-serif;
      color: $grey00;
    }

    a {
      color: $color-nys-blue;
    }

    .button {
      cursor: pointer;
      font-family: $font-sans-bold;

      &:first-child {
        margin-right: 15px;
      }

      a {
        color: $color-white;
      }

      &:hover a {
        color: $color-blue;
      }
    }
  }

  &__reply-form {

    &.hidden {
      display: none;
    }

    textarea {
      margin-top: 20px;
      padding: 15px;
      min-height: 130px;
    }
  }

  &__alert {
    max-width: 1500px;
    background-color: $grey06;
    letter-spacing: 0em;
    line-height: 26px;
    color: $grey02;
    border: 0;
    padding: 30px;
    text-transform: none;
    color: $grey02;
    font-size: 16px;
    font-family: $font-serif;
    margin: 20px 0 20px 0;

    &::before {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      font-size: 24px;
      color: $blue01;
      background-color: $grey06;

      @include breakpoint($bp-md) {
        font-size: 46px;
      }
    }
  }
}

.comment-wrapper {
  margin: 40px 0;

  .indented {
    padding-left: 40px;
  }

  .form-actions .button {
    cursor: pointer;
    font-family: $font-sans-bold;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}

a.unapproved-comment {
  background: salmon;
  color: white;
  text-transform: uppercase;
  padding: 0em 0.75em;
  border-radius: 1em;
}
