@import '../../global/utils/init';

body {
  // Expand main region.
  main.l-row--main {
    max-width: 1300px;
    padding-top: 40px;

    .view-my-dashboard {
      margin: 0 60px 60px 0;
    }

    @include breakpoint($bp-under-md) {
      padding-top: 20px;

      .region-content, .layout-content {
        margin: 0;
        padding: 0;
        max-width: 100%;
      }

      .view-my-dashboard {
        margin-right: 0;
      }
    }
  }

  // Flip order of sidebar and main content on mobile.
  @include breakpoint($bp-under-sm) {
    .two-col-layout {
      .region-content {
        order: 2;
      }

      .layout-sidebar-right {
        order: 1;
        padding: 0;
      }
    }
  }
}
