// Import site utilities.
@import '../../global/utils/init';

.node--view-mode-featured-content.c-block {
  margin-bottom: 0;
}

.c-block.c-block-legislation-featured .c-block--btn-toggle,
.c-block-legislation .c-block--btn-toggle {
  @extend .icon-replace__share;
  background: transparent;
  border: none;
}

.c-legislation--quote {
  position: relative;
  background: $grey06;
  z-index: 2;
}

.c-quote--content {
  padding: 0 20px 30px;

  .c-pullquote {
    margin: 0;
    z-index: 2;
    padding: 45px 0 0;
    font-family: $font-serif;
    position: relative;
    color: $grey08;

    &::before {
      position: absolute;
      z-index: -1;
      top: 10px;
      left: -10px;
      color: $color-white;
      font-size: 70px;
    }
  }
}

.c-social {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 50px;
  width: 50%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  transition: visibility 0s 0.3s, opacity 0.3s;

  .c-social--list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    padding: 0;
    text-align: left;
    width: 83%;

    li {
      display: inline-block;
      height: 100%;
      width: 28%;
      margin: 0 10px;
      margin-top: 0;
      line-height: 50px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;

      &::after {
        width: 100%;
        height: 100%;
        @extend .med-text;
        font-size: 36px;
      }
    }
  }
}

.c-quote--title {
  padding-top: 30px;
  text-transform: uppercase;
  color: $grey01;
  font-family: $font-sans;
  font-weight: $font-weight-normal;
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 5px;
}

.c-pullquote--citation {

  &.u-quote--has-img {
    display: none;
  }
}

.c-legislation--sponsor {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.c-sponsor--img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;

  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.c-sponsor--info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.c-block .c-sponsor--name {
  margin: 0;
  font-family: $font-serif;
  font-size: 16px;
  line-height: 1;

  a {
    text-decoration: none;
  }
}

.c-block .c-sponsor--party {
  display: inline-block;
  margin: 0;
  @extend .med-text;
  font-family: $font-sans-bold;
  font-size: 12px;
  line-height: 18px;
}

.c-sponsor--dist {
  display: inline-block;
  color: $grey03;
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 12px;
}

@include breakpoint($bp-sm) {
  .c-block.c-block-legislation-featured.featured-legislation .c-legislation-info {
    width: 50%;
  }

  .c-social {
    position: absolute;
    display: block;
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 40px;
    top: 0;
    left: auto;
    right: 0;
    background: transparent;
    z-index: -1;
    transition: right 0.3s ease;

    .c-social--list {
      top: 0;
      left: auto;
      right: auto;
      height: auto;

      li {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 0 5px;
      }

      a {

        &::after {
          width: 40px;
          text-align: center;
          font-size: 26px;
          color: $blue01;
        }
      }
    }
  }

  .c-legislation--quote {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 1px;
      margin-left: -6px;
    }
  }

  .c-quote--content {
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px 30px;
    max-width: 100%;

    .c-pullquote {
      display: inline-block;
      vertical-align: middle;
      padding: 60px 0 0;
      font-size: 22px;
      line-height: 28.6px;

      &::before {
        left: -20px;
        top: 15px;
        font-size: 98px;
      }
    }
  }

  .c-block .c-sponsor--name {
    font-size: 16px;
    line-height: 1;
  }
}

.c-block__collapsed {
  .c-bill-descript,
  .c-bill-polling,
  .sponsors {
    display: none;
  }

  .c-legislation {
    padding-bottom: 20px
  }

  .c-legislation--quote {

    .c-pullquote {
      padding-top: 50px;
      padding-bottom: 12px;
      font-size: 14px;
      line-height: 1.5em;

      &::before {
        font-size: 3em;
        top: 0.35em;
      }
    }

    .c-pullquote--citation {
      margin-top: 7px;
      font-size: 12px;
    }
  }

  .c-quote--title {
    display: none;
  }

  // temporary class for toggling citation
  .c-pullquote--citation {

    &.u-quote--has-img {
      display: block;
    }
  }

  .c-legislation--sponsor {
    display: none;
  }
}

.c-block__collapsed {
  .c-block-legislation {
    .c-legislation-info {
      padding-bottom: 25px;
      min-height: 0;
    }
  }

}

.c-block.c-block-legislation-featured.c-block__collapsed .c-block--btn-toggle,
.c-block-legislation .c-block--btn-toggle {
  @extend .icon-replace__plus;
  position: absolute;
  right: 0;
  left: auto;
}

.c-block__collapsed {

  .c-quote--content {
    padding: 20px 40px;
  }

  .c-legislation--quote {

    .c-pullquote {
      padding-top: 15px;
      padding-bottom: 12px;
      padding-right: 20px;

      &::before {
        top: -0.2em;
        left: -0.2em;
      }
    }
  }
}
