{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - senator: Associated senator values.
 * - user: user input field values.
 *
 * @see formBuildStep2()
 */
#}

{% set senator = attributes.variables.senator|json_decode %}
{% set user = attributes.variables.user|json_decode %}
{% set district = attributes.variables.district|json_decode %}

<div>
  {% include '@nysenate_theme/nysenate-user-profile/nysenate-user-profile.twig' with {
    user: user,
    senator: senator,
    district: district
  } %}

  <div class="button-group--step-two">
    {{ form }}
  </div>
</div>
