{#
/**
 * @file
 * Default simple view template to display a list of rows.
 *
 * @ingroup views_templates
 */
#}
{{ attach_library('nysenate_theme/newsroom-content') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
<div class="content-list__wrapper">
  {% for key,row in rows|filter((value, key) => key matches '/^\\d+$/') %}
    <div class="content__item">
      {{ row.content }}
    </div>
  {% endfor %}
</div>

{% set limit = 4 %}

{% if rows|length > limit %}
  <div class="item-list" data-limit="{{ limit }}">
    <div class="pager pager-load-more">
      <span class="pager-next first last">
        <a class="load-more">See more</a>
      </span>
    </div>
  </div>
{% endif %}
