/*-------------------------------------------------------
/
/ CONTAINER GLOBALS
/ containers are reuseable blocks 
/ things with uniform titles and links to those sections
/ ie - newsroom container which includes a title,
/	synopsis of a few articles and a link to the newsroom
/
/-------------------------------------------------------*/
.c-container {
	position: relative;
	display: block;
	overflow: hidden;
}

.c-container--header {
	font-family: $font-sans;
	text-transform: uppercase;
	border-bottom: 1px solid $grey05;
	padding-bottom: 20px;
	position: relative;
}

.c-container--header__top-border {
	font-family: $font-sans;
	text-transform: uppercase;
	border-top: 1px solid $grey05;
	padding: 20px 0;
	position: relative;
}

h2, h3 {

  &.c-container--title {
   color: $grey08;
   text-transform: uppercase;
   font-family: $font-sans;
   @include font(12 16 1.2);
   margin: 0;

	@include breakpoint($bp-sm) {
		font-size: 16px;
		line-height: 16px;

		&::after {
			margin-top: -4px;
			font-size: 23px;
			line-height: 16px;
		}
	}
 }
}

.c-detail--download {
  display: block;
  margin-bottom: 20px;
  color: $blue01;
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 12px;
  @extend .icon-before__bill;

  &:before {
    font-size: 1.5em;
    line-height: 1em;
  }

	@include breakpoint($bp-sm) {
		margin-bottom: 0;
	}
}

.c-container--link {
	text-transform: uppercase;
	font-family: $font-sans-bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.1em;
	text-decoration: none;
	@extend .icon-after__arrow;
	@extend .link-text;

	&:after {
		margin-top: -2px;
		font-size: 17px;
		line-height: 12px;
	}

	@include breakpoint($bp-sm) {
		font-size: 16px;
		line-height: 16px;

		&:after {
			margin-top: -4px;
			font-size: 23px;
			line-height: 16px;
		}
	}
}

.c-pullquote--citation {
	display: block;
	margin-top: 20px;
	color: $grey02;
	font-family: $font-sans;
	text-transform: uppercase;
	font-size: 12px;

	@include breakpoint($bp-sm) {
		font-size: 14px;
		margin-top: -25px;
		padding-left: 50px;
	}
}

.c-pullquote {
	margin: 0;
	position: relative;
	color: $grey02;
	font-family: $font-serif-semibold;
	padding: 50px 0 40px;
	font-size: 18px;
	line-height: 1.3em;

	p {
		@extend .icon-before__quotes;

		&:before {
			position: absolute;
			top: 0;
			left: -0.2em;
			@extend .lgt-text;
			font-size: 2.7em;
		}
	}

	&:before {
		position: absolute;
		top: 0;
		left: -0.2em;
		@extend .lgt-text;
		font-size: 2.7em;
	}
}

.c-block--btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	font-family: $font-sans-bold;
	letter-spacing: 0.2em;
	font-size: 12px;
	line-height: 44px;
	height: 60px;

	&::before {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		margin-right: 0.1em;
		font-size: 32px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		line-height: 1.5em;

		a {
			color: $color-white;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&:hover {
		color: $color-white;
	}

	@include breakpoint($bp-sm) {
		height: 80px;
		font-size: 15px;
		line-height: 80px;
	}
}

// COMMON
/*----------------------------------------
/ IMAGE
/----------------------------------------*/
.c-img--caption {
	margin: 0;
	padding: 10px 20px 10px;
	background: $grey06;
	color: $grey02;
	font-family: $font-sans;
	@include font(12 18);
}

.c-container--link {
	text-transform: uppercase;
	font-family: $font-sans-bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.1em;
	text-decoration: none;
	@extend .icon-after__arrow;
	@extend .link-text;

	&:after {
		margin-top: -2px;
		font-size: 17px;
		line-height: 12px;
	}

	@include breakpoint($bp-sm) {
		font-size: 16px;
		line-height: 16px;

		&:after {
			margin-top: -4px;
			font-size: 23px;
			line-height: 16px;
		}
	}
}

/*-------------------------------------
/
/ LAYOUT - COLUMNS
/ controls overall width of elements
/
/-------------------------------------*/
.l-col {
  position: relative;
  float: left;
  width: 100%;
}

@include breakpoint($bp-sm) {
  .l-col-2 {
    width: 50%;

    &.l-col--padded {
      padding-right: 5%;
    }

    & + .l-col-2 {

      &.l-col--padded {
        padding-right: 0;
        padding-left: 5%;
      }
    }
  }

  .l-col-3 {
    width: 33.33%;
  }

  .l-col-4 {
    width: 25%;
  }

  // used for update feeds and the like
  .l-col-1-of-3 {
    width: 24%;
    padding-right: 2%;
  }

  .l-col-1-of-2 {
    width: 24%;
    padding-right: 2%;
  }

  .l-col-2-of-2 {
    width: 76%;
    padding-right: 10%;
  }

  .l-col-2-of-3 {
    width: 49%;
    padding-right: 2%;
  }

  // use this is if your second column doesn't have a third.
  .l-col-2-of-3__full {
    width: 72%;
  }
  
  .l-col-3-of-3 {
    width: 27%;
  }
}
