/*-------------------------------------------------------
/
/ CONTAINER GLOBALS
/ containers are reuseable blocks
/ things with uniform titles and links to those sections
/ ie - newsroom container which includes a title,
/	synopsis of a few articles and a link to the newsroom
/
/-------------------------------------------------------*/
.c-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.c-container--header {
  font-family: $font-sans;
  text-transform: uppercase;
  border-bottom: 1px solid $grey05;
  padding-bottom: 20px;
  position: relative;

  &.link {
    border-bottom: 0;
  }
}

.c-container--header__top-border {
  font-family: $font-sans;
  text-transform: uppercase;
  border-top: 1px solid $grey05;
  padding: 20px 0;
  position: relative;
}

h2,
h3 {
  &.c-container--title {
    @include font(12 16 1.2);
    color: $grey08;
    text-transform: uppercase;
    font-family: $font-sans;
    margin: 0;
    font-weight: $font-weight-normal;

    @include breakpoint($bp-sm) {
      font-size: 16px;
      line-height: 1em;

      &::after {
        margin-top: -4px;
        font-size: 23px;
        line-height: 1em;
      }
    }
  }
}

.c-detail--section-title {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey05;
  margin-bottom: 20px;
  line-height: 1;

  &.c-detail--subhead {
    color: $grey08;
    font-weight: 400;
  }
}

.c-block .c-detail--download,
.c-detail--download {
  display: block;
  margin-bottom: 20px;
  color: $blue01;
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 12px;
  @extend .icon-before__bill;

  &::before {
    font-size: 1.5em;
    line-height: 1em;
  }

  @include breakpoint($bp-sm) {
    margin-bottom: 0;
  }
}

.c-pullquote--citation {
  display: block;
  margin-top: 20px;
  color: $grey02;
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 12px;

  @include breakpoint($bp-sm) {
    font-size: 14px;
    margin-top: -25px;
    padding-left: 50px;
  }
}

.c-container--link {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  @extend .icon-after__arrow;
  @extend .link-text;

  &::after {
    margin-top: -2px;
    font-size: 17px;
    line-height: 12px;
  }

  @include breakpoint($bp-sm) {
    font-size: 16px;
    line-height: 16px;

    &::after {
      margin-top: -4px;
      font-size: 23px;
      line-height: 16px;
    }
  }
}

.c-pullquote {
  margin: 0;
  position: relative;
  color: $grey02;
  font-family: $font-serif-semibold;
  padding: 50px 0 40px;
  font-size: 18px;
  line-height: 1.3em;

  p {
    @extend .icon-before__quotes;

    &::before {
      position: absolute;
      top: 0;
      left: -0.2em;
      @extend .lgt-text;
      font-size: 2.7em;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: -0.2em;
    @extend .lgt-text;
    font-size: 2.7em;
  }
}

/*-------------------------------------
/
/ LAYOUT - ROWS
/ controls overall width of elements
/
/-------------------------------------*/
.l-row {
  position: relative;
  clear: both;
  margin: 0 auto;
  width: 100%;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.l-row--nav {
  padding: 0 20px;
  max-width: 100%;
}

.l-row--hero {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.l-row--main {
  position: relative;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  // max-width should account for padding,
  // so + 40 (20px left and 20px right)
  padding: 20px;
  max-width: 440px;
}

.l-row--footer {
  max-width: 1040px;
}

@include breakpoint($bp-sm) {
  .l-row--nav {
    padding: 0 9%;
    max-width: 1500px;
  }

  .l-row--hero {
    max-width: 1500px;
  }

  .l-row--main {
    padding: 40px;
    max-width: 840px;
  }

  .l-row--footer {
    max-width: 1040px;
  }
}

@include breakpoint($bp-md) {
  .l-row--nav {
    padding: 0 9%;
    max-width: 1500px;
  }

  .l-row--hero {
    max-width: 1500px;
  }

  .l-row--main {
    max-width: 840px;
  }
}

@include breakpoint($bp-lg) {
  .l-row--nav {
    padding: 0 9%;
    max-width: 1500px;
  }

  .l-row--hero {
    max-width: 1500px;
  }

  .l-row--main {
    max-width: 840px;
  }
}

main.l-row--main {
  padding-top: 40px;

  @include breakpoint($bp-sm) {
    padding-top: 80px;
  }
}


/*-------------------------------------
/
/ LAYOUT - COLUMNS
/ controls overall width of elements
/
/-------------------------------------*/
.l-col {
  position: relative;
  float: left;
  width: 100%;
}

@include breakpoint($bp-sm) {
  .l-col-2 {
    width: 50%;

    &.l-col--padded {
      padding-right: 5%;
    }

    & + .l-col-2 {
      &.l-col--padded {
        padding-right: 0;
        padding-left: 5%;
      }
    }
  }

  .l-col-3 {
    width: 33.33%;
  }

  .l-col-4 {
    width: 25%;
  }

  // used for update feeds and the like
  .l-col-1-of-3 {
    width: 24%;
    padding-right: 2%;
  }

  .l-col-1-of-2 {
    width: 24%;
    padding-right: 2%;
  }

  .l-col-2-of-2 {
    width: 76%;
    padding-right: 10%;
  }

  .l-col-2-of-3 {
    width: 49%;
    padding-right: 2%;
  }

  // use this is if your second column doesn't have a third.
  .l-col-2-of-3__full {
    width: 72%;
  }

  .l-col-3-of-3 {
    width: 27%;
  }
}

/*------------------------------------
/	SENATOR LISTING
/
/	circular thumbnail of senator
/	description to the right
/	name, district, party affiliation
/-------------------------------------*/
.nys-senator {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
}

.nys-senator--thumb {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 46px;
	width: 45px;
	margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;

  &--placeholder {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 24px;
  }

	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

    .field {
      width: 100%;
      height: 100%;
    }
	}

  img {
    min-height: 46px;
    width: auto;
    object-fit: cover;
  }
}

.nys-senator--info {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

.nys-senator--title {
	color: $grey05;
	text-transform: uppercase;
	font-family: $font-sans;
	font-size: 10px;
	line-height: 1.2em;
}

.nys-senator--name {
	margin: 0;
	color: $grey08;
	text-transform: capitalize;
	font-family: $font-serif;
	font-size: 16px;
	line-height: 1.2em;
    font-weight: $font-weight-normal;

	a {
		color: $grey08 !important;
	}
}

.nys-senator--district {
	color: $grey03;
	text-transform: uppercase;
	font-family: $font-sans;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 1.2em;
}

.nys-senator--party {
	color: $blue01;
	text-transform: capitalize;
	font-family: $font-sans-bold;
}

.nys-senator--party {
	color: $blue01;
	text-transform: capitalize;
	font-family: $font-serif;
}

/*-------------------------------------------------------
/
/ 	NEWS CLUSTER
/ 	Covers: News Videos, Press Releases and Tweets
/ 	Exists on : Homepage
/
/-------------------------------------------------------*/
.c-news-container {
  overflow: hidden;
  display: block;

  .c-container--header {
    margin-bottom: -1px;
  }

  .c-title,
  .c-title h3 {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;

    h2 {
      font-size: 14px;
    }

    .c-newsroom {
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid $grey05;
      padding: 9px 12px;
      margin-top: 10px;
      @extend .lgt-text;

      &::after {
        font-size: 15px;
        vertical-align: bottom;
      }
    }
  }

  .c-news-date {
    font-family: $font-sans;
    font-size: 13px;
    color: $grey05;
    text-transform: none;
    padding-left: 9px;
  }

  .c-news-block {
    margin: 0px;
    padding-bottom: 40px;
    overflow: hidden;
    font-family: $font-sans;
    position: relative;
    border-top: 1px solid $grey05;

    &.u-odd {
      clear: left;
    }

    .c-newsroom-name {
      font-family: $font-serif;
      font-size: 19px;
      margin: 0px 0px 25px 0px;
      line-height: 120%;
      min-width: 100%;

      a {
        color: $grey02;
      }
    }

    .c-newsroom-image {
      margin-bottom: 20px;
      width: 100%;
      iframe {
        max-width: 360px;
        max-height: 202px;
      }
    }

    .c-senator-card {
      margin-top: 20px;
    }

    .c-newsroom-link {
      font-size: 13px;
      text-transform: uppercase;
      @extend .lgt-text;
    }

    .l-twitter-container {
      display: table;

      img {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        height: 60px;
      }

      .c-twitter_info {
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;

        h3 {
          font-family: $font-sans;
          color: $grey03;
          font-size: 18px;
        }

        a {
          font-size: 14px;
          @extend .lgt-text;
        }
      }
    }

    .c-tweet {
      margin-top: 20px;
      margin-bottom: 25px;
      color: $grey02;
      font-size: 19px;
      line-height: 120%;

      a {
        @extend .lgt-text;
      }
    }

    .c-timestamp {
      font-size: 12px;
      color: $grey04;
    }

    .nys-senator--info > span {
      display: none;
    }

    .nys-senator--name {
      font-family: $font-sans;
      font-size: 14px;
    }

    .nys-senator--party,
    .nys-senator--district {
      color: $grey04;
      font-family: $font-sans-bold;
      text-transform: uppercase;
      font-size: 10px;
    }

    .nys-senator--district {
      letter-spacing: 0.05em;
      line-height: 1.2em;
    }

    .nys-senator--involved {
      color: $yellow02;
      font-family: $font-sans-bold;
      font-size: 14px;

      &::before {
        @extend .icon-before__recruit-friends;
        background-color: $yellow02;
        color: $color-white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        margin-left: 0;
        padding-left: 3px;
        color: $color-white;
        overflow: hidden;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        margin-right: 8px;
      }
    }

    @include breakpoint($bp-sm) {
      width: 50%;
      float: left;
      margin: 0;
      padding-left: 20px;
      padding-right: 0px;
      border-top: none;

      &.u-odd {
        padding-right: 20px;
        padding-left: 0px;
      }

      .c-newsroom-name {
        float: left;
        clear: left;
        margin-left: 0;
        padding-top: 0;

        font-size: 22px;
      }
    }
  }
}

.nys-btn--gold {
  transition: background-color 0.2s ease;
  position: relative;
  display: block;
  padding: 20px 10px;
  background: $yellow01;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 14px;
  letter-spacing: 0.1em;

  &:hover {
    color: $color-white;
    background: $yellow03;
  }
}

/*----------------------------------------
/ LIST ITEM
/----------------------------------------*/
.c-list-item {
  padding-top: 20px;
  border-top: 1px solid $grey05;
}

/*-------------------------------------
/	Page Header styles
/-------------------------------------*/
.c-page-header--title {
	margin: 0;
	font-family: "Adelle Bold";
	font-size: 32px;
}

/*-------------------------------------
/	Subpage Header styles
/-------------------------------------*/

h2.c-subpage-header--title {
  color: $grey08;
  margin: 0;
  font-family: $font-serif-bold;
  line-height: 1em;
  font-size: 18px;
  margin-bottom: 10px;
}

.c-subpage-header--title02 {
  color: $grey08;
  margin: 0;
  font-family: $font-serif-bold;
  line-height: 1em;
  font-size: 18px;
  margin-bottom: 5px;
}

.c-subpage-header--title03 {
  color: $grey08;
  margin: 0;
  font-family: $font-serif-bold;
  line-height: 1em;
  font-size: 18px;
  margin: 20px 0;
}

.c-subpage-header--subtitle01 {
  margin: 0;
  color: $grey08;
  font-family: $font-sans;
  font-size: 14px;
}

.c-subpage-header--subtitle02 {
  margin: 0;
  //color defined on element
  font-family: $font-sans-bold;
  text-transform: uppercase;
  font-size: 12px;
}

.c-subpage-header--subtitle03 {
  margin: 0 0 25px 0;
  color: $grey04;
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 12px;
}

.c-subpage-header--subtitle04 {
  margin: 0;
  font-family: $font-serif-bold;
  line-height: 1em;
  font-size: 18px;
  margin-bottom: 5px;
}

.c-subpage-header--subtitle05 {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-sans;
  font-weight: $font-weight-normal;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

@include breakpoint($bp-sm) {
  h2.c-subpage-header--title {
    font-size: 32px;
  }

  .c-subpage-header--title02 {
    font-size: 32px;
  }

  .c-subpage-header--title03 {
    font-size: 24px;
  }

  .c-subpage-header--subtitle01 {
    font-size: 16px;
  }

  .c-subpage-header--subtitle02 {
    font-size: 14px;
  }

  .c-subpage-header--subtitle03 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-bottom: 40px;
  }
}

.nys-associated-topics {
  display: inline;
  list-style: none;
  font-size: 15px;
  line-height: 1.2em;
  border-left: 1px solid $grey04;
  padding-left: 14px;
  color: $grey10;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $font-sans-bold;
    white-space: normal;

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }

  .list-formatter-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    @extend .lgt-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .landing-node & {
      color: $orange01;
    }
  }
}

.nys-associated-topics--label {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2em;
  font-family: $font-sans-bold;
}

// NEWS HEADER AREA
.c-news--head {
  margin-bottom: 20px;

  @include breakpoint($bp-sm) {
    margin-bottom: 30px;
  }

  .nys-article-title {
    margin-bottom: 30px;
    color: $grey08;
    font-family: $font-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2em;

    @include breakpoint($bp-sm) {
      font-size: 48px;
    }

    .landing-node & {
      margin-bottom: 0;
    }
  }

  .c-news--head-meta {
    line-height: 15px;

    .c-news--pub-date {
      display: inline-block;
      margin: 0 10px 0 0;
      text-transform: capitalize;
      font-family: $font-sans;
      font-size: 12px;
      line-height: 1.2em;
      color: $grey04;

      @include breakpoint($bp-sm) {
        font-size: 15px;
      }

      b {
        font-weight: bold;
        line-height: inherit;
        color: $grey04;
        font-family: $font-serif-bold;

        .date-display-single {
          font-family: $font-sans;

          @include breakpoint($bp-sm) {
            font-size: 14px;
            line-height: 18.2px;
          }
        }
      }
    }

    .c-news--author {
      @extend .lgt-text;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 10px 0 0;
      font-family: $font-sans;
      font-size: 12px;
      line-height: 1.2em;

      a {
        @extend .lgt-text;
      }

      @include breakpoint($bp-sm) {
        font-size: 15px;
      }
    }

    p {
      color: #666;
    }
  }

  ul.links {
    display: block;
    list-style: none;
    line-height: 25px;

    li {
      display: inline-block;
      margin-right: 10px;
      text-transform: uppercase;
      font-family: $font-sans-bold;
      white-space: nowrap;
    }

    a {
      font-size: 12px;
      line-height: 1em;
      @extend .lgt-text;
    }
  }

  .field-name-field-issues {
    padding: 0;
  }
}

.media-oembed-content {
  max-width: 100%;
  width: 100%;
  height: 426px;
}

.panel-separator {
  clear: both;
}
