@import "../../global/utils/init";

.c-container--const-inbox {

  a:focus {
    outline: thin dotted;

  }

  .c-container__title {
    text-transform: uppercase;
    font-family: $font-serif-semibold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    color: $grey08;
    margin-bottom: 0;

    @include breakpoint($bp-sm) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .c-container__cta {
    font-size: 16px;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    display: block;
    margin-bottom: 35px;
    color: $color-nys-blue;
    text-decoration: none;
    line-height: inherit;

    &::after,
    &::before {
      font-family: $senate-icons;
      display: inline-block;
      vertical-align: middle;
      text-transform: none;
      padding-left: 3px;
      -webkit-font-smoothing: antialiased;
      content: "\3e";
    }

    &::before {
      display: none;
      content: "\3c";
    }

    &--sent {

      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
      }
    }
  }

  .c-search-form {
    display: grid;
    column-gap: 20px;
    width: 94%;

    @include breakpoint($bp-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  .search-form-group {
    position: relative;
    display: flex;
    align-items: center;

    &__wrapper {
      margin: 0 0 1rem 0;

      label {
        font-size: 0.8rem;
        color: $grey04;
        cursor: pointer;
        display: block;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        font-family: $font-sans;
        text-transform: uppercase;
        color: $grey08;
        text-transform: none;
      }
    }

    &__inner {
      flex: 1;
    }

    input[type='search'] {
      margin: 0;
      height: 55px;
      font-family: $font-sans;
      font-size: 1rem;
      color: $grey10;
      padding: 0 10px;
      box-shadow: none;

      &:focus {
        border-color: $ns_grey_med;
        outline: none;
      }
    }

    button {
      background: transparent;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      outline: 0;

      &::after {
        content: "\6d";
        line-height: 45px;
        color: $gen_blue_med;
      }
    }
  }

  .search-button {
    border-style: solid;
    border-width: 0px;
    border-color: #007095;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    background-color: $color-nys-blue;
    color: $color-white;
    transition: background-color 300ms;

    &:focus {
      background-color: #007095;
      outline: 0;
    }
  }

  .action-button {
    border-style: solid;
    border-width: 0px;
    border-color: #007095;
    cursor: pointer;
    font-family: $font-sans-bold;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 18px;
    color: $color-white;
    box-shadow: none;
    width: auto;
    background-color: $gen_blue_lgt;
    vertical-align: middle;
    transition: background-color 300ms ease-out;

    &--message::before {
      content: "\6e";
      display: inline-block;
      font-family: $senate-icons;
      line-height: 22px;
      vertical-align: middle;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-right: 3px;
      -webkit-font-smoothing: antialiased;
    }

    &[disabled] {
      opacity: 0.7;
    }
  }

  .inbox-action-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input[type='checkbox'] {
      vertical-align: middle;
    }

    .option {
      display: inline-block;
      margin: 0;
      text-transform: capitalize;
      margin-left: 0.5rem;
      margin-right: 1rem;
    }

    .form-actions {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  .message-list {
    background: $color-white;
    margin-bottom: 1.25rem;
    border: solid 1px #DDDDDD;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    &__wrapper {
      overflow-x: auto;
    }

    thead {
      background: $grey16;
    }

    tr:nth-child(odd) {
      background-color: $grey06;
      border-bottom: 1px solid $grey15;
    }

    tbody {
      border-top: 1px solid $grey15;
    }

    &__th,
    &__td {
      text-align: left;
      padding: 0.5rem 0.625rem 0.625rem;
      line-height: 1.125rem;

      &--hide-sm {
        display: none;

        @include breakpoint($bp-sm) {
          display: table-cell;
        }
      }
    }

    &__th {
      font-family: $font-sans-bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $grey03;
      background-color: $grey06;
      height: 51px;
      border-bottom: none;
    }

    &__td {
      font-size: 13px;
      font-family: $font-sans;
      color: $grey08;
      border: none;
      border-bottom: 1px solid $grey13;
      height: 80px;
      line-height: 18px;
      vertical-align: top;

      input[type='checkbox'] {
        margin: 0.9rem 0 1rem 0;
      }

      &--information {

        a {
          color: $grey08;
        }

        &__author {

          a {
            font-size: 18px;
            line-height: 18px;
            font-family: $font-sans;
            font-weight: normal;
          }
        }

        &__message {

          a {
            display: block;
            max-width: 264px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      &--subject {

        a {
          font-size: 14px;
          line-height: 18px;
          color: $grey03;
        }
      }

      &--date {
        font-family: $font-sans;
        color: $grey08;
        border-bottom: 1px solid $grey13;
        height: 80px;
        font-size: 13px;
        line-height: 18px;
        vertical-align: top;
      }

      &--issue {
        text-align: right;
        height: 100px;
        position: relative;

        &__toggle {
          text-indent: -9999em;
          font-size: 0;
          display: block;

          &::before {
            content: "\65";
            display: block;
            width: 28px;
            height: 24px;
            font-size: 16px;
            font-family: $senate-icons;
            line-height: 22px;
          }

          &--expanded::before {
            content: "\5e";
          }

        }

        &__actions {
          position: absolute;
          display: none;
          bottom: 0;
          justify-content: flex-end;
          gap: 20px;
          margin-bottom: 20px;
          right: 24px;
        }
      }
    }
  }
}