.c-my-dashboard--type-wrapper {
  position: relative;
  color: $blue01;

  .c-my-dashboard--type {
    position: absolute;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 14px;
    left: 20px;
    top: 0;
  }
}
