@import '../../global/utils/init';

// My Dashboard Teaser display mode styling.
.node--view-mode-my-dashboard-teaser {
  padding: 24px;
  border-top: 1px solid $grey04;

  .c-my-dashboard--type-wrapper {
    position: relative;
    color: $blue01;

    .c-my-dashboard--type {
      position: absolute;
      text-transform: uppercase;
      font-family: $font-sans;
      font-size: 14px;
      left: 20px;
      top: 0;
    }
  }

  h2 {
    margin-bottom: 8px;
    line-height: 24px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: $blue01;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .c-my-dashboard--blurb {
    line-height: 20px;
    margin-bottom: 12px;
  }

  .c-my-dashboard--read-more a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .c-my-dashboard--details {
    font-size: 13px;
    overflow: hidden;

    .field__label {
      font-weight: normal;
    }
  }

  .field--name-field-issues {
    position: relative;

    .field__label {
      position: absolute;
    }

    .field__items {
      margin: 3px 0 0 44px;
      line-height: 16px;
    }
  }

  &.node--teaser-with-extras {
    padding-right: 404px;
    min-height: 230px;

    .c-my-dashboard--extras {
      position: absolute;
      right: 0;
      top: 0;
      height: 180px;
      width: 360px;
      margin: 24px;
      font-size: 13px;

      .nys-bill-status, .field {
        float: right;
        clear: both;
      }

      .field {
        .field__label {
          font-weight: normal;
        }

        .field__item {
          float: left;
        }
      }
    }
  }
}
