/*--------------------------------
/	DETAIL PAGES
/ 	Bills
/	Resolutions
/	Issues
/----------------------------------------------*/
// Import site utilities.
@import '../../global/utils/init';

.node-resolution {
  padding: 0 20px;
  margin: 0 auto;

  @include breakpoint($bp-sm) {
    padding: 0 40px;
  }
}

.c-detail--header {
  margin-bottom: 20px;

  > .nys-title {
    color: $grey08;
    text-transform: capitalize;
    font-family: $font-serif-bold;
    font-weight: $font-weight-normal;
    font-size: 18px;
    margin-bottom: 0;

    @include breakpoint($bp-sm) {
      font-size: 32px;
    }
  }
}

.c-detail--descript {
  margin-bottom: 10px;
  margin-top: 0;
  color: $grey03;
}

.c-bill--amended {
  .c-bill--flag {
    display: none;
    &:last-child {
      display: inline-block;
    }
    a {
      color: $color-white;
    }
  }
}

.c-detail--download.resolution {
  .print__wrapper {
    display: inline-block;
  }
  a {
    color: $blue01;
    font-size: 16px;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
    }
  }
}

.c-detail--related {
  list-style: none;
  line-height: 1.3em;

  .field--name-field-issues {
    padding-bottom: 10px;

    .list-formatter-list {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        font-family: $font-sans-bold;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.c-detail--related-item {
  display: inline-block;
  margin-right: 5px;

  a {
    color: $orange01;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.c-co-sponsors {
  margin-top: 40px;

  .c-sponsor + .c-sponsor {
    margin-top: 20px;
  }
}

.c-sponsor-quote {
  padding: 30px 20px;
  background: $grey06;
  .c-sponsor {
    .field--name-field-ol-sponsor {
      padding-top: 24px;
      color: $blue01;
    }
  }
  .nys-senator--thumb {
    height: 65px;
    width: 65px;
    margin-right: 20px;
  }
  // social toggle
  .c-block--btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 11;
    background: transparent;
    height: 42px;
    width: 42px;
    border: 0;
    text-indent: -99999px;

    &::after {
      content: '\73';
      font-size: 26px;
      line-height: 42px;
      color: $grey05;
    }
  }
  // social starts hidden;
  .c-social {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 50%;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    transition: visibility 0s 0.3s, opacity 0.3s;

    .c-social--list {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 50px;
      padding: 0;
      text-align: left;
      width: 83%;

      li {
        display: inline-block;
        height: 100%;
        width: 28%;
        margin: 0 10px;
        margin-top: 0;
        line-height: 50px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;

        &::after {
          width: 100%;
          height: 100%;
          @extend .med-text;
          font-size: 36px;
        }
      }
    }
  }

  // social visible
  &.c-social-visible {
    .c-social {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease;
    }
  }
}

.c-sponsor-quote--title {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  color: $grey01;
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 12px;
  letter-spacing: 0.05em;
  @extend .icon-before__quotes;

  &::before {
    position: absolute;
    z-index: -1;
    top: -0.65em;
    left: -0.2em;
    color: $color-white;
    font-size: 5em;
  }
}

.c-sponsor-quote--text {
  margin-bottom: 30px;
  color: $grey03;
  font-family: $font-serif;
  font-size: 18px;
  line-height: 1.4em;
}

/*---------------------------
/	BILL & RESOLUTION
/---------------------------*/

// ACTIONS

.c-action--items {
  list-style: none;
  width: 100%;
  margin: 0 0 15px;
  overflow: hidden;

  > li {
    clear: left;
    overflow: hidden;

    & + li {
      margin-top: 15px;
      border-top: 1px solid $grey05;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    float: left;
    clear: none;
  }
}

.c-actions--key {
  list-style: none;
  margin-top: 10px;

  .c-action--item + .c-action--item {
    margin: 0;
  }
}

.c-action--date,
.c-action--item {
  font-family: $font-sans;
  font-size: 14px;
}

.c-action--item__senate {
  text-transform: uppercase;
}

.c-action--date {
  display: block;
  margin: 0;
  padding: 15px 0 10px;
  color: $grey04;
}

.c-action--item {
  margin: 0;
  color: $grey03;
  line-height: 1.4em;

  & + .c-action--item {
    margin-top: 7px;
  }
}

.c-detail--writeup {
  padding: 30px 20px 20px;
  background: $grey06;
  font-size: 12px;
  color: $grey10;
  line-height: 24px;

  h3 {
    font-family: "Helvetica Nueue", sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: $grey10;
  }

  h4 {
    margin-bottom: 30px;
    font-family: $font-serif-bold;
    font-size: 18px;
  }

  .c-detail--subhead {
    margin-bottom: 0px;
    font-size: 12px;
  }

  p {
    margin-bottom: 20px;
    font-family: $font-sans;
    font-size: 12px;
  }
}

@include breakpoint($bp-sm) {
  .c-actions--key {
    float: right;
    margin-top: 0;
  }
  .c-detail--writeup {
    font-size: 16px;
  }
}

/*---------------------------
/	BILL SPECIFIC
/---------------------------*/
.c-bill--flags {
  overflow: hidden;
  margin-top: 20px;

  @include breakpoint($bp-sm) {
    display: block;
    float: left;
    margin-top: 0;
    padding: 5px 0 0 20px;
  }
}

.c-bill--flag {
  display: block;
  float: left;
  padding: 7px 13px 5px;
  background: $yellow01;
  font-family: $font-sans-bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-white;
  margin-right: 20px;
}

.c-bill--amended {
  .c-bill--flag {
    background: $grey05;
  }
}

.c-bill-widget--cta {
  max-width: 230px;
  margin: 20px auto 15px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 14px;
}

.c-bill--details {
  dt,
  dd {
    margin: 0;
    font-family: $font-sans-bold;
    font-size: 14px;
  }
  dt {
    color: $grey08;
    line-height: 1.5em;
  }
  dd + dt {
    margin-top: 10px;
  }
  dd {
    color: $grey03;
    line-height: 1.4em;
    display: inline-block;

    @include breakpoint($bp-sm) {
      float: left;
    }

    a {
      color: $orange01;
      text-transform: capitalize;
    }
    &.comma {
      margin-right: 3px;
    }
  }
}

.c-bill--calendars {
  ul {
    list-style: none;
    font-family: $font-sans-bold;
    font-size: 14px;
  }
  li {
    a {
      display: block;
      padding: 5px 0;
      color: $orange01;
    }
  }
}

.c-bill--votes {
  overflow: hidden;
}

.c-bill-vote--graph,
.c-bill-vote--stats {
  display: inline-block;
  vertical-align: middle;
}

.c-bill-vote--graph {
  width: 43%;
  max-width: 180px;
  margin-right: 7%;

  > img {
    border-radius: 50%;
  }
}

.c-bill--vote--stats {
  width: 50%;
}

.c-bill-vote--cnt {
  display: inline-block;
  padding: 5px 17px;
  background: $grey06;
  text-align: center;

  & + .c-bill-vote--cnt {
    margin-left: 20px;
  }
}

.c-bill-vote-cnt--value {
  display: block;
  color: $blue01;
  font-family: $font-serif-bold;
  font-size: 24px;
  line-height: 1em;
}

.c-bill-vote-cnt--type {
  display: block;
  color: $grey04;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 15px;
  line-height: 1em;
}

.c-bill-vote--cnt-secondary {
  list-style: none;
  clear: both;
  margin-top: 20px;

  li {
    color: $grey04;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 12px;
    letter-spacing: 0.01em;
  }
  .c-bill-vote-cnt--value {
    display: inline-block;
    margin-right: 10px;
    color: $grey03;
    font-family: $font-sans-bold;
    font-size: 12px;
  }
}

.nys-senator.sponsor-list {
  margin-top: 30px;

  .nys-senator--info {
    max-width: 80%;

    @include breakpoint($bp-sm) {
      display: inline-block;
    }
  }

  .nys-senator--party {
    span {
      text-transform: uppercase;
      color: $grey03;
      font-family: $font-sans;
    }
  }
}

.initial_co-sponsors {
  @include clearfix;
}

.other_co-sponsors,
.other_multi-sponsors {
  margin-top: 20px;
  clear: both;
}

.c-quote--content.bill-sponsor-quote {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  background: $grey06;

  .c-quote--title {
    position: relative;
    z-index: 3;
  }

  .c-pullquote {
    display: block;
    position: relative;
    margin-top: 25px;
    padding: 0;
    z-index: 2;

    &::before {
      top: -40px;
    }
  }

  .nys-senator.sponsor-list {
    float: none;
  }

  .nys-senator.sponsor-list .nys-senator--party span {
    color: $grey04;
  }
  // social toggle
  .c-block--btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 11;
    background: transparent;
    height: 42px;
    width: 42px;
    border: 0;
    text-indent: -99999px;

    &::after {
      content: '\73';
      font-size: 26px;
      line-height: 42px;
      color: $grey05;
    }
  }
  // social starts hidden;
  .c-social {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 50%;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    transition: visibility 0s 0.3s, opacity 0.3s;

    .c-social--list {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 50px;
      padding: 0;
      text-align: left;
      width: 83%;

      li {
        display: inline-block;
        height: 100%;
        width: 28%;
        margin: 0 10px;
        margin-top: 0;
        line-height: 50px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;

        &::after {
          width: 100%;
          height: 100%;
          @extend .med-text;
          font-size: 36px;
        }
      }
    }
  }

  // social visible
  &.c-social-visible {
    .c-social {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-quote--content.bill-sponsor-quote {
    margin: 40px 0;

    .c-pullquote {
      padding: 60px 0 0 40px;

      &::before {
        top: 10px;
      }
    }
    .nys-senator {
      margin: 40px 0 0;
    }

    // social starts hidden;
    .c-social {
      position: absolute;
      display: block;
      visibility: visible;
      opacity: 1;
      height: 100%;
      width: 40px;
      top: 0;
      left: auto;
      right: 0;
      background: transparent;
      z-index: -1;
      transition: right 0.3s ease;

      .c-social--list {
        top: 0;
        left: auto;
        right: auto;
        height: auto;

        li {
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 0 5px;
        }
        a {
          &::after {
            width: 40px;
            text-align: center;
            font-size: 26px;
            color: $blue01;
          }
        }
      }
    }

    // social visible
    &.c-social-visible {
      .c-social {
        right: -40px;
        transition: right 0.3s ease;
      }
    }
  }
}

.c-bill-vote--accordion {
  display: block;
  clear: both;
}

.pieContainer {
  width: 180px;
  margin: 0 auto;
}

.c-bill--vote-details {
  width: 180px;
  margin: 0 auto 40px;

  h3,
  h4 {
    color: $grey08;
    font-family: $font-serif-regular;
  }
  h3 {
    margin: 10px 0 20px;
    font-size: 16px;
  }
  h4 {
    clear: both;
    text-transform: uppercase;
    font-size: 14px;
  }
  ul {
    list-style: none;
    overflow: hidden;
  }
  li {
    display: block;
    float: left;
    width: 50%;
  }

  .vote-container {
    margin-bottom: 18px;

    .aye,
    .nay {
      width: auto;
      float: left;
      margin-bottom: 20px;
      padding: 6px 10px;
      background-color: $grey06;
      text-align: center;

      &:nth-child(1) {
        margin-right: 15px;
      }

      .vote-count {
        display: inline-block;
        font: 18px/18px $font-serif-bold;
        color: $grey03;
      }
      .vote-label {
        display: inline-block;
        font: 13px/16px $font-sans-bold;
        color: $grey04;
        text-transform: uppercase;
      }
    }

    .aye {
      float: left;
      border-bottom: 4px solid $cont_blue_lgt;
      &.committee_vote {
        border-bottom: 4px solid $yellow01;
      }
    }

    .nay {
      float: right;
      border-bottom: 4px solid $cont_blue_drk;
      &.committee_vote {
        border-bottom: 4px solid $yellow03;
      }
    }
  }
  .vote-meta {
    clear: both;
    .meta-row {
      position: relative;
      font: 10px/16px $font-sans;
      color: $grey04;
      text-transform: uppercase;
      div {
        display: inline-block;
        &:nth-child(1) {
          color: $grey03;
        }
        &:nth-child(2) {
          position: absolute;
          left: 25%;
        }
      }
      .meta-count {
        font-family: $font-sans-bold;
      }
    }
    .meta-comm-referral {
      margin-top: 20px;
      label {
        margin: 0;
        font: 11px/14px $font-sans;
        color: $grey05;
      }
      .committee-link {
        font: 12px/14px $font-sans-bold;
        color: $yellow03;
        text-transform: uppercase;
      }
    }
  }
}

.c-vote--container {
  .c-vote-detail--date {
    margin: 20px 0;
    color: $grey08;
    font-family: $font-serif-regular;
    font-size: 16px;
    line-height: 1;
  }

  .c-detail--vote-grp + .c-detail--vote-grp {
    margin-top: 15px;
  }

  .c-detail--vote-grp {
    .c-detail--section-title {
      margin-bottom: 15px;
      color: $grey08;
      font-family: $font-serif-semibold;
      text-transform: uppercase;
      font-size: 14px;
    }

    .c-votes--items {
      list-style: none;
      overflow: hidden;

      li {
        display: block;
        float: left;
        width: 50%;
        margin: 4px 0;
        text-transform: capitalize;
        font-size: 14px;

        &.remote-voting-member a::after {
          content: '7';
          display: inline-block;
          font-size: 1.25em;
          font-family: 'senate_icons';
          margin-left: 0.3em;
          color: $orange01;
          vertical-align: top;
        }
      }
    }
  }

  .c-votes--remote-voting {
    clear: both;

    &::before {
      content: '7';
      display: inline-block;
      font-size: 1.25em;
      font-family: 'senate_icons';
      margin-right: 0.3em;
      color: $orange01;
      vertical-align: text-bottom;
    }

    .remote-voting-url::after {
      content: ', ';
      display: inline-block;
    }

    .remote-voting-url:last-child::after {
      display: none;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-detail--header {
    margin-bottom: 30px;
  }
  .nys-senator.sponsor-list {
    width: 50%;
    float: left;
    padding-right: 2%;

    &:nth-child(odd) {
      clear: left;
    }
  }
  .other_co-sponsors,
  .other_multi-sponsors {
    margin-top: 30px;
  }
  .pieContainer {
    float: left;
  }
  .c-bill--vote-details {
    width: auto;
    float: left;
    margin: 0 0 40px;
  }

  .c-vote-detail--date {
    font-size: 20px;
    margin: 40px 0 0;

    .vote-container {
      margin-bottom: 20px;

      .aye,
      .nay {
        width: 100px;
        background-color: $grey06;
        text-align: center;
        float: left;
        margin-bottom: 20px;
        padding: 0;

        &:nth-child(1) {
          margin-right: 20px;
        }
        .vote-count {
          display: block;
          font: 24px/30px $font-serif-bold;
          color: $grey03;
        }
        .vote-label {
          display: block;
          font: 15px/16px $font-sans-bold;
          padding-bottom: 5px;
          color: $grey04;
          text-transform: uppercase;
        }
      }
    }
  }

  .c-detail--vote-grp + .c-detail--vote-grp {
    margin-top: 40px;
  }

  .c-detail--vote-grp {
    width: 50%;
    float: left;
    margin-top: 40px;

    &.odd {
      padding-right: 5%;
      clear: left;
    }
    &.even {
      padding-left: 5%;
    }

    .c-detail--section-title {
      font-size: 16px;
    }

    .c-votes--items {
      li {
        font-size: 16px;
      }
    }
  }
}

/*---------------------------
/	RESOLUTION SPECIFIC
/---------------------------*/
.bill-resolution {
  .c-detail--sponsors {
    margin-bottom: 60px;

    & > .c-sponsor {
      width: 100%;
      margin-bottom: 60px;
    }
  }
}

@include breakpoint($bp-sm) {
  .bill-resolution {
    .c-detail--sponsors {
      margin-bottom: 80px;

      & > .c-sponsor {
        margin-bottom: 80px;
      }
    }
  }
}

/*---------------------------
/	ISSUES SPECIFIC
/---------------------------*/


.c-issue--mentions {
  padding-bottom: 20px;

  .nys-btn-more {
    margin-top: 30px;
  }

  .nys-senator {
    margin: 0;
    width: 100%;

    & + .nys-senator {
      margin-top: 20px;
    }
  }
  .nys-senator--info > span {
    display: none;
  }
  .nys-senator--party {
    color: $grey04;
  }
}

/*---------------------------
/	ISSUES SPECIFIC -
/	tablet and above
/---------------------------*/
@include breakpoint($bp-sm) {

  .c-issue--mentions {
    padding-bottom: 0;
    margin-bottom: 30px;

    .c-detail--subhead {
      margin-bottom: 30px;
    }
    .nys-senator {
      float: left;
      width: 33.3%;
      margin-bottom: 30px;

      & + .nys-senator {
        margin-top: 0;
      }
    }
  }
}

// tablet and above styles
@include breakpoint($bp-sm) {
  .c-detail--subhead {
    font-size: 16px;
  }
  // header section
  .c-detail--header__bill {
    .nys-title {
      float: left;
    }
  }
  .c-bill--flags {
    display: block;
    float: left;
    margin-top: 0;
    padding: 5px 0 0 20px;
  }
  .c-bill--flag {
    padding: 10px 13px;
  }
  .c-detail--descript {
    clear: left;
    font-size: 20px;
  }

  // header meta
  .c-detail--header-meta {
    position: relative;
    width: 71%;
    float: left;
    margin-bottom: 60px;
    padding-right: 40px;
  }

  .c-detail--related {
    .field-name-field-issues {
      padding-bottom: 15px;
    }
  }
  .c-detail--related-item {
    margin-right: 10px;
  }


  // sponsors
  .c-detail--sponsors {
    overflow: visible;

    > .c-sponsor,
    > .c-co-sponsors {
      width: 100%;
      overflow: hidden;
      float: none;
      margin-top: 0;
    }

    > .c-sponsor {
      @include clearfix;
      margin-right: 0;
    }

    > .c-sponsors-detail {
      margin-top: 40px;
    }
  }

  // quotes
  .c-sponsor-quote {
    padding: 30px 40px;

    // social starts hidden;
    .c-social {
      position: absolute;
      display: block;
      visibility: visible;
      opacity: 1;
      height: 100%;
      width: 40px;
      top: 0;
      left: auto;
      right: 0;
      background: transparent;
      z-index: -1;
      transition: right 0.3s ease;

      .c-social--list {
        top: 0;
        left: auto;
        right: auto;
        height: auto;

        li {
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 0 5px;
        }

        a {
          &::after {
            width: 40px;
            text-align: center;
            font-size: 26px;
            color: $blue01;
          }
        }
      }
    }

    // social visible
    &.c-social-visible {
      .c-social {
        right: -40px;
        transition: right 0.3s ease;
      }
    }
  }

  .c-sponsor-quote--title {
    margin-bottom: 60px;
    font-size: 14px;

    &::before {
      top: -0.25em;
      font-size: 7em;
    }
  }

  .c-sponsor-quote--text {
    padding: 0 30px;
    font-size: 26px;
  }

  // actions
  .c-action--items > li + li {
    padding-top: 20px;
  }

  .c-action--date {
    padding-top: 0;
    float: left;
    width: 200px;
  }

  .c-action--item + .c-action--item {
    margin-top: 15px;
  }

  // vote widget
  .c-bill-widget--cta {
    max-width: 100%;
  }

  // bill details
  .c-bill--details,
  .c-bill--calendars {
    float: left;
    clear: none;
    width: 48%;
  }
  .c-bill--details {
    width: 100%;
    margin-right: 4%;

    dt,
    dd {
      margin-bottom: 12px;
      line-height: 1.5em;
    }
    dt {
      float: left;
      clear: left;
      margin-right: 0.3em;
    }
    dd {
      & + dt {
        margin-top: 0;
      }
    }
  }
  .c-bill--calendars {
    ul {
      line-height: 1.5em;
    }

    li {
      margin-bottom: 12px;

      a {
        padding: 0;
      }
    }
  }

  .c-bill-vote--graph {
    margin-right: 60px;
  }

  .c-bill--vote-details {
    .c-bill--vote-details-wrapper {
      margin: 0 0 20px 40px;

      .vote-container {
        margin: 38px 0 0;

        .aye,
        .nay {
          width: 100px;
          float: left;
          background-color: $grey06;
          text-align: center;
          padding: 0;
          &:nth-child(1) {
            margin-right: 20px;
          }
          .vote-count {
            display: block;
            font: 24px/30px $font-serif-bold;
            color: $grey03;
          }
          .vote-label {
            display: block;
            font: 15px/16px $font-sans-bold;
            padding-bottom: 5px;
            color: $grey04;
            text-transform: uppercase;
          }
        }
      }

      .vote-meta {
        .meta-row {
          position: relative;
          font: 10px/16px $font-sans;
          color: $grey04;
          text-transform: uppercase;
          div {
            display: inline-block;
            &:nth-child(1) {
              color: $grey03;
            }
            &:nth-child(2) {
              position: absolute;
              left: 25%;
            }
          }
        }

        .meta-comm-referral {
          margin-top: 20px;
          label {
            margin: 0;
            font: 11px/14px $font-sans;
            color: $grey05;
          }

          .committee-link {
            font: 12px/14px $font-sans-bold;
            color: $yellow03;
            text-transform: uppercase;
          }
        }
      }

      h3 {
        margin-bottom: 30px;
        font-size: 20px;
      }

      h4 {
        padding-bottom: 20px;
        font-size: 16px;
      }

      .c-detail--vote-grp {
        display: block;
        float: left;
        width: 47%;
        margin: 0 6% 30px 0;

        & + .c-detail--vote-grp {
          margin-top: 0;
          margin-right: 0;
        }
      }
    }
  }
}

/*---------------------------
/	SENATOR DETAIL
/---------------------------*/
.nys-title--events {
  border-bottom: 1px solid $grey05;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.c-news-container {
  .c-container--header.link {
    position: relative;
    clear: both;
    float: right;
    width: 100%;
  }
}
