@import "../../global/utils/init";

/*----------------------------------------
/ PRESS RELEASES
/----------------------------------------*/

.page-node-type-meeting {
  .c-block {
    &.c-block-press-release {
      border-top: 0;
    }
  }
}

.c-block {
  &.c-block-press-release {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-top: 1px solid $grey05;

    &:first-child {
      border-top: 0;
    }
  }

  .first:first-child {
    .c-block-press-release {
      border-top: 0;
    }
  }

  .c-press-release--header {
    margin-bottom: 15px;
    line-height: 1em;
    z-index: $zi-lowest;
  }

  .c-press-release--title {
    margin-bottom: 3px;
    font-family: $font-serif-bold;
    font-size: 16px;
    line-height: 1em;
    color: $grey10;
  }

  .c-press-release--topic,
  .c-featured-story-issue-tag a {
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.05em;

    &:hover {
      text-decoration: underline;
    }
  }

  .c-press-release--body {
    position: relative;

    .author {
      align-items: center;
      margin-bottom: 0;
      font-size: 10px;

      a {
        font-family: $font-sans;
        font-size: 14px;
        line-height: 32px;
        color: $grey03;
      }
    }

    .event-location {
      font-family: $font-sans;
      font-size: 14px;
      line-height: 38px;

      &::before {
        color: $blue01;
        font-size: 23px;
        margin-top: -3px;
      }
    }

    .date-display-single {
      font-family: $font-sans-bold;
      font-size: 14px;
      line-height: 30px;
      color: $grey08;
    }
  }

  .c-press-release--body__has-img {
    display: flex;
  }

  .c-press-release--descript {
    font-weight: $font-weight-normal;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3em;
    font-family: $font-serif;

    a {
      color: $grey08;
    }
  }

  .c-press-release--senator {
    @include font-stack-secondary;
    margin: 10px 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;
  }

  .c-press-release--date {
    @include font-stack-secondary;
    margin: 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;

    .date-display-single {
      @include font-stack-secondary;
      color: $grey04;
      line-height: 20px;
    }

    .issue-type {
      color: $grey04;

      a {
        color: $yellow03;
      }
    }
  }

  .c-press-release--img {
    max-width: 100px;
    margin-left: 20px;
  }

  @include breakpoint($bp-sm) {
    &.c-block-press-release {
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 60px;
    }

    .c-press-release--header {
      position: absolute;
      top: 30px;
      left: 0;
      width: 180px;
      padding-right: 15px;
    }

    .c-press-release--title {
      font-size: 16px;
      line-height: 30px;
    }

    .c-press-release--body {
      padding-left: 180px;
      padding-right: 40px;
    }

    .c-press-release--descript {
      font-size: 24px;
      line-height: 30px;
      font-family: $font-serif;
    }

    .c-press-release--senator {
      font-size: 14px;
    }

    .c-press-release--date {
      font-size: 14px;
    }

    .c-press-release--img {
      max-width: 200px;
      margin-left: 20px;
    }
  }
}
