@import "../../global/utils/init";

/*----------------------------------------
/ PRESS RELEASES
/----------------------------------------*/

.page-node-type-meeting {
  .c-block {
    &.c-block-press-release {
      border-top: 0;
    }
  }
}


.c-block {
  &.c-block-press-release {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-top: 1px solid $grey05;

    &.content__item {
      display: flex;
      flex-direction: column;

      @include breakpoint($bp-sm) {
        flex-direction: row;
        column-gap: 20px;
      }

      &::after {
        display: none;
      }
    }
  }

  .first:first-child {
    .c-block-press-release {
      border-top: 0;
    }
  }

  .c-press-release--topic,
  .c-featured-story-issue-tag a {
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.05em;

    &:hover {
      text-decoration: underline;
    }
  }

  .c-press-release {
      
    &--header {
      margin-bottom: 15px;
      line-height: 1em;
  
      @include breakpoint($bp-sm) {
          flex: 20%;
      }

      .c-press-release--title {
        margin-bottom: 3px !important;
        font-family: $font-serif-bold;
        font-size: 16px;
        line-height: 1em;
        color: $grey10;

        @include breakpoint($bp-sm) {
          &.c-bill-search {
            font-size: 22px;
          }
        }
      }
    }

    &--descript {
      a {
        color: $grey08;
      }
    }
  }

  .c-press-release--body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 50%;

    @include breakpoint($bp-sm) {
      flex-direction: row;
    }

    .c-press-release {

      &--descript-wrapper {
        margin-right: 20px;

      }

      &--descript {
        font-weight: $font-weight-normal;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.3em;
        font-family: $font-serif;

        @include breakpoint($bp-sm) {
          font-size: 24px;
          line-height: 30px;
          font-family: $font-serif;
        }
      }
    }

    .author {
      align-items: center;
      margin-bottom: 0;
      font-size: 10px;

      a {
        font-family: $font-sans;
        font-size: 14px;
        line-height: 32px;
        color: $grey03;
      }
    }

    .event-location {
      font-family: $font-sans;
      font-size: 14px;
      line-height: 38px;

      &::before {
        color: $blue01;
        font-size: 23px;
        margin-top: -3px;
      }
    }
    
    .date-display-single {
      font-family: $font-sans-bold;
      font-size: 14px;
      line-height: 30px;
      color: $grey08;
    }
  } 

  .c-press-release--body__has-img {
    display: flex;
  }

  .c-press-release--senator {
    @include font-stack-secondary;
    margin: 10px 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;
  }

  .c-press-release--date {
    @include font-stack-secondary;
    margin: 0;
    color: $grey04;
    font-size: 12px;
    line-height: 1em;

    .date-display-single {
      @include font-stack-secondary;
      color: $grey04;
      line-height: 20px;
    }

    .issue-type {
      color: $grey04;

      a {
        color: $yellow03;
      }
    }
  }

  .c-press-release--img {
    width: 100%;

    @include breakpoint($bp-sm) {
      flex: 30%;
    }

    img {
      aspect-ratio: 3/2;
      object-fit: cover;

      @include breakpoint($bp-sm) {
        max-width: 216px;
        height: 144px;
      }
    }
  }

  @include breakpoint($bp-sm) {
    &.c-block-press-release {
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 60px;
    }
    
    .c-search--body .c-block-press-release {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    .c-press-release--title {
      font-size: 16px;
      line-height: 30px;

      &.c-bill-search {
        font-size: 22px;
      }
    }

    .c-bill-search  {
      font-size: 23px;
    }

    .c-press-release--senator {
      font-size: 14px;
    }

    .c-press-release--date {
      font-size: 14px;
    }
  }
}

.c-search--body {
  color: $grey05;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid $grey05;

  .c-block.c-block-press-release {
    padding: 0;
    border: 0;
  }
} 
