// Import site utilities.
@import '../../global/utils/init';

.hero {
  position: relative;
}

/*-----------------------------
/
/	HERO AREAS
/
/-----------------------------*/

/*------------------------------
/ SITEWIDE HERO
/-------------------------------*/

.l-row.c-hero--tout {
  position: relative;
  padding: 0;
  max-width: 440px;

  &.c-hero--featured {
    padding: 20px;
    background: $color-white;
  }
}

.hero--homepage {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;

  .c-senate-status {
    text-align: center;
    padding: 0;
    height: 50px;
    color: white;
    font-size: 18px;
    background: $orange01;
    max-width: 420px;

    .c-status-text {
      padding: 13px 45px 13px 0px;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        width: 30px;
        height: 30px;
        background: url('../images/gavel.png');
        background-size: 100%;
        background-position: 75%;
        background-repeat: no-repeat;
        top: 10px;
        right: 5px;
        position: absolute;
      }
    }
  }

  .l-row.l-row--hero {

    &.c-hero {
      padding: 0;
    }

    &.c-actionbar {
      max-width: 420px;
    }
  }

  &.hero--public-hearing {
    .l-row.l-row--hero.c-actionbar {
      max-width: 1500px;
      display: none;
    }
  }
}

.c-block .c-hero--welcome,
p.c-hero--welcome {
  padding: 30px 20px;
  margin: 0;
  color: $grey02;
  font-family: $font-serif;
  font-size: 24px;
  line-height: 1.5em;
  background: $color-white;

  a {
    color: $gen_link;
    border-bottom: 1px dotted;
    font-style: italic;

    &:hover {
      color: $yellow03;
      border-bottom: 1px solid;
    }
  }
}

.c-hero--date {
  display: inline;
  margin: 0 10px 20px 0;
  font-family: $font-sans;
  color: $grey04;
  font-size: 12px;
}

.c-hero--committee {
  display: inline;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 15px;
  border-left: 1px solid $grey05;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  color: $orange01;
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  white-space: normal;
}

.c-hero--title {
  color: $grey02;
  font-family: $font-serif;
  font-size: 24px;
  line-height: 1.3em;
  padding-top: 20px;

  a {
    color: $grey02;
  }
}

.c-hero--cta {
  position: relative;
  width: 100%;
  background: $blue01;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .c-block--btn {
    position: relative;
    display: block;
    background: $blue02;
    font-size: 13px;
  }
}

.c-hero--cta-msg {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
  color: $color-white;
  font-family: $font-serif-regular;
  font-size: 15px;
  line-height: 1.5em;
}


.hero {
  .c-actionbar,
  .c-senate-status {
    max-width: none;
  }
}

@include breakpoint($bp-sm) {
  .c-block .c-hero--welcome,
  p.c-hero--welcome {
    font-size: 32px;
    line-height: 60px;
    padding: 40px;
    color: $grey08;
  }

  .l-row.c-hero--tout {
    max-width: 760px;
    margin-top: -15%; //temp

    &.c-hero--featured {
      padding: 40px 70px 60px;
      background: $color-white;
    }
  }

  .hero--homepage {

    .c-senate-status {
			max-width: 760px;
			padding: 0 40px;
      margin: 0 auto;

			.c-actionbar--cta {
				max-width: 380px;
				font-size: 16px;
				line-height: 1.3em;
				letter-spacing: 0.05em;
			}

			.c-block--btn {
				font-size: 14px;
			}
		}

    .l-row.l-row--hero {

      &.c-hero {
        padding: 0;

        img {
          width: 100%;
        }
      }

      &.c-actionbar {
        padding: 0 40px;
        max-width: 760px;
      }
    }

    &.hero--public-hearing {
      .l-row.l-row--hero.c-actionbar {
        max-width: 1500px;
      }
    }
  }

  .c-block--btn-hero {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    width: 35%;
    max-width: 265px;
    text-align: center;
  }

  .c-hero--cta {
    height: 80px;

    .c-block--btn {
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      width: 35%;
      max-width: 265px;
      text-align: center;
    }
  }

  .c-hero--cta-msg {
    width: 65%;
    max-width: 495px;
  }

  .hero {
    .c-actionbar {
      max-width: 1500px;
      padding: 0 9%;
      transition: margin 0.25s ease-in 0s;

      .c-actionbar--cta {
        max-width: 400px;
        font-size: 18px;
        line-height: 1.3em;
      }

      .c-block--btn {
        font-size: 16px;
      }
    }
  }
}

/*------------------------------
/ SITEWIDE -- IN SESSION HERO
/ contains video element
/-------------------------------*/

.c-hero__in-session {
  background: $grey02;
}

/*
	TODO: make sure aspect ratio is correct
	currently using 560 x 315 or .5625
*/
.c-hero--video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.c-hero--video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-hero--video-info {
  padding: 30px 20px;
}

.c-video-info--title {
  font-family: $font-sans;
  color: $grey04;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-video-info--evt-title {
  font-family: $font-serif;
  color: $color-white;
  font-size: 20px;
}

.c-video-info--date {
  margin: 0;
  font-family: $font-sans;
  color: $grey04;
  font-size: 16px;
}

.c-hero--docket-wrapper {
  padding-top: 20px;
}

.c-docket--title {
  margin-bottom: 7px;
  font-family: $font-sans;
  color: $color-white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-docket {
  max-width: 60%;
  height: 148px; // 4 items high
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.c-docket--item {
  font-size: 17px;
  line-height: 1;
  padding: 10px 0;
}

.c-docket--bill-num {
  font-family: $font-serif-semibold;
  color: $yellow02;

  &::after {
    content: '-';
    margin: 0 0.4em 0 0.7em;
    color: $grey04;
  }
}

.c-docket--bill-cat {
  font-family: $font-sans;
  color: $grey04;
  font-size: 14px;
  text-transform: uppercase;
}

@include breakpoint($bp-md) {
  .c-hero--video-wrapper {
    float: left;
    width: 60%;
    max-width: 900px;
    height: 0;
    padding-top: 33.75%;
  }

  .c-hero--video-info {
    float: left;
    width: 40%;
    max-width: 600px;
    padding: 2% 40px 0;
  }

  .c-video-info--date {
    margin-top: 2%;
  }

  .c-hero--docket-wrapper {
    padding-top: 30px;
  }

  .c-docket {
    max-width: 75%;
    height: 162px; // 6 items high
  }

  .c-docket--item {
    padding: 5px 0;
  }
}

@include breakpoint($bp-lg) {
  .c-hero--video-info {
    padding-top: 4%;
  }

  .c-video-info--date {
    margin-top: 2%;
  }

  .c-docket {
    height: 186px; // 6 items high @ 31 each
  }

  .c-docket--item {
    padding: 7px 0;
  }
}

.l-row.l-row--hero {
  max-width: 1500px;
  margin: 0 auto;
}

.l-row--hero-live {
  .c-actionbar {
    max-width: 1500px;
  }
}

.c-hero-livestream-wrapper {
  background-color: $grey01;
  color: $color-white;

  .c-video-redirect {
    color: $grey04;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    a {
      color: $color-white;
    }
  }

  .c-hero-livestream-video {
    width: 100%;
    display: inline-block;

    .file-video-ustream {
      .content {
        width: 100%;
        display: inline-block;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  .c-hero-livestream-data {
    width: 100%;
    max-height: 70%;
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
    padding: 40px 30px;

    .c-hero-livestream-meta {
      h3 {
        font-family: $font-serif;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
        font-weight: normal;

        @include breakpoint($bp-md) {
          font-size: 15px;
          line-height: 19px;
          margin-bottom: 3px;
        }

        a {
          color: $color-white;
          font-weight: 400;
        }
      }

      .livestream-date {
        color: $grey04;
        font-size: 10px;
      }
    }

    .c-hero-livestream-description {
      display: block;
      font-weight: normal;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      font-family: $font-sans;
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: $blue03;
    }

    ul {
      li {
        color: $grey03;
      }
    }

    .news {
      color: $cont_red_drk;
      font-weight: bold;
    }

    .c-hero-livestream-links {
      margin: 20px 0 20px 0;
      padding: 0;
      width: 90%;

      li {
        line-height: 16px;
        font-size: 16px;
        font-family: $font-sans;
        margin-bottom: 10px;
      }

      a {
        @extend .link-text;
        display: inline-block;
        width: 89%;
        vertical-align: top;
      }
    }

    .c-hero-session-link {
      font-family: $font-sans;
      font-size: 12px;
      line-height: 18px;
      color: $color-white;
      text-transform: uppercase;
      display: block;
      margin: 10px 0 0 0;
    }

    .c-hero-livestream-sched {
      margin-top: 20px;

      label {
        color: $color-white;
      }

      ul {
        li {
          list-style: none;
          font-family: $font-sans;
          color: $grey04;
          font-size: 95.5%;
          line-height: 26px;
          text-transform: uppercase;
          display: inline;
          margin: 0 3.4% 0 0;

          &::after {
            content: '|';
            display: inline;
            padding-left: 10px;
          }

          a {
            font-family: $font-serif-semibold;
            color: $yellow03;
            font-size: 111%;
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include breakpoint($bp-sm) {

  .l-row--hero-live {
    .c-actionbar {
      max-width: 1500px;
    }
  }

  .c-hero-livestream-wrapper {
    .c-hero-livestream-video {
      width: 70%;
      display: inline-block;

      .file-video-ustream {
        .content {
          position: relative;
          padding-bottom: 56.25%;
          //padding-top: 49px;
          height: 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .c-hero-livestream-data {
      width: 29%;
      padding: 27px 25px;

      .c-hero-livestream-meta {
        label {
          margin-bottom: 0;
          color: $grey04;
          font-size: 0.8rem;
          text-transform: uppercase;
        }

        h3 {
          font-size: 15px;
          line-height: 19px;
          margin-bottom: 3px;
        }

        .livestream-date {
          font-size: 11px;
        }
      }

      .c-hero-session-link {
        font-size: 12px;
      }

      .c-hero-livestream-sched {
        margin-top: 5px;

        label {
          font-size: 12px;
        }

        ul {
          margin: 0;

          li {
            line-height: 22px;
            font-size: 12px;
            display: block;

            &::after {
              display: none;
            }

            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@include breakpoint($bp-md) {

  .c-hero-livestream-wrapper {
    background-color: $grey01;
    color: $color-white;

    .c-hero-livestream-video {
      width: 70%;
      display: inline-block;

      .file-video-ustream {
        .content {
          position: relative;
          padding-bottom: 56.25%;
          //padding-top: 45px;
          height: 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .c-hero-livestream-data {
      width: 29%;
      display: inline-block;
      vertical-align: top;
      padding: 30px;

      .c-hero-session-link {
        font-size: 14px;
      }

      .c-hero-livestream-meta {
        h3 {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 10px;
        }

        .livestream-date {
          font-size: 16px;
        }
      }

      .c-hero-livestream-sched {
        label {
          font-size: 15px;
        }

        ul {
          li {
            font-size: 14px;
            line-height: 30px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@include breakpoint($bp-lg) {

  .c-hero-livestream-wrapper {
    background-color: $grey01;
    color: $color-white;

    .c-hero-livestream-video {
      width: 70%;
      display: inline-block;

      .file-video-ustream {
        .content {
          position: relative;
          padding-bottom: 56.25%;
          //padding-top: 45px;
          height: 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .c-hero-livestream-data {
      .c-hero-livestream-meta {
        .livestream-date {
          font-size: 18px;
        }

        h3 {
          font-size: 34px;
          line-height: 47px;
        }
      }

      .c-hero-livestream-sched {
        label {
          font-size: 18px;
        }

        ul {
          li {
            font-size: 18px;
            line-height: 34px;

            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

/*------------------------------
/ SENATOR HERO
/-------------------------------*/
.c-senator-hero {
  position: relative;
  @extend .lgt-bg;

  &.l-row--hero {
    padding: 0;
  }

  .c-senator-hero--info {
    padding: 20px 20px 60px;
  }

  .c-senator-hero--title {
    margin: 0 0 3px 0;
    font-family: $font-sans;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
    font-size: 12px;
    @extend .contrast_text;
  }

  .c-senator-hero--name {
    font-family: $font-serif;
    color: $color-white;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    font-size: 26px;
    margin: 0 0 15px 0;
    text-transform: capitalize;

    a {
      color: $color-white;
    }
  }

  .c-senator-hero--roles {
    margin-bottom: 15px;
    margin-top: 0;
    font-family: $font-sans-bold;
    color: $color-white;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
  }

  .c-senator-hero--district {
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 12px;
    @extend .contrast_text;

    div {
      display: inline;
    }

    a {
      @extend .contrast_text;
      text-decoration: none;
    }
  }

  .c-senator-hero--social {
    display: block;
    margin: -5px 0 20px 0px;
    padding-left: 10px;
    height: 1em;
    font-size: 27px;
  }

  .c-senator-hero--social-item {
    display: inline-block;
    margin-right: 8px;

    a {
      position: relative;
      display: block;
      height: 30px;
      width: 30px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);

      &::after {
        line-height: 1em;
        width: 100%;
        height: 100%;
        color: $color-white;
      }
    }

    &.twitter {
      a::after {
        left: 3px;
      }
    }
  }

  .c-senator-hero--contact-btn {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    color: $color-white;

    &::before {
      display: flex;
      align-items: center;
    }
  }

  @include breakpoint($bp-sm) {
    z-index: 2;

    &.l-row--hero {
      padding: 0;
    }

    .c-senator-hero--img {
      position: relative;
      width: 54%;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 75%;
        margin-left: -6px;
      }

      // This allows the image to show in the container
      .contextual-region.media--type-image {
        position: initial;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .c-senator-hero--info {
      display: flex;
      align-items: center;
      position: absolute;
      width: 46%;
      height: 100%;
      top: 0;
      right: 0;
      padding: 20px 20px 80px 0;

      &::before {
        content: '';
        height: 100%;
        width: 0;
        margin-left: -4px;
        display: inline-block;
        vertical-align: middle;
      }

      > div {
        display: inline-block;
        vertical-align: middle;
        margin-left: 45px;
      }
    }

    .c-senator-hero--name {
      margin-bottom: 20px;
      font-size: 28px;
    }

    .c-senator-hero--roles {
      margin-bottom: 15px;
      font-size: 16px;
    }

    .c-senator-hero--district {
      margin-bottom: 0;
    }

    .c-senator-hero--social {
      margin: 20px 0 0 -0.3em;
    }

    .inactive-pallette {
      .c-senator-hero--roles {
        font-size: 13px;
      }
    }

    .c-senator-hero--contact-btn {
      width: 46%;
      padding-left: 40px;
      left: auto;
      right: 0;
    }
  }

  @include breakpoint($bp-md) {
    .c-senator-hero--info {
      padding: 20px 20px 100px 0;

      > div {
        margin-left: 60px;
      }
    }

    .c-senator-hero--not-active {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .c-senator-hero--name {
      margin-bottom: 30px;
      font-size: 36px;
    }

    .c-senator-hero--district {
      margin-bottom: 20px;
    }

    .inactive-pallette {
      .c-senator-hero--social {
        display: none;
      }
    }

    .c-senator-hero--contact-btn {
      height: 100px;
      padding-left: 60px;

      &::before {
        line-height: 100px;
      }
    }
  }

  @include breakpoint($bp-lg) {
    .c-senator-hero--info {
      > div {
        margin-left: 65px;
      }
    }

    .c-senator-hero--not-active {
      margin-bottom: 50px;
      font-size: 22px;
    }

    .c-senator-hero--rule {
      margin-bottom: 50px;
    }

    .c-senator-hero--title {
      font-size: 14px;
    }

    .c-senator-hero--name {
      font-size: 50px;
    }

    .c-senator-hero--roles {
      font-size: 18px;
    }

    .c-senator-hero--district {
      font-size: 14px;
    }

    .c-senator-hero--contact-btn {
      padding-left: 65px;
    }
  }
}

/*------------------------------
/ SENATOR HERO COLLAPSED
/-------------------------------*/
.l-header__collapsed {

  .c-senator-hero {
    display: block;
    height: 100px;
    padding-left: 20px;
    margin-top: 0;
    transition: margin 0.25s ease-in 0s;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      width: 1px;
      margin-left: -1px;
    }

    &.hidden {
      display: block;
      margin-top: -100px;
    }
  }

  .c-senator-hero--img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 140%;
      height: 100%;
      object-fit: cover;
    }

    .contextual-region.media--type-image {
      position: absolute;
      top: 0;
    }

    .contextual-region.media--type-image.media--view-mode-thumbnail {
      position: initial;
    }
  }

  .c-senator-hero--info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
  }

  .c-senator-hero--name {
    font-size: 15px;
    margin: 0;
  }

  .c-senator-hero--info-secondary {
    display: none;
  }

  .c-senator-hero--contact-btn {
    width: 100%;
    height: 50px;
    padding-left: 24px;

    &::before {
      line-height: 50px;
      padding-left: 0px;
    }
  }
}

@include breakpoint($bp-sm) {
  .l-header__collapsed {
    .c-senator-hero {
      display: flex;
      align-items: center;
      padding: 0 0 0 9%;

      &::before {
        height: 100%;
      }
    }

    .c-senator-hero--info {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 10px;

      > div {
        margin-left: 0;
      }

      &::before {
        margin-left: 0;
      }
    }

    .c-senator-hero--title {
      display: block;
    }

    .c-senator-hero--name {
      font-size: 22px;
    }

    .c-senator-hero--img {
      height: 72px;
      width: 72px;

      > img {
        position: absolute;
      }

      picture > img {
        position: absolute;
      }
    }

    .c-senator-hero--contact-btn {
      height: 100%;
      max-width: 300px;
      right: 0;
      left: auto;

      &::before {
        line-height: 100px;
      }
    }
  }
}

/*------------------------------
/ DEFAULT HERO COLLAPSED
/-------------------------------*/
.hero--default {

  img {
    width: 100%;
  }

  .l-row--hero {
    padding: 0;
  }

  .c-hero {

    &--tout {
      position: relative;
      padding: 0;

      @include breakpoint($bp-sm) {
        margin-top: -15%;
      }
    }

    &--featured {
      padding: 20px;
      background: #fff;

      @include breakpoint($bp-sm) {
        padding: 40px 70px 60px;
        background: #fff;
      }
    }

    &--date {
      display: inline;
      margin: 0 10px 20px 0;
      font-family: $font-sans;
      color: #888888;
      font-size: 12px;
    }

    &--committee {
      display: inline;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 15px;
      border-left: 1px solid $grey05;
      text-transform: uppercase;
      font-family: $font-sans-bold;
      color: #CB8D37;
      font-size: 11px;
      letter-spacing: 0.1em;
      line-height: 1.2em;
      white-space: normal;
    }

    &--title {
      color: $grey08;
      font-family: $font-serif;
      font-size: 24px;
      line-height: 1.3em;
      padding-top: 20px;
      margin: 0;

      a {
        color: $grey08;
      }
    }
  }

  .c-actionbar {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    transition: margin 0.25s ease 0s;
    max-width: 420px;
    margin: 0 auto;
    padding: 0;

    @include breakpoint($bp-sm) {
      height: 100px;
      max-width: 760px;
      margin: 0 auto;
    }

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      height: 100%;
      width: 1px;
      vertical-align: middle;
      margin-left: -4px;
    }

    .c-actionbar--info {
      display: none;
      vertical-align: middle;
      height: auto;

      @include breakpoint($bp-sm) {
        display: inline-block;
        flex: 1;
        padding: 0 40px;
      }

      .c-actionbar--cta {
        margin: 0;
        color: #fff;
        max-width: 320px;
        font-size: 14px;

        @include breakpoint($bp-sm) {
          width: 100%;
          max-width: 380px;
          font-size: 16px;
          line-height: 1.3em;
          letter-spacing: 0.05em;
        }
      }
    }

    .c-block {
      &--btn {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: $font-sans-bold;
        letter-spacing: 0.2em;
        font-size: 12px;
        line-height: 60px;
        height: 100%;
        width: 100%;
        border: none;
        font-size: 12px;

        @include breakpoint($bp-sm) {
          width: auto;
          font-size: 14px;
        }

        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 0 18px;
          line-height: 60px;
          color: #fff;
          top: 0;

          @include breakpoint($bp-sm) {
            padding: 0 40px;
            font-size: 16px;
            line-height: 100px;
          }

          &::before {
            font-family: $senate-icons;
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            padding-right: 3px;
            -webkit-font-smoothing: antialiased;
            content: "\24";

            @include breakpoint($bp-sm) {
              height: 100%;
              margin-right: 0.1em;
              font-size: 32px;
              line-height: 100px;
            }
          }
        }
      }
    }
  }
}
