.nys-senators-management-overview-stat {
  display: inline-block;
  max-width: 23%;
  min-width: 23%;
  width: 23%;
  text-align: center;
  padding: 1em 1.3em;
  border: 3px solid lightgray;
  border-radius: 1em;
  height: 10em;
  vertical-align: top;
  margin-right: 0.5em;
}
.nys-senators-management-overview-stat:hover {
  border: 3px solid rgb(0, 41, 79);
}
.nys-senators-management-overview-stat div {
  font-size: 0.8em;
  font-family: 'Proxima Nova Regular', sans-serif;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-label {
  color: #aaa;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-content {
  color: #444;
  font-size: 3.5em;
  font-weight: 900;
  font-family: 'Adelle Bold', serif;
  line-height: 1em;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-description {
  color: #666;
  padding-top: 0.7em;
  line-height: 1.4em;
}
