/******************************
 * Overview Year-to-Date Stats
 */
.nys-senators-management-overview-stats {
  text-align: center;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: 1.2em 0 1.7em;
}
.nys-senators-management-overview-stats h1 {
  font-family: "Adelle SemiBold, serif";
  font-size: 1.9375em;
  line-height: 1.333em;
  color: #444;
}
.nys-senators-management-overview-stat {
  display: inline-block;
  max-width: 23%;
  min-width: 23%;
  width: 23%;
  text-align: center;
  padding: 1em 1.3em;
  border: 3px solid lightgray;
  border-radius: 1em;
  height: 10em;
  vertical-align: top;
  margin-right: 0.5em;
}
.nys-senators-management-overview-stat:hover {
  border: 3px solid rgb(0, 41, 79);
}
.nys-senators-management-overview-stat div {
  font-size: 0.8em;
  font-family: 'Proxima Nova Regular', sans-serif;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-label {
  color: #aaa;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-content {
  color: #444;
  font-size: 3.5em;
  font-weight: 900;
  font-family: 'Adelle Bold', serif;
  line-height: 1em;
}
.nys-senators-management-overview-stat div.nys-senators-management-overview-stat-description {
  color: #666;
  padding-top: 0.7em;
  line-height: 1.4em;
}

/******************************
 * Overview Active List
 */
.nys-senators-management-overview-active-list {
  padding: 2em 0;
}
.nys-senators-management-overview-active-list h1 {
  padding: 1rem 0 0;
  font-size: 1.9375em;
  text-align: center;
  font-family: 'Adelle Bold', serif;
}
.management-overview-active-list {
  padding: 1em 0;
}
.management-overview-active-list .view-content .odd,
.management-overview-active-list .view-content .even {
  border-top: 2px solid #eee;
  padding: 1em 0;
}
.management-overview-active-list .view-content .first {
  border-top: 0 none;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .nys-senators-management-overview-stats {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }

  .nys-senators-management-overview-stat {
    width: auto;
    max-width: none;
  }
}
