@import '../../global/utils/init';

.dashboard-profile {
  .c-container--dash-user-card,
  .c-container--dash-senator-card {
    padding: 40px;
    background-color: $grey11;
    margin-bottom: 0;
    border-bottom: 1px solid $blue04;
    border-right: 1px solid $blue04;
    margin: 10px;
    float: left;

    .dash-user-img,
    .dash-senator-img {
      height: 70px;
      width: 70px;
      min-width: 70px;
      overflow: hidden;
      border-radius: 70px;

      img {
        object-fit: cover;
        overflow: hidden;
        border-radius: 70px;
      }
    }

    .vcard {
      border: none;
      padding: 0;
      font-family: $font-sans;
      font-size: 12px;
      line-height: 18px;
      color: $grey08;

      a {
        @extend .med-text;
      }
    }

    .dash-user-info {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 20px;
      margin-top: 20px;

      @include breakpoint($bp-xsm) {
        display: flex;
      }

      .c-container--title {
        font-family: $font-serif-semibold;
        font-size: 18px;
        line-height: 32px;
        color: $grey08;
      }

      .c-container--district {
        font-family: $font-sans;
        font-size: 12px;
        text-transform: uppercase;
        color: $grey04;
      }
    }

    .c-container--your-senator {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .c-container--email {
      margin-top: 10px;
    }

    .c-container--title {
      font-family: $font-serif;
      font-size: 18px;
      line-height: 32px;
      color: $grey08;
      text-transform: uppercase;
    }

    .dash-senator-info {
      display: flex;
      gap: 20px;
      margin-top: 20px;

      p {
        font-family: $font-sans-bold;
        font-size: 12px;
        line-height: 18px;
        color: $grey08;
        margin: 0;

        a {
          text-transform: uppercase;
        }
      }

      .duties {
        color: $yellow03;
        text-transform: uppercase;
      }

      .c-container--title {
        display: inline-block;

        .field--name-field-senator-name {
          display: inline-block;
        }

        .party {
          font-size: 12px;
          color: $yellow03;
          text-transform: uppercase;
          display: inline-block;
        }
      }

      .c-container--district {
        font-family: $font-sans;
        font-size: 12px;
        text-transform: uppercase;
        color: $grey04;
      }
    }

    .c-dash-msg-senator,
    .c-dash-edit-profile {
      cursor: pointer;
      appearance: none;
      border: 0;
      padding: 0 5px;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.25em;
      font-family: $font-sans-bold;
      width: 78px;
      display: block;
      color: $color-white;
      text-decoration: none;
      text-align: center;
      background-color: $gen_blue_med;

      &::before {
        margin-right: 0;
        font-size: 18px;
      }
    }

    .c-dash-msg-senator {
      width: 112px;

      &.inactive {
        width: auto;
        line-height: 12px;
        padding: 5px;
      }

      &::before {
        margin-right: 0;
        font-size: 18px;
      }
    }

    .c-container--body {
      p {
        font-family: $font-sans;
        font-size: 12px;
        line-height: 18px;
        color: $grey08;
      }
    }
  }

  .msg-senator-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .content {
      position: relative;
      background-color: #fefefe;
      margin: 15% auto;
      padding: 40px 20px;
      border: 1px solid #888;
      width: 80%;

      .close {
        position: absolute;
        color: #aaa;
        right: 20px;
        top: 0;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
