// Import site utilities.
@import '../../global/utils/init';

.c-petition--head {
  margin-bottom: 15px;

  .nys-title {
    margin-bottom: 5px;
  }

  .nys-subtitle-title {
    margin-bottom: 0;
  }

  // only if subtitle is preceeded by topics
  .nys-associated-topics + .nys-subtitle-title {
    margin-top: 20px;
  }
}

@include breakpoint($bp-sm) {
  .c-petition--head {
    margin-bottom: 30px;

    .nys-associated-topics + .nys-subtitle-title {
      margin-top: 40px;
    }
  }
}

// All registration forms
.registration-form {
  margin-top: 0;

  .form-item-first-name,
  .form-item-addr-street,
  .form-item-addr-city,
  .form-item-last-name,
  .form-item-addr-opt,
  .form-item-addr-state,
  .form-item-addr-zip {
    width: 100%;
    float: left;
  }

  input#edit-addr-street,
  input#edit-email {
    margin-bottom: 3px;
  }

  .form-type-checkbox {
    float: left;
    width: 100%;

    .form-checkbox {
      margin-right: 20px;
    }

    .description {
      margin-top: -30px;
      width: 90%;
      font-size: 0.8rem;
    }
  }

  @include breakpoint($bp-sm) {

    .form-item-first-name,
    .form-item-addr-street,
    .form-item-addr-city {
      width: 48%;
      float: left;
      margin-right: 4%;
    }

    .form-item-last-name,
    .form-item-addr-opt {
      width: 48%;
      float: left;
    }

    .form-item-addr-state {
      width: 22%;
      float: left;
      margin-right: 4%;
    }

    .form-item-addr-zip {
      width: 22%;
      float: left;
    }
  }

  button {
    float: left;
    margin-top: 20px;
  }

  .form-item-link > label,
  .form-item-link > input {
    display: none;
  }

  .c-btn--cta__sign {
    float: left;
    padding: 0 30px;

    &::before {
      font-family: 'senate_icons';
      content: "\70";
      font-size: 32px;
      margin-right: 10px;
      font-size: 28px;
      display: inline-block;
      vertical-align: middle;
      text-transform: none;
      padding-right: 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

// overrides that live outside the petitions form
.c-news--body .c-btn--cta__sign {
  float: left;
}

p.petition-small-text {
  font-size: 16px;
  margin-top: 30px;
  float: left;
  clear: left;
}

.login-link {
  margin-bottom: 20px;

  a {
    @extend .lgt-bg;
    color: $color-white !important;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}

.c-news--author,
.c-news--pub-date {
  display: inline-block;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-family: $font-sans;
  font-size: 12px;
}

.c-news--pub-date {
  color: $grey04;
}

.c-news--author {
  text-transform: uppercase;

  a {
    color: inherit;
  }
}

.c-news--author,
.c-news--pub-date,
.c-news--committees {
  @include breakpoint($bp-sm) {
    font-size: 15px;
    line-height: 1.2em;
  }
}

p {
  font-family: $font-serif;
  line-height: 1.5em;
  color: $grey03;
  font-size: 16px;

  @include breakpoint($bp-sm) {
    font-size: 20px;
    line-height: 32px;
  }
}

.c-btn--cta {
  background-color: $gen_blue_lgt;
}

.c-btn--cta {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: 60px;
  min-width: 215px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 60px;

  @include breakpoint($bp-sm) {
    padding: 0 30px;
    min-height: 55px;
    min-width: 240px;
    font-size: 14px;
  }
}

.c-btn--cta__sign {
  min-width: 250px;
  padding: 0;
  text-align: left;
}

.c-news--body .c-btn--cta__sign {
  float: left;
}

.c-btn--cta__sign .flag-wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.c-btn--cta__sign .flag-wrapper .unflag-disabled,
.c-btn--cta__sign .flag-wrapper .flag-link-toggle {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.c-btn--cta__sign .flag-wrapper .unflag-disabled,
.c-btn--cta__sign .flag-wrapper .flag-link-toggle {
  @include breakpoint($bp-sm) {
    padding: 0 30px;
  }
}

.c-btn--cta__sign .flag-wrapper .flag-link-toggle {

  &::before {
    font-family: $senate-icons;
    display: inline-block;
    vertical-align: middle;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-before__petition:before,
.c-btn--cta__sign .flag-wrapper .unflag-disabled:before,
.c-btn--cta__sign .flag-wrapper .flag-link-toggle:before,
.c-senate-works--illustration.illustration--write:before {
  content: "\70";
}

.c-btn--cta__sign .flag-wrapper .unflag-disabled:before,
.c-btn--cta__sign .flag-wrapper .flag-link-toggle:before {
  margin-right: 10px;
  font-size: 28px;

  @include breakpoint($bp-sm) {
    font-size: 32px;

  }
}

.trad_blue .c-btn--cta {
  background-color: $trad_blue_lgt;
}

.trad_red .c-btn--cta {
  background-color: $trad_red_lgt;
}

.c-btn--cta a,
.trad_blue .c-btn--cta a,
.trad_red .c-btn--cta a {
  color: $color-white;
}

.c-block.c-detail--summary {
  @include breakpoint($bp-sm) {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
