{{ attach_library('nysenate_theme/nysenate-issues') }}

{% import '@nysenate_theme/icons/_icons-macro.twig' as icons %}
<h4 class="c-issue-block--title">{{ name }}</h4>
<div class="c-block--btn">
  {{ flag_link}}
</div>
