/**
 * @file
 * Contains targeted overrides that aren't present in Seven.
 */

.media-library-widget-modal input, 
.media-library-widget-modal optgroup, 
.media-library-widget-modal select {
  width: auto;
}

.media-library-widget-modal a.tabledrag-handle .handle {
  width: 30px;
  height: 30px;
}