// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #fff;
$color-black: #012635;

// Primary.
// @TODO a lot of these can be removed.
$color-dark-violet:#012635;
$color-dark-violet-lt: #003954;
$color-gray-violet: #ccd7dd;
$color-light-violet: #edf2f4;
$color-faint-violet: #f4f6f9;
$color-bright-blue: #019cb6;
$color-bright-blue-50: #bfccef;
$color-blue-gray: #d2d8db;
$color-faint-blue: #fafbfe;
$color-magenta: #93287b;
$color-dark-magenta: #762062;
$color-magenta-a20: rgba($color-magenta, 0.2);
$color-status-mixed: #f9d925;
$color-status-good: #b9e37d;
$color-status-bad: #bf0202;
$color-effectiveness-good: lighten($color-bright-blue, 28);
$color-effectiveness-mixed: lighten(#ffb700, 30);
$color-effectiveness-bad: lighten($color-magenta, 53);

// Grays.
$color-admin-black: #0f0f0f;
$color-mid-gray: #717171;
$color-gray: #999999;
$color-pale-gray: #cbcbcb;
$color-faint-gray: #d8d8d8;
$color-offwhite: #f7f7f7;
