.block-private-message-notification-block {
  position: relative;
  overflow: hidden;
  width: 32.75px;
  height: 30px;
}
.block-private-message-notification-block .private-message-notification-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.5px;
  max-width: none;
  height: 30px;
}
.block-private-message-notification-block .private-message-page-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  line-height: 26px;
}
.block-private-message-notification-block .unread-threads .private-message-notification-image {
  right: 0;
  left: auto;
}
.block-private-message-notification-block .unread-threads .private-message-page-link {
  color: #F00;
}
