#thread-members-display-container {
  position: relative;
}
#thread-members-display-container + * {
  clear: both;
}
#thread-members-display-container #pm-members-autocomplete-results-wrapper {
  position: absolute;
}
#thread-members-display-container .private-message-member-display-item {
  float: left;
  margin: 2px 4px 1em;
  background-color: #E4E4E4;
}
#thread-members-display-container .private-message-member-display-item .pm-username {
  float: left;
  padding: 4px 7px 4px 3px;
}
#thread-members-display-container .private-message-member-display-item .pm-username-remove-link {
  display: block;
  float: left;
  padding: 4px 4px 5px;
  cursor: pointer;
  border-left: dotted black 1px;
}
#thread-members-display-container #thread-members-input {
  margin-bottom: 0;
}
#thread-members-display-container .pm-autocomplete-search-result {
  display: block;
  height: 100%;
}
#thread-members-display-container .invalid-username {
  color: #F00;
  font-weight: bold;
}
