/**
 * @file
 * Import and override details.css provided by seven/global-styling.
 */
@import 'variables';

@import '@theme-seven/css/components/details.css';

.seven-details {
  background-color: $primary-color-lightest;
  border-color: $gray-lighter;
  border-radius: 2px;
}
