/**
 * @file
 * Additional styles for the entity_browser/tabs library, added using libraries-extend.
 */
@import 'variables';

.eb-tabs {

  ul {
    border-bottom: none;

    li {
      padding: 0.75em; // added

      a {
        padding: 0 0 2px 0;
        color: $primary-color-intense; //added
      }

      &:first-child { // added
        padding-left: 0;
      }

      &.active {
        border-bottom: none;
      }

      &.active a { // added
        color: $primary-color-intense;
        border-bottom: 3px solid $primary-color-intense;
      }
    }
  }
}
