/**
 * @file
 * Import and override vertical-tabs.css from seven originally provided by core/drupal.vertical-tabs.
 */
@import 'variables';

@import '@theme-seven/css/components/vertical-tabs.css';

/**
 * 1. thunder_admin globally uses border-box,
 * this does not work well with overlapping borders.
 */
.vertical-tabs {
  box-sizing: content-box; // - 1. -
}

.vertical-tabs__menu-item-title,
.vertical-tabs__menu-item-summary {
  line-height: normal; // Fix spacing for multiple line item.
}

.vertical-tabs__menu-item.is-selected {
  border-right: 1px solid $primary-color-lightest; // Replace #fcfcfa.
}

[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-left: 1px solid $primary-color-lightest; // Replace #fcfcfa.
}

.vertical-tabs__menu-item.is-selected a,
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: $primary-color-lightest; // Replace #fcfcfa.
}

[data-vertical-tabs-panes] {
  background-color: $primary-color-lightest; // Replace #fcfcfa.
}
