@import '../../global/utils/init';

/*-------------------------------------------------------
/
/   Tabs
/
/-------------------------------------------------------*/
.c-tab-block--title {
  font-family: $font-serif-semibold;
  font-weight: $font-weight-normal;
  font-size: 18px;
  line-height: 21px;
  color: $grey08;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.l-tab-bar {
  position: relative;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  margin-bottom: -1px;

  .arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    pointer-events: none;
    font-size: 24px;
    width: 45px;
    height: 45px;
    @extend .lgt-text;
  }

  .c-tab {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    text-transform: uppercase;

    cursor: pointer;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    display: block;
    @extend .lgt-text;
    font-family: $font-sans-bold;
    font-size: 14px;
    line-height: 45px;
    letter-spacing: 0.03em;
    background: $color-white;
    border: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      position: absolute;
      top: 0;
      z-index: 9;
    }
  }

  &.open {
    .c-tab.active {
      position: relative;
      border: none;
    }
  }
}

.c-tab--arrow {
  position: absolute;
  right: 16px;
  top: 4px;
  height: 45px;
  width: 25px;
  @extend .lgt-text;
  @extend .icon-replace__see-more;
  z-index: 10;
  pointer-events: none;

  &::after {
    font-size: 26px;
  }
}

.c-tabs--related-issues {
  line-height: 1em;
  padding-right: 2%;

  a {
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: 12px;
    line-height: 1em;
    @extend .link-text;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-tab--link-more {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-family: $font-sans-bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  @extend .icon-after__arrow;
  @extend .link-text;

  &::after {
    margin-top: -0.15em;
    font-size: 1.5em;
    line-height: 14px;
  }
}

.l-tab-bar.open {
  height: auto;

  .c-tab--arrow {
    position: absolute;
    right: 16px;
    top: 4px;
    height: 45px;
    width: 25px;
    @extend .icon-replace__see-less;
  }
}

.tabs-content > .content {
  padding: 0;
}

.dashboard .tabs-content > .content {
  padding: 0;
}

.block-menu-menu-issue-explorer ul {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 45px;
  position: relative;
  border: 1px solid #c0c0c0;
  margin-bottom: 0;

  .arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    pointer-events: none;
    font-size: 24px;
    @extend .lgt-text;
  }

  li.leaf {
    width: 100%;
    height: 45px;
    box-sizing: border-box;

    text-transform: uppercase;

    a {
      width: 100%;
      height: 100%;
      padding: 12px 0px 0px 20px;
      display: block;
      @extend .lgt-text;
      font-family: $font-sans-bold;
      font-size: 14px;
    }
  }

  .c-tab.active {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.tabs-content {
  @include clearfix;
  margin-bottom: 1.5rem;
  width: 100%;

  > .content {
    display: none;
    float: left;
    width: 100%;

    &.active {
      display: block;
      float: none;
    }

    &.contained {
      padding: 0.9375rem;
    }
  }

  &.vertical {
    display: block;

    > .content {
      padding: 0 0.9375rem;
    }
  }

  .your-petitions {
    .c-container--body {
      padding-top: 20px;
    }
  }
}

.no-js {
  .tabs-content > .content {
    display: block;
    float: none;
  }
}

.c-block .view-empty,
.view-empty {
  background: $grey06;
  padding: 20px;
  margin: 20px 0 40px 0;

  p {
    margin-bottom: 0;
    margin-top: 0;
    font-family: $font-serif-semibold;
    font-size: 20px;
    line-height: 32px;
    color: $grey08;
  }
}

.item-list .pager {
	&.pager-load-more {
    cursor: pointer;
    list-style: none;
		display: block;
		margin: 20px 0;
		width: 100%;
		background-color: $grey06;
		float: left;
		font-weight: normal;
		text-transform: uppercase;

		.pager-next {
		 	margin: 0;

		 	> a {
		 		display: block;
				padding: 15px 0;
				width: 100%;
				text-align: center;
				font-family: $font-sans-bold;
				font-size: 16px;
				line-height: 25px;
				@extend .icon-after__see-more;
				@extend .lgt-text;
              &:hover {
                text-decoration: underline;
              }

				&::after {
					height: 24px;
					margin-top: -3px;
					font-size: 24px;
					line-height: 25px;
					@extend .lgt-text;
				}
			}
		}

		&.pager-load-more-empty {
			display: none;
		}
	}
}


@include breakpoint($bp-sm) {
  .c-tab-block--title {
    font-family: $font-serif-bold;
    font-size: 32px;
    line-height: 41px;
  }

  .l-tab-bar {
    overflow: hidden;
    margin: 30px 0 -1px 0;
    border: none;
    border-bottom: 1px solid $grey05;
    padding-top: 0;

    .arrow {
      display: none;
    }

    .c-tab {
      list-style: none;
      float: left;
      height: 50px;
      border: 1px solid transparent;
      margin-right: -2px;
      margin-bottom: -2px;
      text-transform: uppercase;
      width: auto;
      cursor: pointer;

      .section-committees & {
        width: 33.5%;
      }

      .c-tab-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        text-align: center;
        white-space: nowrap;
        background: none;
        line-height: 50px;
      }

      .c-tab-link:hover,
      a:hover {
        background: none;
      }

      &:first-child {
        button {
          width: 100%;
        }
      }
    }

    .c-tab-link.first {
      border-left: none;
    }

    .c-tab.active {
      border: 1px solid #aaa;
      border-bottom: 0;
      position: relative;
      z-index: 2;

      .c-tab-link,
      li.leaf a {
        border-left: none;
      }
    }
  }

  .l-tab-bar.open .c-tab--arrow {
    display: none;
  }

  .tabs dd > a {
    padding: 0;
  }

  .tabs-content > .content {
    padding: 0;
  }

  .dashboard .tabs-content > .content {
    padding: 0;
  }

  .tabs-content {
    .l-col-3-of-3 {
      a {
        display: block;
        float: right;
        max-width: 200px;
      }
    }

    .pager-load-more {
      background-color: $grey06;
      padding: 0;
      margin: 1.75em 0 0 0;
      list-style: none;

      a {
        font-family: $font-sans-bold;
        font-size: 14px;
        color: $blue03;
        padding: 5px 0;
        display: block;
      }

      &.pager-load-more-empty {
        display: none;
      }
    }
  }
  .c-tab--link-more {
    font-size: 14px;
  }

  .block-menu-menu-issue-explorer ul {
    overflow: hidden;
    margin: 30px 0 30px 0;
    border: none;
    border-bottom: 1px solid $grey05;
    padding-top: 0;
    height: auto;

    .arrow {
      display: none;
    }

    li.leaf {
      list-style: none;
      float: left;
      height: 50px;
      padding-top: 12px;
      border: 1px solid transparent;
      margin-right: -2px;
      margin-bottom: -2px;
      text-transform: uppercase;
      width: auto;

      a {
        display: block;
        width: 100%;
        height: 20px;
        border-left: 1px solid $grey05;
        padding-left: 35px;
        padding-right: 36px;
        background: none;
        padding-top: 0;
      }

      a:hover {
        background: none;
      }
    }

    li.leaf.first a {
      border-left: none;
    }

    li.leaf.leaf--active-trail a {
      border-left: none;
      border-right: none;
    }

    li.leaf.leaf--active-trail {
      border: 1px solid #aaa;
      position: relative;
      z-index: 2;

      .c-tab-link,
      li.leaf a {
        border-left: none;
      }
    }

    li.leaf.leaf--active-trail + .leaf a {
      border-left: none;
    }
  }

  .tabs {
    &.vertical {
      width: 20%;
      float: left;
      margin-bottom: 1.25rem;
    }
  }

  .tabs-content {
    &.vertical {
      width: 80%;
      float: left;
      margin-left: -1px;
    }
  }
}

//Filters on taxonomy maj issue page
.vocabulary-majority-issues {
  .views-exposed-form {
    margin-bottom: 20px;
    input {
      margin: 20px 0 3px 0;
    }
    input[type="submit"] {
      margin-bottom: 22px;
    }
    
    .form-actions {
      display: flex;
      align-items: flex-end;
      gap: 20px;
    }
  }
}
