@import '../../global/utils/init';

.c-block.c-container--want-to {
	.c-container--header {
		padding-bottom: 15px;
	}

	.c-container--title {
		font-family: $font-serif-semibold;
		color: $grey08;
		text-transform: none;
		font-size: 32px;
		letter-spacing: normal;
	}

	.c-want-to--item {
		position: relative;
		width: 100%;
		margin: 0 auto;

		.c-want-to--cta {
			margin: 35px 0 20px;
			padding-right: 50px;
			font-family: $font-serif;
			font-size: 16px;
			width: 100%;
			color: $grey08;
			line-height: 1.8;
		}

		.c-block--btn {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			background: $yellow01;
			height: 70px;
			line-height: 1;
			text-align: center;
			font-size: 13px;
			letter-spacing: 2.6px;
			padding-left: 20px;
			text-align: left;
			transition: background-color 0.2s ease;

			&:hover {
				background: $yellow03;
			}

			&::before {
				height: auto;
			}
		}

		.nys-senator--thumb {
			height: 45px;
			width: 46px;
			margin: 0 10px;
		}

		&.c-want-to--item__senator {
			.c-block--btn.loggedin {
				line-height: 1;
				text-align: left;
				padding-left: 0;

				&::before {
					content: '';
					width: 1px;
					height: 100%;
					display: inline-block;
					vertical-align: middle;
				}

				.c-senator--cta {
					display: inline-block;
					vertical-align: middle;
					width: 140px;
					font-size: 12px;
					line-height: 16px;
				}
			}

			.c-block--btn {
				@extend .icon-before__find-senator;
			}
		}

		&.c-want-to--item__explore {
			.c-block--btn {
				@extend .icon-before__search;
			}
		}

		&.c-want-to--item__news {
			.c-block--btn {
				@extend .icon-before__presskit;
			}
		}
	}

	@include breakpoint($bp-sm) {
		margin: 40px 0;

		.c-container--title {
			font-size: 38px;
		}

		.c-want-to--item {
			width: 32%;
			float: left;
			height: 190px;
			margin: 0;
			padding-bottom: 70px;

			& + .c-want-to--item {
				margin-left: 2%;
			}

			.c-want-to--cta {
				margin-top: 25px;
				padding: 0 20px;
				display: inline-block;
				vertical-align: middle;
				font-size: 17px;
				text-align: center;
				line-height: 1.8;
			}

			.c-block--btn {
				position: absolute;
				bottom: 0;
				left: 0;
				padding-left: 0;
				text-align: center;

				&.loggedin {
					text-align: left;
				}
			}
		}
	}
}
