@import '../../global/utils/init';

.nysenate-happening-now {
  border-top: 2px solid #D6D6D6;
  border-bottom: 2px solid #D6D6D6;
  padding: 25px 0;

  &__title {
    font-family: $font-sans;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 25px;
    font-size: 18px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;

    .item-logo {
      height: 350px;
      width: 350px;
      margin-bottom: 20px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .event-name {
      font-family: $font-serif;
      font-size: 40px;
      line-height: 1.175em;
      color: #4E4E4E;
      font-weight: 100;
      margin-bottom: 15px;
    }

    .stream-link {
      display: flex;
      align-items: center;
      font-family: $font-sans;
      text-transform: uppercase;
      text-decoration: none;
      color: $contrast_drk;
      margin-bottom: 15px;

      &:hover {
        text-decoration: underline;
      }

      span {
        line-height: 1;
      }

      svg {
        margin-right: 10px;

        path {
          fill: $orange01;
        }
      }
    }

    .stream-title {
      font-family: $font-sans-bold;
      text-transform: uppercase;
      color: $orange01;
      margin: 0;
    }
  }
}

@include breakpoint($bp-md) {
  .nysenate-happening-now {
    padding: 25px 0 50px;

    &__title {
      font-size: 20px;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      margin: 0 auto;
      gap: 25px;

      .item-logo {
        margin-bottom: 0;
      }
    }
  }
}