// Import site utilities.
@import '../../global/utils/init';

.c-pg-featured-bills {
  max-width: 840px;
  margin: 0 auto;

  .c-block-legislation,
  .c-featured-bills-body {
    flex: 1;
  }

  &.c-block {
    display: flex;
    flex-direction: column;
  }

  .bills-container {
    width: 100%;

    &.c-block--half-wrap {
      width: 50%;
    }
  }
}

.c-block-legislation {
  position: relative;
  border-top: 1px solid $grey05;
  padding: 20px 0 35px;
  margin-bottom: 0;

  .c-block--btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 11;
    display: block;
    overflow: hidden;
    padding-top: 1em;
    text-indent: -99999px;

    &::after {
      content: '\73';
      font-size: 26px;
      line-height: 42px;
      color: $grey05 !important;
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'senate_icons';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
    }
  }
  .c-block {
    &.c-legislation-block {
      margin-bottom: 0;
    }
  }
}

h3.c-bill-num {
  margin: 0 0 0.25em;
  color: $grey02;
  font-family: 'Adelle Bold';
  line-height: 1em;
  font-size: 20px;
  letter-spacing: 0.05em;

  a {
    color: $grey02;
  }
}

.c-bill-descript {
  margin: 0 0 10px 0;
  color: $grey02;
  font-family: 'Adelle Light';
  font-size: 20px;
  line-height: 32px;
}


p.c-bill-update--date {
  display: inline-block;
  margin: 0 0.25em 0 0;
  font-family: $font-sans;
  font-size: 12px;
}

p.c-bill-update--location {
  display: inline-block;
  margin: 0;
  font-family: $font-sans;
  font-size: 12px;
  line-height: 1.4;

  &::before {
    content: '|';
    display: inline-block;
    margin-right: 0.5em;
  }
}

.c-block-legislation-featured {
  p.c-bill-update--location {
    a {
      color: #fff;
      border-bottom: solid 0.05em #fff;
      &:hover {
        border-bottom: none;
      }
    }
  }
}

/*----------------------------------------------
/ BILLS / LEGISLATION -- featured
/---------------------------------------------*/

.c-block {
  &.c-block-legislation-featured {
    padding: 0;
    border: 0;
    margin-bottom: 20px;
    background-color: $gen_blue_lgt;

    .c-block-legislation-featured {
      margin-bottom: 0;
    }

    .c-block--btn-toggle {
      background: transparent;
    }

    .c-bill-num {
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .c-bill-topic {
      color: $contrast_drk;

      .field-name-field-issues {
        padding-bottom: 0px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-size: 12px;
            font-family: $font-sans;

            @media #{$tablet} {
              font-size: 14px;
            }
          }
        }
      }

      a {
        color: #fff;
      }
    }

    .c-bill-descript {
      font-family: $font-sans;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
    }

    .nys-bill-status.nys-bill-status__drk {
      li {
        list-style: none;

        &.passed {
          background: #fff;
        }
      }
    }

    p.c-bill-update--date,
    p.c-bill-update--location {
      color: white;
    }

    .sponsors {
      color: #fff;

      span {
        display: block;
        font-size: 14px;

        &:first-child {
          font-size: 12px;
          margin-top: 20px;
          text-transform: uppercase;
        }
      }
    }

    .nys-senator.sponsor-list {
      width: auto;
    }
  }
}

.c-legislation-info {
  position: relative;
  padding: 30px 20px 130px; // 130 = height of polling + visual padding
  z-index: 3;
  height: 100%;
}

.c-bill-polling {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: initial;
  background-color: $gen_blue_med;

  .c-block--btn {
    text-align: center;

    &::before {
      margin-right: 0.4em;
    }
  }

  .c-block--response {
    padding: 40px 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: $font-sans;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 20px;

    span {
      padding: 4px;
    }
  }

  .nys-bill-vote-form {
    position: relative;
    height: 200px;

    &.nys-bill-vote-form-embedded {
      height: 100%;

      .c-block--btn::before {
        margin-right: 0.1em;
      }
    }

    > div {
      position: relative;
      height: 100%;

      .form-item {
        margin: 0;
      }

      .nys-bill-vote-widget {
        height: 60px;
      }
    }
  }
}

.c-bill-update a {
  font-family: $font-sans;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 0.05em #fff;

  @media #{$tablet} {
    font-size: 14px;
  }
  
  &:hover {
    border-bottom: none;
  }
}


.nys-bill-status--text {
  display: none;
  position: absolute;
  top: -35px;
  bottom: auto;
  left: -50px;
  right: -50px;
  margin: auto;
  height: auto;
  width: 100px;

  color: $grey02;
  text-align: center;
  text-transform: capitalize;
  font-family: $font-sans;
  font-size: 12px;
  line-height: 1.4em;
}


// Color change for a links in associated bill teaser blocks

.trad_blue,
.cont_blue,
.purple,
.trad_red,
.cont_red,
.orange,
.trad_green,
.cont_green {
  .c-block-legislation-featured {
    p.c-bill-update--location {
      display: inline;
      line-height: 1.3;
      a {
        color: #fff;
        border-bottom: solid 0.05em #fff;
        &:hover {
          border-bottom: none;
        }
      }
    }
    p.c-bill-update--date {
      display: inline;
      line-height: 1.3;
    }
  }
}

.c-featured-bills-body {
  h4 {
    font-family: 'Proxima Nova SemiBold';
    font-size: 21px;
    font-style: italic;
    margin: 24px 0 0;
    color: #666666;
  }

  p {
    font-family: 'Adelle Light';
    line-height: 1.5em;
    font-size: 16px;
    margin: 0;

    & + p {
      margin-top: 20px;
    }
  }

  a {
    color: $orange01;
    text-decoration: none;
  }
}

@media #{$tablet} {
  .c-featured-bills-body {
    p {
      font-size: 20px;
      line-height: 32px;

      & + p {
        margin-top: 40px;
      }
    }
  }

  .c-pg-featured-bills {
    .c-block-legislation-featured.c-block--half-wrap {
      margin: 0 24px 28px 0px;
      clear: both;
      width: 100%;
    }

    &.c-block {
      flex-direction: row;
    }
  }
  .c-block {
    &.c-legislation-block {
      margin-bottom: 20px;
    }
  }
  .c-block-legislation {
    // social starts hidden;
    .c-social {
      position: absolute;
      display: block;
      visibility: visible;
      opacity: 1;
      height: 100%;
      width: 40px;
      top: 0;
      left: auto;
      right: 0;
      background: transparent;
      z-index: 1;
      transition: right 0.3s ease;

      .c-social--list {
        top: 0;
        left: auto;
        right: auto;
        height: auto;

        li {
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 0 5px 0;
        }

        a {
          &::after {
            width: 40px;
            text-align: center;
            font-size: 26px;
            color: $blue01;
          }
        }
      }
    }

    // social visible
    &.c-social-visible {
      .c-social {
        right: -40px;
        transition: right 0.3s ease;
      }
    }

    &.c-list-item {
      .c-bill-num {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  h3.c-bill-num {
    font-size: 22px;
  }


  .c-bill-descript {
    margin-bottom: 15px;
  }

  p.c-bill-update--date,
  p.c-bill-update--location,
  .c-bill-update--sponsor {
    font-size: 14px;
  }

  .c-block-legislation-featured {
    &.c-block--half-wrap {
      width: 100%;
      clear: none;
      float: left;
      margin-right: 15px;
      margin-bottom: 0;

      .node-article & {
        width: 100%;
        margin-bottom: 20px;
      }

      .node-press-release & {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .c-bill-num {
      color: #fff;
    }

    .c-bill-topic {
      font-size: 14px;
    }

    .c-bill-descript {
      font-size: 16px;
      line-height: 20px;
    }

    .c-block--btn-toggle {
      background: $grey05;

      &:hover {
        &::after {
          color: $gen_blue_lgt;
        }
      }
    }

    .c-legislation-info {
      // added this to compensate for short bill description
      // with long quote.
      min-height: 480px;
    }
  }

  .c-legislation-info {
    padding: 25px 40px 95px;
    width: 100%;
  }

  .c-bill-polling {
    height: initial;

    .nys-bill-vote-form {
      position: relative;
      height: 200px;
      &.nys-bill-vote-form-embedded {
        height: 95px;
      }

      > div {
        position: relative;
        height: 100%;

        .form-item {
          margin: 0;
        }
        .nys-bill-vote-widget {
          height: 80px;
        }
      }
    }
  }
}

@media #{$desktop} {
  .c-pg-featured-bills {
    .c-block-legislation-featured.c-block--half-wrap {
      margin: 0 24px 28px -60px;
      clear: both;
      width: 100%;
    }
  }
}
