// Import site utilities.
@import '../../global/utils/init';

.c-pg-featured-bills {

  .c-block-legislation,
  .c-featured-bills-body {
    flex: 1;
  }

  &.c-block {
    display: flex;
    flex-direction: column;
  }

  .bills-container {
    width: 100%;
  }
}

.c-featured-bills-body {
  h4 {
    font-family: $font-sans-bold;
    font-size: 21px;
    font-style: italic;
    margin: 24px 0 0;
    color: $grey03;
  }

  p {
    font-family: $font-serif;
    line-height: 1.5em;
    font-size: 16px;
    margin: 0;

    & + p {
      margin-top: 20px;
    }
  }

  a {
    color: $orange01;
    text-decoration: none;
  }
}

@include breakpoint($bp-sm) {
  .c-featured-bills-body {
    p {
      font-size: 20px;
      line-height: 32px;

      & + p {
        margin-top: 40px;
      }
    }
  }

  .c-pg-featured-bills {

    .c-block-legislation-featured.c-block--half-wrap {
      margin: 0 24px 28px 0px;
      clear: both;
      width: 100%;
    }

    &.c-block {
      flex-direction: row;
    }
  }
}

@include breakpoint($bp-md) {
  .c-pg-featured-bills {

    .bills-container {
  
      &.c-block--half-wrap {
        width: 50%;
      }
    }
    
    .c-block-legislation-featured.c-block--half-wrap {
      margin: 0 24px 28px -60px;
      clear: both;
      width: 100%;
    }
  }
}
