.nys-senators-management-dashboard-petitions {
  min-height: 40rem;
}

/***************
 * for tabs
 */
.nys-senators-management-dashboard-petitions ul.tabs {
  border-bottom: 1px solid lightgray;
  font-size: 0;
  margin-bottom: 0.5rem;
}
.nys-senators-management-dashboard-petitions ul.tabs li.tab {
  border: 2px solid lightgray;
  border-bottom: 0 none;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  cursor: pointer;
  padding: 0.3em 0.8em;
  margin: 0 -1px 0 0;
}
.nys-senators-management-dashboard-petitions ul.tabs li.tab.active,
.nys-senators-management-dashboard-petitions ul.tabs li.tab:hover {
  background-color: rgb(0, 41, 79);
  border-color: darkblue;
  color: #fff;
}
.nys-senators-management-dashboard-petitions .tab-content {
  display: none;
}
.nys-senators-management-dashboard-petitions .tab-content.active {
  display: block;
}
.nys-senators-management-dashboard-petitions .l-tab-bar {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .nys-senators-management-dashboard-petitions .l-tab-bar .c-tab {
    width: 50%;
  }
}

/***************
 * to mimic D7 tables
 */
.nys-senators-management-dashboard-petitions table {
  background: #fff;
  margin-bottom: 1.25rem;
  border: solid 1px #ddd;
  table-layout: auto;
}
.nys-senators-management-dashboard-petitions table thead {
  background: #f5f5f5;
}
.nys-senators-management-dashboard-petitions table thead tr th,
.nys-senators-management-dashboard-petitions table tfoot tr th,
.nys-senators-management-dashboard-petitions table tfoot tr td,
.nys-senators-management-dashboard-petitions table tbody tr th,
.nys-senators-management-dashboard-petitions table tbody tr td,
.nys-senators-management-dashboard-petitions table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.nys-senators-management-dashboard-petitions table thead tr th,
.nys-senators-management-dashboard-petitions table thead tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #222;
  text-align: left;
}
.nys-senators-management-dashboard-petitions tbody {
  border-top: 1px solid #ccc;
}
.nys-senators-management-dashboard-petitions tr.even,
.nys-senators-management-dashboard-petitions tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
.nys-senators-management-dashboard-petitions tr.even {
  background-color: #f9f9f9;
}
.nys-senators-management-dashboard-petitions table thead tr th {
  padding: .5em 1em;
}
.nys-senators-management-dashboard-petitions table tbody tr td {
  padding: .5em 1em;
  height: auto;
}
.nys-senators-management-dashboard-petitions a {
  color: #008cba;
}

/***********
 * Your Petitions
 */
.your-petitions-list {
  max-height: 290px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 1em 0;
  vertical-align: middle;
}
.sponsored-petition {
  display: inline-block;
  position: relative;
  min-width: 30%;
  max-width: 48%;
  max-height: 15.625em;
  height: 15.625em;
  line-height: 15.625em;
  vertical-align: middle;
  padding-top: 1em;
  margin-right: 1em;
  border: 2px solid #04a9c5;
  border-radius: 1.4em;
  text-align: center;
}
.sponsored-petition:hover {
  border-color: darkblue;
}
.petition-signature-chart {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1.4em;
  margin-top: -0.9em;
}
.petition-user-list {
  margin-top: 2em;
  max-height: 30em;
  overflow-y: scroll;
}

.other-petitions-list {
  max-height: 25em;
  overflow-y: scroll;
}

.petition-signature-data .entry-title,
.petition-signature-data .author a {
  color: #008cba;
}
.petition-signature-data .entry-title,
.petition-signature-data .pet-type {
  font-family: "Proxima Nova SemiBold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.petition-signature-data .pet-type a {
  font-size: 12px;
  line-height: 18px;
  color: #cb8d37;
}
.petition-signature-data .author {
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin: 15px 0 4px 0;
}

@media screen and (max-width: 767px) {
  .sponsored-petition {
    max-width: none;
  }
}

@media screen and (min-width: 1024px) {
  .petition-signature-data .entry-title {
    font-size: 18px;
    line-height: 24px;
  }
  .petition-signature-data .pet-type {
    font-size: 12px;
    line-height: 18px;
  }
  .petition-signature-data .author {
    font-size: 14px;
  }
}
