<svg xmlns='http://www.w3.org/2000/svg'>
  <symbol id='arrow' viewbox='0 0 24 24'>
    <title>Arrow</title>
    <path fill='inherit' d='M14.8 6.5c-.2-.2-.6-.2-.8 0-.2.2-.2.6 0 .8l4.1 4.1H4.6c-.4 0-.6.3-.6.6s.2.6.6.6h13.5l-4.1 4c-.2.2-.2.6 0 .8.2.2.6.2.8 0l5.1-5.1c.2-.2.2-.6 0-.8l-5.1-5z'/>
  </symbol>
</svg>
