<div class="page-user-dashboard">
  <div class="page">
    <header id="js-sticky--dashboard" role="banner" class="l-header l-header__collapsed ">
      <section class="block block-nys-blocks contextual-links-region block-nys-blocks-user-dashboard-hdr header">
        <section class="l-header-region l-row l-row--nav c-header-bar">
          <h1 class="c-page-title">{{ dashboard_display_name }} Dashboard</h1>
          <div class="c-header--connect">
            <a class="c-dashboard-header--btn" href="/">NYSenate.gov</a>
            <button class="c-block--btn icon-replace sidebar-toggle sidebar-toggle--show-icon c-nav--toggle"></button>
          </div>
        </section>
      </section>
    </header>
    <div class="dashboard">
      <div class="content">

        {% if content %}
          {{ content }}
        {% endif %}

        {% if dashboard_lists %}
          {% include "@nysenate_theme/dashboard-lists/dashboard-lists.twig" with dashboard_lists only %}
        {% endif %}

        {% if petitions_questionnaires %}
          {% include "@nysenate_theme/dashboard-petitions-questionnaires/dashboard-petitions-questionnaires.twig" with petitions_questionnaires only %}
        {% endif %}

        {% if dashboard_profile_edit %}
          {% include "@nysenate_theme/dashboard-profile-edit/dashboard-profile-edit.twig" with dashboard_profile_edit %}
        {% endif %}

        {% if dashboard_profile %}
          {% include "@nysenate_theme/dashboard-profile/dashboard-profile.twig" with dashboard_profile %}
        {% endif %}

      </div>
      {% include "@nysenate_theme/sidebar/sidebar.twig" with sidebar only %}
    </div>
  </div>

</div>
