@import '../../global/utils/init';

body.path-my-dashboard {
  // My Dashboard actionbar block styling.
  #block-dashboardactionbar {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 9%;
    background-color: $gen_blue_drk;
    padding-top: 100px;

    @include breakpoint($bp-under-md) {
      padding-top: 20px;
    }

    h1 {
      font-size: 40px;
      font-weight: 300;
      font-family: 'Adelle Light';
      color: white;
      margin: 0;
    }

    p {
      font-size: 16px;
      color: white;
      padding: 15px 0 30px;
      margin: 0;
    }
  }

  // My Dashboard Updates from your senator styling.
  #block-views-block-updates-from-my-senator-updates-from-my-senator {
    margin: 0 auto;
    max-width: 1500px;
    padding: 40px 9%;
    background-color: #F2F2F2;
    border-bottom: #E0E0E0 2px solid;
    overflow: hidden;

    .view-updates-from-my-senator > .view-header {
      float: left;
      width: 22%;

      @include breakpoint($bp-under-md) {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
      }

      .field--name-field-image {
        border-radius: 50%;
        overflow: hidden;
        height: 120px;
        width: 120px;
        margin-bottom: 15px;

        @include breakpoint($bp-under-md) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .views-field-field-senator-name {
        .views-label-field-senator-name {
          color: $grey08;
          text-transform: uppercase;
          font-family: $font-sans;
          font-size: 14px;
        }

        a {
          color: $blue01;
          text-decoration: underline;
          font-family: 'Adelle Light';
          font-size: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .view-updates-from-my-senator > .view-content {
      float: left;
      width: 78%;

      @include breakpoint($bp-under-md) {
        width: 100%;
      }

      .views-row {
        width: 50%;
        float: left;

        @include breakpoint($bp-under-md) {
          width: 100%;
        }

        .node--view-mode-my-dashboard-teaser {
          padding: 0 0 0 20px;
          min-height: auto;
          border-top: none;

          .c-my-dashboard--extras {
            display: none;
          }
        }
      }
    }
  }

  // Expand main region to make room for sidebar filters.
  main {
    max-width: 1500px;
    padding-top: 40px;

    .view-my-dashboard {
      margin-right: 60px;
    }

    @include breakpoint($bp-under-md) {
      padding-top: 20px;

      .region-content, .layout-content {
        margin: 0;
        padding: 0;
        max-width: 100%;
      }

      .view-my-dashboard {
        margin-right: 0;
      }
    }
  }

  // My Dashboard exposed filter styling.
  #block-exposed-form-my-dashboard-main {
    margin-left: 40px;

    @include breakpoint($bp-under-md) {
      margin-left: 0;
    }

    @include breakpoint($bp-under-sm) {
      margin-bottom: 20px;

      .container {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }

    h2 {
      color: $grey08;
      text-transform: uppercase;
      font-family: $font-sans;
      font-size: 14px;
      position: relative;

      @include breakpoint($bp-under-sm) {
        cursor: pointer;
        padding: 20px;
        border: 1px solid $grey04;
        margin: 0;

        &:after {
          position: absolute;
          right: 16px;
          top: 13px;
          font-size: 25px;
          color: #2b6990;
          pointer-events: none;
          cursor: pointer;
          content: '\65';
          font-family: 'senate_icons';
          display: inline-block;
          vertical-align: middle;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          padding-left: 3px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &.active:after {
          content: '\5e';
        }
      }
    }

    #views-exposed-form-my-dashboard-main {
      .form-item {
        width: 100%;
        margin: 10px 0 5px 0;

        input, select {
          margin-bottom: 0;
        }

        &.form-item-your-senator-filter {
          margin: 30px 5px;
          position: relative;

          @include breakpoint($bp-under-md) {
            max-width: 240px;
          }

          label {
            position: absolute;
            top: -10px;
            left: 24px;
            font-size: 15px;
            line-height: 20px;
            color: $blue01;
          }
        }
      }

      .form-actions {
        input {
          width: 100%;
          margin: 0 0 20px;

          &#edit-submit-my-dashboard--2 {
            background-color: $gen_blue_lgt;
            border-color: $gen_blue_lgt;
            color: white;
          }

          &#edit-reset--2 {
            background-color: white;
            border-color: $gen_blue_lgt;
            color: $gen_blue_lgt;

            @include breakpoint($bp-under-sm) {
              margin: 0;
            }
          }

          &#edit-submit-my-dashboard--2:hover, &#edit-reset--2:hover {
            background-color: white;
            border-color: $gen_blue_drk;
            color: $gen_blue_drk;
          }
        }

        @include breakpoint($bp-under-sm) {
          margin-bottom: 0;
        }
      }

      @include breakpoint($bp-under-sm) {
        padding: 10px 20px 20px;
        border: 1px solid $grey04;
        border-top: none;
        margin: 0;
      }
    }

    @include breakpoint($bp-md) {
      &.sticky-filter {
        position: fixed;
        top: 120px;
      }

      &.sticky-filter-bottom {
        position: absolute;
        top: auto;
        bottom: 0;
      }
    }
  }

  // My Dashboard view pagination styling.
  .view-my-dashboard {
    .view-header, .view-header-pager {
      width: 50%;
      float: left;

      @include breakpoint($bp-under-sm) {
        width: 100%;
        text-align: center;
      }
    }

    .view-header {
      font-size: 14px;
      font-style: italic;
    }

    .pager a {
      font-size: 14px;
      color: $blue01;

      &:hover {
        text-decoration: underline;
      }
    }

    .view-header-pager .pager__items {
      padding: 0;
      margin: 0;
      text-align: right;

      @include breakpoint($bp-under-sm) {
        text-align: center;
      }
    }

    .view-content {
      padding-top: 20px;
      clear: both;
    }

    .view-footer-pager {
      border-top: 1px solid $grey04;
    }
  }

  // Flip order of sidebar and main content on mobile.
  @include breakpoint($bp-under-sm) {
    .two-col-layout {
      .region-content {
        order: 2;
      }

      .layout-sidebar-right {
        order: 1;
        padding: 0;
      }
    }
  }
}
