@import '../../global/utils/init';

body.path-my-dashboard {
  // My Dashboard actionbar block styling.
  .block-dashboard-action-bar {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 150px;
    background-color: $gen_blue_drk;
    padding-top: 100px;

    @include breakpoint($bp-under-md) {
      padding: 20px 9% 0;
    }

    h1.dashboard-action-bar-heading {
      font-size: 40px;
      font-weight: 300;
      font-family: $font-serif;
      color: white;
      margin: 0;
    }

    p.dashboard-action-bar-subheading {
      font-size: 16px;
      color: white;
      padding: 15px 0 30px;
      margin: 0;
    }

    a.dashboard-action-bar-link {
      position: absolute;
      bottom: 30px;
      right: 150px;
      color: white;
      padding: 9px 12px 6px 33px;
      background-color: rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 700;
      font-size: 15px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      @include breakpoint($bp-under-md) {
        display: none;
      }

      i {
        position: absolute;
        top: 13px;
        left: 12px;
      }
    }
  }

  // My Dashboard Updates from your senator styling.
  #block-views-block-updates-from-my-senator-updates-from-my-senator {
    margin: 0 auto;
    max-width: 1500px;
    padding: 40px 9%;
    background-color: #F2F2F2;
    border-bottom: #E0E0E0 2px solid;
    overflow: hidden;

    .view-updates-from-my-senator > .view-header {
      float: left;
      width: 22%;

      @include breakpoint($bp-under-md) {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
      }

      .field--name-field-image {
        border-radius: 50%;
        overflow: hidden;
        height: 120px;
        width: 120px;
        margin-bottom: 15px;

        @include breakpoint($bp-under-md) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .views-field-field-senator-name {
        .views-label-field-senator-name {
          color: $grey08;
          text-transform: uppercase;
          font-family: $font-sans;
          font-size: 14px;
        }

        a {
          color: $blue01;
          text-decoration: underline;
          font-family: $font-serif;
          font-size: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .view-updates-from-my-senator > .view-content {
      float: left;
      width: 78%;

      @include breakpoint($bp-under-md) {
        width: 100%;
      }

      .views-row {
        width: 50%;
        float: left;

        @include breakpoint($bp-under-md) {
          width: 100%;
        }

        .node--view-mode-my-dashboard-teaser {
          padding: 0 0 0 20px;
          min-height: auto;
          border-top: none;

          .c-my-dashboard--extras {
            display: none;
          }
        }
      }
    }
  }

  // Expand main region to make room for sidebar filters.
  main {
    max-width: 1300px;
    padding-top: 40px;

    .view-my-dashboard {
      margin: 0 60px 60px 0;
    }

    @include breakpoint($bp-under-md) {
      padding-top: 20px;

      .region-content, .layout-content {
        margin: 0;
        padding: 0;
        max-width: 100%;
      }

      .view-my-dashboard {
        margin-right: 0;
      }
    }
  }

  // My Dashboard exposed filter styling.
  #block-exposed-form-my-dashboard-main {
    padding-left: 40px;

    @include breakpoint($bp-under-md) {
      padding-left: 0;
    }

    @include breakpoint($bp-under-sm) {
      margin-bottom: 20px;

      .container {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }

    h2 {
      color: $grey08;
      text-transform: uppercase;
      font-family: $font-sans;
      font-size: 14px;
      position: relative;

      @include breakpoint($bp-under-sm) {
        cursor: pointer;
        padding: 20px;
        border: 1px solid $grey04;
        margin: 0;

        &:after {
          position: absolute;
          right: 16px;
          top: 13px;
          font-size: 25px;
          color: #2b6990;
          pointer-events: none;
          cursor: pointer;
          content: '\65';
          font-family: $senate-icons;
          display: inline-block;
          vertical-align: middle;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          padding-left: 3px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &.active:after {
          content: '\5e';
        }
      }
    }

    #views-exposed-form-my-dashboard-main {
      .form-item {
        width: 100%;
        margin: 10px 0 5px 0;

        input, select {
          margin-bottom: 0;
        }

        &.form-item-your-senator-filter {
          margin: 20px 5px 30px;
          position: relative;

          @include breakpoint($bp-under-md) {
            max-width: 240px;
          }

          label {
            position: absolute;
            top: 0;
            left: 24px;
            font-size: 15px;
            line-height: 20px;
            color: $blue01;
          }
        }
      }

      .form-actions {
        input {
          width: 100%;
          margin: 0 0 20px;

          &#edit-submit-my-dashboard--2 {
            background-color: $gen_blue_lgt;
            border-color: $gen_blue_lgt;
            color: white;
          }

          &[id^=edit-reset] {
            background-color: white;
            border-color: $gen_blue_lgt;
            color: $gen_blue_lgt;

            @include breakpoint($bp-under-sm) {
              margin: 0;
            }
          }

          &[id^=edit-submit]:hover, &[id^=edit-reset]:hover {
            background-color: white;
            border-color: $gen_blue_drk;
            color: $gen_blue_drk;
          }
        }

        @include breakpoint($bp-under-sm) {
          margin-bottom: 0;
        }
      }

      @include breakpoint($bp-under-sm) {
        padding: 10px 20px 20px;
        border: 1px solid $grey04;
        border-top: none;
        margin: 0;
      }
    }

    @include breakpoint($bp-md) {
      &.sticky-filter {
        position: fixed;
      }

      &.sticky-filter-bottom {
        position: absolute;
        top: auto !important;
        bottom: 0;
      }
    }
  }

  // My Dashboard view pagination styling.
  .view-my-dashboard {
    .view-header, .view-header-pager {
      float: left;

      @include breakpoint($bp-under-sm) {
        width: 100%;
        text-align: center;
      }
    }

    .view-header {
      width: 30%;
      font-size: 14px;
      font-style: italic;
    }

    .pager a {
      font-size: 14px;
      color: $blue01;

      &:hover {
        text-decoration: underline;
      }
    }

    .view-header-pager {
      width: 70%;

      .pager__items {
        padding: 0;
        margin: 0;
        text-align: right;

        @include breakpoint($bp-under-sm) {
          text-align: center;
        }
      }
    }

    .view-content {
      padding-top: 20px;
      clear: both;
    }

    .view-footer-pager {
      border-top: 1px solid $grey04;
    }
  }

  // Flip order of sidebar and main content on mobile.
  @include breakpoint($bp-under-sm) {
    .two-col-layout {
      .region-content {
        order: 2;
      }

      .layout-sidebar-right {
        order: 1;
        padding: 0;
      }
    }
  }

  // Manage Dashboard form styling.
  #nys-dashboard-manage-dashboard {
    margin-bottom: 60px;

    @include breakpoint($bp-under-md) {
      margin: 0 10px 60px;
    }

    .form-item-type-filter {
      width: 240px;
      margin: 10px 0 0;

      #edit-type-filter {
        margin-bottom: 20px;
      }
    }

    #followed-types-fieldset-wrapper {
      clear: both;

      & > fieldset.form-wrapper {
        border: none;
        margin: 0;
        padding: 0;

        legend {
          font-family: $font-serif-regular;
          font-size: 20px;
          line-height: 30px;
        }

        .fieldgroup {
          margin-bottom: 20px;

          .description {
            font-size: 15px;
            font-style: italic;

            a.uncheck-all-link {
              font-size: 14px;
              font-style: normal;
              font-family: $font-sans;
              color: $blue01;
              font-weight: 700;
              line-height: 40px;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .form-type-checkbox {
            float: left;
            margin: 4px;
            padding: 4px 8px 4px 31px;
            background-color: #F2F2F2;
            position: relative;

            label {
              color: $gen_blue_lgt;
              text-transform: none;
            }

            input {
              accent-color: $gen_blue_lgt;
              position: absolute;
              top: 11px;
              left: 10px;
            }
          }
        }
      }
    }
  }

}
