// Provide default spacing for Rain paragraphs.
body {
  .block-content--type-text,
  .node__body {
		margin: 0;
		padding: 0;
	
		p {
			font-family: 'Muli-Regular', sans-serif;
			font-size: 1.1rem;
			line-height: 1.5;
			color: $color-black;
	
			@include breakpoint($bp-sm) {
				font-size: 1.2rem;
			}
	
			@include breakpoint($bp-lg) {
				font-size: 1.5rem;
			}
		}

    ul,
    ol {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0px;
    }
  }

  .block-content--type-embed,
  .block-content--type-form,
  .block-content--type-map,
  .block-content--type-views,
  .block-content--type-accordion,
  .block-content--type-quote,
  .block-content--type-media,
  .block-content--type-gallery,
  .block-content--type-gallery-carousel,
  .block-content--type-hero,
  .block-content--type-slider,
  .block-content--type-card-list,
  .block-content--type-breaker,
  .block-content--type-card {
    margin-bottom: 50px;

    .paragraph--type--card {
      margin-bottom: 0;
    }
  }

  .block-content--type-gallery {
    padding: 0 1.5rem;
  }
}

.block-content--type-quote-carousel {
  margin-bottom: -100px;

  .paragraph--type--quote {
    margin-bottom: 0;
  }
}

.c-block {
	display: block;
	position: relative;
	margin-bottom: 20px;
	zoom: 1;
	clear: both;

	&::after {
		content: '';
		display: table;
		clear: both;
	}

  @include breakpoint($bp-sm) {
    margin-bottom: 60px;
  }
}

.c-block--btn {
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	font-family: $font-sans-bold;
	letter-spacing: 0.2em;

	font-size: 12px;
	line-height: 60px;
	height: 60px;

	&::before {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		margin-right: 0.1em;
		font-size: 32px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		line-height: 1.5em;

		a{
			color: $color-white;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&:hover {
		color: $color-white;
	}

  @include breakpoint($bp-sm) {
		height: 80px;
		font-size: 15px;
		line-height: 80px;
		
    .flag-success-message {
			top: 80px;
			left: auto;
			right: 0;
			padding: 20px 30px;

			font-size: 14px;
			line-height: 14px;

			&::before {
				font-size: 24px;
			}
		}	
  }
}
