// Provide default spacing for Rain paragraphs.
body {
  .block-content--type-text,
  .node__body {
		margin: 0;
		padding: 0;
	
		p {
			font-family: $font-serif;
			line-height: 1.5em;
			color: $grey03;
			font-size: 16px;
			line-height: 24px;
			margin-top: 18px;
			margin-bottom: 18px;
	
			&:first-child {
				margin-top: 3px;
			}
	
			&:last-child {
				margin-bottom: 24px;
			}
	
			@include breakpoint($bp-sm) {
				font-size: 20px;
				line-height: 32px;
			}
		}

		ul {
			list-style-position: outside;
			margin-bottom: 20px;
			margin-top: 20px;
      padding: 0;
		}
	
		ol {
			margin-bottom: 20px;
			margin-top: 20px;
      padding: 0;
		}
  }

  .block-content--type-embed,
  .block-content--type-form,
  .block-content--type-map,
  .block-content--type-views,
  .block-content--type-accordion,
  .block-content--type-quote,
  .block-content--type-media,
  .block-content--type-gallery,
  .block-content--type-gallery-carousel,
  .block-content--type-hero,
  .block-content--type-slider,
  .block-content--type-card-list,
  .block-content--type-breaker,
  .block-content--type-card {
    margin-bottom: 50px;

    .paragraph--type--card {
      margin-bottom: 0;
    }
  }

  .block-content--type-gallery {
    padding: 0 1.5rem;
  }
}

.block-content--type-quote-carousel {
  margin-bottom: -100px;

  .paragraph--type--quote {
    margin-bottom: 0;
  }
}

.c-block {
	display: block;
	position: relative;
	margin-bottom: 20px;
	zoom: 1;
	clear: both;

	@include breakpoint($bp-sm) {
    margin-bottom: 60px;
  }

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	ul {
		list-style-position: outside;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	ol {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	p {
		font-family: $font-serif;
    line-height: 1.5em;
    color: $grey03;
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 18px;

    &:first-child {
      margin-top: 3px;
    }

    &:last-child {
      margin-bottom: 24px;
    }

    @include breakpoint($bp-sm) {
      font-size: 20px;
      line-height: 32px;
    }
	}
}

.c-block-legislation {
  position: relative;
  border-top: 1px solid $grey05;
  padding: 20px 0 35px;
  margin-bottom: 0;
  overflow: visible;

  .c-block {

    &.c-legislation-block {
      margin-bottom: 0;
    }
  }

  .c-block--btn-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 11;
    background: transparent;
	  text-indent: -99999px;

    &::after {
      font-size: 26px;
      line-height: 42px;
      color: $grey05 !important;
    }
  }
} 

@include breakpoint($bp-sm) {
  .c-block-legislation .c-block--btn-toggle {
		height: 42px;
		width: 42px;
		padding-left: 0.2em;
	}

  .c-block.c-block-legislation-featured .c-block--btn-toggle {
    background: transparent;
    border: 0;
  }
}

/*-------------------------------------
/ TOGGLE BUTTON
/-------------------------------------*/
.c-block--btn-toggle {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: auto;
  height: 42px;
  width: 42px;
  @extend .icon-replace__minus;

  @include breakpoint($bp-sm) {
    padding-left: 0.2em;
  }

  &::after {
    width: 100%;
    height: 100%;
    padding-left: 0.1em;
    text-align: center;
    line-height: 42px;
    font-size: 26px;
  }
}

.c-block__collapsed {
  .c-block--btn-toggle {
    position: absolute;
    height: 42px;
    width: 42px;
    @extend .icon-replace__plus;

    &::after {
      font-size: 26px;
      line-height: 42px;
    }
  }
}

.c-block--social{
	margin-top: 20px;
	margin-bottom: 40px;
}

.c-block--btn {
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	font-family: $font-sans-bold;
	letter-spacing: 0.2em;

	font-size: 12px;
	line-height: 60px;
	height: 60px;

	&::before {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		margin-right: 0.1em;
		font-size: 32px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		line-height: 1.5em;

		a{
			color: $color-white;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&:hover {
		color: $color-white;
	}

  @include breakpoint($bp-sm) {
		height: 80px;
		font-size: 15px;
		line-height: 80px;
		
    .flag-success-message {
			top: 80px;
			left: auto;
			right: 0;
			padding: 20px 30px;

			font-size: 14px;
			line-height: 14px;

			&::before {
				font-size: 24px;
			}
		}	
  }
}
