// Provide default spacing for Rain paragraphs.
body {
  .block-content--type-text,
  .node__body {
		margin: 0;
		padding: 0!important;

		p {
			font-family: $font-serif;
			line-height: 1.5em;
			color: $grey03;
			font-size: 16px;
			line-height: 24px;
			margin-top: 18px;
			margin-bottom: 18px;

			&:first-child {
				margin-top: 3px;
			}

			&:last-child {
				margin-bottom: 24px;
			}

			@include breakpoint($bp-sm) {
				font-size: 20px;
				line-height: 32px;
			}
		}

		ul {
			list-style-position: outside;
			margin-bottom: 20px;
			margin-top: 20px;
            padding: 0;
          &.nys-bill-status {
            padding: 0;
          }
		}

		ol {
			margin-bottom: 20px;
			margin-top: 20px;
            padding: 0;
		}
  }

  .block-content--type-embed,
  .block-content--type-form,
  .block-content--type-map,
  .block-content--type-views,
  .block-content--type-accordion,
  .block-content--type-quote,
  .block-content--type-media,
  .block-content--type-gallery,
  .block-content--type-gallery-carousel,
  .block-content--type-hero,
  .block-content--type-slider,
  .block-content--type-card-list,
  .block-content--type-breaker,
  .block-content--type-card {
    margin-bottom: 50px;

    .paragraph--type--card {
      margin-bottom: 0;
    }
  }

  .block-content--type-gallery {
    padding: 0 1.5rem;
  }
}

.block-content--type-quote-carousel {
  margin-bottom: -100px;

  .paragraph--type--quote {
    margin-bottom: 0;
  }
}

.block-content--type-senator-committees {
  margin-top: -50px;
}

.c-block {
	display: block;
	position: relative;
	margin-bottom: 20px;
	zoom: 1;
	clear: both;

	@include breakpoint($bp-sm) {
    margin-bottom: 60px;
  }

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	ul {
		list-style-position: outside;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	ol {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	p {
		font-family: $font-serif;
        line-height: 1.5em;
        color: $grey03;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        @include breakpoint($bp-sm) {
          font-size: 20px;
          line-height: 32px;
        }
	}

  a {
    @extend .link-text;
  }

  p + p {
    margin-top: 20px;

    @include breakpoint($bp-sm) {
      margin-top: 40px;
    }
  }

  h2.pg-subtitle {
      font-family: $font-serif;
      font-size: 30px;
      color: #444444;
  }
}

.c-block .c-img--caption {
  margin: 0;
  padding: 10px 20px 10px;
  background: $grey06;
  color: $grey08;
  font-family: $font-sans;
  @include font(12 18);

  &:last-child {
    margin: 0;
  }
}

.c-block-legislation {
  position: relative;
  border-top: 1px solid $grey05;
  padding: 20px 0 35px;
  margin-bottom: 0;
  overflow: visible;

  .c-block {

    &.c-legislation-block {
      margin-bottom: 0;
    }
  }

  .c-block--btn-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 11;
    background: transparent;
	  text-indent: -99999px;

    &::after {
      font-size: 26px;
      line-height: 42px;
      color: $grey05 !important;
    }
  }
}



@include breakpoint($bp-sm) {
  .c-block-legislation .c-block--btn-toggle {
		height: 42px;
		width: 42px;
		padding-left: 0.2em;
	}

  .c-block.c-block-legislation-featured .c-block--btn-toggle {
    background: transparent;
    border: 0;
  }
}

/*-------------------------------------
/ TOGGLE BUTTON
/-------------------------------------*/
.c-block--btn-toggle {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: auto;
  height: 42px;
  width: 42px;
  @extend .icon-replace__minus;

  @include breakpoint($bp-sm) {
    padding-left: 0.2em;
  }

  &::after {
    width: 100%;
    height: 100%;
    padding-left: 0.1em;
    text-align: center;
    line-height: 42px;
    font-size: 26px;
  }
}

.c-block__collapsed {
  .c-block--btn-toggle {
    position: absolute;
    height: 42px;
    width: 42px;
    @extend .icon-replace__plus;

    &::after {
      font-size: 26px;
      line-height: 42px;
    }
  }
}

.c-block--social{
	margin-top: 20px;
	margin-bottom: 40px;

  @include breakpoint($bp-sm) {
    margin-bottom: 60px;
  }
}

.c-block--btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	font-family: $font-sans-bold;
	letter-spacing: 0.2em;

	font-size: 12px;
	line-height: 60px;
	height: 60px;

	&::before {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		margin-right: 0.1em;
		font-size: 32px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		line-height: 1.5em;

		a {
			color: $color-white;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&:hover {
		color: $color-white;
	}

  @include breakpoint($bp-sm) {
		height: 80px;
		font-size: 15px;
		line-height: 80px;

    .flag-success-message {
			top: 80px;
			left: auto;
			right: 0;
			padding: 20px 30px;

			font-size: 14px;
			line-height: 14px;

			&::before {
				font-size: 24px;
			}
		}
  }
}

/*-------------------------------------
/ How Bill Becomes a Law Block
/-------------------------------------*/

.c-senate-works-container {
  padding-bottom: 60px;
  background-color: $grey06;

  .c-container--header {
    position: static;
    padding: 25px 0 0 25px;
    border: none;
  }
  .c-container--link {
    bottom: 0;
    top: auto;
    width: 100%;
    height: 60px;
    padding: 23px 0 23px 25px;
    color: $grey02;
    background-color: #EAEAEA;
    //@extend .icon-before__arrow;

    &::before {
      font-size: 17px;
      margin-top: -2px;
      line-height: 12px;
    }

    &::after {
      display: none;
    }
  }
  .c-carousel--btn {
    top: -50px;
  }
  .c-carousel {
    width: 500%;
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
  }
  .c-carousel--item {
    width: 20%; // five elements - percentage width of whole carousel
    margin: 0;
    float: left;
  }
}
.c-senate-works--illustration {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: $yellow01;
  border-radius: 50%;

  text-align: center;
  font-family: $font-serif-regular;
  color: #fff;
  font-size: 16px;
  line-height: 1.3em;

  > span {
    position: absolute;
    z-index: 3;
    display: block;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  &.illustration--write {
    @extend .icon-before__petition;
  }
  &.illustration--propose {
    @extend .icon-before__comment;
  }
  &.illustration--committee-votes {
    @extend .icon-before__committee-confirm;

    &::before {
      left: 0.3em;
      font-size: 42px;
    }
  }
  &.illustration--floor-votes {
    @extend .icon-before__home;

    &::before {
      left: 0.2em;
      font-size: 42px;
    }
  }
  &.illustration--passed {
    @extend .icon-before__check;
  }
  &::before {
    font-family: $senate-icons;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 36px;
  }
}
p.c-senate-works-step-description {
  margin: 25px 0 20px 0;
  line-height: 100%;
  text-align: center;
  @include font-stack-secondary;
  font-size: 13px;
  color: $grey02;
  line-height: 16px !important;
}


@media #{$tablet} {
  .c-senate-works-container {
    background: none;
    padding-bottom: 0;
    margin-top: 80px;

    .c-container--header {
      padding: 0 0 20px 0;
      border-bottom: 1px solid $grey05;
    }
    .c-container--link {
      top: 0;
      bottom: auto;
      width: auto;
      height: auto;
      padding: 0;
      color: $orange01;
      background-color: transparent;

      &::before {
        display: none;
      }
      &::after {
        display: inline-block;
      }
    }
    .c-carousel {
      width: 100%;
      margin: 0;
    }
    .c-carousel--item {
      margin: 40px 2.58% 40px 2.58%;
      width: 15.7%;
      max-width: 120px;

      &.l-first {
        margin-left: 0;
      }

      &.l-last {
        margin-right: 0;

        .c-senate-works--illustration {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .c-senate-works--illustration {
    width: 110px;
    height: 110px;
    overflow: visible;

    &::before {
      top: -0.1em;
    }
    // TRIANGLE!!
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: -15px;
      margin: auto;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;

      border-left: 30px solid $yellow01;
    }
  }

  .c-senate-works-step-description {
    line-height: 16px;
  }
  &.c-senate-works-container--law {
    .c-senate-works-step-description {
      font-size: 14px;
      @include font-stack-secondary;
    }
  }
  &.c-senate-works-container--budget {
    .c-senate-works-step-description {
      font-size: 13px;
      @include font-stack-secondary;
    }
  }
}

// SEPERATE THESE
.l-carousel-outer {
  position: relative;

  .l-carousel-inner {
    width: 120px;
    margin: 0 auto;
    height: 270px;
    overflow: hidden;
    position: relative;

    .mobile-carousel {
      position: absolute;
      top: 0;
      width: 760px;
    }

  }

  .arrow {
    position: absolute;
    top: 29%;
    cursor: pointer;
    color: #aaa;
    font-family: $font-sans-bold;
    font-size: 26px;
  }
  .left-arrow { left: 15px; }
  .right-arrow { right: 15px; }
}

@media #{$tablet} {
  .l-carousel-outer {
    .l-carousel-inner {
      width: 100%;
      margin: 0;
      .mobile-carousel {
        position: static;
      }
    }
    .arrow {
      display: none;
    }
  }
}

//stats

.c-stats--container {
  background-color: $yellow01;
  padding-bottom: 35px;
  position: relative;
  display: block;
  overflow: hidden;

  .c-container--header {
    border: 0;
  }

  .c-container--title {
    padding: 25px 10px 0 10px;
    font-family: $font-serif;
    color: $color-white;
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
  }

  &.c-quick-facts--container,
  &.c-senate-quick-facts--container {
    .c-container--title {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .c-carousel--btn {
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    width: 45px;
    background: transparent;

    &:hover {
      background: transparent;
    }

    &.prev {
      left: 0;
      @extend .icon-replace__left;
    }

    &.next {
      right: 0;
      @extend .icon-replace__right;
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }

    &::after{
      color: $orange01;
    }
  }

  .c-carousel--nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 4;
    pointer-events: none;

    .c-carousel--btn {
      position: absolute;
      padding: 0;
      pointer-events: auto;

      &::after {
        height: 100%;
        width: 100%;
        color: $grey05;
        font-size: 36px;
      }
    }
  }

  .c-carousel {
    list-style: none;
    width: 300%;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    left: 0;
    display: block;
    transition: left 0.3s ease;
    @include clearfix;
  }

  .c-carousel--item {
    width: 33.3%;
    float: left;
  }
}

.c-stats--highlight {
  display: block;
  position: absolute;
  height: 180px;
  width: 180px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: $yellow02;
  border-radius: 50%;
}

.c-senate-quick-facts--container {
  .c-container--header {
    padding-bottom: 10px;
  }

  .c-stats--highlight {
    width: 150px;
    height: 150px;
    top: 20px;
  }

  .c-carousel {
    margin-top: -20px;
  }
}

.c-quick-facts--container {

  .c-stats--highlight {
    top: 40px;
  }
}

.c-stats--item {
  a {
    text-decoration: none;
  }

  .c-stat {
    margin-bottom: 5px;
    text-align: center;
    color: $color-white;
    font-family: $font-serif-bold;
    font-size: 54px;
  }

  .c-stat--descript {
    width: 135px;
    margin: 0 auto 20px;
    text-align: center;
    color: $grey01;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 14px;
    line-height: 18px;
  }

  .c-stat--illus {
    display: block;
    height: 65px;
    width: 75px;
    margin: 0 auto;
    text-align: center;
    color: $color-white;
    background: url('../images/sprite-up-to.png');
    background-size: 100% auto;

    &.c-illus__waiting {
      background-position: 0 0;
    }

    &.c-illus__signed {
      background-position: 0 50%;
    }

    &.c-illus__vetoed {
      background-position: 0 100%;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-stats--container {
    margin-top: 60px;
    padding-bottom: 45px;

    .c-container--title {
      margin-bottom: 45px;
      padding: 35px 20px 0;
      font-size: 32px;
      letter-spacing: 0;
      text-align: center;
    }

    .c-stats--highlight {
      display: none;
      opacity: 0;
      top: 30px;
      height: 200px;
      width: 200px;
      transition: all 0.25s ease-in-out;

      &.highlight-first {
        left: -60%;
      }

      &.highlight-second {
        left: 0;
      }

      &.highlight-third {
        left: 60%;
      }
    }

    &:hover {
      .c-stats--highlight {
        opacity: 1;
      }
    }

    .c-carousel {
      width: 90%;
      margin: 0 auto;

      &.with-icon {

        .c-carousel--item {
          display: block;
          height: 216px;
          border-left: 0;
        }
      }
    }

    .c-senate-quick-facts__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .c-carousel--item {
      position: relative;
      height: 130px;
      width: 33.33%;
      margin: 0;
      padding: 0;

      &:not(:first-child) {
        border-left: 1px solid $color-white;
      }
    }

    &.with-hover {
      .c-stats--highlight {
        display: block;
      }
    }
  }

  .c-stats--item {

    .c-stat {
      font-size: 60px;
    }

    .c-stat--illus {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

//I WANT TO BLOCK
.c-block.c-container--want-to {
  .c-container--header {
    padding-bottom: 15px;
  }

  .c-container--title {
    font-family: $font-serif-semibold;
    color: $grey08;
    text-transform: none;
    font-size: 32px;
    letter-spacing: normal;
    line-height: normal;
  }

  .c-want-to--item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    a.c-block--btn:hover {
      text-decoration: underline;
    }
    .c-want-to--cta {
      margin: 35px 0 20px;
      padding-right: 50px;
      font-family: $font-serif;
      font-size: 16px;
      width: 100%;
    }

    /*.c-block--btn.loggedin {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      background: $yellow01;
      height: 70px;
      line-height: 1;
      font-size: 13px;
      letter-spacing: 2.6px;
      padding-left: 20px;
      text-align: left;
      transition: background-color 0.2s ease;
      color: $grey08;
      &:hover {
        background: $yellow03;
        text-decoration: underline;
      }
      &::before {
        height: auto;
      }
    }*/


    .c-block--btn {
      display: inline-block; // changed from flex
      position: relative;
      background: $yellow01;
      height: 70px;
      line-height: 70px;
      font-size: 13px;
      letter-spacing: 2.6px;
      padding: 0 20px 0 40px; // space for icon on the left
      text-align: left;
      color: $grey08;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: background-color 0.2s ease;

      // remove underline from whole link on hover
      &:hover {
        background: $yellow03;
        text-decoration: none;

        .btn-text {
          text-decoration: underline;
        }
      }

      // Optional: avoid icon inheriting text styles
      &::before {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none !important;
      }

      .btn-text {
        text-decoration: none;
        padding-left: 34px;
        &.explore {
          padding-left: 18px;
        }
      }
    }


    .nys-senator--thumb {
      height: 45px;
      width: 46px;
      margin: 0 10px;
    }

    &.c-want-to--item__senator {
      .c-block--btn.loggedin {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-align: left;
        padding: 0;

        &::before {
          content: '';
          width: 1px;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
        }

        .c-senator--cta {
          display: inline-block;
          vertical-align: middle;
          width: 140px;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .c-block--btn {
        @extend .icon-before__find-senator;
      }
    }

    &.c-want-to--item__explore {
      a.c-block--btn {
        @extend .icon-before__search;
      }
    }

    &.c-want-to--item__news {
      .c-block--btn {
        @extend .icon-before__presskit;
      }
    }
  }

  @include breakpoint($bp-sm) {
    margin: 40px 0;

    .c-container--title {
      font-size: 38px;
    }

    .c-want-to--item {
      width: 32%;
      float: left;
      height: 190px;
      margin: 0;
      padding-bottom: 70px;

      & + .c-want-to--item {
        margin-left: 2%;
      }

      .c-want-to--cta {
        margin-top: 25px;
        padding: 0 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        text-align: center;
      }

      .c-block--btn {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 0;
        text-align: center;

        &.loggedin {
          text-align: left;
        }
      }
    }
  }
}
