<div class="nys-senator sponsor-list">
  <div class="nys-senator--thumb">
    <a href="{{ url }}">
      {{ image }}
    </a>
  </div>

  <div class="nys-senator--info">
    <h4 class="nys-senator--name">
        {{ name }}
    </h4>
    <p class="nys-senator--district">
      <span class="nys-senator--party">
        {{ party }}
      </span>
    </p>
  </div>

</div>
