#tests/fixtures/files/.htaccess
#tests/fixtures/files/js
#tests/fixtures/files/styles
tests/fixtures/d7/*
!tests/fixtures/d7/drupal7-media.make.yml
!tests/fixtures/d7/example.settings.php

tests/fixtures/sites/*
!tests/fixtures/sites/default
tests/fixtures/sites/default/*
!tests/fixtures/sites/default/files
tests/fixtures/sites/default/files/.htaccess
tests/fixtures/sites/default/files/js
tests/fixtures/sites/default/files/styles
