.views-exposed-form__item.form-item--accept-null {
    display: none;
}

.form-item-senator {
    max-width: 300px;
}

.rain-admin-theme details > summary,
.rain-admin-theme fieldset:not(.fieldgroup):not(.paragraphs-browser-paragraph-type) > legend
{
    color: #019cb6!important;
}

.paragraphs-subform .rain-admin-theme details {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
}

.rain-admin-theme tbody fieldset:not(.fieldgroup):not(.paragraphs-browser-paragraph-type) {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
}
