@import "../../global/utils/init";

.c-login {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 0 60px 0;
  font-family: $font-sans;
  font-size: 14px;

  .body {
    font-family: $font-sans;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .nys-title {
    margin: 0 0 20px 0;
    text-transform: none;
  }

  .nys-senator--thumb {
    height: 60px;
    width: 60px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    border-radius: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .c-login-left,
  .c-login-right {
    text-align: center;
    padding: 0 20px;

    li {
      text-transform: capitalize;
      color: $grey03;
      font-size: 14px;
    }

    ul {
      list-style: none;
    }
  }

  .c-login-left {
    margin-bottom: 30px;

    li:first-child {
      font-size: 16px;
      font-family: $font-serif;
    }

    li:nth-child(2) {
      text-transform: none;
    }
  }

  .c-login-right {
    padding-top: 30px;
    border-top: 1px solid $grey05;

    li:first-child {
      color: $grey03;
    }

    li:nth-child(2) {
      font-size: 16px;
      font-family: $font-serif;
    }

    li:last-child {
      color: $grey04;
    }
  }

  .c-user--info,
  .c-senator--info {
    padding: 0;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding-top: 40px;

    .button {
      display: flex;
      align-items: center;
      font-family: $font-sans-bold;
      font-weight: $font-weight-normal;
      letter-spacing: 0.25em;
      padding: 0 30px;
      height: 45px;
    }
  }

  .c-msg-senator {
    cursor: pointer;
    appearance: none;
    border: 0;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.25em;
    font-family: $font-sans-bold;
    width: 185px;
    display: block;
    color: $color-white;
    text-decoration: none;
    text-align: center;
    background-color: $gen_blue_med;

    &::before {
      margin-right: 0;
      font-size: 18px;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-login {
    margin: 0;
    padding-bottom: 80px;

    p {
      font-size: 16px;
    }

    .nys-title {
      font-size: 22px;
      margin: 0px 0 10px 0;
    }

    .nys-senator--thumb {
      height: 80px;
      width: 80px;
      margin: 0;
    }

    .c-login-left,
    .c-login-right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      text-align: left;
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;

      li {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .c-login-left {
      li:first-child {
        font-size: 18px;
      }
    }

    .c-login-right {
      border-top: none;
      padding: 0 0 0 30px;

      li:nth-child(2) {
        font-size: 18px;
      }
    }

    .c-user--info,
    .c-senator--info {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .button-group {
      padding-top: 60px;

      .button {
        padding: 0 40px;
        height: 55px;
      }
    }
  }
}
