// Import site utilities.
@import '../../global/utils/init';

.pager {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.pager__items {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px 30px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  list-style: none;
}

.pager__item {
  margin: 5px;
  padding: unset;

  &.is-active,
  &:hover {
    background-color: $color-blue;
    border-radius: 100%;
  }

  &.pager__item--next,
  &.pager__item--previous {
    align-items: center;
    background-color: $color-blue;
    border-radius: 50%;
    display: flex;
    margin: 5px;
    height: 30px;
    position: absolute;
    top: 0;

    .pager__control {
      height: 100%;
    }
  }

  &.pager__item--previous {
    left: -5px;
  }

  &.pager__item--next {
    right: -5px;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.pager__control {
  align-items: center;
  color: $color-blue;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  line-height: 1.5;
  height: 30px;
  width: 30px;
  text-decoration: none;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  svg {
    display: flex;

    path {
      fill: $color-white;
    }
  }
}

.is-active {

  a.pager__control {
    color: $color-white;
  }
}

.pager {
  &.js-pager__items {
    margin-top: 0;
    padding: 0;
  }

  .pager__item {
    &.pager-load-more {
      display: block;
      margin: 0 0 20px 0;
      width: 100%;
      background-color: $grey06;
      float: left;
      font-weight: normal;
      text-transform: uppercase;

      &:hover {
        border-radius: 0;
      }

      a {
        display: block;
        padding: 15px 0;
        width: 100%;
        text-align: center;
  
        font-family: "Proxima Nova SemiBold";
        font-size: 16px;
        line-height: 25px;
  
        @extend .icon-after__see-more;
        @extend .lgt-text;
  
        &::after {
          height: 24px;
          margin-top: -3px;
          font-size: 24px;
          line-height: 25px;
          @extend .lgt-text;
        }
      }
  
      &.pager-load-more-empty {
        display: none;
      }
    }
  }
}