{{ attach_library('nysenate_theme/alert-box') }}

<section class="l-messages">
  <div data-alert="" class="alert-box {{ status }}">
    <div class="alert-box-message">
      <h2 class="element-invisible">Status message</h2>
      {{ message }}
    <a href="#" class="close">×</a>
    </div>
  </div>
</section>