{{ attach_library('nysenate_theme/nysenate-tabs') }}

<div class="newsroom-content l-row">
  <div class="l-tab-bar">
    <div class="c-tab--arrow u-mobile-only"></div>
    {% for panel in panels %}
      <div class="c-tab {% if loop.first %}active{% endif %}">
        <input type="radio" name="language" value="#panel{{ loop.index }}" {% if loop.first %} checked="checked" {% endif %}>
        <label class="c-tab-link">{{ panel.tab_text }}</label>
      </div>
    {% endfor %}
  </div>

  <div class="tabs-content">
    {% for panel in panels %}
      {% include '@nysenate_theme/nysenate-submission-results/nysenate-student-results.twig' with {
        is_bulleted: panel.is_bulleted,
        title: panel.title,
        groups: panel.groups,
      } only
      %}
    {% endfor %}
  </div>
</div>
