// Fonts provided by Yale.
//
// For more information on font-face and browser support visit:
// https://css-tricks.com/snippets/css/using-font-face/

@font-face {
  /* NHaasGroteskTXPro-55Rg */
  font-family: 'Neue Haas Grotesk';
  src:
    url('../fonts/379507_10_0.woff2') format('woff2'),
    url('../fonts/379507_10_0.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  /* NHaasGroteskTXPro-56It */
  font-family: 'Neue Haas Grotesk';
  src:
    url('../fonts/379507_11_0.woff2') format('woff2'),
    url('../fonts/379507_11_0.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  /* NHaasGroteskTXPro-75Bd */
  font-family: 'Neue Haas Grotesk';
  src:
    url('../fonts/379507_14_0.woff2') format('woff2'),
    url('../fonts/379507_14_0.woff') format('woff');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  /* NHaasGroteskDSPro-45Lt */
  font-family: 'Neue Haas Grotesk Display';
  src:
    url('../fonts/379507_6_0.woff2') format('woff2'),
    url('../fonts/379507_6_0.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  /* NHaasGroteskDSPro-75Bd */
  font-family: 'Neue Haas Grotesk Display';
  src:
    url('../fonts/379507_C_0.woff2') format('woff2'),
    url('../fonts/379507_C_0.woff') format('woff');
  font-weight: bold;
  font-display: fallback;
}
