{% extends "@nysenate_theme/src/templates/layout/page.html.twig" %}

{% block main %}
  <a id="main-content" tabindex="-1"></a>

  {% embed "nys:container" with {
    width: 'max',
    page,
  } only %}
    {% block content %}
      {{ page.content }}
    {% endblock %}
  {% endembed %}
{% endblock %}
