@import '../../global/utils/init';

// Skip to main content
.element-invisible {
  @include element-invisible;
}

.element-focusable {
  @include element-focusable;
}

.l-header {
  .c-actionbar,
  .c-senate-status {
    max-width: none;

    &.hidden {
      margin-top: -60px;
    }
  }
}

/*------------------------------
/ SITE WIDE TOP BAR
/-------------------------------*/
.c-header-bar {
  height: 60px;
  background: $color-white;
  z-index: 10;
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease 0s;
}

.c-topbar {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  &::before {
    content: '';
    height: 100%;
    width: 1px;
    margin-left: -1px;
    display: inline-block;
    vertical-align: middle;
  }
}

.c-page-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: 'FreightText Book';
  font-size: 12px;

  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 250px;
    color: $grey08;
    white-space: nowrap;
    text-decoration: none;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: transparent url('http://nysenate.gov/sites/all/themes/nysenate/images/nys_logo_header240x240.jpg')
      center center no-repeat;
      background-size: cover;
    }
  }
}

@include breakpoint($bp-sm) {
  .l-header {
    .c-actionbar,
    .c-senate-status {
      max-width: 1500px;
      padding: 0 9%;
      transition: margin 0.25s ease-in 0s;

      &.hidden {
        margin-top: -100px;
        display: block;
      }

      .c-actionbar--cta {
        max-width: 400px;
        font-size: 18px;
        line-height: 1.3em;
      }

      .c-block--btn {
        font-size: 16px;
      }
    }
  }

  .c-header-bar {
    overflow: visible;
    height: 100px;

    // HEADER BAR COLLAPSED
    &.collapsed {
      height: 40px;

      .c-page-title {
        font-size: 13px;

        a {
          &::before {
            width: 28px;
            height: 28px;
            margin-right: 5px;
            background-size: cover;
          }
        }
      }

      .c-header--connect {
        height: 40px;
      }

      .c-header--btn {
        line-height: 40px;
      }
    }
  }

  .c-page-title {
    font-size: 22px;

    a {
      &::before {
        height: 60px;
        width: 60px;
        margin-right: 20px;
      }
    }
  }
}

.c-header--connect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 55px;
}

.l-row::after {
  content: '';
  display: table;
  clear: both;
}

.l-row--nav,
.l-row--hero,
.c-nav--wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;

  @include breakpoint($bp-sm) {
    padding: 0 9%;
    max-width: 1500px;
  }
}

/* Navigation */
.c-nav--wrap {
  position: fixed;
  background: $color-white;
  top: -110vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 6;
  transition: top 0.3s ease-out 0s;
  padding: 0;

  @include breakpoint($bp-sm) {
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    top: auto;
  }

  &.closed {
    height: 0;
  }

  .c-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include breakpoint($bp-sm) {
      display: block;
      position: inherit;
      right: 0;
      margin: 0 auto;
      z-index: 2;
      height: 60px;
      background: $color-white;
    }

    & > nav {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      padding: 155px 0 0;
      overflow: scroll;
      @extend .lgt-bg;
    }

    nav {
      .c-site-search--btn {
        color: $grey08;
        position: absolute;
        background-color: transparent;
        
        &::after {
          top: 2px;
        }
      }

      ul > li.leaf {
        top: -16px;
      }
    }

  }
}

// nav-open - class added to body through js
.nav-open {
	max-height: 100vh;
	overflow: hidden;

  .c-nav--wrap {
    top: 60px;
  }

	.c-nav--toggle {
		position: absolute;
		height: 40px;
		width: 40px;
		@extend .icon-replace__x;

		&:after {
			font-size: 24px;
		}
	}
}

// class added to .c-nav--wrap through js
.c-nav--wrap.search-open {

  .c-site-search--btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    @extend .icon-replace__x;
  }

  .c-site-search {
    .c-site-search--btn {
      cursor: pointer;
      position: relative;
      top: -45px;
      @extend .icon-replace__search;
    }
  }
}

@include breakpoint($bp-sm) {
  // make sure not to ruin scroll
	// on tablet and above
	.nav-open {
		height: auto;
		overflow: scroll;

		// and make sure the buttons doesn't show
		.c-nav--toggle {
			display: none;
		}
	}

  .c-nav--wrap {
    position: relative;
    top: 0;
    bottom: auto;
    width: 100%;
    height: 60px;
    transition: height 0.3s ease;
    overflow: hidden;

    // class added to .c-nav--wrap through js
    &.closed {
      height: 0;
    }

    .c-nav {
      display: block;
      position: inherit;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
      height: 60px;
      background-color: $color-white !important;

      > nav {
        position: relative;
        top: 0;
        height: 100%;
        padding: 0;
        background-color: $color-white !important;
        overflow: visible;
        border-top: 1px solid $grey05;
        transition: none 0 ease;
      }
    }
  }

  .c-nav--list {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0 10% 0 0;
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      width: 100px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      border: none;
      text-align: left;
      font-family: $font-sans-bold;
      font-size: 14px;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0px;
      }

      a {
        height: auto;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        text-align: center;
        line-height: 14px;
      }

      &.active-trail {
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: -15px;
          margin: auto;
          height: 20px;
          width: 20px;
          background: $color-white;
          border: 1px solid $grey05;
          transform: rotate(45deg);
        }
      }
		}
	}
}

.pane-content {
  position: relative;

  .button--menu {
    position: absolute;
  }
}

#js-sticky .c-nav--toggle {
  display: none;
}

.c-nav--toggle {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: auto;
  height: 60px;
  width: 40px;
  background: $color-white;
  border: 0;
  padding: 0;
	@extend .icon-replace__hamburger;

  @include breakpoint($bp-sm) {
    display: none;
  }

	&::after {
		width: 100%;
		margin-left: 1px;
		font-size: 24px;
		line-height: 60px;
		text-align: center;
		@extend .med-text;
	}
}

/* From old site */
// Non-modular or client styles for .l-header region.
.l-header {
  width: 100%;
  z-index: 5;
  top: 0;

  // display none for original nav when cloned.
  & + .l-header {
    .c-senator-nav--wrap {
      display: none;
    }
  }

  &.fixed {
    position: fixed;
  }

  // this is to fix mobile button positioning when logged in as admin
  .contextual-links-region {
    position: static;
  }
}
@include breakpoint($bp-sm) {
  .l-header + .l-header {
    .c-senator-nav--wrap {
      display: block;
    }
  }

  .l-header {
    // this is to fix mobile button positioning when logged in as admin
    .contextual-links-region {
      position: relative;
    }
  }
}

/*------------------------------
/ HEADER COLLAPSED
/-------------------------------*/
.l-header__collapsed {
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.25s ease-in 0s;

  // Senator variant
  .node-type-senator &.messages-open {
    top: 87px;
  }
}

#smallShotImage {
  display: none;
}

.messages-number {
  display: block;
  font-size: 15px;
  @extend .contrast_text;
  position: absolute;
  right: 22px;
  top: 8px;
  z-index: 999999;
  width: 20px;
  height: 20px;
  @extend .med-bg;
  border-radius: 50px;
  text-align: center;

  @include breakpoint($bp-sm) {
    display: none;
  }
}

/* Styles from the NY Senate site */
nav ul.c-nav--list li a {
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;

  @include breakpoint($bp-sm) {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    line-height: 14px;
    color: $grey08;
    width: 100%;
  }
}

nav ul.c-nav--list {
  list-style: none;
  padding: 0 20px;

  @include breakpoint($bp-sm) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 0;
  }
}

.nav-text:hover,
.c-nav--list li a:hover {
  @extend .med-text;
}

.c-site-search--btn {
  cursor: pointer;
  position: absolute;
  height: 45px;
  width: 30px;
  top: 17px;
  right: 15px;
  color: $grey08;
  font-size: 22px;
  border: 0;
  background-color: $color-white;
}

.c-header--connect {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 55px;

  @include breakpoint($bp-sm) {
    display: flex;
  }
}

.c-nav--social {
  border-top: 1px solid $color-white;
  margin: 0 20px;
  padding: 20px 0 0 5px;
  line-height: 1em;
}

.c-header--connect .c-nav--social {
  display: none;

  @media screen and (min-width: 900px) {
    position: relative;
    display: block;
    float: left;
    margin: 12px 0;
    padding: 0 20px 0 0;
    border-right: 1px solid $grey05;
  }
}

.c-nav--social li {
  display: inline-block;
  border: 0;
  margin: 0 10px;

  svg path {
    fill: $color-white;

    @include breakpoint($bp-sm) {
      fill: $grey08;
    }
  }

  a {
    width: 28px;
    height: 0;
    padding: 28px 0 0 0;
    font-size: 28px;
    color: $color-white;

    &::after {
      color: $color-white;
      padding: 0;
      font-size: 26px;
      line-height: 28px;
      text-align: center;
      height: 28px;
      width: 28px;

      @include breakpoint($bp-sm) {
        color: $grey08;
      }
    }
  }
}

.c-header--btn.c-header--btn__taking_action,
.c-header--btn.c-header--btn__primary {
  font-family: $font-sans-bold;
  cursor: pointer;
  position: relative;
  height: 100%;
  margin-left: -1px;
  padding: 0 15px 0 20px;
  background-color: transparent;
  line-height: 55px;
  transition: background 0.2s ease 0s;

  &::after {
    display: inline-block;
    vertical-align: middle;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-left: 3px;
    -webkit-font-smoothing: antialiased;
    font-family: 'senate_icons';
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 8px;
    padding-left: 3px;
    color: $color-white;
    @extend .lgt-bg;
    overflow: hidden;
    border-radius: 50%;
    background-clip: padding-box;
  }
}

.c-header--btn.c-header--btn__taking_action::after {
  content: '\69';
}

.c-header--btn.c-header--btn__primary::after {
  content: '\66';
}

.inactive-pallette {
  .c-header--btn {
    &.c-header--btn__primary,
    &.c-header--btn__taking_action {
      &::after {
        background: $gen_blue_lgt;
      }
    }
  }

  .c-login--list {
    &:hover {
      .c-header--btn__primary,
      .c-header--btn__taking_action {
        background: $gen_blue_lgt;

        &:hover {
          background: $gen_blue_lgt;
        }
      }

      li + li {
        a:hover {
          background: $gen_blue_drk;
        }
      }
    }
  }
}

.c-header--btn {
  display: block;
  float: left;
  color: $grey03;
  font-size: 12px;
  line-height: 28px;
  text-transform: capitalize;
  letter-spacing: 0.25em;
}

.c-nav .c-header--btn {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding: 0 0 0 30px;
  color: $color-white;
  font-family: $font-sans-bold;
  font-size: 12px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-header--btn-login {
  @extend .med-bg;
}

.c-mobile-login--list {
  position: relative;
  width: 100%;
  height: 72px;
  margin-top: 20px;
  bottom: 0;
  left: 0;

  .c-header--btn-logout:last-child,
  .c-header--btn-login:last-child {
    padding-bottom: 60px;
    height: 132px;

    > a {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      padding-left: 65px;
      text-decoration: none;
      color: $color-white;
    }
  }
}

a.c-header--btn.c-header--btn__primary,
a.c-header--btn.c-header--btn__taking_action {
  @extend .lgt-text;
  text-decoration: none;
}

a:hover.c-header--btn.c-header--btn__primary,
a:hover.c-header--btn.c-header--btn__taking_action {
  color: $color-white;
  @extend .lgt-bg;
}

.c-nav--list li {
  @include font-stack-secondary;
  margin-top: 0;
  border-top: 1px solid $color-white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 1em;

  @include breakpoint($bp-sm) {
    padding: 20px 0;
    position: relative;
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    text-align: left;
    font-family: $font-sans-bold;
    font-size: 14px;
  }

  @include breakpoint($bp-md) {
    width: auto;
  }

  &.active-trail::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin: auto;
    height: 20px;
    width: 20px;
    background: $color-white;
    border: 1px solid $grey05;
    transform: rotate(45deg);
  }
}

.c-site-search {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 30px 20px 20px 20px;
  margin: 0;

  .c-site-search--box {
    display: block;
    background: none;
    border: 0;
    height: 45px;
    margin: 0 45px 0 0;
    padding: 0 0 0 20px;
    box-shadow: none;
    @extend .med-text;
    background: $color-white;
    overflow: hidden;
    border-radius: 5px;
    background-clip: padding-box;
    float: left;
    width: 100%;

    &::-ms-clear {
      display: none;
    }
  }

  .c-site-search--title {
    display: none;
  }

  .c-block-advanced-search-link {
    margin-bottom: 30px;

    .c-advanced-search--link {
      color: $orange01;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

  .c-site-search--btn:focus,
  .c-site-search--btn {
    position: absolute;
    top: 17px;
    right: 20px;
    padding: 0;
    height: 45px; // font-size;
    width: 45px;
    font-size: 22px;
    background: transparent;
    @extend .med-text;
    @extend .icon-replace__search;

    &::after {
      width: 100%;
      padding: 0;
      line-height: 45px;
    }

    &:hover {
      background: transparent;
      @extend .drk-text;
    }
  }
}

@include breakpoint($bp-sm) {
  .c-actionbar,
  .c-senate-status {
    height: 100px;
    padding: 0 410px 0 9%;

    .c-actionbar--info {
      display: flex;
      vertical-align: middle;
      height: 100%;
      align-items: center;
    }

    .c-actionbar--info .c-actionbar--cta,
    .c-actionbar--cta {
      width: 100%;
      max-width: 400px;
      font-size: 14px;
      font-size: 1.7vw;
      line-height: 1.75em;
    }

    a.c-block--btn {
      padding: 0 40px;
      font-size: 16px;
      line-height: 100px;
      background-color: $gen_blue_med;


      &::before {
        height: 100%;
        margin-right: 0.1em;
        font-size: 32px;
        line-height: 100px;
      }
    }

    .c-block--btn {
      width: auto;
      right: 0;

      a {
        padding: 0 40px;
        font-size: 16px;
        line-height: 100px;

        &::before {
          height: 100%;
          margin-right: 0.1em;
          font-size: 32px;
          line-height: 100px;
        }
      }
    }
  }

  .search-open .c-site-search .c-site-search--btn,
  .search-open .c-site-search .c-site-search--btn:focus,
  .c-site-search--btn:focus {
    position: absolute;
    height: 45px;
    width: 30px;
    top: 15px;
    right: 15px;
    color: $grey08;
    font-size: 22px;
  }

  .c-site-search {

    .c-site-search--title {
      display: block;
      margin-bottom: 20px;
      font-family: $font-serif-semibold;
      font-size: 26px;
      line-height: 1;
    }
  }

  .c-site-search--link {
    position: absolute;
    right: 9%;
    bottom: 35px;
    color: $orange01;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .c-site-search {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 225px;
    margin: 0 auto;
    max-width: 1500px;
    padding: 25px 9%;
    background: $greyLight;
    transition: margin 0.3s ease;

    .c-site-search--box {
      border: 1px solid $grey05;
      border-radius: 0;
      overflow: hidden;
      background-clip: padding-box;
    }

    .c-site-search--btn {
      position: relative;
      top: -45px;
      right: auto;
      float: right;
    }
  }

  .c-site-search {
    position: relative;
    transition: all 0.3s ease-out;
    height: 0;
    padding: 0;
    overflow: hidden;

    &::before,
    &::after {
      display: none;
    }

    &.open {
      height: 225px;
      padding: 25px 9%;
    }
  }
}
