@import "../../global/utils/init";

// Skip to main content
.element-invisible {
  @include element-invisible;
}
.element-focusable {
  @include element-focusable;
}

.u-mobile-only {
  display: block;
}

.u-tablet-plus {
  display: none;
}

@media #{$tablet} {
  .u-mobile-only {
    display: none;
  }

  .u-tablet-plus {
    display: block;
  }
}

// Non-modular or client styles for .l-header region.
.l-header {
  width: 100%;
  z-index: 5;
  top: 0;
  position: relative;

  // display none for original nav when cloned.
  & + .l-header {
    .c-senator-nav--wrap {
      display: none;
    }
  }

  &.fixed {
    position: fixed;
  }

  // this is to fix mobile button positioning when logged in as admin
  .contextual-links-region {
    position: static;
  }
}
@media #{$tablet} {
  .l-header + .l-header {
    .c-senator-nav--wrap {
      display: block;
    }
  }
  .l-header {
    // this is to fix mobile button positioning when logged in as admin
    .contextual-links-region {
      position: relative;
    }
  }
}

/*------------------------------
/ SITE WIDE TOP BAR
/-------------------------------*/
.c-header-bar {
  height: 60px;
  background: #fff;
  z-index: 10;
  overflow: hidden;
  position: relative;
}
.c-topbar {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  &:before {
    content: "";
    height: 100%;
    width: 1px;
    margin-left: -1px;
    display: inline-block;
    vertical-align: middle;
  }
}
.c-page-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "FreightText Book";
  font-size: 12px;

  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 250px;
    color: $grey02;
    white-space: nowrap;
    text-decoration: none;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: transparent url("http://nysenate.gov/sites/all/themes/nysenate/images/nys_logo_header240x240.jpg")
        center center no-repeat;
      background-size: cover;
    }
  }
}
@media #{$tablet} {
  .c-header-bar {
    overflow: visible;
    height: 100px;

    // HEADER BAR COLLAPSED
    &.collapsed {
      height: 40px;

      .c-page-title {
        font-size: 13px;

        a {
          &:before {
            width: 28px;
            height: 28px;
            margin-right: 5px;
            background-size: cover;
          }
        }
      }
    }
  }
  .c-page-title {
    font-size: 22px;

    a {
      &:before {
        height: 60px;
        width: 60px;
        margin-right: 20px;
      }
    }
  }
}

.c-header--connect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 55px;
}

.l-row:after {
  content: "";
  display: table;
  clear: both;
}

.l-row--nav,
.l-row--hero,
.c-nav--wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;

  @media #{$tablet} {
    padding: 0 9%;
    max-width: 1500px;
  }
}

/* Navigation */
.c-nav--wrap {
  position: absolute;
  top: -110vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 6;
  transition: top 0.3s ease-out 0s;

  @include breakpoint($bp-sm) {
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    top: auto;
  }

  &.closed {
    height: 0;
  }

  .c-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    @include breakpoint($bp-sm) {
      display: block;
      position: relative;
      right: 0;
      margin: 0 auto;
      z-index: 2;
      height: 60px;
      background: #fff;
    }

    & > nav {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      padding: 125px 0 0 0;
      overflow: scroll;
      background: $gen_blue_lgt;

      @include breakpoint($bp-sm) {
        position: relative;
        padding: 0;
        background: #fff;
        overflow: visible;
        border-top: 1px solid #aaaaaa;
        transition: none 0 ease 0s;
      }
    }
  }
}

.nav-open .c-nav--wrap {
  top: 0;
}

.pane-content {
  position: relative;
}

.c-nav--toggle {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  left: auto;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 0;
  padding: 0;
  transform: translateY(-50%);

  @include breakpoint($bp-sm) {
    display: none;
  }

  &::after {
    content: "\68";
    width: 100%;
    margin-left: 1px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "senate_icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-left: 3px;
    color: $gen_blue_med;
  }
}

/* From old site */
// Non-modular or client styles for .l-header region.
.l-header {
  width: 100%;
  z-index: 5;
  top: 0;

  // display none for original nav when cloned.
  & + .l-header {
    .c-senator-nav--wrap {
      display: none;
    }
  }

  &.fixed {
    position: fixed;
  }

  // this is to fix mobile button positioning when logged in as admin
  .contextual-links-region {
    position: static;
  }
}
@media #{$tablet} {
  .l-header + .l-header {
    .c-senator-nav--wrap {
      display: block;
    }
  }
  .l-header {
    // this is to fix mobile button positioning when logged in as admin
    .contextual-links-region {
      position: relative;
    }
  }
}

/*------------------------------
/ SENATOR NAV
/-------------------------------*/
.c-senator-nav--wrap {
  .c-site-search {
    top: 100px;
  }

  .c-site-search--btn {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .c-site-search {
    .c-site-search--btn {
      top: -45px;
    }
  }

  &.closed {
    height: 0;
  }

  &.search-open {
    height: 325px; //100px (nav height) + 225px (search area height)
  }

  li {
    border-top: 1px solid #fff;
    text-transform: uppercase;
    font-family: "Proxima Nova Regular";
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 1em;
    display: inline-block;

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 20px 0 20px 10px;
    }
  }
}

@media #{$tablet} {
  .c-senator-nav--wrap {
    position: relative;
    width: 100%;
    background: #fff;

    .c-senator-nav {
      nav {
        position: relative;
        top: 0;
        height: 100%;
        padding: 0;
        overflow: hidden;
        background: #fff;
        z-index: 1;
      }

      ul {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;

        font-family: "Proxima Nova SemiBold";
        font-size: 14px;

        a {
          line-height: 14px;
        }
      }
    }

    &.closed {
      height: 0;
    }
  }
}

@media #{$desktop} {
  .c-senator-nav--wrap {
    .c-senator-nav {
      li {
        font-size: 14px;
      }
    }
  }
}

/*------------------------------
/ HEADER COLLAPSED
/-------------------------------*/
.l-header__collapsed {
  top: 0;
  width: 100%;

  // Senator variant
  .node-type-senator &.messages-open {
    top: 87px;
  }

  // HERO
  .c-senator-hero {
    height: 100px;
    padding-left: 20px;
    margin-top: 0;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      width: 1px;
      margin-left: -1px;
    }

    &.hidden {
      margin-top: -100px;
    }
  }
  .c-senator-hero--img {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;

    img {
      position: relative;
      top: 0;
      width: auto;
      max-width: 140%;
      height: 100%;
    }
  }
  .c-senator-hero--info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
  }
  .c-senator-hero--name {
    font-size: 15px;
    margin: 0;
  }
  .c-senator-hero--info-secondary {
    display: none;
  }
  .c-senator-hero--contact-btn {
    width: 100%;
    height: 50px;
    padding-left: 24px;

    &:before {
      line-height: 50px;
      padding-left: 0px;
    }
  }
}

@media #{$tablet} {
  .l-header__collapsed {
    .c-senator-hero {
      padding: 0 0 0 9%;

      &:before {
        height: 100%;
      }
    }
    .c-senator-hero--info {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      > div {
        margin-left: 0;
      }

      &:before {
        margin-left: 0;
      }
    }
    .c-senator-hero--title {
      display: block;
    }
    .c-senator-hero--name {
      font-size: 22px;
    }
    .c-senator-hero--img {
      height: 72px;
      width: 72px;

      > img {
        position: absolute;
      }

      picture > img {
        position: absolute;
      }
    }

    .c-senator-hero--contact-btn {
      height: 100%;
      max-width: 300px;
      right: 0;
      left: auto;

      &:before {
        line-height: 100px;
      }
    }
  }
}

.messages-number {
  display: block;
  font-size: 15px;
  color: $contrast_lgt;
  position: absolute;
  right: 22px;
  top: 8px;
  z-index: 999999;
  width: 20px;
  height: 20px;
  background: $gen_blue_med;
  border-radius: 50px;
  text-align: center;

  @media #{$tablet} {
    display: none;
  }
}

/* Styles from the NY Senate site */
nav ul.c-nav--list li a {
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  @include breakpoint($bp-sm) {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    line-height: 14px;
    color: #444;
    width: 100%;
  }
}

nav ul.c-nav--list {
  list-style: none;
  padding: 0 20px;

  @include breakpoint($bp-sm) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 0;
  }
}

.nav-text:hover,
.c-nav--list li a:hover {
  color: $gen_blue_med;
}

.c-site-search--btn {
  cursor: pointer;
  position: absolute;
  height: 45px;
  width: 30px;
  top: 5px;
  right: 15px;
  color: #444;
  font-size: 22px;
  border: 0;
  background-color: #fff;
}

.c-header--connect {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 55px;
}

.c-nav--social {
  border-top: 1px solid #fff;
  margin: 0 20px;
  padding: 20px 0 0 5px;
  line-height: 1em;
}

.c-header--connect .c-nav--social {
  &.u-mobile-only {
    display: block;
  }

  @media #{$tablet} {
    &.u-mobile-only {
      display: none;
    }
  }

  display: none;

  @media screen and (min-width: 900px) {
    position: relative;
    display: block;
    float: left;
    margin: 12px 0;
    padding: 0 20px 0 0;
    border-right: 1px solid #aaaaaa;
  }
}

.c-mobile-login--list {
  &.u-mobile-only {
    display: block;
  }
  &.u-tablet-plus {
    display: none;
  }

  @media #{$tablet} {
    &.u-mobile-only {
      display: none;
    }
    &.u-tablet-plus {
      display: block;
    }
  }
}

.c-nav--social li {
  display: inline-block;
  border: none;
  margin-right: 10px;

  svg path {
    fill: #fff;

    @include breakpoint($bp-sm) {
      fill: #444444;
    }
  }

  a {
    width: 28px;
    height: 0;
    padding: 28px 0 0 0;
    font-size: 28px;
    color: #fff;

    &::after {
      color: #fff;
      padding: 0;
      font-size: 26px;
      line-height: 28px;
      text-align: center;
      height: 28px;
      width: 28px;

      @include breakpoint($bp-sm) {
        color: #444444;
      }
    }
  }
}

.c-header--btn.c-header--btn__taking_action,
.c-header--btn.c-header--btn__primary {
  cursor: pointer;
  position: relative;
  height: 100%;
  margin-left: -1px;
  padding: 0 15px 0 20px;
  background-color: transparent;
  line-height: 55px;
  transition: background 0.2s ease 0s;

  &::after {
    display: inline-block;
    vertical-align: middle;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-left: 3px;
    -webkit-font-smoothing: antialiased;
    font-family: "senate_icons";
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 8px;
    padding-left: 3px;
    color: #fff;
    background-color: $gen_blue_lgt;
    overflow: hidden;
    border-radius: 50%;
    background-clip: padding-box;
  }
}

.c-header--btn.c-header--btn__taking_action::after {
  content: "\69";
}

.c-header--btn.c-header--btn__primary::after {
  content: "\66";
}

.c-header--btn {
  display: block;
  float: left;
  color: #666;
  font-size: 12px;
  line-height: 28px;
  text-transform: capitalize;
  letter-spacing: 0.25em;

  &.u-mobile-only {
    display: block;
  }
  &.u-tablet-plus {
    display: none;
  }

  @media #{$tablet} {
    &.u-mobile-only {
      display: none;
    }
    &.u-tablet-plus {
      display: block;
    }
  }
}

.c-nav .c-header--btn {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding: 0 0 0 30px;
  color: #fff;
  font-family: "Proxima Nova SemiBold";
  font-size: 12px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-header--btn-login {
  background-color: $gen_blue_med;
}

.c-mobile-login--list {
  position: relative;
  width: 100%;
  height: 72px;
  margin-top: 20px;
  bottom: 0;
  left: 0;

  .c-header--btn-logout:last-child,
  .c-header--btn-login:last-child {
    padding-bottom: 60px;
    height: 132px;

    > a {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      padding-left: 65px;
      text-decoration: none;
      color: #fff;
    }
  }
}

a.c-header--btn.c-header--btn__primary,
a.c-header--btn.c-header--btn__taking_action {
  color: $gen_blue_lgt;
  text-decoration: none;
}

a:hover.c-header--btn.c-header--btn__primary,
a:hover.c-header--btn.c-header--btn__taking_action {
  background-color: $gen_blue_med;
  color: #fff;

  &::after {
    background-color: $gen_blue_med;
  }
}

.c-nav--list li {
  margin-top: 0;
  border-top: 1px solid #fff;
  text-transform: uppercase;
  font-family: "Proxima Nova Regular";
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 1em;

  @include breakpoint($bp-sm) {
    padding: 20px 0;
    position: relative;
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    border: none;
    text-align: left;
    font-family: "Proxima Nova SemiBold";
    font-size: 14px;
  }

  @include breakpoint($bp-md) {
    width: auto;
  }

  &.active-trail:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin: auto;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #aaaaaa;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.c-actionbar,
.c-senate-status {
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 60px 0 18px;
  background-color: $gen_blue_lgt;
  max-width: unset;
  transition: margin 0.25s ease;

  &:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1px;
    vertical-align: middle;
    margin-left: -4px;
  }
  // used when actionbar only contains
  // a simple message - usually not logged-in
  .c-actionbar--cta {
    margin: 0;
    color: #fff;
    font-size: 18px;
    max-width: 320px;
  }

  .c-actionbar--info {
    display: none;
  }

  .nys-senator {
    margin-bottom: 0;
  }

  .c-block--btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 18px;
      line-height: 60px;
      color: #fff;
      text-decoration: none;
      background-color: $gen_blue_med;

      &:before {
        line-height: 60px;
        font-size: 32px;
        margin-right: 18px;
      }
    }

    &:before,
    &:after {
      line-height: 60px;
      font-size: 32px;
      margin-right: 18px;
    }
  }
}

.c-site-search {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 30px 20px 20px 20px;
  margin: 0;

  .c-site-search--box {
    display: block;
    background: none;
    border: none;
    height: 45px;
    margin: 0 45px 0 0;
    padding: 0 0 0 20px;
    box-shadow: none;
    color: $gen_blue_med;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    background-clip: padding-box;
    float: left;
    width: 100%;

    &::-ms-clear {
      display: none;
    }
  }
    
  .c-site-search--title {
    display: none;
  }

  .c-block-advanced-search-link {
    margin-bottom: 30px;
  
    .c-advanced-search--link {
      color: $orange01;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

  .c-site-search--btn:focus,
  .c-site-search--btn {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 0;
    height: 45px;
    width: 45px;
    font-size: 22px;
    background: transparent;
    color: $gen_blue_med;
    display: block;
    overflow: hidden;
    padding-top: 1em;
    text-indent: -99999px;
  
    &:after {
      content: "\6d";
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;
      font-family: "senate_icons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      padding-left: 3px;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    &:after {
      width: 100%;
      padding: 0;
      line-height: 45px;
    }
  
    &:hover {
      background: transparent;
      color: $gen_blue_drk;
    }
  }
  
}

@media #{$tablet} {
  .c-actionbar,
  .c-senate-status {
    height: 100px;
    padding: 0 410px 0 9%;

    .c-actionbar--info {
      display: inline-block;
      vertical-align: middle;
    }

    .c-actionbar--info .c-actionbar--cta,
    .c-actionbar--cta {
      width: 100%;
      max-width: 400px;
      font-size: 14px;
      font-size: 1.7vw;
      line-height: 1.75em;
    }

    a.c-block--btn {
      padding: 0 40px;
      font-size: 16px;
      line-height: 100px;

      background-color: $gen_blue_med;

      &:before {
        height: 100%;
        margin-right: 0.1em;
        font-size: 32px;
        line-height: 100px;
      }
    }
    .c-block--btn {
      width: auto;
      right: 0;

      a {
        padding: 0 40px;
        font-size: 16px;
        line-height: 100px;

        &:before {
          height: 100%;
          margin-right: 0.1em;
          font-size: 32px;
          line-height: 100px;
        }
      }
    }
  }
  
  .search-open .c-site-search .c-site-search--btn,
  .search-open .c-site-search .c-site-search--btn:focus,
  .c-site-search--btn:focus,
  .c-site-search--btn {
    position: absolute;
    height: 45px;
    width: 30px;
    top: 15px;
    right: 15px;
    color: #444;
    font-size: 22px;
  }
  
  .c-site-search--title {
    display: block;
    margin-bottom: 20px;
    font-family: "Adelle Semibold";
    font-size: 26px;
    line-height: 1;
  }
  
  .c-site-search--link {
    position: absolute;
    right: 9%;
    bottom: 35px;
    color: $orange01;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  
  .c-site-search {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 225px;
    margin: 0 auto;
    max-width: 1500px;
    padding: 25px 9%;
    background: $greyLight;
    transition: margin 0.3s ease;
  
    .c-site-search--box {
      border: 1px solid $grey05;
      border-radius: 0;
      overflow: hidden;
      background-clip: padding-box;
    }
  
    .c-site-search--btn {
      position: relative;
      top: -45px;
      right: auto;
      float: right;
    }
  }

  .c-site-search {
    position: relative;
    transition: all 0.3s ease-out;
    height: 0;
    padding: 0;
    overflow: hidden;

    &:before,
    &:after {
      display: none;
    }

    &.open {
      height: 225px;
      padding: 25px 9%;
    }
  }
  // class added to .c-nav--wrap through js
  .search-open {

    .c-site-search--btn {
      cursor: pointer;
      position: absolute;
      display: block;
      overflow: hidden;
      text-indent: -99999px;

      &:after {
        content: "\78";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "senate_icons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 3px;
      }
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .c-site-search {
      .c-site-search--btn {
        cursor: pointer;
        position: relative;
        top: -45px;
        position: relative;
        display: block;
        overflow: hidden;
        padding-top: 1em;
        text-indent: -99999px;

        &:after {
          content: "\6d";
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 0;
          font-family: "senate_icons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          padding-left: 3px;
        }
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

@media #{$desktop} {
  .c-actionbar {
    &::before {
      height: 100%;
    }

    .c-actionbar--info .c-actionbar--cta,
    .c-actionbar--cta {
      font-size: 18px;
      width: 100%;
      max-width: 380px;
    }
  }
  .c-actionbar.c-actionbar--committee {
    .c-actionbar--info .c-actionbar--cta,
    .c-actionbar--cta {
      font-size: 18px;
      width: 100%;
      max-width: 465px;
    }
  }
}
