// Import site utilities.
@import "../../global/utils/init";

/*------------------------------
/ SENATOR NAV
/-------------------------------*/
.c-nav--wrap.c-senator-nav--wrap {
  nav {
    padding: 95px 0 0;

    .c-site-search--btn {
      position: absolute;
      background-color: transparent;
      padding: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      @extend .icon-replace__search;
      @extend .med-text;

      @include breakpoint($bp-sm) {
        margin: auto;
      }

      &::after {
        width: 100%;
        padding: 0;
        line-height: 45px;
      }
    }
  }

  .c-site-search {
    top: 0;

    .c-site-search--btn {
      @include breakpoint($bp-sm) {
        top: 10px;
      }
    }
  }

  &.closed {
    height: 0;
  }

  &.search-open {
    height: 325px; //100px (nav height) + 225px (search area height)

    .c-site-search--btn {
      cursor: pointer;
      position: absolute;
			top: 10px;
      @extend .icon-replace__x;
    }

    .c-site-search {
      .c-site-search--btn {
        cursor: pointer;
        position: relative;
        top: -45px;
        left: 20px;
        right: auto;
        float: right;
        @extend .icon-replace__search;
      }
    }
  }
}

@include breakpoint($bp-sm) {
  .c-nav--wrap.c-senator-nav--wrap {
    position: relative;
    width: 100%;
    background: $color-white;
    top: 0;
    height: 100px;
    margin-top: 0px;
    z-index: 1;
    transition: all 0.3s ease;
    padding: 0;

    .c-senator-nav {
      position: relative;
      height: 100px;
      background-color: $greyLight !important;
      border-bottom: 1px solid $grey05;
      padding: 0 9%;

      nav {
        background-color: $greyLight !important;
        position: relative;
        top: 0;
        height: 100%;
        padding: 0;
        overflow: hidden;
        background: transparent;
        z-index: 1;
        transition: none 1s ease;
        border: 0;
      }

      ul {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        font-family: $font-sans-bold;
        font-size: 14px;
        width: auto;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1em;
        top: auto;

        a {
          line-height: 14px;
          padding: 20px 0 20px 10px;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    &.closed {
      height: 0;
    }

    .c-nav nav ul > li.leaf {
      top: auto;
    }

    .c-site-search--btn {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .c-site-search {
      .c-site-search--btn {
        position: relative;
        top: -45px;
        right: auto;
        float: right;
      }
    }

    &.closed {
      height: 0;
    }

    &.search-open {
      height: 325px; //100px (nav height) + 225px (search area height)
    }
  }
}

@include breakpoint($bp-md) {
  .c-nav--wrap.c-senator-nav--wrap {
    .c-senator-nav {
      li {
        font-size: 14px;
      }
    }
  }
}
